<template>
    <div class="login-block" :class="{ error:error }">
        <div class="white"></div>
        <img class="logo" src="/static/i/logo.svg" alt="">
        <div class="content">
          <form @submit.prevent="submit()">
            <div class="form-holder">

                <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>Логин</label>
                            <div class="form-control" :class="{ error:error }">
                                <input
                                    type="text"
                                    class="no-transform"
                                    autocapitalize="none"
                                    id="login-input-login"
                                    v-model="login"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="input-block col-12">
                        <div>
                            <label>Пароль</label>
                            <div class="form-control" :class="{ error:error }">
                                <input
                                    type="password"
                                    class="no-transform"
                                    id="login-input-password"
                                    v-model="password"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="error">
                  <div class="col-12 error-message">
                    {{message}}
                    <span v-if="timerTime">Осталось {{this.timerRes}}</span>
                    <span ></span>
                  </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-12">
                    <button class="button primary-button"
                     @click.prevent="submit()" :class="{disabled: locked}">
                        Войти
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div class="footer">
          <router-link to="forget">Забыли логин или пароль?</router-link>
        </div>
    </div>
</template>

<script>
import { clearPhone } from '@/utils/ClearPhone';
import Cookies from 'js-cookie';
import moment from 'moment';
import Url from '../../utils/UrlHelper';
import config from '../../config';

export default {
  name: 'Login',
  components: {
    // Password,
  },
  data() {
    return {
      login: '',
      password: '',
      smsCode: '',
      locked: false,
      cabinets: [],
      id: '',
      description: '',
      currency: '',
      submitClass: {
        button: true,
        'disabled-button': true,
      },
      error: false,
      message: 'Неверный логин или пароль',
      timerTime: null,
      ticker: null,
      timerRes: '00:00',
    };
  },
  methods: {
    timer() {
      if (this.timerTime > moment()) {
        this.timerRes = moment(moment(this.timerTime).diff(moment())).format('mm:ss');
      } else {
        this.timerRes = '00:00';
        clearInterval(this.ticker);
        this.ticker = null;
        this.timerTime = null;
      }
    },
    submit() {
      this.error = false;
      if (!this.locked) {
        this.locked = true;
        this.$api.login({ login: clearPhone(this.login), password: this.password })
          .then((data) => {
            this.locked = false;
            const cabinetObj = this.cabinets.filter(i => i.code === data.cabinetCode);
            let subdomain = 'partner';
            if (cabinetObj !== undefined) {
              subdomain = cabinetObj[0].subdomain;
            }
            const url = Url.getSubdomainUrl(subdomain);
            Cookies.set('code', data.code, { domain: `.${config.domain}`, expires: 30 });
            let redirectUrl = `//${url}`;

            if (Cookies.get('phone')) {
              redirectUrl += '/request';
            }
            Cookies.remove('phone', { domain: `.${config.domain}` });
            window.location = redirectUrl;
          })
          .catch(({ message, time }) => {
            this.message = message;
            if (time) {
              this.timerTime = moment().add(+time, 'seconds');
              this.ticker = setInterval(() => {
                this.timer();
              }, 300);
            } else {
              clearInterval(this.ticker);
              this.timerTime = null;
              this.ticker = null;
            }
            this.error = true;
            this.locked = false;
          });
      }
    },
  },
  mounted() {
    if (Cookies.get('phone')) {
      this.login = Cookies.get('phone');
    }
    this.$store.dispatch('CLEAN_LOST');
    this.$api.getCabinets()
      .then((response) => {
        this.cabinets = response;
      })
      .catch((err) => {
        console.error(err);
      });
  },
  beforeDestroy() {
    clearInterval(this.ticker);
  },
};
</script>
<style lang="scss" rel="stylesheet/scss">
    html, body {
        background: #273142!important;
    }
    #app {
        padding: 0 10px!important;
    }
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    .form-holder {
        margin-left: 0;
    }
    .login-block {
        position: relative;
        background: $bg;
        max-width: 450px;
        padding: 20px;
        margin: 0 auto;
        top: 70px;
        border-radius: $input-radius;
        position: relative;
        color: #505E77;
        font-size: 13px;
        padding: 80px 30px 10px 30px;
        .logo {
            position: absolute;
            top: -50px;
            left: 50%;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }
        .white {
            position: absolute;
            top: -35px;
            left: 50%;
            margin-left: -35px;
            width: 70px;
            height: 70px;
            background: $bg;
            -ms-transform:rotate(45deg); /* IE9 */
            -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
            -o-transform: rotate(45deg);  /* Opera 10.5 */
            -webkit-transform: rotate(45deg);  /* Saf3.1+ */
            transform: rotate(45deg);  /* Newer browsers */
        }
        .light {
            color: #7383A1;
            margin-top: 5px;
        }
        .form-checkbox {
            position: relative;
            padding-bottom: 10px;
            div {
                &:nth-child(1) {
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
                display: inline-block;
                &:nth-child(2){
                    color: #354052;
                    font-weight: 600;
                    margin-left: 20px;
                }
            }
        }
        a {
            color: #4A90E2;
            text-decoration: underline;
        }
    }
    .padd {
        margin-bottom: 20px;
    }
    .buttons {
        margin-bottom: 0px;
        font-weight: 600;
    }
    .footer {
      background: #F8FAFC;
      box-shadow: 0 -1px 0 0 #E7E9ED;
      margin: 0px -30px -15px -30px;
      padding: 15px 30px 15px 30px;
      border-radius: 0 0 $input-radius $input-radius;
      text-align: center;
      a {
        font-weight: 600;
        color: #7F8FA4;
        line-height: 19px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .form-control.error {
      border-color: red;
    }
    .error-message {
      color: red;
      font-weight: 600;
    }
    .button.primary-button {
      font-weight: 600;
    }
    .login-block.error {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
}
</style>
