<template>
  <div class="login-block" :class="{ error:error }">
    <div class="white"></div>
    <img class="logo" src="/static/i/logo.svg" alt="">

    <div class="content">
      <form @submit.prevent="newPassword()" v-if="this.step === 1">
        <div class="form-holder">
          <div class="row">
            <div class="input-block col-12">
              <div>
                <label>Придумайте пароль</label>
                <input-wrap :error="validation.password">
                  <input :error="validation.password"
                         type="password"
                         class="no-transform"
                         id="register-input-password"
                         v-model="password"
                         @blur="validate('password')"
                  />
                </input-wrap>
              </div>
            </div>
            <div class="input-block col-12">
              <div>
                <label>Повторите пароль</label>
                <input-wrap :error="validation.passwordRepeat">
                  <input
                  type="password"
                  class="no-transform"
                  id="register-input-password-repeat"
                  v-model="passwordRepeat"
                  @blur="validate('passwordRepeat')"
                  />
                </input-wrap>
              </div>
            </div>
          </div>
          <div class="row buttons">
            <div class="col-12">
              <button class="button primary-button"
                      @click.prevent="newPassword()" :class="{disabled: locked}">
                Установить пароль
              </button>
            </div>
          </div>
        </div>
      </form>
      <form v-if="this.step === 4">
        <div class="form-holder">
          <div class="row">
            <div class="col-12">
              <p>Пароль успешно установлен.</p>
            </div>
          </div>
        </div>
        <div class="row buttons">
          <div class="col-12">
            <button class="button primary-button" @click.prevent="toAuth()">
              Перейти к авторизации
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import InputWrap from '../InputWrap';

export default {
  name: 'LostPassword',
  components: {
    InputWrap,
  },
  data() {
    return {
      login: '',
      error: false,
      locked: false,
      step: 1,
      smsCode: '',
      smsReset: '  :  ',
      disableSms: {
        'disable-sms': false,
      },
      disableButton: {
        'disabled-button': false,
        'primary-button': true,
      },
      disableInput: false,
      waiting: '',
      waitingSize: '14px',
      reset: '',
      password: '',
      passwordRepeat: '',
      validation: {
        password: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Необходимо ввести пароль';
            } else {
              this.invalid = false;
              this.message = '';
              if (vue[e].search(/^\S*(?=\S{6,})(?=\S*[a-zа-я])(?=\S*[A-ZА-Я])(?=\S*[\d])\S*$/) === -1) {
                this.invalid = true;
                this.message = `Пароль должен содержать минимум одну заглавную,
                одну строчную буквы, одну цифру и быть длинной не меннее 6 символов`;
              }
            }
          },
        },
        passwordRepeat: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Необходимо подтвердить пароль';
            } else if (vue[e] !== vue.password) {
              this.invalid = true;
              this.message = 'Пароли не совпадают';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  methods: {
    toAuth() {
      this.$router.push('/');
    },
    newPassword() {
      if (this.validate()) {
        this.$api.setPassword({
          code: this.$route.params.code,
          password: this.password,
        }).then((data) => {
          if (data.success === true) {
            this.step = 4;
          }
        });
      }
    },
  },

};
</script>
<style lang="scss" rel="stylesheet/scss">
html, body {
  background: #273142!important;
}
#app {
  padding: 0 10px!important;
}
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.form-holder {
  margin-left: 0;
}

.login-block {
  position: relative;
  background: $bg;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
  top: 70px;
  border-radius: $input-radius;
  position: relative;
  color: #505e77;
  font-size: 13px;
  padding: 80px 30px 10px 30px;
  .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
  .white {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    background: $bg;
    -ms-transform: rotate(45deg); /* IE9 */
    -moz-transform: rotate(45deg); /* FF3.5/3.6 */
    -o-transform: rotate(45deg); /* Opera 10.5 */
    -webkit-transform: rotate(45deg); /* Saf3.1+ */
    transform: rotate(45deg); /* Newer browsers */
  }
  .light {
    color: #7383a1;
    margin-top: 5px;
  }

}

.resend {
  padding-top: 4px;
  cursor: pointer;
}

.reset {
  p {
    width: 55px;
    text-align: center;
    background: $gray;
    display: inline-block;
    padding: 3px 10px;
  }
}

.disable-sms {
  p {
    color: red;
  }

}

</style>
