<template>
  <wrapper>
    <div class="content-holder">
      <div class="main">
        <router-view />
      </div>
    </div>
  </wrapper>
</template>

<script>
import Wrapper from '@/components/Call/Wrapper';

export default {
  name: 'AppCall',
  components: {
    Wrapper,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
.mt {
  margin-top:20px;
}
</style>
