<template>
  <span class="callback">
    <button class="button primary-button" @click.prevent="callbackShow = true">
      Перезвонить
    </button>
    <popup v-if="callbackShow" @close="callbackShow = false">
      <form @submit.prevent="saveTime()">
        <div class="row">
          <div class="col-12">
            <h3>Время и комментарий для перезвона</h3>
          </div>
        </div>
        <div class="row">
            <input-block theLabel="Перезвонить" class="col-12 col-md-4">
              <input-wrap :error="validation.callbackTime">
                <datetimepicker
                  :datepickerOptions="{
                    id: 'request-input-call-back',
                    openDate: new Date(),
                    class: 'date',
                    language: 'ru',
                    disabled: {
                      to: new Date(moment().subtract(1, 'd')),
                    },
                    format:'dd.MM.yyyy',
                    mondayFirst: true,
                  }"
                  v-model="callbackTime"
                  @blur="validate('callBackTime')"
                />
              </input-wrap>
            </input-block>
            <input-block theLabel="Комментарий" class="col-12 col-md-8">
              <textarea title="Введите сообщение"
                        v-model="comment"
                        rows="1"
                        @blur="validate('comment')">
              </textarea>
            </input-block>
          </div>
        <div class="row">
          <button class="button primary-button"
                  type="button"
                  @click.prevent.stop="saveTime()">Сохранить</button>
        </div>
        <div class="row" v-if="successMessage || errorMessage">
          <div class="col-md-12" :class="errorMessage ? 'error-message' : 'success-message'">
            {{successMessage || errorMessage}}
          </div>
        </div>
        </form>
    </popup>
  </span>
</template>

<script>
import moment from 'moment';
import Popup from '@/components/Popup';
import InputWrap from '@/components/InputWrap';
import InputBlock from '@/components/Global/InputBlock';
import Datetimepicker from '@/components/Global/Datetimepicker';

const successMessage = 'Обратный звонок успешно сохранен';
const errorMessage = 'Произошла ошибка, обратитесь к администратору';
export default {
  data() {
    return {
      callbackShow: false,
      callbackTime: '',
      successMessage: '',
      errorMessage: '',
      comment: '',
      validation: {
        callbackTime: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e]) {
              const momentDate = moment(vue[e]).utcOffset(new Date().getTimezoneOffset());
              // eslint-disable-next-line
              if (moment(momentDate._d).isBefore(new Date()) &&
                !(momentDate.hours() === 3 && momentDate.minutes() === 0)) {
                this.invalid = true;
                this.message = 'Некорректное время';
              } else {
                this.invalid = false;
                this.message = '';
              }
            }
          },
        },
        comment: {
          invalid: false,
          message: '',
          func: () => {},
        },
      },
    };
  },
  watch: {
    callbackShow() {
      this.callbackTime = '';
      this.comment = '';
    },
  },
  methods: {
    moment,
    saveTime() {
      if (this.validate() && !this.waiting) {
        this.waiting = true;
        this.successMessage = '';
        this.errorMessage = '';
        const payload = {
          callbackTime: this.callbackTime,
          comment: this.comment,
        };
        this.$api.callback(this.code, payload).then(({ data }) => {
          this.waiting = false;
          if (data.update_lead) {
            this.successMessage = successMessage;
            setTimeout(() => {
              this.callbackShow = false;
              this.successMessage = '';
              this.errorMessage = '';
              this.$store.dispatch('CALLS', {
                page: this.$route.params.page,
                filter: this ? this.filterInput : '' });
            }, 2000);
          } else {
            this.errorMessage = errorMessage;
          }
        }).catch(() => {
          this.errorMessage = errorMessage;
        });
      }
    },
  },
  props: ['code'],
  components: {
    Popup,
    Datetimepicker,
    InputWrap,
    InputBlock,
  },
};
</script>

<style lang="scss" scoped>
  textarea{
    background: #FFFFFF;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    resize: vertical;
    padding: 0.31rem 0.75rem;
    max-height: 400px;
  }
  .success-message {
    text-align: center;
    color: green;
  }
  .error-message {
    text-align: center;
    color: red;
  }
  button {
    line-height: 15px;
    margin-bottom: 0 !important;
    min-width: 120px;
  }

</style>
