<template>
  <div>
    <form @submit.prevent="submit()" v-if="!sended">
      <clip-loader v-if="waiting" class="absolute-spinner" color="#FFCC00" />
      <div class="form-holder">
        <div class="row">
          <div class="col">
            <h1 v-if="!create">Редактирование</h1>
            <h1 v-else>Создание</h1>
            <h3 v-if="!create">
            Телефон: {{callPhone | phone}}
            </h3>
        </div>
        </div>
        <div class="row">
          <input-block theLabel="Мобильный телефон клиента" class="col-12 col-md-4">
            <input-wrap :error="validation.clientMobilePhone" class="seven">
                <input
                  type="text"
                  id="request-input-client-mobile-phone"
                  v-model="clientMobilePhonePure"
                  v-mask="'(###) ###-##-##'"
                  @blur="validate('clientMobilePhone')"
                />
            </input-wrap>
          </input-block>
          <input-block
            theLabel="Сумма займа"
            class="col col-md-4">
            <input-wrap :error="validation.summ" :rouble="true">
                <cleave
                    type="text"
                    id="request-input-summ"
                    v-model="summ"
                    :events="{
                        blur:validateInputSumm,
                    }"
                    :options="{
                        numeral: true,
                        numeralThousandsGroupStyle: 'thousand',
                        delimiter: ' ',
                    }"
                    ref="summ"
                />
            </input-wrap>
          </input-block>
           <div class="input-block col col-md-4">
                <div>
                    <label>Срок займа</label>
                    <div class="button-group">
                        <div
                            class="button"
                            :class="{ 'active': dateSelected[0] }"
                            @click="selectDate(24)"
                        >
                            24 месяца
                        </div>
                        <div
                            class="button"
                            :class="{ 'active': dateSelected[1] }"
                            @click="selectDate(36)"
                        >
                            36 месяцев
                        </div>
                        <div
                            class="button"
                            :class="{ 'active': dateSelected[2] }"
                            @click="selectDate(60)"
                        >
                            60 месяцев
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="row">
            <input-block theLabel="Марка автомобиля" class="col-12 col-md-4">
              <input-wrap :error="validation.autoBrandId" >
                  <v-select
                      id="request-input-auto-brand-id"
                      v-model="autoBrandId"
                      label="name"
                      :options="this.autoBrands"
                      class="select-dropdown"
                  ></v-select>
              </input-wrap>
            </input-block>
            <input-block theLabel="Модель автомобиля" class="col-12 col-md-4">
              <input-wrap :error="validation.autoModelId" >
                  <v-select
                      id="request-input-auto-model-id"
                      v-model="autoModelId"
                      label="name"
                      :options="autoModels"
                  ></v-select>
              </input-wrap>
            </input-block>
          <input-block theLabel="Год выпуска авто" class="col-12 col-md-4">
            <input-wrap :error="validation.autoYear" >
                <v-select
                  id="request-input-auto-year"
                  v-model="autoYear"
                  label="name"
                  :options="this.autoYears"
              ></v-select>
            </input-wrap>
          </input-block>
        </div>
        <div class="row">
          <input-block theLabel="Фамилия клиента" class="col-12 col-md-4">
            <input-wrap :error="validation.clientLastName">
                <input
                        type="text"
                        id="request-input-client-last-name"
                        v-model="clientLastName"
                        @blur="validate('clientLastName')"
                        :disabled="disableClientName"
                />
            </input-wrap>
          </input-block>
          <input-block theLabel="Имя клиента" class="col-12 col-md-4">
            <input-wrap :error="validation.clientFirstName">
                <input
                        type="text"
                        id="request-input-client-first-name"
                        v-model="clientFirstName"
                        @blur="validate('clientFirstName')"
                        :disabled="disableClientName"

                />
            </input-wrap>
          </input-block>

          <input-block theLabel="Отчество клиента" class="col-12 col-md-4">
            <input-wrap :error="validation.clientPatronymic">
                <input
                        type="text"
                        id="request-input-client-patronymic"
                        v-model="clientPatronymic"
                        @blur="validate('clientPatronymic')"
                        :disabled="disableClientName"

                />
            </input-wrap>
          </input-block>
        </div>
        <div class="row">
          <input-block theLabel="Серия паспорта" class="col-12 col-md-4">
            <input-wrap :error="validation.clientPassportSerialNumber">
                <input
                        type="text"
                        id="request-input-client-passport-serial-number"
                        v-model="clientPassportSerialNumber"
                        v-mask="'## ##'"
                        @blur="validate('clientPassportSerialNumber')"
                />
            </input-wrap>
          </input-block>
          <input-block theLabel="Номер паспорта" class="col-12 col-md-4">
            <input-wrap :error="validation.clientPassportNumber">
                <input
                        type="text"
                        id="request-input-client-passport-number"
                        v-model="clientPassportNumber"
                        v-mask="'### ###'"
                        @blur="validate('clientPassportNumber')"
                />
            </input-wrap>
          </input-block>

          <input-block theLabel="Дата рождения" class="col-12 col-md-4">
            <input-wrap :error="validation.clientBirthday">
                <datepicker
                        id="request-input-client-birthday"
                        v-model="clientBirthday"
                        :disabled="disabledDates"
                        :open-date="disabledDates.from"
                        class="date"
                        language="ru"
                        format="dd.MM.yyyy"
                        :monday-first="true"
                        @blur="validate('clientBirthday')"
                >
                </datepicker>
            </input-wrap>
          </input-block>
        </div>
        <div class="row">
          <input-block theLabel="Регион регистрации" class="col-12 col-md-6">
            <input-wrap :error="validation.clientRegionId">
              <v-select
                      id="request-input-client-region-id"
                      label="name"
                      v-model="clientRegionId"
                      :options="regions">
                  <template slot="no-options">
                    Нет совпадений
                  </template>
              </v-select>
            </input-wrap>
          </input-block>
          <input-block theLabel="Точка" class="col-12 col-md-6">
            <input-wrap :error="validation.clientPointId">
              <v-select
                      id="request-input-client-region-id"
                      label="name"
                      v-model="clientPointId"
                      :options="points">
                  <template slot="no-options">
                    Нет совпадений
                  </template>
              </v-select>
            </input-wrap>
          </input-block>
        </div>
        <div class="row buttons">
          <div class="col-12 d-flex">
              <callback v-if="!create" :code="$route.params.code" class="callback" />
              <button
                class="button primary-button"
                @click.prevent="submit()"
                type="submit">
                  Далее
              </button>
          </div>
          <div class="col-12">
            <div class="error-message">{{submitError}}</div>
          </div>
        </div>
      </div>
    </form>
    <div v-if="sended">
        <h1>Успешно отправлено</h1>
        <router-link
          class="button primary-button"
          to="/"
          tag="button">
            Назад
        </router-link>
    </div>
  </div>
</template>
<script>
import moment from 'moment';
import debounce from 'debounce';
import { mapGetters } from 'vuex';
import { clearPhone, isCellular } from '@/utils/ClearPhone';
import { getAges } from '@/utils/validate';
import InputWrap from '@/components/InputWrap';
import InputBlock from '@/components/Global/InputBlock';
import Datepicker from '@/components/Global/Datepicker';
import Callback from '@/components/Call/CallBack';
import Datetimepicker from '@/components/Global/Datetimepicker';
import ProductsFilter from '@/utils/Products';
import params from '@/params';
import ClipLoader from 'vue-spinner/src/ClipLoader';


const productsFilter = new ProductsFilter();

export default {
  name: 'edit',
  components: {
    ClipLoader,
    InputBlock,
    InputWrap,
    Callback,
    Datepicker,
    Datetimepicker,
  },
  data() {
    return {
      dateSelected: [ // todo переписать на один флаг
        false,
        true,
        false,
      ],
      callPhone: '',
      dateReturn: '',
      sended: false,
      waiting: false,
      /* сумма займа */
      summPure: '',
      summPureAuto: '',
      returnSumm: '',
      cp: '',
      summMin: -1,
      summMax: -1,
      /* остальные поля калькулятора */
      autoBrandId: '',
      autoBrands: [],
      autoModelId: '',
      autoModels: [],
      autoYear: '',
      clientRegionId: '',
      creditProductId: null,
      regions: [],
      clientPointId: '',
      points: [],
      month: '',
      clientMobilePhonePure: '',
      clientFirstName: '',
      clientLastName: '',
      clientPatronymic: '',
      clientPassportSerialNumber: '',
      clientPassportNumber: '',
      disabledDates: {
        to: null,
        from: null,
      },
      clientBirthday: '',
      callBackTime: '',
      comment: '',
      disableClientName: false,
      autoYears: params.autoYears,
      /* показ графика платежей */
      submitError: '',
      /* объект валидации */
      validation: {
        summ: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else if (parseInt(vue[e], 10) < vue.summMin || parseInt(vue[e], 10) > vue.summMax) {
              this.invalid = true;
              this.message = `Сумма должна быть от ${vue.summMin} до ${vue.summMax}`;
            } else if (parseInt(vue[e], 10) % 1000 > 0) {
              this.invalid = true;
              this.message = 'Сумма должна быть кратна 1000';
            } else if (typeof vue.summ !== 'string' && vue.summ.length > 0
                && vue.$store.state.request.creditProductId.length < 1) {
              this.invalid = true;
              this.message = 'Нет подходящего продукта';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoBrandId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoModelId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoYear: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        clientLastName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateLastName(vue[e])) {
                this.invalid = true;
                this.message = 'Разрешены только русские символы';
              }
            }
          },
        },
        clientFirstName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateLastName(vue[e])) {
                this.invalid = true;
                this.message = 'Разрешены только русские символы';
              }
            }
          },
        },
        clientPatronymic: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if (String(vue[e]).length > 0 && !vue.$validateLastName(vue[e])) {
              this.invalid = true;
              this.message = 'Разрешены только русские символы';
            }
          },
        },
        clientPassportNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && vue[e].length !== 7) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
            }
          },
        },
        clientPassportSerialNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && vue[e].length !== 5) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
            }
          },
        },
        callBackTime: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e]) {
              const momentDate = moment(vue[e]);
              if (momentDate.isBefore(new Date()) &&
                !(momentDate.hours() === 3 && momentDate.minutes() === 0)) {
                this.invalid = true;
                this.message = 'Некорректное время';
              } else {
                this.invalid = false;
                this.message = '';
              }
            }
          },
        },
        comment: {
          invalid: false,
          message: '',
          func: () => {},
        },
        clientBirthday: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';

              const choosedDate = new Date(vue[e]);
              const dateStart = new Date();
              const dateEnd = new Date();
              dateStart.setYear(dateStart.getFullYear() - vue.getAges('age_max') - 1);
              dateEnd.setYear(dateEnd.getFullYear() - vue.getAges('age_min'));
              if (dateStart.valueOf() > choosedDate.valueOf()
                || dateEnd.valueOf() < choosedDate.valueOf()) {
                this.invalid = true;
                this.message = `Неправильная дата рождения.
                 Необходим возраст от ${vue.getAges('age_min')} до ${vue.getAges('age_max')}`;
              }
            }
          },
        },
        clientRegionId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        clientPointId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        clientMobilePhone: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && vue[e].length !== 10) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
              if (typeof vue[e] === 'string' && !isCellular(clearPhone(vue[e]))) {
                this.invalid = true;
                this.message = 'Введите номер мобильного телефона';
              }
            }
          },
        },
      },
    };
  },
  computed: {
    ...mapGetters(['productInfo']),
    clientMobilePhone: {
      get() {
        if (this.clientMobilePhonePure !== undefined) {
          return this.clientMobilePhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientMobilePhonePure = input;
      },
    },
    create() {
      return this.$route.params.code === 'create';
    },
    summ: {
      get() {
        return this.summPure.toString().replace(/\s/g, '');
      },
      set(input) {
        this.summPure = input;
      },
    },
  },
  methods: {
    moment,
    validateInputSumm() {
      this.validation.summ.func(this, 'summ');
    },
    addToDatepicker(monthCount) {
      const d = new Date();
      d.setMonth(d.getMonth() + monthCount);
      this.dateReturn = d;
    },
    getAges,
    disableDates() {
      const ageMin = this.getAges('age_min');
      const ageMax = this.getAges('age_max') + 1;

      // eslint-disable-next-line
      this.disabledDates.to = moment().subtract(ageMax, 'years')._d;
      // eslint-disable-next-line
      this.disabledDates.from = moment().subtract(ageMin, 'years')._d;
    },
    selectDate(e) {
      if (e === 24) {
        this.dateSelected = [
          true,
          false,
          false,
        ];
      } else if (e === 36) {
        this.dateSelected = [
          false,
          true,
          false,
        ];
      } else if (e === 60) {
        this.dateSelected = [
          false,
          false,
          true,
        ];
      }
      this.addToDatepicker(e);
    },
    calculate() {
      return new Promise(() => {
        if (this.summ
          && this.dateReturn
          && parseInt(this.summ, 10) >= this.summMin
          && parseInt(this.summ, 10) <= this.summMax) {
          const self = this;
          self.error = '';
          self.$api.calculate({
            requestSum: self.summ,
            returnDate: `${(`0${self.dateReturn.getDate()}`).slice(-2)}.${(`0${self.dateReturn.getMonth() + 1}`).slice(-2)}.${self.dateReturn.getFullYear()}`,
          })
            .then((response) => {
              this.submitError = '';
              self.$store.commit('SET_GRAPH', response);
              self.returnSumm = response.annuity || 0;
              productsFilter.setGuid(response.product);
              this.creditProductId = productsFilter.id;
              this.disableDates();
            })
            .catch((e) => {
              this.submitError = 'Ошибка сервиса ЦМР. Обратитесь в тех.поддержку.';
              if (e.response && e.response.data) {
                self.error = e.response.data;
              } else if (typeof e === 'string') {
                self.error = e;
              }
            });
        }
      });
    },
    submit() {
      if (this.validate() && !this.waiting) {
        this.waiting = true;
        this.$api[this.create ? 'createLead' : 'editLead']({
          code: this.$route.params.code,
          clientMobilePhone: this.clientMobilePhone,
          summ: this.summ,
          dateReturn: this.dateReturn,
          autoBrandId: this.autoBrandId.id,
          autoModelId: this.autoModelId.id,
          autoYear: this.autoYear.id,
          creditProductId: this.creditProductId,
          clientFirstName: this.clientFirstName,
          clientLastName: this.clientLastName,
          clientPatronymic: this.clientPatronymic,
          clientPassportNumber: this.clientPassportNumber.replace(' ', ''),
          clientPassportSerialNumber: this.clientPassportSerialNumber.replace(' ', ''),
          clientBirthday: this.clientBirthday,
          clientRegionId: this.clientRegionId.id,
          pointId: this.clientPointId.id,
          comment: this.comment,
          callBackTime: this.callBackTime,
        }).then(() => {
          this.sended = true;
          this.waiting = false;
          this.submitError = '';
        })
          .catch(() => {
            this.submitError = 'Ошибка отправки';
            this.waiting = false;
          });
      } else {
        this.submitError = 'Заполните все поля';
      }
    },
  },
  created() {
    this.selectDate(36);
  },
  mounted() {
    this.$api.infoCp()
      .then((data) => {
        this.cp = this.$to.camel(data);
        this.cp = this.cp.map((item) => {
          // eslint-disable-next-line
          item.loanPeriodMin = '0';
          return item;
        });
        productsFilter.setCp(this.cp);
        // запишем максимальную и минимальную суммы
        this.summMax = Math.max(...(this.cp.map(i => i.summMax)));
        this.summMin = Math.min(...(this.cp.map(i => i.summMin)));
        this.disableDates();
      });

    this.$api.infoRegions()
      .then((data) => {
        this.regions = this.$to.camel(data);
      });
    this.$api.infoPoints()
      .then((data) => {
        this.points = this.$to.camel(data);
      });
    this.$api.infoAutoBrands()
      .then((data) => {
        this.autoBrands = data;
      });
    if (!this.create) {
      this.$api.getLeadInfo(this.$route.params.code)
        .then((data) => {
          this.clientMobilePhone = data.clientMobilePhone;
          this.callPhone = data.clientMobilePhone;
        });
    }
  },
  watch: {
    summ: debounce(
      function summ(e) {
        this.summ = e;
        this.validation.summ.invalid = false;
        this.calculate();
      },
      500,
    ),
    dateReturn(e) {
      this.dateReturn = e;
      this.calculate();
    },
    autoBrandId(e) {
      this.validate('autoBrandId');
      this.autoModelId = '';
      if (e && e.id) {
        this.$api.infoAutoModels(e.id)
          .then((res) => {
            this.autoModels = res;
          });
      }
    },
    autoModelId(e) {
      this.validate('autoModelId');
      this.autoModelId = e;
    },
    autoYear(e) {
      this.validate('autoYear');
      this.autoYear = e;
    },
  },
  filters: {
    phone(str) {
      const cleaned = (`${str} `).replace(/\D/g, '');
      const match = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/);
      return match ? `+7 (${match[1]}) ${match[2]}-${match[3]}` : '';
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';

.button-group {
  border-radius: $input-radius;
  background-color: none;
  overflow: hidden;
  display: flex;
  border: $input-border-width solid $input-border-color;
  .button {
      padding: 6px 0 7px 0;
      flex: 1;
      text-align: center;
      cursor: pointer;
  }
  .active {
      background: $yellow;
      cursor: default;
  }
}
.callback {
  flex: 1;
  margin-right: 2rem;
}
button {
  flex: 1;
  line-height: 15px;
  margin-bottom: 0;
  min-width: 120px;
}
span.error-message {
  color: red;
}
</style>
