<template>
  <div>
    <div class="row">
      <div class="col-sm-12 header-container">
        <h1>Список</h1>
        <router-link
          tag="button"
          to="/items/item/create"
          class="button primary-button create">Создать</router-link>
      </div>
    </div>
    <div class="row">
       <input-block theLabel="Фильтрация по номеру телефона" class="col col-md-4">
            <input-wrap :error="{invalid: false}">
                <input
                  type="text"
                  id="call-mobile-phone"
                  v-model="filterInput"
                  v-mask="'##########'"
                />
            </input-wrap>
          </input-block>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <!-- <clip-loader color="#FFCC00" v-show="waiting"></clip-loader> -->
          <table class="table calls-table">
            <thead>
            <tr>
              <th scope="col" v-for="header in headers" :key="header.code">
                {{header.name}}
              </th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr v-for="item in items" :key="item.id" :class="{
                deleted: !item.active,
                overdue: checkDue(item),
              }">
                <td scope="col" v-for="el in headers" :key="el.code">
                  <span v-if="el.code !== 'code'">{{item[el.code]}}</span>

                  <router-link
                    v-if="el.code ==='code' && item.active"
                    tag="button"
                    class="button primary-button"
                    :to="`/items/item/${item[el.code]}`"
                    >Редактировать</router-link>
                    <span v-if="el.code ==='code' && !item.active">Лид удален!</span>
                </td>
                <td class="position-relative">
                    <span class="callback-time"
                                          v-if="item.callback_time"
                                    >
                    Перезвонить: {{item.callback_time}}
                    <tooltip v-if="item.comment"
                             class="tooltip-callback"
                             :description="item.comment"/>
                  </span>
                  <callback :code="item.code" @submit.prevent/>
                </td>
                <td>
                  <button v-if="item.active" @click.prevent="cancel(item)"
                    class="button secondary-button ">Отказ</button>
                  <button v-else @click.prevent="recover(item)"
                    class="button secondary-button recover">Восстановить</button>
                </td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <Pagination v-if="pageCount>1"
                :pageCount="pageCount"
                paginationPattern="/items/pagination"
                paginationRouteParam="page"
              />
              <br>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import InputWrap from '@/components/InputWrap';
import moment from 'moment';
import Tooltip from '@/components/Tooltip';
import InputBlock from '@/components/Global/InputBlock';
import Pagination from '@/components/Global/Pagination';
import $store from '@/store/call';
import Callback from './CallBack';

export default {
  name: 'Index',
  data() {
    return {
      filterInput: '',
      errorMessage: false,
    };
  },
  computed: {
    ...mapGetters(['items', 'headers', 'serverTime', 'pageCount']),
  },
  components: {
    Tooltip,
    Pagination,
    InputWrap,
    InputBlock,
    Callback,
  },
  methods: {
    checkDue(item) {
      if (item.callback_time) {
        const callbackTime = moment(item.callback_time);
        const diff = callbackTime.diff(this.serverTime, 'hours');
        if (diff < 2) return true;
        return false;
      }
      return false;
    },
    cancel(item) {
      console.log(item);
      this.$store.dispatch('CANCEL', item.code);
    },
    recover(item) {
      console.log(item);
      this.$store.dispatch('RECOVER', item.code);
    },
  },
  watch: {
    filterInput(e) {
      const val = e.replace(/\D/g, '');
      this.$store.dispatch('CALLS', { page: this.$route.params.page, filter: val });
    },
    pageCount(e) {
      if (e && e < this.$route.params.page) {
        this.$router.replace({ path: `/items/${e}` });
      }
    },
  },
  beforeRouteEnter(to, from, next) {
    return $store.dispatch('CALLS', {
      page: to.params.page,
      filter: this ? this.filterInput : '',
      next });
  },
  beforeRouteUpdate(to, from, next) {
    return $store.dispatch('CALLS', {
      page: to.params.page,
      filter: this ? this.filterInput : '',
      next });
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  @import 'src/assets/scss/functions.scss';

  .calls-table {
  & tr.overdue {
    >td {
      .callback-time {
        color: red;
        font-size: 12px;
      }
    }
  }
  & tr.deleted {
    color:#9e9e9e;
    background-color: #f6f7f9 ;
    & > * {
      color:#9e9e9e;
      pointer-events: none;
    }
    .primary-button {
      background: #e7e9ed;
      border-color: #e7e9ed;
    }
    .recover {
      pointer-events: auto;
    }
  }
  & tr, & td {
    vertical-align: middle;
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 25px;
    & button {
      line-height: 15px;
      margin-bottom: 0;
      min-width: 120px;
    }
  }
}
.main {
  margin-left: 80px;
  margin-right: 80px;
  @include media-breakpoint-only(xs) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

h1 {
  padding-top: 20px;
  margin-bottom: 0px;
}

.pagin {
  margin: 0 auto;
  margin-top: 15px;
}

.pagination > li {
  display: inline;
}

.paginBack {
  margin-right: 35px;
  color: #4a90e2;
}

.paginForward {
  margin-left: 35px;
  color: #4a90e2;
}

.paginLink {
  margin-right: 8px;
  margin-left: 8px;

}

.paginLinkDots a {
  color: #7f8fa4;
}

.paginLink a {
  color: #4a90e2;
}

.paginLink.active {
  font-size: 16px;
}

.clientName {
  color: #7f8fa4;
  font-size: 13px;
  margin-right: 20px;
  margin-left: 20px;
}

.dateUpdate {
  padding-top: 15px;
  color: #7383a1;
  font-size: 12px;
}

.requestBody {
  border-radius: 5px;
  padding-top: 15px;
  border: 1px solid #e7e9ed;
  background-color: #ffffff;
  cursor: pointer;
}
.requestName {
  font-size: 13px;
  color: #354052;
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.bar {
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.messageBlock {
  margin-top: 10px;
  border-top: #e8eaee 1px solid;

  padding-top: 5px;
  padding-bottom: 5px;
}

.messageBlockStr {
  font-size: 12px;
  color: #354052;
  margin-left: 20px;
  margin-right: 20px;
}

.messageBlockBg {
  background-color: #fafbfc;
}

.messageBlockStrText {
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.create {
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.position-relative {
  position: relative;
}
.callback-time {
  position: absolute;
  font-size: 8px;
  top: 0px;
  right: 2.5rem;
  .tooltip-callback{
    top: 5px;
  }
}
</style>
