<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="center-block full-width"
             :class="{'center-block_fixed' : $route.meta.fixed}
        ">
          <div class="container-fluid " >
            <div class="row">
              <div class="col-md-12">
                <slot></slot>
              </div>
            </div>
          </div>
        </div>
        <div class="left-block">
          <router-link to="/"><img class="logo" src="/static/i/logo.svg" alt=""></router-link>
          <main-menu></main-menu>
        </div>
        <!--<card></card>-->
      </div>
    </div>
  </div>
</template>

<script>
// import { mapGetters } from 'vuex';
import MainMenu from './MainMenu';
// import Card from '../Card';

export default {
  name: 'Wrapper',
  components: {
    MainMenu,
  //   Card,
  },
  data() {
    return {
      show: false,
      image: '',
    };
  },

};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';

.danger {
  background: #d9534f;
  color: white;
  padding: 5px;
  text-align: center;
}
.center-block {
  &.full-width {
    margin-right: 0;
  }
}
.warning {
  display: block;
  background-color: #ffc107;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  color: white;
  padding: 5px;
  text-align: center;
}
</style>

