<template>
  <div class="edit-user">
    <div class="row">
      <div class="col-md-12">
        <h2>Редактирование пользователя</h2>
      </div>
    </div>
    <form @submit.prevent="submit()">
        <div class="row">
          <div class="col-sm-12">
            <input-wrap :error="validation.username">
              <input
              type="text"
              placeholder="Логин"
              class="noTransform"
              v-model="username"
              @blur="validate('username')"
              />
            </input-wrap>
          </div>
          <div class="col-sm-4">
            <div class="form-control">
              <input
              type="text"
              placeholder="Имя"
              disabled="disabled"
              v-model="firstName"
              @blur="validate('firstName')"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-control">
              <input
              type="text"
              placeholder="Фамилия"
              disabled="disabled"
              v-model="lastName"
              @blur="validate('lastName')"
              />
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-control">
              <input
              type="text"
              placeholder="Отчество"
              disabled="disabled"
              v-model="patronymic"
              @blur="validate('patronymic')"
              />
            </div>
          </div>
          <!--<div class="col-sm-12">-->
            <!--<div class="form-control">-->
              <!--<v-select-->
              <!--label="name"-->
              <!--placeholder="Роль"-->
              <!--disabled="disabled"-->
              <!--v-model="role"-->
              <!--:options="groups">-->
                <!--<template slot="no-options">-->
                  <!--Нет совпадений-->
                <!--</template>-->
              <!--</v-select>-->
            <!--</div>-->
          <!--</div>-->
          <div class="col button">
            <button @click.prevent="submit()" class="button primary-button">Обновить</button>
          </div>
          <div class="col-md-12" :class="errorUpdate ? 'error' : 'success'">
            {{errorUpdate || successUpdate}}
          </div>
        </div>
    </form>
  </div>
</template>

<script src="./EditUser.script.js"></script>

<style lang="scss" scoped>
  .edit-user {
    h2 {
      margin-bottom: 25px;
    }
    padding: 20px 0 0 0;
    form {
      .row {
        >:not(.button):not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
      .error, .success {
        margin-top: 10px;
        text-align: center;
      }
      .error {
        color: red;
      }
      .success {
        color: green;
      }
      button {
        margin-bottom: 0;
      }
    }
  }
</style>
