<template>
  <div class="faq-container">
    <div class="faq-question" v-for="item in items" :key="item.id">
      <div class="faq-description" v-on:click="click(item)">
        <span :class="{ 'arrow': !item.open, 'arrowyellow': item.open }"></span>
        <span class="faq-description-span" :class="{'faq-description-span--gray': item.gray}">
          {{item.name}}
        </span>
      </div>
      <div class="faq-content" v-show="item.open">
        <div v-html="item.text"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Accordion',
  data() {
    return {
      items: {},
    };
  },
  props: {
    value: {
      default: '',
    },
  },
  methods: {
    click(e) {
      e.open = !e.open;
    },

  },
  watch: {
    value(e) {
      const obj = e.map(i => Object.assign({}, i, { open: false }));
      this.items = obj;
    },
  },
  mounted() {
    this.items = this.value;
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../assets/scss/functions.scss';

.faq-container {
  margin: 0 auto;
}

.faq-question {
  padding: 0px;
  transition: all 0.3s;
}

.faq-content {
  padding: 20px 40px;
}

.faq-description {
  font-size: 24px;
  color: #263141;
  letter-spacing: -1.03px;
  padding: 23px 100px 20px 40px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.faq-description-span {
  border-bottom: 2px dashed #263141;
}
.faq-description-span--gray {
  color: gray;
  border-bottom-color: gray;
}


.faq-question.open .faq-description {
  font-weight: 600;
}


.faq-question.open .faq-description span:last-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-weight: normal;
}

@media (max-width: 767px) {
  .faq-container {
    width: 100%;
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #d9d9d9;
    padding: 0;
  }


  .faq-description {
    font-size: 18px;
  }

  .faq-question .faq-description span:last-child {
    top: 8px;
  }
}

.arrow {
  background: url(/static/i/arrow.svg) no-repeat;
  transform: rotate(270deg);
  height: 12px;
  width: 15px;
  border: 0;
  position: absolute;
  left: 10px;
  top: 40px;
}

.arrowyellow {
  background: url(/static/i/arrowyellow.svg) no-repeat;
  height: 12px;
  width: 15px;
  border: 0;
  position: absolute;
  left: 10px;
  top: 40px;
}
</style>

<style  lang="scss" rel="stylesheet/scss">
@import '../assets/scss/functions.scss';

.faq-content {

  .image-wrap {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
    & > div {
      display: inline-block;
      padding-right: 30px;
    }
    &.error {
      justify-content: space-between;
      margin-right: -40px;
      & > div {
        display: inline-block;
        padding-right: 0px;
      }
    }
    &.start {
      justify-content: space-between;
    }
    .err {
      border:2px solid #e55567;
      margin-right: 00px;
      padding-right: 0;
      font-size: 0;
      line-height: 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-bottom: 10px;
      & > div {
        display: inline-block;
        padding-right: 0px;

      }
    }
    .succ-wrap {
      margin-bottom: 0px;
    }
    .succ {
      border:2px solid #38ba24;
      margin-right: 0px;
      padding-right: 0;
      font-size: 0;
      line-height: 0;
      margin-bottom: 10px;
      &:last-of-type {
        @include media-breakpoint-up(md) {
          margin-left: 5px;
          margin-right: -5px;
        }
      }
      & > div {
        display: inline-block;
        padding-right: 0;
        margin-right: 10px;
      }

    }
    span.error-text {
      color: #e55567;
    }
    span.success-text {
      color: #38ba24;
    }
  }
  .green{
    border: 2px solid #38ba24;
    padding: 20px;
    margin-bottom: 70px;
  }
  .icon-map {
    position: relative;
    background: url(/static/booklet/map.svg);
    background-size: 1300px 100%;
    margin-right: -70px;
  }
  .flh {
    line-height: 2;
  }
  p {
    line-height: 1.1;
    margin-bottom: 20px;
  }
  .pts {
    img {
      max-width: 100%;
    }
  }
  @include media-breakpoint-down(xs) {
    .image-wrap
    {
      &.error {
        margin-right: 0;
      }
      & > div {
        width: 100%;
        padding-right: 0;
      }
    }
    & {
      padding-left: 0;
      padding-right: 0;
    }
      img {
        max-width: 100%;
        width: 100%;
        margin-bottom: 5px;
      }
      .err {
        max-width: 100%;
        &>img {
          width: 100%;
        }
      }
      h2 {
        line-height: 1.2;
      }
      .green {
        max-width: 100%;
        margin-left: 0px;
      }
      .icon-map {
        margin-right: 0px;
        margin-left: 0px;
        background-size: 800px 100%;
        background-position: 50px -200px;
        background-repeat: no-repeat;
      }
    }
}
</style>
