<template>
  <div class="col-md-12">
    <div class="row link-list">
      <router-link
        v-for="(link, index) in menu"
        :key="index"
        class="animated-link"
        :class="allRoutesClass"
        :ref="`activeMenuItem${index}`"
        active-class="active-menu-item"
        :to="link.link"
      >
        <span>
          {{link.text}}
        </span>
      </router-link>
      <div
        class="active-link-background"
        :style="elStyle"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['menu', 'allRoutesClass'],
  data() {
    return {
      elStyle: {},
    };
  },
  watch: {
    getActiveMenuIndex() {
      this.setElementStyle();
    },
  },
  computed: {
    getActiveMenuIndex() {
      return this.menu.findIndex(el => el.link === this.$route.path);
    },
  },
  methods: {
    setElementStyle() {
      const element = this.$refs[`activeMenuItem${this.getActiveMenuIndex}`] ? this.$refs[`activeMenuItem${this.getActiveMenuIndex}`][0].$el : null;
      if (element) {
        this.elStyle = {
          height: `${element.offsetHeight}px`,
          left: `${element.offsetLeft}px`,
          width: `${element.offsetWidth}px`,
          top: `${element.offsetTop}px`,
        };
      }
    },
  },
  mounted() {
    this.setElementStyle();
    window.onresize = () => {
      this.setElementStyle();
    };
  },
  beforeDestroy() {
    window.onresize = null;
  },
};
</script>

<style scoped lang="scss">
  .active-link-background {
    position: absolute;
    top: 0;
    background-color: #FFCC00;
    border-radius: 4px;
    transition: .4s;
  }

  .animated-link {
    padding: 0;
    background-color: rgba(127, 143, 164, 0.11);
    span {
      font-size: 1.2rem;
      padding: 7px 10px;
      text-align: center;
      display: block;
      position: relative;
      z-index: 222;
    }
    &.active-menu-item {
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      span {
        border-radius: 4px;
        position: relative;
        z-index: 10;
        color: #354052;
      }
    }
    &:hover {
      text-decoration: none;
    }
    &:last-of-type {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1350px) {
    .animated-link {
      span {
        font-size: 12px;
      }
    }
  }

  @media (max-width: 921px) {
    .row {
      position: relative;
    }
    .link-list {
      overflow: hidden;
      border-radius: 4px;
    }
    .active-link-background {
      border-radius: 0;
    }
  }

</style>
