<template>
  <div class="card-wrap d-print-none" v-on-clickaway="away">
    <div class="card" :class="{
      'card--full': show,
      'card--three-elements': !!commision,
    }" >
      <div class="card__hitbox" @click.prevent = "show = !show">
        <div class="card__name">{{fullName}}</div>
        <div class="card__org" :title="company">{{company}}</div>
        <div class="card__commision" v-if="commision">Вознаграждение:
          <span>{{commision}}%</span>
        </div>
        <button
                class="card__button"
                :class="{ show: show }"
                @click.prevent.stop = "show = !show"
        ></button>
      </div>
      <transition name="fade-slide">
      <ul class="card__menu cmenu" v-if="show">
        <li v-for="item in items" class="cmenu__item" :key="item.id">
          <a :href="item.link" :title="item.title">{{item.title}}</a>
        </li>
        <li class="cmenu__item cmenu__exit" @click="exit">Выход</li>
      </ul>
      </transition>
    </div>
  </div>
</template>
<script>
import { mixin as clickaway } from 'vue-clickaway';
import Cookies from 'js-cookie';
import Url from '@/utils/UrlHelper';

export default {
  name: 'Card',
  mixins: [clickaway],
  data() {
    return {
      show: false,
      items: {
        id: 0,
        title: 'Личный кабинет инвестора',
        href: 'http://lki.carmoney.ru',
      },
    };
  },
  computed: {
    fullName() {
      return `${this.$store.state.user.firstName} ${this.$store.state.user.lastName || ''}`;
    },
    company() {
      return (this.$store.state.user.partnerName) ? this.$store.state.user.partnerName : '';
    },
    commision() {
      return +this.$store.state.user.comission;
    },
  },
  methods: {
    away() {
      this.show = false;
    },
    exit() {
      Cookies.remove('PHPSESSID', { path: '', domain: 'lk.my' });
      Cookies.remove('_identity', { path: '', domain: 'lk.my' });
      Cookies.remove('code', { path: '', domain: 'lk.my' });
      this.$api.logout()
        .then(() => {
          const url = Url.getSubdomainUrl('login');
          window.location = `//${url}/`;
        })
        .catch();
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scope>
@import 'src/assets/scss/functions.scss';
  $rightwidth: 344px;
  .card-wrap {
    display: none;
  }
  .card {
    padding-top: 17px;
    border-left: 1px #E8ECF0 solid;
    border-bottom: 1px #E8ECF0 solid;
    height: 80px;
    z-index: 1000;
    &.card--three-elements {
      padding-top: 10px;
      .card__hitbox {
        padding-right: 50px;
        .card__org {
          white-space: pre;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .card__name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: $link;
    padding-left: 17px;
  }
  .card__org {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card__org, .card__commision {
    font-weight: 500;
    font-size: 13px;
    color: #7F8FA4;
    padding-left: 17px;
  }
  .card__hitbox {
    cursor: pointer;
    margin-bottom: 22px;
    padding-right: 70px;
  }
  .card__commision {
    span{
      color: $link;
    }
  }
  .card__button {
    position: absolute;
    right: 30px;
    top: 30px;
    background: url(/static/i/arrow.svg) no-repeat;
    background-position: 0 2px ;
    height: 12px;
    width: 15px;
    border: 0;
    transition: .5s;
    cursor: pointer;
  }
  .card__button.show {
    transform: rotate(180deg);
  }
  .cmenu {
    margin: 0;
    padding: 0;
  }
  .cmenu__item {
    display: block;
    background: #FAFBFC;
    padding: 12px 17px;
  }
  .cmenu__exit {
    position: relative;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 30px;
      top: 10px;
      background: url(/static/i/exit.svg) no-repeat;
      height: 30px;
      width: 30px;
    }
  }
@include media-breakpoint-up(sm) {
  .card-wrap {
    display: block;
  }
  .card {
    position: absolute;
    min-height: 80px;
    background: #FFFFFF;
    right: 0;
    top: 0;
    width: 268px;
  }

}
@include media-breakpoint-up(lg) {
  .card {
    position: fixed;
    height: 80px;
    width: $rightwidth;
  }
}
</style>
