<template>
  <input
    type="text"
    v-model="cardNumber"
    v-mask="mask"
    @blur="$emit('blur')"
    @input="input"
  />
</template>

<script>
export default {
  props: ['value'],
  data() {
    return {
      cardNumber: this.value,
      mask: '#### #### #### #### XXX',
    };
  },

  methods: {
    input(e) {
      this.$emit('input', e.target.cardNumber);
    },
  },
};
</script>
