
<template>
  <div class="styled-checkbox-wrap">
    <input
      type="checkbox"
      class="styled-checkbox"
      :id="id"
      :name="name"
      :value="value"
      :class="className"
      :required="required"
      :disabled="disabled"
      @change="onChange"
      :checked="state"
      />
      <label class="styled-checkbox" :for="id"><slot></slot></label>
  </div>
</template>

<script>
export default {
  model: {
    prop: 'modelValue',
    event: 'input',
  },

  props: {
    id: {
      type: String,
      default() {
        return `checkbox-id-${this.$uid}`;
      },
    },
    name: {
      type: String,
      default: null,
    },
    value: {
      default: null,
    },
    modelValue: {
      default: undefined,
    },
    className: {
      type: String,
      default: null,
    },
    checked: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    model: {},
  },

  computed: {
    state() {
      if (this.modelValue === undefined) {
        return this.checked;
      }
      if (Array.isArray(this.modelValue)) {
        return this.modelValue.indexOf(this.value) > -1;
      }
      return !!this.modelValue;
    },
  },

  methods: {
    onChange() {
      this.toggle();
    },

    toggle() {
      let value;

      if (Array.isArray(this.modelValue)) {
        value = this.modelValue.slice(0);

        if (this.state) {
          value.splice(value.indexOf(this.value), 1);
        } else {
          value.push(this.value);
        }
      } else {
        value = !this.state;
      }

      this.$emit('input', value);
    },
  },

  watch: {
    checked(newValue) {
      if (newValue !== this.state) {
        this.toggle();
      }
    },
  },

  mounted() {
    if (this.checked && !this.state) {
      this.toggle();
    }
  },
};
</script>
<style lang="scss">
.styled-checkbox-wrap {
  display: inline-block;
}
  label.styled-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  font-size: 14px;
  color: #354052;
  // vertical-align: top;
  // margin-top: 3px;
  line-height: 1;
  min-height: 8px;
  width: auto;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 4px;
    height: 16px;
    width: 16px;
    left: 0;
    top: -1px;
  }
  &::after {
    transition: transform 1s;
    content: '';
    display: none;
    position: absolute;
    background: #FFCC00;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.05) 0%, rgba(0,0,0,0.05) 100%);
    border-radius: 2px;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 3px;
  }
}
input.styled-checkbox:checked + label.styled-checkbox {
  position: relative;
  &::after {
    display: block;
  }
}
label.styled-checkbox:hover::before, label.styled-checkbox:focus::before {
  border: 1px solid #7F8FA4;
}
.error {
  label.styled-checkbox {
    &::before {
      border-color:red;
    }
    color: red;
  }
}
</style>
