<template>
  <div class="content-holder">
    <div class="paddInstr">
      <h1>Документы</h1>
      <ul>
        <li class="document-item"
            v-for="doc in documents"
            :key="doc.code"
            @click="showDocument(doc)"
        >
          {{doc.label}}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import docView from './DocView';

export default {
  data() {
    return {
      activeDocument: {},
      show: false,
    };
  },
  components: {
    docView,
  },
  mounted() {
    if (this.$route.meta.documentList) {
      this.$store.dispatch('loadDocs', { code: this.$route.meta.documentList });
    }
  },
  methods: {
    showDocument(doc) {
      this.$router.push(`${this.$route.path}/${doc.code}`);
      this.show = true;
      // this.activeDocument = doc;
      // this.show = true;
    },
    closeDocument() {
      this.show = false;
      this.activeDocument = {};
    },
  },
  computed: {
    ...mapGetters(['documents']),
  },
};
</script>

<style lang="scss" scoped>
  @import '../assets/scss/functions';
  @import '../assets/scss/summary';

  ul {
    margin-top: 25px;
    padding-left: 10px;
    .document-item {
      color: #505E77;
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
    }
  }

</style>
