<!--suppress ALL -->
<template>
    <div class="dock-view-wrapper">
        <div class="close-button" v-if="showClose" @click="onClose()"></div>
        <clip-loader color="#FFCC00" v-if="waiting" class="absolute-spinner"/>
        <template v-if="document">
          <h1 v-if="showLabel">{{document.label}}</h1>
          <div class="editor-style-wrapper">
              <div class="editr--content" v-html="document.html"></div>
          </div>
        </template>
    </div>
</template>

<script>
export default {
  data() {
    return {
      waiting: false,
      showLabel: true,
      showClose: true,
      document: null,
    };
  },
  props: {
    doc: {},
  },
  methods: {
    loadDoc() {
      this.waiting = true;
      this.$store.dispatch('loadSingleDoc', { code: this.$route.meta.documentList || this.$route.params.document }).then((res) => {
        this.document = res[0];
        this.showLabel = false;
        this.waiting = false;
      }).catch(() => {
        this.waiting = false;
      });
    },
    onClose() {
      this.$emit('close');
      if (this.$route.params.document) {
        this.$router.push({ path: '/rules' }); // переход на родительский маршрут
      }
    },
  },
  mounted() {
    const findedDoc = this.$route.params.document ?
      this.$store.state.documents.find(el => el.code === this.$route.params.document) : null;
    if (findedDoc) {
      this.document = findedDoc;
    } else if (this.doc) {
      this.document = this.doc;
    } else {
      this.loadDoc();
    }
  },
};
</script>

<style lang="scss">
    @import '../assets/scss/functions';
    @import '../assets/scss/wrapper';
    @import '../assets/scss/summary';
    @import '../assets/scss/editor';
    .absolute-spinner {
      margin-top: 60px;
    }
    .dock-view-wrapper {
        background-color: white;
    .close-button {
      cursor: pointer;
      box-sizing: border-box;
      display: block;
      z-index: 1005;
      width: 32px;
      height: 32px;
      position: absolute;
      right: 15px;
      top: 10px;
      border-radius: 50%;
      $size: 13px;
      $left: 13px;
      $top: 13px;
      $width: 2px;
      $color: rgb(145, 145, 145);
      transform: rotate(45deg);
      &::before {
          content: '';
          display: block;
          position: absolute;
          left: $left - $size/2;
          top: $top;
          height: 0;
          width: $size;
          border-bottom: $width solid $color;
      }
      &::after {
          content: '';
          display: block;
          position: absolute;
          left: $left;
          top: $top - $size/2;
          width: 0;
          height: $size;
          border-left: $width solid $color;
      }
    }
  }
</style>
