<template>
  <div class="editor editor-style-wrapper">
    <wysiwyg
      v-model="html"
    />
  </div>

</template>


<script>

export default {
  data() {
    return {
      html: '',
    };
  },
  props: ['value'],
  watch: {
    html(v) {
      this.$emit('input', v);
    },
    value(v) {
      this.html = v;
    },
  },
  mounted() {
    // this.initEditor();
  },
};
</script>

<style lang="scss">
  @import '../assets/scss/functions.scss';
  @import '../../node_modules/vue-wysiwyg/dist/vueWysiwyg.css';
  @import '../assets/scss/editor.scss';

  .editor-table__control{
    margin-top: 1rem;
  }
  .editor {
    margin: 20px 0;
    padding: 1rem 0;
    .editr--content{
      background-color: white;
    }
    .button {
      margin-bottom: 0;
      padding: 4px 0;
      &.disabled-button {
        padding: 6px 0 !important;
      }
    }
    .editor-debug {
      margin-top: 100px;
      margin-bottom: 50px;
    }
    .editor-row {
      margin-top: 20px;
    }
    .ql-toolbar, .ql-container {
      background: white;
      border: 1px solid #ced4da;
    }
    .ql-toolbar {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .ql-container {
      height: 200px;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
    .error {
      text-align: center;
      margin-top: 20px;
      color: red;
    }
    .success {
      text-align: center;
      margin-top: 20px;
      color: green;
    }
  }
</style>
