<template>
  <div class="alert-wrap col-4" v-if="verbose && err && err.length">
    <div>
      <transition-group name="flip-list" tag="div" class="notifications__items ">
        <div v-for="item in err" class="alert alert-danger " :key="'a'+item.id">
          {{item.message}}
          <button type="button" class="close" @click="close(item.id)">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </transition-group>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Error',
  data() {
    return {
      err: this.$error ? this.$error.data() : null,
    };
  },
  props: {
    verbose: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    close(id) {
      if (this.$error) {
        this.$error.close(id);
      }
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scope>
  @import 'src/assets/scss/functions.scss';
.alert-wrap {
  position: absolute;
  top: 10px;
  z-index: 99999;
  margin-left: 40px;
}
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding-right: 40px;
  width: 100%;
  word-wrap: break-word;
}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
button.close {
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  color: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  padding: 0.85rem;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  cursor: pointer;
}
</style>
