<template>
  <div class="dropbox" :class="{ dragover: isDragover }"
       @dragover="dragOver"
       @dragend="dragEnd"
       @drag="dragOver"
       @dragleave="dragEnd">
    <input type="file" multiple @change="filesChange($event.target.name, $event.target.files); "
           :accept="accept" :disabled="disabled" class="input-file" ref="input">
    <div class="dropbox-preview" v-if="filesLength">
      <div class="dropbox-preview__item" v-for="(file, key) in files" :key="file.id">
        <template v-if="!disabled">
          <button
            v-if="file.code"
            class="dropbox-preview__delete"
            @click.prevent="removeFile(key)">Удалить
          </button>
          <div v-else class="cssload-container">
            <div class="cssload-backdrop"></div>
            <clip-loader
              color="#FFCC00"
            ></clip-loader>
          </div>
        </template>
        <div v-if="file.url"
             class="dropbox-preview__img"
             :style="{ 'background-image': 'url('+encodeURI(file.url)+')'}"
        />
      </div>
    </div>
    <div class="dropbox__message" v-if="!disabled">
      <div class="cloud"></div>
      <p class="label" v-if="!filesLength">
        Перетащите сюда изображение или нажмите, чтобы выбрать файл на диске
      </p>
    </div>
  </div>
</template>

<script>
const STATUS_INITIAL = 0;
const STATUS_SAVING = 1;
const STATUS_SUCCESS = 2;
const STATUS_FAILED = 3;
const STATUS_DRAGOVER = 4;

export default {
  name: 'file-uploader',
  data() {
    return {
      currentStatus: 0,
      uploadError: null,
      acceptFiles: null,
      fileList: [],
      docIcon: 'src/assets/no-preview.png',
      errorMessage: '',
    };
  },
  props: {
    disabled: {
      type: Boolean,
      default() {
        return false;
      },
    },
    allowPreview: {
      type: Boolean,
      default() {
        return true;
      },
    },
    picParams: {
      type: Object,
      default() {
        return {
          height: 1600,
          width: 1600,
          compression: 70,
        };
      },
    },
    previewParams: {
      type: Object,
      default() {
        return {
          height: 210,
          width: 210,
          compression: 70,
        };
      },
    },
    accept: {
      type: Array,
      default() {
        return ['jpg', 'jpeg'];
      },
    },
    maxFiles: {
      type: Number,
      default: 10,
    },
    errorTimeout: {
      type: Number,
      default: 30000,
    },
    saveTo: {
      type: String,
      default: 'employee',
    },
  },
  watch: {
    filesLength() {
      this.$emit('change');
    },
  },
  computed: {
    files() {
      /**
       * получаем файлы с vuex
       */
      return this.$store.state.request[this.$to.camel(this.saveTo)];
    },
    filesLength() {
      if (this.$store.state.request[this.$to.camel(this.saveTo)]) {
        return this.$store.state.request[this.$to.camel(this.saveTo)].length;
      }
      return false;
    },
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
    isDragover() {
      return this.currentStatus === STATUS_DRAGOVER;
    },
  },
  methods: {
    dragOver() {
      this.currentStatus = STATUS_DRAGOVER;
    },
    dragEnd() {
      this.currentStatus = STATUS_INITIAL;
    },
    // сохраняем данные в хранилище
    save(fileList) {
      Array.from(Array(fileList.length).keys())
        .map((x) => {
          const file = fileList[x];
          if (!this.accept.includes(this.getExtension(file.name))) {
            this.showMessage('Формат файла запрещен для загрузки');
          } else {
            switch (this.getExtension(file.name)) {
              case 'jpeg':
              case 'jpg':
              case 'png':
              case 'gif':
                if (this.allowPreview) {
                  this.savePicture(file);
                  break;
                }
                break;
              default:
                this.$store.dispatch('saveFile', {
                  file,
                  name: file.name,
                  url: this.docIcon,
                },
                this.saveTo);
            }
          }
          return false;
        });
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) {
        return;
      }
      this.currentStatus = STATUS_SAVING;

      this.save(fileList);
    },
    getExtension(str) {
      const ext = str.split('.');
      // выдаем последний элемент массива
      return ext[ext.length - 1].toLowerCase();
    },
    getSizes(origHeight, origWidth, needHeight, needWidth) {
      let width = needWidth;
      let height = needHeight;
      if (origWidth > origHeight) {
        if (origWidth > width) {
          height = origHeight * (width / origWidth
          );
        } else {
          height = origHeight;
          width = origWidth;
        }
      } else if (origHeight > height) {
        width = origWidth * (height / origHeight
        );
      } else {
        height = origHeight;
        width = origWidth;
      }
      height = Math.round(height);
      width = Math.round(width);
      return { height, width };
    },
    savePicture(file) {
      const self = this;
      const reader = new FileReader();
      reader.onload = function onload1() {
        const tImg = new Image();
        tImg.onload = function onload2() {
          const compression = self.picParams.compression || 90;

          const cvs = document.createElement('canvas');
          const picSize = self.getSizes(this.naturalHeight, this.naturalWidth,
            self.picParams.height, self.picParams.width);
          cvs.width = picSize.width;
          cvs.height = picSize.height;
          cvs.getContext('2d').drawImage(this, 0, 0, picSize.width, picSize.height);

          const prevSize = self.getSizes(this.naturalHeight, this.naturalWidth,
            self.previewParams.height, self.previewParams.width);
          const cvsPrev = document.createElement('canvas');
          cvsPrev.width = prevSize.width;
          cvsPrev.height = prevSize.height;
          cvsPrev.getContext('2d').drawImage(this, 0, 0, prevSize.width, prevSize.height);
          const newImageData = cvsPrev.toDataURL(file.type, self.previewParams.compression / 100);

          cvs.toBlob((blob) => {
            // send to store
            self.$store.dispatch('saveFile', {
              file: {
                code: self.$route.params.code,
                file: blob,
                name: file.name,
                url: newImageData,
                bind: self.saveTo,
              },
              saveTo: self.saveTo,
            });
          }, 'image/jpeg', compression / 100);
        };
        tImg.src = this.result;
      };
      reader.readAsDataURL(file);
    },
    showMessage(message) {
      this.errorMessage = message;
      setTimeout(() => {
        this.errorMessage = '';
      }, this.errorTimeout);
    },
    removeFile(key) {
      // this.$store.commit(`${this.saveTo}_DELETE`, key);
      this.$store.dispatch('removeFile', { saveTo: this.saveTo, key });
      this.$refs.input.value = '';
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scope>
@import 'src/assets/scss/functions.scss';

.dropbox {
  position: relative;
  border: 1px solid $gray;
  border-radius: $border-radius;

  /*&.dragover {*/
  /*background: red;*/
  /*}*/
}

.input-file {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;

}

.dragover .input-file {
  z-index: 3;
}

.cloud {
  background: url(/static/i/cloud.svg) center center no-repeat;
  height: 30px;
  margin-bottom: 10px;
}

.label {
  text-align: center;
  font-size: 14px;
  color: #7f8fa4;
  line-height: 19px;
}

.dropbox-preview {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.dropbox-preview__item {
  position: relative;
  margin: 10px 0px 5px 10px;
  min-height: 80px;
  width: $photo-size;
  overflow: hidden;
  max-height: $photo-size;

}

.dropbox-preview__img {
  height: $photo-size;
  background-color: #e8ecf029;
  background-position: center center;
  background-size: cover;
}

.dropbox-preview__delete {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  border-radius: 0;
  background: rgba(51, 51, 51, 0.7) url(/static/i/cross-white.svg) center center no-repeat;
  border: none;
  cursor: pointer;
  &:hover {
    background: rgb(51, 51, 51) url(/static/i/cross-white.svg) center center no-repeat;
  }
}

.dropbox__message {
  padding: 50px 20px;
  position: relative;
  &:after {
    display: block;
    content: '';
    position: absolute;
    $spaсing: 5px;
    top: $spaсing;
    left: $spaсing;
    bottom: $spaсing;
    right: $spaсing;
    border: 2px dashed #ced0da;
    border-radius: 3px;
  }
  .dropbox.dragover:after {
    border: none;
  }
}

@include media-breakpoint-down(xs) {
  .dropbox-preview__item {
    max-height: $photo-size;
    width: 100%;
  }
}

.cssload-container {
  position: absolute;
  margin-top: 35px;
  width: 100%;
  height: 49px;
  text-align: center;
}

.cssload-backdrop {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  bottom: -20px;
  background: rgba(53, 31, 5, 0.5);
}

</style>
