<template>
  <div class="dropbox" :class="{ dragover: isDragover }"
       @dragover="dragOver"
       @dragend="dragEnd"
       @drag="dragOver"
       @dragleave="dragEnd">
    <input type="file" multiple @change="filesChange($event.target.name, $event.target.files); "
           :accept="accept" class="input-file" >
    <div class="dropbox-preview" v-if="filesLength">
      <div class="dropbox-preview__item" v-for="(file, key) in files" :key="file.id" >
        <button
          class="dropbox-preview__delete"
          @click.prevent="removeFile(key)">Удалить</button>
        <div
            class="dropbox-preview__img"
            :style="{ 'background-image': 'url('+encodeURI(file.url)+')'}"
             />
      </div>
    </div>
    <div class="dropbox__message">
      <div class="cloud"></div>
      <p class="label" v-if="!filesLength">
        Перетащите сюда изображение или нажмите, чтобы выбрать файл на диске
      </p>
    </div>
  </div>
</template>

<script>
const STATUS_INITIAL = 0;
const STATUS_SAVING = 1;
const STATUS_SUCCESS = 2;
const STATUS_FAILED = 3;
const STATUS_DRAGOVER = 4;

export default {
  name: 'file-uploader-vermess',
  data() {
    return {
      currentStatus: 0,
      uploadError: null,
      acceptFiles: null,
      fileList: [],
      docIcon: 'src/assets/no-preview.png',
      errorMessage: '',
    };
  },
  props: {
    allowPreview: {
      type: Boolean,
      default() {
        return true;
      },
    },
    picParams: {
      type: Object,
      default() {
        return {
          height: 1600,
          width: 1600,
          compression: 90,
        };
      },
    },
    accept: {
      type: Array,
      default() {
        return ['jpg', 'jpeg', 'png'];
      },
    },
    maxFiles: {
      type: Number,
      default: 10,
    },
    errorTimeout: {
      type: Number,
      default: 30000,
    },
    saveTo: {
      type: String,
      default: 'employee',
    },
  },
  components: {
  },
  computed: {
    files() {
      /**
       * получаем файлы с vuex
       */
      return this.$store.state.vermess.files;
    },
    filesLength() {
      if (this.$store.state.vermess.files) {
        return this.$store.state.vermess.files.length;
      }
      return false;
    },
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
    isDragover() {
      return this.currentStatus === STATUS_DRAGOVER;
    },
  },
  methods: {
    dragOver() {
      this.currentStatus = STATUS_DRAGOVER;
    },
    dragEnd() {
      this.currentStatus = STATUS_INITIAL;
    },
    // сохраняем данные в хранилище
    save(fileList) {
      Array.from(Array(fileList.length).keys())
        .map((x) => {
          const file = fileList[x];
          if (!this.accept.includes(this.getExtension(file.name))) {
            this.showMessage('Формат файла запрещен для загрузки');
          } else {
            switch (this.getExtension(file.name)) {
              case 'jpeg':
              case 'jpg':
              case 'png':
              case 'gif':
                if (this.allowPreview) {
                  this.savePicture(file);
                  break;
                }
                break;
              default:
                this.$store.commit('VERMESS_FILES_ADD', {
                  file,
                  name: file.name,
                  url: this.docIcon,
                },
                this.saveTo);
            }
          }
          return false;
        });
    },
    filesChange(fieldName, fileList) {
      if (!fileList.length) {
        return;
      }
      this.currentStatus = STATUS_SAVING;
      this.save(fileList);
    },
    getExtension(str) {
      const ext = str.split('.');
      // выдаем последний элемент массива
      return ext[ext.length - 1].toLowerCase();
    },
    savePicture(file) {
      const self = this;
      const reader = new FileReader();
      reader.onload = function onload1() {
        const tImg = new Image();
        tImg.onload = function onload2() {
          const origWidth = this.naturalWidth;
          const origHeight = this.naturalHeight;
          // let k = (origWidth / origHeight);
          let needHeight = self.picParams.height;
          let needWidth = self.picParams.width;
          const compression = self.picParams.compression || 90;
          // ////////////////////////////////////////
          // calculate size
          // ////////////////////////////////////////
          if (origWidth > origHeight) {
            if (origWidth > needWidth) {
              needHeight = origHeight * (needWidth / origWidth);
            } else {
              needHeight = origHeight;
              needWidth = origWidth;
            }
          } else if (origHeight > needHeight) {
            needWidth = origWidth * (needHeight / origHeight);
          } else {
            needHeight = origHeight;
            needWidth = origWidth;
          }
          // ////////////////////////////////////////
          // compress to needed size
          // ////////////////////////////////////////
          const cvs = document.createElement('canvas');
          cvs.width = needWidth;
          cvs.height = needHeight;
          cvs.getContext('2d').drawImage(this, 0, 0, needWidth, needHeight);
          const newImageData = cvs.toDataURL(file.type, compression / 100);

          cvs.toBlob((blob) => {
            // ////////////////////////////////////////
            // send to store
            // ///////////////////////////////////////

            self.$store.commit('VERMESS_FILES_ADD', {
              code: '',
              file: blob,
              name: file.name,
              url: newImageData,
              bind: self.saveTo,
            });
          }, 'image/jpeg', compression / 100);
        };
        tImg.src = this.result;
      };
      reader.readAsDataURL(file);
    },
    showMessage(message) {
      this.errorMessage = message;
      setTimeout(() => {
        this.errorMessage = '';
      }, this.errorTimeout);
    },
    removeFile(key) {
      // this.$store.commit(`${this.saveTo}_DELETE`, key);
      this.$store.commit('VERMESS_FILES_DELETE', key);
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scope>
  @import 'src/assets/scss/functions.scss';

  .dropbox {
    position: relative;
    border: 1px solid $gray;
    border-radius: $border-radius;

    /*&.dragover {*/
      /*background: red;*/
    /*}*/
  }

  .input-file {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;

  }
  .dragover .input-file {
    z-index: 3;
  }
  .cloud {
    background: url(/static/i/cloud.svg) center center no-repeat;
    height: 30px;
    margin-bottom: 10px;
  }
  .label {
    text-align: center;
    font-size: 14px;
    color: #7F8FA4;
    line-height: 19px;
  }
  .dropbox-preview {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .dropbox-preview__item {
    position: relative;
    margin: 10px 0px 5px 10px;
    min-height: 80px;
    width: $photo-size;
    overflow: hidden;
    max-height: $photo-size;

  }
  .dropbox-preview__img {
    height: $photo-size;
    background-position: center center;
    background-size: cover;
  }
  .dropbox-preview__delete {
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
    text-indent: -9999px;
    width: 24px;
    height: 24px;
    border-radius: 0;
    background: rgba(51, 51, 51, 0.7) url(/static/i/cross-white.svg) center center no-repeat;
    border: none;
    cursor: pointer;
    &:hover {
      background: rgb(51, 51, 51)  url(/static/i/cross-white.svg) center center no-repeat;
    }
  }
  .dropbox__message {
    padding: 50px 20px;
    position: relative;
    &:after {
      display: block;
      content: '';
      position: absolute;
      $spaсing: 5px;
      top: $spaсing;
      left: $spaсing;
      bottom: $spaсing;
      right: $spaсing;
      border: 2px dashed #CED0DA;
      border-radius: 3px;
    }
    .dropbox.dragover:after {
      border: none;
    }
  }
  @include media-breakpoint-down(xs) {
    .dropbox-preview__item {
      max-height: $photo-size;
      width: 100%;
    }
  }
  .cssload-container {
    position: absolute;
    margin-top: 35px;
    width: 100%;
    height: 49px;
    text-align: center;
  }
  .cssload-backdrop {
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    bottom: -20px;
    background: rgba(53, 31, 5, 0.5);
  }

</style>
