<template>
  <div class="graph">
  <button class="graph-close d-print-none" @click="close()"></button>
  <h2 class="graph__header graph-header">График платежей</h2>
  <div class="summary row">
    <div class="col-md-3 summary__item">
      <span class="summary__label">Вы берете</span>
      <strong class="summary__value">
        {{this.$store.state.calculator.summ}}
        <span class="rub">q</span>
      </strong>
    </div>
    <div class="col-md-6 summary__item">
      <span class="summary__label">До, включительно</span>
      <strong class="summary__value">
        {{this.$store.state.calculator.dateReturn | formatDate}}
      </strong>
    </div>
    <div class="col-md-3 summary__item">
      <span class="summary__label">Возвращаете</span>
      <strong class="summary__value">
        {{graph.early.totalAmount | moneyFormat}}
        <span class="rub">q</span>
      </strong>
    </div>
  </div>
  <div v-if="graph.early.schedule.length > 0">
    <p class="graph-notice">Вы можете погасить свой заем без дополнительной
        комиссии в любое удобное время.
      Даже через день после получения денег. Тем не менее, мы даем Вам возможность
      пользоваться нашими деньгами в течение {{getYearCredit}}.</p>

    <list-component tableClass="table"
                    :list-model="listModel"
                    adaptive="graph"
                    :getters="['graphEarly']"
                    list-property="graphEarly"/>

    <p class="amount">
      Общая сумма выплат по окончании пользования средствами:
      {{graph.early.totalAmount | moneyFormat}}
      руб.
      <br>
      Вся информация носит справочный характер. Расчет платежей предварительный.
    </p>
  </div>
  <div v-if="graph.full.schedule.length > 0 && !contraction">
    <p class="graph-notice pagebreak">Вы можете погасить свой заем без дополнительной
        комиссии в любое удобное время.
      Даже через день после получения денег. Тем не менее, мы даем Вам возможность
      пользоваться нашими деньгами в течение {{getYearCredit}}.</p>
    <list-component tableClass="table"
                    :list-model="listModel"
                    adaptive="graph"
                    :getters="['graphFull']"
                    list-property="graphFull"/>
    <p>
      Общая сумма выплат по окончании пользования средствами:
      {{graph.full.totalAmount | moneyFormat}}
      руб.<br>
      Вся информация носит справочный характер. Расчет платежей предварительный.
    </p>
  </div>
  <div class="row buttons d-print-none">
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
      <button class="button secondary-button" @click="close()">
          Назад
      </button>
    </div>
      <div class="col col-md-6 col-lg-8 col-xl-8">
        <button class="button primary-button" @click="print" >
          Распечатать график
        </button>
      </div>
  </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex';
import ListComponent from '@/components/Global/ListComponent/ListComponent';

export default {
  name: 'Graph',
  data() {
    return {
      backPath: '/',
      listModel: [
        {
          name: '№',
          key: 'id',
          // eslint-disable-next-line
          render: (model, item, index) => ++index,
        },
        {
          name: 'Дата оплаты',
          key: 'date',
        },
        {
          name: 'Сумма платежа',
          scope: this,
          render: (model, item) => this.formatMoney(item.total),
        },
        {
          name: 'Основной долг',
          scope: this,
          render: (model, item) => `<div class="table__gray">${this.formatMoney(item.total - item.percent)}</div>`,
        },
        {
          name: 'Процент',
          key: 'percent',
          render: (model, item) => `<div class="table__gray">${this.formatMoney(item.percent)}</div>`,
        },
        {
          name: 'Сумма задолженности',
          key: 'rest',
          render: (model, item) => this.formatMoney(item.rest),
        },
      ],
    };
  },
  props: {
    contraction: {
      default: false,
    },
  },
  methods: {
    formatMoney(value) {
      return `${this.$moneyFormat(value)} <span class="rub">q</span>`;
    },
    close() {
      this.$router.push({ path: this.backPath });
    },
    print() {
      window.print();
    },
  },
  components: {
    ListComponent,
  },
  computed: {
    ...mapGetters([
      'graph',
    ]),
    getYearCredit() {
      let year = '';
      const years = this.$store.state.graph.full.schedule.length / 12;
      if (years === 1) {
        year = 'одного года';
      } else if (years === 2) {
        year = 'двух лет';
      } else if (years === 3) {
        year = 'трех лет';
      } else if (years === 4) {
        year = 'четырех лет';
      } else if (years === 5) {
        year = 'пяти лет';
      }
      return year;
    },
  },
  mounted() {
    this.backPath = this.$route.query.back || '/';
    if (Object.keys(this.graph).length < 1) {
      this.$router.push({ path: this.backPath });
    }
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scope>
  @import '../assets/scss/functions.scss';
  @import '../assets/scss/calculator.scss';
  @import '../assets/scss/summary.scss';
  .graph {
    margin: 0 40px;
  }
  @include media-breakpoint-only(xs) {
    .table-wrap {
      margin-left: -30px;
      margin-right: -30px;
      overflow-x: auto;
    }
  }
  .amount {
    margin-bottom: 40px;
  }
  @media print {
    td {
      white-space: nowrap;
    }
  }
  .pagebreak { page-break-before: always; }
</style>
