<template>
  <div>
    <div :class="{ error: error && error.invalid, rouble: rouble, noborder }" class="form-control">
      <slot></slot>
    </div>
    <transition name="fade-light" v-if="error">
      <div class="error-message" v-if="error.invalid" v-html="error.message"></div>
    </transition>
  </div>
</template>

<script>

export default {
  name: 'InputWrap',
  data() {
    return {
      summ: '',
      err: '',
    };
  },
  props: {
    error: {
      type: Object,
      default() {
        return {
          invalid: false,
          message: '',
        };
      },
    },
    rouble: {
      type: Boolean,
    },
    noborder: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/scss/functions.scss';

  .form-control.error {
    border-color: #E55567;
  }
  .noborder {
    border: 0;
  }
  .error-message {
    margin-top: 4px;
    display: block;
    position: absolute;
    background: #E55567;
    z-index: 10;
    padding: 7px;
    opacity: 0.9;
    border-radius: 4px;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 13px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 0;
      width: 0;
      border: 3px #E55567 solid;
      top: -3px;
      left: 8px;
      transform: rotate(45deg);
    }
  }

</style>
