<template>
  <div class="wrap">
    <button class="burger" @click.prevent="menuToggle"></button>
    <ul class="menu" :class="{ show: show }">
      <li class="menu__item" v-for="item in items" :key="item.id">
        <a
          class="menu__link"
          :href="item.link"
          v-if="checkDownload(item.link)"
          @click="menuToggle"
          download>
          <span class="menu__icon icon"><img class="icon__img" :src="item.icon">
          </span>
          <span class="menu__text">{{item.label}} {{item.show}}</span>
        </a>
        <router-link class="menu__link"
                     :to="item.link"
                     @click.native="menuToggle"
                     v-else>
          <span class="menu__icon icon"><img class="icon__img" :src="item.icon">
          </span>
          <span class="menu__text">{{item.label}} {{item.show}}</span>
        </router-link>
      </li>
      <li class="menu__item" v-if="!hideSupport">
        <a class="menu__link" href="#" @click.prevent="supportClick()">
          <span class="menu__icon icon">
            <img class="icon__img" src="/static/i/circle.svg">
          </span>
          <span class="menu__text">Поддержка</span>
        </a>
      </li>
      <li class="menu__item d-block d-xl-none d-lg-none d-xl-none d-md-none d-sm-none">
        <a class="menu__link" href="#" @click.prevent="logout()">
          <span class="menu__icon icon">
            <img class="icon__img" src="/static/i/exit.svg">
          </span>
          <span class="menu__text">Выход</span>
        </a>
      </li>

    </ul>
    <div class="bell-wrapp" v-if="!hideNotify">
      <notifications-switcher></notifications-switcher>
    </div>
  </div>
</template>

<script>
import Cookies from 'js-cookie';
import Url from '../utils/UrlHelper';
import NotificationsSwitcher from './NotificationsSwitcher';

export default {
  name: 'MainMenu',
  components: {
    NotificationsSwitcher,
  },
  props: ['hideNotify', 'hideSupport'],
  data() {
    return {
      show: false,
      items: this.$store.state.menuItems,
    };
  },
  methods: {
    checkDownload(v) {
      const linkArr = v.split('.');
      if (!linkArr.length) return false;
      const docTypes = ['pdf', 'png', 'jpg', 'jpeg', 'docx'];
      const documentType = linkArr[linkArr.length - 1];
      return !!docTypes.includes(documentType);
    },
    logout() {
      Cookies.remove('PHPSESSID', { path: '', domain: 'lk.my' });
      Cookies.remove('_identity', { path: '', domain: 'lk.my' });
      Cookies.remove('code', { path: '', domain: 'lk.my' });
      this.$api.logout()
        .then(() => {
          const url = Url.getSubdomainUrl('login');
          window.location = `//${url}/`;
        })
        .catch();
    },
    menuToggle() {
      this.$store.commit('NOTIFICATIONS_HIDE');
      this.show = !this.show;
    },
    supportClick() {
      this.menuToggle();
      this.$store.commit('SUPPORT_SHOW');
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import 'src/assets/scss/functions.scss';
.bell-wrapp {
  position: absolute;
  top: 10px;
  right: 268px;
  height: 59px;
}
@include media-breakpoint-only(xs) {
  .bell-wrapp {
    right: 68px;
  }
}
@include media-breakpoint-down(sm) {

  .burger {
    display: block;
    height: 25px;
    width: 25px;
    background: url(/static/i/burger.svg) no-repeat;
    position: absolute;
    top: 33px;
    right: 18px;
    border: none;
  }
  .menu {
    display: none;
  }
  .menu.show {
    display: block;
  }
  .menu {
    position: absolute;
    top: 82px;
    background: #fff;
    width: 100%;
    list-style: none;
    list-style-type: none;
    padding-left: 17px;
    margin: none;
    padding-top: 36px;
    z-index: 1000;
  }
  .menu__item {
    padding-bottom: 26px;
  }
  .menu__link {
    text-decoration: none;
    color: #505E77;
    font-weight: 600;
    font-size: 15px;
  }
  .menu__text {
    display: inline-block;
  }
  .menu__icon {
    display: inline-block;
    width: 25px;
    margin-right: 7px;
  }
  .icon {
    text-align: center;
  }
  .icon__img {
    display: inline-block;
  }
}

@include media-breakpoint-up(sm) {
  .burger {
    display: none;
  }
  .menu {
    display: block;
  }
  .menu.show {
    display: block;
  }
  .menu {
    list-style: none;
    list-style-type: none;
    padding-left: 78px;
    margin: 0;
    padding-top: 24px;
    position: initial;
    background: transparent;
  }
  .menu__item {
    padding-bottom: 56px;
    display: inline-block;
    margin-left: 47px;
  }
  .menu__link {
    text-decoration: none;
    color: #505E77;
    white-space: nowrap;
    display: block;
    font-weight: 600;
    font-size: 15px;
  }
  .menu__text {
    display: none;
    white-space: normal;
  }
  .menu__icon {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    margin-right: 7px;
  }
  .icon {
    text-align: center;
  }
  .icon__img {
    display: inline-block;
  }
}
@include media-breakpoint-up(lg) {
  .menu {
    list-style: none;
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    padding-top: 36px;
  }
  .menu__item {
    padding-bottom: 56px;
    margin-left: 0;
  }
  .menu__link {
    text-decoration: none;
    color: #505E77;
    font-weight: 600;
    font-size: 15px;
  }
  .menu__text {
    display: none;
  }
  .menu__icon {
    display: inline-block;
    width: 25px;
    margin-right: 7px;
  }
  .icon {
    text-align: center;
  }
  .icon__img {
    display: inline-block;
  }
}

@include media-breakpoint-up(xl) {
  .menu {
    list-style: none;
    list-style-type: none;
    padding-left: 17px;
    margin: none;
    padding-top: 36px;
  }
  .menu__item {
    padding-bottom: 26px;
  }
  .menu__link {
    text-decoration: none;
    color: #505E77;
    font-weight: 600;
    font-size: 15px;
  }
  .menu__text {
    display: inline-block;
  }
  .menu__icon {
    display: inline-block;
    width: 25px;
    margin-right: 7px;
  }
  .icon {
    text-align: center;
  }
  .icon__img {
    display: inline-block;
  }
}

</style>

