<template>
  <button class="notify-control" :class="{ active: notificationsShow }" @click="toggle">
    <span class="bell"></span>
    <span class="badge">{{notifyCount}}</span>
  </button>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'NotificationsSwitcher',
  data() {
    return {};
  },
  computed: {
    ...mapGetters([
      'notificationsShow',
      'notifyCount',
    ]),
  },
  methods: {
    toggle() {
      if (this.notificationsShow) {
        this.$store.commit('NOTIFICATIONS_HIDE');
      } else {
        this.$store.commit('NOTIFICATIONS_SHOW');
      }
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import 'src/assets/scss/functions.scss';
@include media-breakpoint-down(sm) {
  .burger {
    display: block;
    height: 25px;
    width: 25px;
    background: url(/static/i/burger.svg) no-repeat;
    position: absolute;
    top: 33px;
    right: 18px;
    border: none;
  }
  .menu {
    display: none;
  }
  .menu.show {
    display: block;
  }
  .menu {
      position: absolute;
      top: 82px;
      background: #fff;
      width: 100%;
      list-style: none;
      list-style-type: none;
      padding-left: 17px;
      margin: none;
      padding-top: 36px;
    }
    .menu__item {
      padding-bottom: 26px;
    }
    .menu__link {
      text-decoration: none;
      color: #505E77;
      font-weight: 600;
      font-size: 15px;
    }
    .menu__text {
      display: inline-block;
    }
    .menu__icon {
      display: inline-block;
      width: 25px;
      margin-right: 7px;
    }
    .icon {
      text-align: center;
    }
      .icon__img {
        display: inline-block;
      }
  }
.bell-wrapp {
  position: absolute;
  top: 10px;
  right: 268px;
}
  @include media-breakpoint-up(sm) {
    .burger {
      display: none;
    }
    .menu {
      display: block;
    }
    .menu.show {
      display: block;
    }
    .menu {
      list-style: none;
      list-style-type: none;
      padding-left: 78px;
      margin: 0;
      padding-top: 24px;
      position: initial;
      background: transparent;
    }
    .menu__item {
      padding-bottom: 56px;
      display: inline-block;
      margin-left: 47px;
    }
    .menu__link {
      text-decoration: none;
      color: #505E77;
      font-weight: 600;
      font-size: 15px;
    }
    .menu__text {
      display: none;
    }
    .menu__icon {
      display: inline-block;
      width: 25px;
      margin-right: 7px;
    }
    .icon {
      text-align: center;
    }
      .icon__img {
        display: inline-block;
      }
  }
@include media-breakpoint-up(lg) {
  .menu {
    list-style: none;
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
    padding-top: 36px;
  }
  .menu__item {
    padding-bottom: 56px;
    margin-left: 0;
  }
  .menu__link {
    text-decoration: none;
    color: #505E77;
    font-weight: 600;
    font-size: 15px;
  }
  .menu__text {
    display: none;
  }
  .menu__icon {
    display: inline-block;
    width: 25px;
    margin-right: 7px;
  }
  .icon {
    text-align: center;
  }
    .icon__img {
      display: inline-block;
    }
}

@include media-breakpoint-up(xl) {
  .menu {
    list-style: none;
    list-style-type: none;
    padding-left: 17px;
    margin: none;
    padding-top: 36px;
  }
  .menu__item {
    padding-bottom: 26px;
  }
  .menu__link {
    text-decoration: none;
    color: #505E77;
    font-weight: 600;
    font-size: 15px;
  }
  .menu__text {
    display: inline-block;
  }
  .menu__icon {
    display: inline-block;
    width: 25px;
    margin-right: 7px;
  }
  .icon {
    text-align: center;
  }
    .icon__img {
      display: inline-block;
    }
}

</style>

