<template>
  <div class="notifications">
    <div class="notifications__header">
      <span>Уведомления</span>
      <a href="#" v-if="!hideHistory" @click.prevent="routerToHistory">История</a>
    </div>
    <div class="notifications__footer" @click="closeAll">
      <span>Очистить все уведомления</span>
    </div>
    <div class="notifications__wrap" v-bar :style="styles">
      <div>
        <transition-group :name="transition" tag="div" class="notifications__items">
          <div v-for="item in this.$store.state.notify" class="n-item" :key="'a'+item.rand">
            <span class="n-item__time">{{item.time}}</span>
            <button class="n-item__close" @click="closeNotify(item.id)"></button>
            <div class="n-item__wrap" @click="link(item.code)">
              <div class="n-item__block">
                <span class="n-item__name">{{item.name}}, {{item.sum}} руб.</span>
                <span class="n-item__id">{{item.num}} - {{item.status}}</span>
                <progress-bar
                  :value="item.progress"
                  :color="'#'+item.color"
                  max="100"
                ></progress-bar>
              </div>
              <div class="n-item__sub n-subitem"
                   v-for="alert in item.alerts"
                   :key="alert.id"
                   @click="closeAlert(alert.id, item.id, item.code)">
                <div class="n-subitem__created">
                  {{alert.createdAt}}
                </div>
                <img class="n-subitem__img" :src="`/static/i/${alert.icon}.svg`">
                {{alert.name}}
              </div>
            </div>
          </div>
        </transition-group>
      </div>
    </div>

  </div>
</template>
<script>
import ProgressBar from './ProgressBar';

export default {
  name: 'Notifications',
  data() {
    return {
      styles: {},
      transition: '',
    };
  },
  props: ['hideHistory'],
  methods: {
    link(id) {
      this.$store.commit('NOTIFICATIONS_HIDE');
      this.$router.push({ path: `/request/${id}#start` });
    },
    closeNotify(num) {
      this.$socket.sendObj({
        action: 'closeRequest',
        id: num,
      });
      this.$store.commit('CLOSE_REQUEST', num);
    },
    closeAlert(id, num, code) {
      this.$router.push({
        name: 'Edit',
        params: {
          code,
        },
      });
      this.$socket.sendObj({
        action: 'closeMessage',
        id,
      });
      this.$store.commit('CLOSE_ALERT', { num, id });
    },
    closeAll() {
      this.$store.commit('CLOSE_ALL');
      this.$socket.sendObj({
        action: 'closeAll',
      });
    },
    handleResize() {
      // todo: debounce
      const elem = document.querySelector('.notifications__wrap');
      const height =
      document.body.clientHeight - elem.getBoundingClientRect().top;
      this.styles = { height: `${height}px` };
    },
    routerToHistory() {
      this.$router.push({
        path: '/history/1',
      });
    },
  },
  components: {
    ProgressBar,
  },
  mounted() {
    this.handleResize();
    window.addEventListener('resize', this.handleResize);
    if (!this.$route.meta.admin) {
      this.$api.oldNotifications()
        .then(({ data }) => {
          this.$store.commit('UPDATE_STATUSES', data.statuses);
          data.messages.forEach((element) => {
            this.$store.dispatch(element.action, element);
            this.transition = 'flip-list';
          });
        });
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.handleResize);
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scope>
@import 'src/assets/scss/functions.scss';
@import 'src/assets/scss/variables.scss';

.notifications {
  max-height: 100%;
  padding-right: 10px;
}

.flip-list-move {
  transition: transform .5s;
}

.flip-list-enter-active {
  transition: .5s
}

.flip-list-enter /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
  transform: translateY(-100px);
}

.notifications__items {
  padding: 10px 20px;
}

.notifications__header {
  display: flex;
  padding: 0 10px 10px;
  justify-content: space-between;
  color: #fafbfc;
  & > * {
    display: inline-block;
  }
  a {
    color: #fafbfc;
    text-decoration: underline;
  }
}

.notifications__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  padding: 0 10px 10px;
  align-items: center;
  justify-content: center;
  color: #fafbfc;
  cursor: pointer;
  padding-top: 10px;
  background-color: rgba(90, 103, 122, 0.78);
  z-index: 30;
  &:hover {
    background-color: #5a677a;
  }
  & > * {
    display: inline-block;
    text-align: center;
  }
  a {
    color: #fafbfc;
    text-decoration: underline;
  }
}

.n-item {
  margin-bottom: 10px;
  position: relative;
}

.n-item__time {
  color: #ced0da;
  font-size: 14px;
  padding-left: 0px;
}

.n-item__wrap {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.n-item__close {
  background: url(/static/i/cross.svg) no-repeat;
  background-size: 12px;
  position: absolute;
  right: 7px;
  top: 28px;
  cursor: pointer;
  height: 12px;
  width: 12px;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 20;
}

.n-item__block {
  background: #ffffff;
  border: 1px solid #e7e9ed;
  padding: 6px 14px 13px;
}

.n-item__name {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.4;
  color: #7f8fa4;
}

.n-item__id {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.4;
  color: #354052;
  word-break: break-word;
}

.n-subitem {
  background: #fafbfc;
  /* Сообщение от верифик: */
  font-weight: 600;
  font-size: 12px;
  color: #354052;
  line-height: 19px;
  padding: 6px 6px 8px 40px;
  border-bottom: 1px #e8eaee solid;
  position: relative;
  a {
    text-decoration: none;
    cursor: pointer;
  }
}

.n-subitem__img {
  height: 20px;
  margin-right: 15px;
  position: absolute;
  left: 12px;
}

.n-subitem__created {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: normal;
  color: $light-text;

}

@include media-breakpoint-up(lg) {
  .notifications {
    margin-top: 90px;
  }
}
</style>
