<template>
  <div class="bar">
    <div class="bar__inner" :style="{ width: val + '%', 'background-color': color}"></div>
  </div>
</template>
<script>
export default {
  name: 'ProgressBar',
  data() {
    return {
      val: 0,
    };
  },
  props: {
    max: {
      default: 100,
    },
    value: {
      default: 0,
    },
    color: {
      default: '#FFCC00',
    },
  },
  watch: {
    value(e) {
      this.val = (e / this.max) * 100;
    },
  },
  mounted() {
    this.val = (this.value / this.max) * 100;
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import 'src/assets/scss/functions.scss';
.bar {
  overflow: hidden;
  height: 4px;
  width: 100%;
  position: relative;
}
  .bar__inner{
    position: absolute;
    left:0;
    top:0;
    bottom: 0;
    width: 50%;
    border-radius: 0 4px 4px 0;
    transition: width .5s;
  }
@include media-breakpoint-down(sm) {

}
@include media-breakpoint-up(sm) {
  .bar {
    background-color: #DFE4EE;
    border-radius: 4px;
  }
}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}
</style>

