<template>
    <div class="header" name="start" id="start">
        <span class="circle"><em>{{this.num}}</em></span>
        <div class="holder d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <h1>{{this.name}}</h1>
            </div>
        </div>
        <div class="text">{{this.text}}</div>
        <div class="buttons" v-if="hide">
            <button @click="hideStep()"></button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'RequestHeader',
  props: [
    'name',
    'num',
    'text',
    'hide',
  ],
  methods: {
    hideStep() {
      this.$store.commit('UPDATE_REQUEST', {
        showFoldedStep: '',
      });
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './../assets/scss/functions.scss';
div.header {
    position: relative;
    padding-top: 20px;
    overflow: hidden;
    .holder {
        padding: 6px 0 0 45px;
        margin: 0;
    }
    h1 {
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin-bottom: 0;
    }
    span {
        &:before {
            content: "";
            width: 2px;
            display: block;
            height: 20px;
            background: $gray;
            position: absolute;
            top: -22px;
            left: 22px;
        }
    }
    .text {
        margin: 10px 0 20px 80px;
        font-size: 13px;
        font-weight: 400;
        color: $light-text;
    }
}
div.buttons {
    position: absolute;
    right: 0;
    top: 30px;
    @include media-breakpoint-down(sm) {
      top: 25px;
      right: 15px;
    }
    button {
        -webkit-transform:rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-left: 25px;
        cursor: pointer;
        background: url('/static/i/down-arrow.svg') no-repeat center;
        padding: 15px;
        width: 13px;
        height: 10px;
        border: 0;
    }
}
@include media-breakpoint-down(xs){
    div.header {

        .holder {
            padding-top: 0;
            padding-left: 28px;
            height: 39px;
        }
        span {
            &:before {
                left: 17px;
            }
        }
        h1 {
            font-size: 17px;
            line-height: 18px;
        }
        .text {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}
</style>
