<template>
  <div class="wrap" :class="{'wrap_fixed': this.$route.meta.fixed}">
    <div>
      <div class="content">
        <div class="number">СМ-{{this.$store.state.request.num}}</div>
        <div class="label">Желаемая сумма</div>
        <div class="sum">
          {{this.$moneyFormat(this.$store.state.request.summ)}}
          <span class="rub">q</span></div>
      </div>
      <div class="percentage" :style="{color: '#'+this.$store.state.request.bar.color}">
        {{this.$store.state.request.bar.percent}}%
      </div>
      <div class="progress-bar">
        <progress-bar :max="100"
                      :value="this.$store.state.request.bar.progress"
                      :color="'#'+this.$store.state.request.bar.color"
        />
      </div>
      <!--<div class="notice">-->
        <!--
        Заявка в обработке. Приблизительное время ожидания {{this.$store.state.request.bar.left}}
        -->
      <!--</div>-->
    </div>
    <div class="notifiactions-wrap" :class="{ on: active }">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import ProgressBar from '@/components/ProgressBar';

export default {
  name: 'StatusBar',
  data() {
    return {
      notifyCount: 5,
      active: false,
    };
  },
  components: {
    ProgressBar,
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../assets/scss/functions.scss';

.wrap {
  position: relative;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: 1px #E8ECF0 solid;
  box-shadow: 0 2px 15px 0 rgba(0,0,0, .14);
  z-index: 1000;
  &_fixed {
    position: fixed;
    top: 0;
    background-color: #fafbfc;
  }
}
.number {
  font-size: 24px;
  color: #354052;
  line-height: 1.2;
}
.label {
  font-weight: 500;
  font-size: 11px;
  color: #7F8FA4;
  line-height: 12px;
}
.sum {
  font-size: 22px;
  color: #354052;
  letter-spacing: -0.28px;
  line-height: 1.2;
}
.content {
  padding-right: 50px;
}
.percentage {
  display: none;
}
.notice {
  display: none;
}
.notifications-panel {
  display: none;
}
@include media-breakpoint-down(sm) {
  .wrap {
    position: relative;
  }
  .label {
    padding-top: 6px;
    text-align: left;
  }
  .progress-bar {
    position: absolute;
    left:0;
    bottom: -5px;
    right: 0;
  }
}
@include media-breakpoint-up(sm) {
  $sumtop: 25px;
  $barright: 350px;
  $barleft: 199px;
  $bartop: 31px;
  .wrap {
    height: 80px;
    &_fixed {
      top: 80px;
      position: fixed;
      width: 100%;
    }
  }
  .number {
    position: absolute;
    top: 25px;
    left: 40px;
  }
  .label {
    position: absolute;
    right: 210px;
    width: 70px;
    text-align: right;
    top: $sumtop + 2px;
  }
  .sum {
    position: absolute;
    right: 90px;
    top: $sumtop;
  }
  .notice {
    position: absolute;
    top: $bartop + 10px;
    right: $barright;
    left: $barleft;
    font-size: 11px;
    color: #7F8FA4;
    letter-spacing: 0.2px;
    line-height: 11px;
  }
  .progress-bar {
    position: absolute;
    top: $bartop;
    right: $barright;
    left: $barleft;
  }
  .percentage {
    display: block;
    font-size: 24px;
    position: absolute;
    right: $barright - 70px;
    top: $bartop - 10px;
  }
  .notice {
    display: block;
  }
  .notifiactions-wrap {
    display: none;
  }
  .notifiactions-wrap.on {
    display: block;
  }
}

@include media-breakpoint-up(md) {
  .wrap {
    &_fixed{
      top: 80px;
      width: 100%;
    }
  }
}
@include media-breakpoint-up(lg) {
  .notify-control {
    display: none;
  }
  .wrap {
    margin-left: 0px;
    margin-right: -40px;
    &_fixed {
      left: 67px;
      top: 0;
      width: calc(100% - (344px + 67px));
    }
  }
  .notifiactions-wrap {
    display: block;
  }
}
@include media-breakpoint-up(xl) {
  .notify-control {
    display: none;
  }
  .wrap {
    &_fixed {
      left: 167px;
      top: 0;
      width: calc(100% - (344px + 167px));
    }
  }
}
</style>

