<template>
  <div>
    <div class="content-holder">
      <div class="form-holder">
        <div class="row">
          <img class="img" src="/static/i/fail.svg"/>
        </div>
        <div class="row">
          <div class="col-12 text">
            {{this.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'StepCancel',
  props: {
    text: '',
    isActiveStep: false,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../assets/scss/functions.scss';

.text {
  font-size: 17px;
  font-weight: 600;
  padding: 40px 20px 40px 20px;
}
.row {
  text-align: center;
}
.img {
  margin: 30px auto 0;
}

</style>
