<template>
    <div class="success-step">
        <span class="circle"><em></em></span>
        <div class="text">
            <p>{{name}}</p>
            <p>{{text}}</p>
        </div>
        <div class="buttons" v-if="show">
            <button class="show" @click="showStep(show)"></button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'SuccessStep',
  props: [
    'name',
    'text',
    'show',
  ],
  methods: {
    showStep(e) {
      this.$store.commit('UPDATE_REQUEST', {
        showFoldedStep: e,
      });
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './../assets/scss/functions.scss';

div.success-step {
    position: relative;
    background: #FAFBFC;
    border-bottom: 1px solid $gray;
    padding: 20px 30px;
    overflow: hidden;
    span {
        position: relative;
        em {
            position: absolute;
            top: 17px;
            left: 17px;
            width: 14px;
            height: 11px;
            display: block;
            background-image: url('/static/i/green-arrow.svg');
        }
    }
    div.text {
        float: left;
        margin-left: 30px;
        padding: 2px 0 0 0;
        p {
            padding: 0;
            margin: 0;
            padding-right: 35px;
            &:first-child {
                font-weight: 600;
                font-size: 16px;
            }
            &:last-child {
                color: $light-text;
                font-size: 13px;
            }
        }
    }
    div.buttons {
        position: absolute;
        right: 30px;
        top: 30px;
      @include media-breakpoint-down(sm) {
        top: 25px;
      }
      button {
            margin-left: 25px;
            padding: 15px;
            cursor: pointer;
            &.pencil {
                background: url('/static/i/pencil.svg') no-repeat center;
                width: 16px;
                height: 16px;
                border: 0;
            }
            &.show {
                background: url('/static/i/down-arrow.svg') no-repeat center;
                width: 13px;
                height: 10px;
                border: 0;
            }
        }
    }
}

@include media-breakpoint-down(xs){
    div.success-step {
        padding: 10px 15px;
        span {
            position: absolute;
            em {
                top: 13px;
                left: 11px;
            }
        }
        div.text {
            margin-left: 53px;
            margin-bottom: 5px;
        }
    }
}

</style>
