<template>
<div class="v-mod">
  <form @submit.prevent="submit()">
  <div class="v-mod-block" v-if="!sent">
    <div class="v-mod-header">
        <h3>{{header}}</h3>
    </div>
    <div class="v-mod-body">
        {{text}}
    </div>
    <div class="message-block">
        <div class="input-block">
          <label>Укажите ваш email:</label>
            <input-wrap :error="validation.email">
              <input v-model="email" @blur="validate('email')">
            </input-wrap>
      </div>
    </div>
    <div class="message-block">
      <label>Кратко опишите ситуацию:</label>
      <input-wrap :error="validation.message">
       <textarea name="" id="" title="Введите сообщение" @blur="validate('message')"
          v-model="message"></textarea>
      </input-wrap>

    </div>
    <div class="v-mod-footer">
      <div class="row">
        <div class="col">
          <button class="button secondary-button"
                  @click="$store.commit('SUPPORT_HIDE')">
            Отмена
          </button>
        </div>
        <div class="col">
          <button class="button primary-button" type="submit" @click.prevent="submit()">
            <span>Отправить в тех.поддержку</span>
            <div id="vermess-button-preloader-wrap" v-show="sendDisabled">
              <div id="vermess-button-preloader">
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="v-mod-block" v-else>
    <div class="v-mod-header">
        <h3>Спасибо!</h3>
    </div>
    <div class="v-mod-body">
        Сообщение отправлено!
    </div>
  </div>
  </form>
</div>
</template>
<script>
import { detect } from 'detect-browser';
import InputWrap from './InputWrap';

export default {
  name: 'support',
  data() {
    return {
      header: 'Обращение за поддержкой',
      text: 'Мы постараемся максимально оперативно решить возникшие трудности',
      sendDisabled: false,
      message: '',
      email: '',
      sent: false,
      validation: {
        email: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateEmail(vue[e])) {
                this.invalid = true;
                this.message = 'Неверный e-mail';
              }
            }
          },
        },
        message: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  components: {
    InputWrap,
  },
  props: {
    image: {},
  },
  methods: {
    submit() {
      if (this.validate() && !this.sendDisabled) {
        this.sendDisabled = true;

        const browser = detect();

        this.$api.support({
          email: this.email,
          message: this.message,
          file: this.image,
          sizeScreen: `${screen.width}х${screen.height}`,
          sizeBrowser: `${window.innerWidth}x${window.innerHeight}`,
          os: browser.os,
          browser: `${browser.name} ${browser.version}`,
        })
          .then(() => {
            this.sendDisabled = false;
            this.sent = true;
          })
          .catch(() => {
            this.sendDisabled = false;
            this.sent = true;
          });
      }
    },
  },

};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.v-mod-body {
  font-size: 13px;
  color: #505E77;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.message-block {
  margin-bottom: 10px;
}
.message-block textarea{
  background: #FFFFFF;
  border: none;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 30px;
  max-height: 400px;
}
.v-mod-footer {
  background: #F8FAFC;
  box-shadow: 0 -1px 0 0 #E7E9ED;
  padding: 25px 25px 10px 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -25px;
}
.v-mod-files {
  margin-bottom: 10px;
}
</style>
