<template>
    <div class="input-block" :class="size">
        <div>
            <label>{{label}}</label>
            <input type="text" :value="this.param" />
        </div>
    </div>
</template>

<script>
export default {
  name: 'TextInput',
  props: [
    'name',
    'label',
    'param',
    'type',
    'size',
  ],
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
</style>
