<template>
  <div>
    <span v-if="!end">
      Запросить код повторно можно через {{time}}
    </span>
    <a href="#" v-else @click.prevent="$emit('send')" class="send">
      Отправить код повторно
    </a>
  </div>
</template>

<script>
import moment from 'moment';

export default {
  data() {
    return {
      now: moment(),
      timer: null,
      expire: null,
    };
  },
  props: {
    date: {
      default() {
        return moment().seconds(30);
      },
    },
  },
  computed: {
    time() {
      return moment.utc(this.expire - this.now).format('mm:ss');
    },
    end() {
      return this.expire - this.now <= 0;
    },
  },
  methods: {
    duration() {
      return moment.duration(moment(this.date).diff(this.now));
    },
  },
  mounted() {
    // this.init();
    this.expire = this.date;
    this.timer = setInterval(() => {
      this.now = moment();
    }, 200);
  },
};
</script>
<style lang="scss" scoped>
.send {
  font-family: OpenSans;
  font-size: 13px;
  color: #4A90E2;
  line-height: 16px;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
</style>

