<template>
  <span class="tooltip"
        @mouseleave="changeVisible()"
        @mouseover='onShowTip()'
        @click="clickShow"
  >
      <div class="tooltip-popper"
           ref="popper"
           :style="tipStyle">
        {{description}}
      </div>

    <slot v-if="$slots.default"></slot>
    <span v-else class="tooltip-text__default">
      <font-awesome icon="question" size="xs"/>
    </span>
  </span>
</template>

<script>
import { library } from '@fortawesome/fontawesome-svg-core';
import { faQuestion } from '@fortawesome/free-solid-svg-icons';

library.add(faQuestion);

export default {
  data() {
    return {
      showTip: false,
      tipStyle: {
        top: 0,
        visibility: 'hidden',
      },
    };
  },
  props: [
    'description',
  ],
  methods: {
    changeVisible(val) {
      this.tipStyle.visibility = val ? 'visible' : 'hidden';
    },
    onShowTip() {
      const popper = this.$refs.popper;
      this.tipStyle.top = `-${popper.offsetHeight + 10}px`;
      this.changeVisible(true);
    },
    clickShow(e) {
      this.onShowTip();
      e.preventDefault();
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/functions.scss';
@import '../assets/scss/fullrequest.scss';
@import '../assets/scss/wrapper.scss';

$elwidtheight: 14px;
$arrowBorderSize: 6px;
.tooltip {
  display: inline-block;
  position: absolute;
  top: -3px;
  right: -17px;
  &:hover {
    .tooltip-text__default {
      opacity: .6;
    }
  }
  .tooltip-popper {
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 2000;
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
    min-width: 230px;
    top: -10px;
    background-color: #fafbfc;
    color: #5a677e;
    border: 1px solid #d7d9e1;
    transform: translate(calc(#{$elwidtheight / 2} + (-50%)));

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-left: $arrowBorderSize solid transparent;
      border-right: $arrowBorderSize solid transparent;
      border-top: $arrowBorderSize solid #d7d9e1;
      bottom: -$arrowBorderSize;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
    &:before {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-left: $arrowBorderSize solid transparent;
      border-right: $arrowBorderSize solid transparent;
      border-top: $arrowBorderSize solid #fafbfc;
      bottom: -$arrowBorderSize + 1;
      z-index: 10;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .tooltip-text__default {
    display: flex;
    width: $elwidtheight;
    height: $elwidtheight;
    transition: .4s;
    opacity: .4;
    border: 1px solid #d7d9e1;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 10px;
    border-radius: 50%;
    cursor: help;
    i {
      font-style: normal;
    }
  }
}

</style>
