<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="loading" v-if='loading'>
          <clip-loader
            color="#FFCC00"
            ></clip-loader>
            <div class="loading__message">Ожидайте загрузки списка сообщений</div>
        </div>
        <table class="table" v-if="requests.length">
          <thead>
          <tr>
            <th scope="col" class="first">№ Заявки</th>
            <th scope="col" class="date">Дата</th>
            <th scope="col">Вопрос</th>
            <th scope="col" class="last"></th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="request in requests" :key="request.id" :class="{gray: request.childs}">
            <th colspan="5">
              <table class="table-inner">
                <tr>
                  <th scope="col" class="first">
                    <a href="#" @click.prevent="toRequestPage(request.request_code)">
                        СМ-{{request.request_num}}
                      </a>
                    </th>
                  <th scope="col" class="date">{{request.created_at}}</th>
                  <th scope="col">{{request.message}}</th>
                  <th scope="col" class="last">
                    <a href="#" @click.prevent="answerRequest(request)"
                      class="linkAnswer" v-if="!request.childs">Ответить</a>
                    <a href="#" @click.prevent="toggleAnswers(request)"
                      class="linkAnswer" v-if="request.childs">
                      <span class="arrow" :class="{ 'open': request.open }"></span>
                    </a>
                  </th>
                </tr>
                <tr v-if="request.childs&&request.open" >
                  <th colspan="5">
                    <div v-for="answer in request.childs" :key="answer.id" class="answer">
                      <div scope="col">{{answer.message}}</div>
                      <div scope="col" v-if="answer.file_link">
                        <a v-for="(link, i) in answer.file_link"
                          :href="link"
                          :key="link"
                          class="link">Файл {{i+1}}</a>
                      </div>
                    </div>
                  </th>
                </tr>
              </table>
            </th>
          </tr>
          </tbody>
        </table>
        <div class="empty" v-if="!requests.length && !loading">
          Нет сообщений
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ClipLoader from 'vue-spinner/src/ClipLoader';

export default {
  name: 'VerificationList',
  data() {
    return {
      requests: [],
    };
  },
  components: {
    ClipLoader,
  },
  computed: {
    ...mapGetters(['loading']),
  },
  methods: {
    getVerificationList() {
      this.$store.commit('LOADING', true);
      this.$api.getVerificationList()
        .then(({ data }) => {
          this.$store.commit('LOADING', false);
          // получили requests
          const arr = data;
          this.requests = arr.map((e) => {
            if (!e.childs) {
              e.open = false;
            } else {
              e.open = false;
            }
            return e;
          });
        })
        .catch(() => {
          this.$store.commit('LOADING', false);
        });
    },
    toRequestPage(code) {
      this.$router.push({
        path: `/request/${code}#start`,
      });
    },
    answerRequest(item) {
      this.$store.dispatch('verMessage', {
        data: {
          id: item.id,
          message: item.message,
          code: item.request_num,
        },
      });
      return false;
    },
    toggleAnswers(e) {
      e.open = !e.open;
    },
  },
  mounted() {
    this.getVerificationList();
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.main {
  margin-left: 80px;
  margin-right: 80px;
}

h1 {
  padding-top: 20px;
  margin-bottom: 0px;
}
.table {
  margin-top: 25px;
  background: #ffffff;
}
.linkAnswer{
  color: #4a90e2;
}
.link {
  display: block;
}
.answer {
  border-bottom: 1px solid gray;
  padding: 20px;
  margin-bottom: 20px;
}
.table-inner {
  width: 100%;
}
.table > tbody > tr > th{
  padding: 0;
}
.first, .last, .date {
  width: 20%;
}

.gray {
  background: #FAFBFC;
}
.linkAnswer {
  position: relative;
}
.arrow {
  background: url(/static/i/arrow.svg) no-repeat;
  transform: rotate(-90deg);
  height: 12px;
  width: 15px;
  border: 0;
  position: absolute;
  left: 10px;
  top: 20px;
  transition: transform .5s;
  &.open {
    transform: rotate(0deg);
  }
}
.empty {
  text-align: center;
  color: #505E77;
  font-weight: 600;
  font-size: 15px;
  margin-top: 35px;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100px;
  }
  .loading__message {
    padding-left: 20px;
    vertical-align: top;
  }
</style>
