<template>
<div class="v-mod">
  <div class="v-mod-block">
    <div class="v-mod-header">
        <h3>{{header}}</h3>
    </div>
    <div v-if="response.length < 1">
      <div class="v-mod-body">
          {{message}}
      </div>
      <div class="message-block">
        <input-wrap :error="validation.answerText">
                <textarea name="" id="" title="Введите сообщение"
                          v-model="answerText"
                          @blur="validate('answerText')"
                          @keydown="validation.answerText.invalid = false"></textarea>
        </input-wrap>
      </div>
      <file-uploader-vermess/>
      <br/>
      <div class="v-mod-footer">
        <div class="row">
          <div class="col check-wrap" >
            <checkbox
                              id="check"
                              name="check"
                              value="check"
                              v-model="check"
                              :checked="false"
                              :class="{error:validation.check.invalid}">
                              Пожалуйста, подтвердите, что Вы добавили все фото
                              и написали верный комментарий.<br>
                              После отправки сообщения его нельзя отредактировать,
                              изменить или отправить дополнительный ответ
            </checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col check-wrap" v-if="!files">
              <checkbox
                                id="checkPhoto"
                                name="checkPhoto"
                                value="checkPhoto"
                                v-model="checkPhoto"
                                :checked="false"
                                :class="{error:validation.checkPhoto.invalid}">
                                Отправить без фотографий
              </checkbox>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button secondary-button"
                    @click.prevent="$store.commit('VERMESS_CLOSE')">
              отмена
            </button>
          </div>
          <div class="col">
            <button
              class="button primary-button"
              :class="{ 'disabled-button': waiting }"
              @click.prevent="submit()">
                <span>Отправить</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      {{answer}}
      <button class="button button-primary" @click.prevent="close()">Закрыть</button>
    </div>
  </div>
</div>
</template>
<script>
import FileUploaderVermess from './FileUploaderVermess';
import InputWrap from './InputWrap';
import Checkbox from './Checkbox';

export default {
  name: 'vermess',
  components: {
    FileUploaderVermess,
    InputWrap,
    Checkbox,
  },
  computed: {
    files() {
      return this.$store.state.vermess.files.length > 0;
    },
  },
  data() {
    return {
      header: `Вопрос по заявке CM-${this.$store.state.vermess.code}`,
      message: this.$store.state.vermess.message,
      senddisabled: false,
      answerText: '',
      waiting: false,
      response: '',
      check: false,
      checkPhoto: false,
      validation: {
        answerText: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        check: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue[e]) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        checkPhoto: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue[e]) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  methods: {
    submit() {
      if ((this.files && this.validate('answerText') && this.validate('check')) || this.validate()) {
        this.waiting = true;
        this.$api.sendVerificationMessage(
          {
            message_id: this.$store.state.vermess.id,
            message: this.answerText,
            file: this.$store.state.vermess.files,
          })
          .then(() => {
            this.waiting = false;
            this.$store.commit('VERMESS_CLOSE');
          })
          .catch((err) => {
            this.waiting = false;
            this.responce = `Произошла ошибка ${err}`;
          });
      }
    },
    close() {
      this.$store.commit('VERMESS_CLOSE');
    },
    watch: {
      check() {
        this.validation.invalid = false;
      },
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.v-mod-body {
  font-size: 13px;
  color: #505E77;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.message-block {
  margin-bottom: 10px;
}
.message-block textarea{
  background: #FFFFFF;
  border: 0px solid #DFE3E9;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 30px;
  max-height: 400px;
}
.v-mod-footer {
  background: #F8FAFC;
  box-shadow: 0 -1px 0 0 #E7E9ED;
  padding: 25px 25px 10px 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -25px;
}
.v-mod-files {
  margin-bottom: 10px;
}
.check-wrap  {
  padding-bottom: 20px;
}
</style>
