<template>
<div class="v-mod">
  <div class="v-mod-block">
    <div v-if="answer.length < 1">
      <div class="v-mod-body">
          {{message}}
      </div>
      <label>Номер заявки:</label>
        <input-wrap :error="validation.code" class="spacer">
          <input
              type="text"
              id="code-input-code"
              v-model="code"
              :class="{ 'error': error }"
              @blur="validate('code')"
              @keyup="validation.code.invalid = false"
          />
        </input-wrap>
      <br>
       <div class="message-block">
        <input-wrap :error="validation.answerText">
              <textarea name="" id="" title="Введите сообщение"
                        v-model="answerText"
                        @blur="validate('answerText')"
                        @keyup="validation.answerText.invalid = false"></textarea>
        </input-wrap>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="button primary-button"
            :class="{ 'disabled-button': waiting }"
            @click.prevent="submit()">
              <span>Отправить</span>
          </button>
        </div>
      </div>
    </div>
    <div v-else>
      {{answer}}
      <button class="button primary-button" @click.prevent="close()">Закрыть</button>
    </div>
  </div>
</div>
</template>
<script>
import FileUploader from './FileUploader';
import InputWrap from './InputWrap';

export default {
  name: 'VermessNew',
  components: {
    FileUploader,
    InputWrap,
  },
  data() {
    return {
      header: 'Новый вопрос по заявке',
      message: this.$store.state.vermess.message,
      senddisabled: false,
      answerText: '',
      waiting: false,
      answer: '',
      code: '',
      error: false,
      validation: {
        code: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        answerText: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  methods: {
    submit() {
      if (this.validate()) {
        this.waiting = true;
        this.$api.sendVerificationMessage(
          {
            code: this.code,
            message: this.answerText,
          })
          .then(() => {
            this.waiting = false;
            this.answer = 'Сообщение отправлено.';
          })
          .catch((data) => {
            if (data.message === 'empty') {
              this.waiting = false;
              this.error = true;
            }
          });
      }
    },
    close() {
      location.reload();
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
.v-mod-body {
  font-size: 13px;
  color: #505E77;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.error {
  border: 1px solid red;
}
.message-block {
  margin-bottom: 10px;
}
.message-block textarea{
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
  resize: vertical;
  min-height: 30px;
  max-height: 400px;
}
.v-mod-footer {
  background: #F8FAFC;
  box-shadow: 0 -1px 0 0 #E7E9ED;
  padding: 25px 25px 10px 25px;
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: -25px;
}
.v-mod-files {
  margin-bottom: 10px;
}
.spacer {
  position: relative;
  padding-left: 30px;
  &::before {
    content: 'CM-';
    position: absolute;
    top: 7px;
    left: 0px;
  }
}
</style>
