<template>
  <div id="app">
    <error :verbose="config.verbose"></error>
    <div class="container-fluid">
      <div class="row">
        <div class="center-block"
             :class="{'center-block_fixed' : $route.meta.fixed}
        ">
          <div class="danger d-print-none" v-if="this.$store.state.socket.isConnected === false">
            Проверьте интернет-соединение,
            перезагрузите страницу, если не помогло,
            обратитесь в службу поддержки
          </div>
          <router-link to="/vlist" class="warning" v-if="showVermess && !showVermessPopup">
            Новое сообщение от верификатора
          </router-link>
          <status-bar v-if="this.$store.state.request.num && this.$route.name === 'Edit'"/>
          <slot></slot>
        </div>
        <div class="left-block">
          <router-link to="/"><img class="logo" src="/static/i/logo.svg" alt=""></router-link>
          <main-menu></main-menu>
        </div>
        <div class="right-block notifications-toggle" :class="{ show: notificationsShow }">
          <notifications :hideHistory="notifyParams.hideHistory"></notifications>
        </div>
        <card></card>
      </div>
    </div>
    <popup v-if="showVermess && showVermessPopup" @click="show = !show" @close="vermessClose()">
      <vermess></vermess>
    </popup>
    <popup v-if="supportShowPopup" @close="supportHide()">
      <support :image="image"></support>
    </popup>
  </div>
</template>

<script>
import html2canvas from 'html2canvas';
import { mapGetters } from 'vuex';
import MainMenu from './/MainMenu';
import StatusBar from './/StatusBar';
import Card from './/Card';
import Notifications from './/Notifications';
import Vermess from './Vermess';
import Support from './Support';
import Popup from './/Popup';
import Error from './Error';
import config from '../config';

export default {
  name: 'Wrapper',
  components: {
    MainMenu,
    StatusBar,
    Card,
    Notifications,
    Vermess,
    Popup,
    Support,
    Error,
  },
  data() {
    return {
      show: false,
      supportShowPopup: false,
      image: '',
      isConn: this.$store.state.socket.isConnected,
      config,
    };
  },
  props: {
    notifyParams: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  mounted() {
    this.$api.profile()
      .then((data) => {
        this.$store.commit('UPDATE_PROFILE', data);
      });
    this.$api.infoStatus()
      .then((data) => {
        if (!this.$socket) {
          this.$connect();
        }
        this.$store.commit('UPDATE_STATUSES', data);
      });
  },
  computed: {
    ...mapGetters([
      'notificationsShow',
      'notifyCount',
      'supportShow',
    ]),
    showVermessPopup() {
      return (+this.$store.state.vermess.code === +this.$store.state.request.num && this.$route.path.includes('request')) || this.$route.path.includes('vlist');
    },
    showVermess() {
      if (this.$store.state.vermess !== undefined) {
        return this.$store.state.vermess.show;
      }
      return false;
    },
  },
  watch: {
    supportShow(e) {
      if (e) {
        try {
          html2canvas(document.body).then((canvas) => {
            this.supportShowPopup = e;
            canvas.toBlob((blob) => {
              this.image = blob;
            }, 'image/jpeg', 1);
          });
        } catch (err) {
          this.supportShowPopup = e;
        }
      } else {
        this.supportShowPopup = e;
      }
    },
  },
  methods: {
    danger() {
      if (this.isConn !== true) {
        console.log('сервер ws не подключен');
      } else {
        console.log('сервер ws works!!');
      }
    },
    showSupport() {

    },
    vermessClose() {
      this.$store.commit('VERMESS_CLOSE');
    },
    supportHide() {
      this.$store.commit('SUPPORT_HIDE');
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../assets/scss/functions.scss';
@import '../assets/scss/wrapper.scss';

.danger {
  background: #d9534f;
  color: white;
  padding: 5px;
  text-align: center;
}
.warning {
  display: block;
  background-color: #ffc107;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
  rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
   color: white;
  padding: 5px;
  text-align: center;
}
</style>

