<template>
  <td>
    <div class="d-sm-none d-xs-block">{{modelData.name}}</div>
    <div
      v-if="!modelData.render"
      v-html="content">
    </div>
    <span
      v-else
      v-on="addParamsToCallbacks()"
      v-bind="modelData.directives"
      v-html="renderData">

    </span>
  </td>
</template>

<script>
import TypeOf from '../../../utils/TypeOf';
import { InnerValueFromObj } from '../../../utils/ObjectValueHelper';

export default {
  data() {
    return {
      content: '',
    };
  },
  props: ['modelData', 'listData', 'indexCell'],
  computed: {
    renderData() {
      return this.modelData.render(this.modelData, this.listData, this.indexCell);
    },
  },
  methods: {
    addParamsToCallbacks() {
      const additionalCallbacks = {};
      if (this.modelData.events) {
        // eslint-disable-next-line
        Object.keys(this.modelData.events).map(el => additionalCallbacks[el] = () => this.modelData.events[el] && this.modelData.events[el](this.modelData, this.listData));
      }
      return additionalCallbacks;
    },

    // Построение по пришедшему типу я бы выделил (статус, дата, сумма) и тд
    typeFormatter(type, model, list) {
      const val = this.getValue(model.key, list);
      switch (type) {
        case 'status':
          this.content = `<i
                            class="status-indicator ${Number(val) === 1 ? 'status-indicator__green' : 'status-indicator__red'}"
                          ></i>`;
          break;
        default:
      }
    },

    // Парсинг по типу данных если пришла сторка или число просто тянетя по ключу
    // Далее будет добавляться поведения для разных типов данных
    parseByDataType(model, list) {
      const typeModel = TypeOf(model.key);
      switch (typeModel) {
        case 'string':
        case 'number':
          this.content = this.getValue(model.key, list);
          break;
        case 'array':
          this.parseArray(model, list);
          break;
        default:
      }
    },

    // Инициализация ячейки идет проверка сразу на парамерт @render функции
    // если он есть то передается пользовательский рендер и на этом.
    // Далее идет проверка на @type для более удобного построения списков
    // и чтобы не писать по 100 раз одно и то же.
    // Если ничего такого нет то отдается в функцию и парсится по типу данных.
    initialMethod() {
      const model = this.modelData;
      const list = this.listData;
      if (this.$slots.default) {
        // this.content = model.render(model, list);
      } else {
        // eslint-disable-next-line
        if (model.type) {
          this.typeFormatter(model.type, model, list);
        } else {
          this.parseByDataType(model, list);
        }
      }
    },
    // Разбор массива ключей и сеттинг значения
    parseArray(model, list) {
      const keys = model.key;
      keys.forEach((el, i) => {
        const str = String(this.getValue(el, list)).toUpperCase();
        this.content += i === 0 && str !== '' ? str : ` ${str}`;
      });
    },

    // Функция получения данных из объекта с параметрами
    // тк нам может понадобится вложенное значение то ключом можно указать
    // такое значение 'ключ.вложенный_ключ.и_тд'
    getValue(key, list) {
      let hasInnerValueCheck;
      if (typeof key === 'string') {
        hasInnerValueCheck = key.split('.');
      }
      if (hasInnerValueCheck && hasInnerValueCheck.length > 1) {
        return InnerValueFromObj(hasInnerValueCheck, list);
      }
      return list[key];
    },
  },
  created() {
    this.initialMethod();
  },
};
</script>
