<template>
  <div class="filter">
    <i class="filter-dropdown" @click="filterToggle()">
      <img :src="this.dropDown" />
    </i>
    <div class="filter-content" v-if="isFilterShow" ref="filterContent">
      <div class="sort-element"
           :class="{'sort-element_active': activeElement.val === el.val}"
           v-for="(el, i) in filterTypes"
           :key="i"
           @click="clickFilter(el)"
      >
        <span class="sort-element-name">{{el.name}}</span>
        <img :src="el.icon" />
      </div>
      <div class="sort-element sort-element-text">
            <div class="form-control"
                 v-if="typeof type === 'string' && type === 'string'">
              <input
                type="text"
                class="no-transform"
                ref="searchInput"
                id="search"
                placeholder="Значение"
                v-model="val"
              />
              <i class="search-clear" @click="val = ''" v-if="val">
                <img src="/static/i/cross.svg"/>
              </i>
            </div>
            <div class="form-control"
                 v-if="checkType(type) === 'object' && type.type === 'select'"
            >
              <v-select
                ref="searchInput"
                id="request-input-client-region-id"
                label="name"
                v-model="val"
                :options="optionsByGetters"
              ></v-select>
            </div>
            <div class="form-control checkbox"
                 v-if="checkType(type) === 'object' && type.type === 'boolean'">
              <checkbox
                v-model="val"
              />
            </div>
      </div>
    </div>
  </div>
</template>

<script>
import debounce from 'debounce';
import Checkbox from '@/components/Global/CheckboxToggle';
import checkType from '../../../utils/TypeOf';

export default {
  data() {
    return {
      isFilterShow: false,
      activeElement: {},
      val: '',
      icons: {
        down: '/static/i/down-arrow.svg',
        up: '/static/i/up-arrow.svg',
      },
    };
  },
  components: {
    Checkbox,
  },
  computed: {
    optionsByGetters() {
      if (checkType(this.type) === 'object') {
        return this.$store.getters[this.type.getter];
      }
      return [];
    },
    dropDown() {
      if (this.activeElement.icon) {
        return this.activeElement.icon;
      }
      if (this.isFilterShow) {
        return this.icons.up;
      }
      return this.icons.down;
    },
  },
  props: {
    type: '',
    filterProp: '',
    filterTypes: {
      type: Array,
      default() {
        return [
          {
            name: 'По возрастанию',
            icon: '/static/i/sort-up.svg',
            val: 'ASC',
          },
          {
            name: 'По убыванию',
            icon: '/static/i/sort-down.svg',
            val: 'DESC',
          },
        ];
      },
    },
  },
  watch: {
    isFilterShow(val) {
      if (val) {
        this.$nextTick(() => {
          if (this.$refs.searchInput && this.$refs.searchInput.focus) {
            this.$refs.searchInput.focus();
          }
          document.documentElement.addEventListener('click', this.clickCallback);
        });
      } else {
        document.documentElement.removeEventListener('click', this.clickCallback);
      }
    },
    val: debounce(
      function val(v) {
        this.$emit('filter', {
          [this.type.operator || 'like']: this.getValue(v),
        });
      }, 500,
    ),
  },
  methods: {
    checkType,
    getValue(v) {
      if (checkType(this.type) === 'object' && this.type.valueProp) {
        return v[this.type.valueProp];
      }
      return v;
    },
    filterToggle() {
      this.isFilterShow = !this.isFilterShow;
    },
    clickFilter(el) {
      this.$emit('filter', { sort: this.activeElement.val === el.val ? false : el.val });
      this.activeElement = this.activeElement.val === el.val ? false : el;
    },
    clickCallback(el) {
      if (!this.$refs.filterContent.contains(el.target)) this.isFilterShow = false;
    },
  },
};
</script>
<style lang="scss" scoped>
  .checkbox {
    border: 0;
  }
  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -ms-user-select: none;
    user-select: none;
    .filter-dropdown {
      cursor: pointer;
      display: flex;
      width: 13px;
      height: 100%;
      position: absolute;
      right: 15px;
    }
    .filter-content {
      position: absolute;
      border: 1px solid #E6EAEE;
      z-index: 10;
      top: calc(100% + 3px);
      min-width: 100%;
      background-color: white;
      box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.14);
      .sort-element{
        padding: 10px 15px;
        white-space: nowrap;
        display: flex;
        cursor: pointer;
        opacity: 1;
        transition: .3s;
        justify-content: space-between;
        align-items: center;
        &.sort-element-text {
          padding: 10px 10px;
        }
        .sort-element-name {
          font-weight: 100;
          font-size: 14px;
          display: inline-block;
          margin-right: 20px;
        }
        img {
          margin-left: 5px;
        }
        &:not(:first-of-type) {
          border-top: 1px solid #E6EAEE;
        }
        &:hover {
          opacity: 0.8;
        }
        &_active {
          background-color: rgba(39, 39, 39, 0.058823529411764705);
        }
        .form-control {
          position: relative;
          .search-clear {
            position: absolute;
            top: -5px;
            bottom: 0;
            margin: auto;
            display: inline-block;
            width: 10px;
            height: 13px;
            transition: .3s;
            right: 8px;
            opacity: .6;
            img {
              max-width: 100%;
              margin: 0;
            }
            &:hover {
              opacity: .8;
            }
          }
        }
      }
    }
  }
</style>
