@import '../../../assets/scss/functions';
@import '../../../assets/scss/variables';

.list-component {
  table {
    @include media-breakpoint-only(xs) {
      &.table-adaptive-{
        display: block;
        &block {
          thead th {
            display: none;
          }
          tbody {
            display: block;
            tr {
              display: block;
              border: 1px solid rgba(0, 0, 0, 0.24);
              border-radius: 4px;
              padding: 0 15px;
              margin-bottom: 30px;
              td {
                display: flex;
                padding: 7px 0;
                border: 0;
              }
              &:nth-child(2n) {
                background-color: #fafbfc;
              }
            }
          }
        }
        &graph {
          thead th {
            display: none;
          }
          tbody {
            display: block;
            tr {
              display: block;
              border: 1px solid rgba(0, 0, 0, 0.24);
              border-radius: 4px;
              margin-bottom: 30px;
              td {
                display: flex;
                border: 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                > :first-child {
                  flex: 2;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: pre;
                }
                > :last-child {
                  flex: 1;
                  white-space: pre;
                }
              }
              &:nth-child(2n) {
                background-color: #fafbfc;
              }
            }
          }
        }
      }
    }
  }
}
