<template>
  <div class="list-component">
    <h1>{{title}}</h1>
    <slot name="beforeListSlot"></slot>
    <div class="list-wrapper">
      <table :class="[tableClass, `table-adaptive-${this.adaptive}`]"
             v-if="listComputed[listProperty] || $slots.insertTable"
      >
        <template v-if="!$slots.insertTable">
        <thead>
          <tr>
            <th v-for="(th, index) in listModel" v-if="th.vIf === undefined || th.vIf" :key="index">
                {{th.name}}
              <!--
              **
              * В элементе модели в фильтр передается значение по типу фильтра
              * в дальнейшем будет реализована фильтрация для типов (string, boolean, int)
              **
              -->
                <filter-cmp
                  v-if="th.filter"
                  ref="filterCmp"
                  :type="th.filter"
                  :filterProp="th.key"
                  @filter="prepareFilterProps(...arguments, th.key)"
                />
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(tr, index) in listComputed[listProperty]"
              :key="`renderListTr-${index}`">
              <Cell v-for="(td, indexCell) in listModel"
                    :modelData="td"
                    v-if="td.vIf === undefined || td.vIf"
                    :listData="tr"
                    :indexCell="index"
                    :key="cellKey(tr, td, indexCell)">
                <slot v-if="showSlot(td, tr, ...arguments)"/>
              </Cell>
            </tr>
          </tbody>
        </template>
        <slot v-else name="insertTable"></slot>
      </table>
    </div>
    <slot name="afterListSlot"></slot>
  </div>
</template>

<script>
import Cell from './Cell';
import TypeOf from '../../../utils/TypeOf';
import To from '../../../utils/To';
import FilterCmp from './Filter';

export default {
  data() {
    return {
      filterProps: {},
    };
  },
  name: 'ListComponent',
  props: {
    title: '',
    adaptive: '', // block, scroll, graph - класс для адаптивного отображения таблицы
    listModel: { // тут описаны все поля которые есть для их отображения
      type: Array,
      default: () => [],
    },
    action: {
      name: '',
      params: {},
    },
    disableFilter: {
      type: Boolean,
      default() {
        return false;
      },
    },
    getters: {
      type: Array,
      default() {
        return [];
      },
    },
    listProperty: '',
    tableClass: {
      default: 'table',
    },
  },
  components: {
    Cell,
    FilterCmp,
  },
  computed: {
    listComputed() {
      const properties = {}; // eslint-disable-next-line
      this.getters.forEach(el => (properties[el] = this.$store.getters[el]));
      return properties;
    },
    params() {
      if (this.action) {
        return this.action.params;
      }
      return false;
    },
  },
  watch: {
    params(val, oldVal) {
      if (!Object.is(val, oldVal)) {
        this.loadList();
      }
    },
  },
  methods: {
    showSlot() {
    },
    prepareSortParams(sort, key) {
      Object.keys(this.filterProps).forEach((el) => {
        if ((el !== key && this.filterProps[el].sort) || (el === key && sort === false)) {
          delete this.filterProps[el].sort;
        }
      });
      this.$refs.filterCmp.forEach((e) => {
        if (e.filterProp !== key) {
          e.activeElement = {};
        }
      });
    },
    prepareFilters(props) {
      const preparedParams = { sort: {}, filters: {}, eq: {} };
      Object.keys(props).forEach((el) => {
        if (props[el].like || props[el].eq !== undefined) preparedParams.filters[`${props[el].like ? '?' : ''}${To.snake(el)}`] = this.filterProps[el].like || this.filterProps[el].eq;
        if (props[el].sort) preparedParams.sort = { [el]: props[el].sort };
      });
      return preparedParams;
    },
    prepareFilterProps(options, key) {
      const [sort, like] = [options.sort, options.like, options.eq];
      const filterParamName = Object.keys(options).find(el => el !== undefined);
      const filterParamVal = Object.values(options).find(el => el !== undefined);
      if (sort !== undefined) this.prepareSortParams(options.sort, key);
      if (!this.filterProps[key]) {
        // eslint-disable-next-line
        [this.filterProps[key], this.filterProps[key][filterParamName]] = [{}, filterParamVal];
      } else if (sort !== false && like !== false) {
        this.filterProps[key][filterParamName] = filterParamVal;
      } else {
        delete this.filterProps[key][filterParamName];
      }

      this.$emit('filter', this.filterProps);
      this.loadList();
    },
    cellKey(row, model, i) {
      const type = TypeOf(model.key);
      switch (type) {
        case 'string':
        case 'number':
          return `CellKey__${row.id}__${row[model.key]}__${i}`;
        case 'array':
          return `CellKey__${row.id}__${row[model.key[0]]}__${i}`;
        default:
          return `CellKey__${i}`;
      }
    },
    loadList() {
      if (this.action) {
        const actionName = this.action.name;
        const prepared = this.prepareFilters(this.filterProps);
        const actionParams = { ...this.action.params };
        if (Object.keys(prepared.sort).length) actionParams.sort = To.snake(prepared.sort);
        if (Object.keys(prepared.filters).length) actionParams.filters = prepared.filters;
        if (actionName) this.$store.dispatch(actionName, actionParams);
      }
    },
    initialMethod() {
      this.loadList();
    },
  },
  created() {
    this.initialMethod();
  },
};
</script>

<style lang="scss">
@import '../../../assets/scss/functions';
@import '../../../assets/scss/variables';

@include media-breakpoint-only(xs) {
  .table__gray {
    color: rgba(0, 0, 0, 0.87);
  }
}

.list-component{
  table {
    tr {
      th {
          position: relative;
      }
    }
  }
  tr {
    td {
      button {
        margin-bottom: 0;
        padding: 6px 0;
        &.btn-danger {
          background-color: red;
          border-color: red;
          color: white;
        }      }
    }
  }
}
</style>
<style scoped lang="scss">
  @import '../../../assets/scss/functions';
  @import './list.scss';
  @include media-breakpoint-only(xs) {
    .list-component {
      table {
        display: block;
        tr {
          display: block;
        }
      }
    }
  }
</style>
