<template>
  <div>
    <div class="pay-block" :class="{ error:error }">
      <div class="white"></div>
        <img class="logo" src="/static/i/logo.svg" alt="">
        <div class="content">
          <div class="form-holder">
              <div class="row">
                <div class="col-12">
                     Успешно оплачено.
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: 'Success',
};
</script>

<style lang="scss" rel="stylesheet/scss" src="../style.scss" scope></style>
