<template>
  <div class="row card-approve-row">
    <div class="col-md-12">
      <b class="title">Подтверждение банковской карты</b>
    </div>
    <div class="col-md-12">
      <div class="row align-items-center">
        <div class="col-sm-12 small-description">
          <span :style="{color: cardApprovedName.textColor}">
            {{cardApprovedName.text}}
          </span>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="form-control">
            <input
              type="text"
              id="request-card-approve"
              v-model="cardApprovedName.input"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="approve-btn">
            <button class="primary-button button"
                    @click.prevent="approveCard()">
              <clip-loader size="15px"
                           color="#FFFFFF"
                           v-if="approveCardLoading"
              />
              <template v-else>
                {{cardApprovedName.btn}}
              </template>
            </button>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4 col-md-12">
          <span :style="{color: cardApprovedName.textColor}">
            {{cardApprovedName.text}}
          </span>
        </div>
        <Popup v-if="showModal" @close="showModal = false" class="card-approved-modal">
          <div class="modal-text">
            <h4>Вы собираетесь подтвердить карту заново.<br/> Продолжить?</h4>
            <div class="row">
              <div class="col">
                <button class="button" @click.prevent="showModal = false">Отмена</button>
              </div>
              <div class="col">
                <button class="primary-button button"
                        @click.prevent="sendApprove()">
                  Продолжить
                </button>
              </div>
            </div>
          </div>
        </Popup>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Popup from '@/components/Popup';
import consts from '../../../consts';

export default {
  data() {
    return {
      approveCardLoading: null,
      showModal: false,
      modalText: '',
    };
  },
  components: {
    Popup,
  },
  props: ['description', 'redirect'],
  computed: {
    ...mapGetters(['approvedCardState']),
    cardApprovedName() {
      const status = this.approvedCardState.event;
      const label = {
        btn: '',
        text: '',
      };
      const inputMask = 'XXXX XXXX XXXX XXXX';
      switch (status) {
        case null:
          label.btn = 'Проверить карту';
          label.textColor = 'inherit';
          label.text = this.description;
          label.input = inputMask;
          break;
        case consts.cardApprovedStatusUrlSend:
          label.btn = 'Карта подтверждается';
          label.text = 'СМС отправлено клиенту';
          label.input = inputMask;
          label.textColor = 'inherit';
          break;
        case consts.cardApprovedStatusSuccess:
          label.btn = 'Заново подтвердить карту';
          label.input = this.approvedCardState.card_number.replace(/\W/gi, '').replace(/(.{4})/g, '$1 ');
          label.text = 'Карта подтверждена';
          label.textColor = '#5cc74c';
          break;
        case consts.cardApprovedStatusReject:
          label.btn = 'Повторить';
          label.text = 'Ошибка проверки карты';
          label.input = inputMask;
          label.textColor = 'red';
          break;
        default:
          label.btn = 'Проверить карту';
          label.textColor = 'inherit';
          label.text = '';
      }
      return label;
    },
  },
  methods: {
    async approveCard() {
      if (!this.approveCardLoading) {
        if (this.approvedCardState.event === consts.cardApprovedStatusSuccess ||
          this.approvedCardState.event === consts.cardApprovedStatusUrlSend) {
          this.showModal = true;
          this.modalText = '';
          return;
        }
        this.sendApprove();
      }
    },
    async sendApprove() {
      this.showModal = false;
      this.modalText = '';
      this.approveCardLoading = true;
      try {
        const req = {
          code: this.$route.params.code,
        };
        const { data } = await this.$api.approveCard(req);
        if (data.url) {
          this.$store.commit('UPDATE_APPROVED_STATUS', { event: consts.cardApprovedStatusUrlSend });
          if (this.redirect) {
            window.location = `${data.url}`;
          }
        }
      } catch (e) {
        console.error(e);
      } finally {
        this.approveCardLoading = false;
      }
    },
  },
  async mounted() {
    this.approveCardLoading = true;
    await this.$store.dispatch('checkCardStatus', this.$route.params.code);
    this.approveCardLoading = false;
  },
};
</script>
<style scoped lang="scss">
  @import "../../../assets/scss/functions";
  @import "../../../assets/scss/wrapper";
  .card-approve-row{
    .title {
      display: block;
      opacity: 0.8;
      margin-bottom: 5px;
    }
    .form-control{
      input {
        text-align: center;
        padding: 9px 0;
      }
    }
    button {
      margin-bottom: 0;
      padding: 7px 0;
    }
    .small-description {
      display: none;
    }
    .modal-text{
      text-align: center;
    }
    .card-status {
      margin-top: 10px;
    }
    .large-description {
      font-size: 14px;
      line-height: 1.5;
    }
    @include media-breakpoint-down(lg) {
      button {
        margin: 5px 0;
        padding: 7px 0;
      }
    }
  }
</style>
<style lang="scss">
  .card-approved-modal {
    .mx.content {
      max-width: 500px;
    }
  }
</style>
