<template>
  <div>
    <div v-if="this.$route.params.code && show && docs.length > 0" class="doc-wrap">
      <doc-view :doc="docs[docId]" @close="close"></doc-view>
    </div>
    <div v-else class="login-block">
      <div class="white"></div>
      <img class="logo" src="/static/i/logo.svg" alt="">
      <div class="content">
        <ul v-if="docs.length > 0">
          <li v-for="doc in docs" :key="doc.code">
            <router-link :to="`/documents/${doc.code}`" tag="a" @click.native="show = true">
              {{doc.label}}
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import DocView from '../DocView';

export default {
  name: 'RegistrationDocs',
  data() {
    return {
      list: [
        'soglashenie_o_elektronnom_vzaimodejstvii',
        'soglasie_na_obrabotku_personalnyh_dannyh',
        'soglasie_na_vzaimodejstvie_s_dolzhnikom',
        'soglashenie_o_chastote_vzaimodejstviya',
      ],
      show: true,
    };
  },
  components: {
    DocView,
  },
  computed: {
    ...mapGetters('main', ['docs']),
    docId() {
      return this.docs.findIndex(item => item.code === this.$route.params.code);
    },
  },
  methods: {
    close() {
      this.show = false;
      this.$router.push({ path: '/documents' });
    },
  },
  mounted() {
    this.$store.dispatch('main/docs', this.list);
    this.show = true;
  },
};

</script>

<style lang="scss" rel="stylesheet/scss">
html, body {
  background: #273142 !important;
}

#app {
  padding: 0 10px !important;
}
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.form-holder {
  margin-left: 0;
}

.login-block {
  position: relative;
  background: $bg;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
  top: 70px;
  border-radius: $input-radius;
  position: relative;
  color: #505e77;
  font-size: 13px;
  padding: 80px 30px 10px 30px;
  .logo {
    position: absolute;
    top: -83px;
    left: 50%;
    margin-left: -56px;
    width: 106px;
    height: 115px;
  }
  .white {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    background: $bg;
    -ms-transform: rotate(45deg); /* IE9 */
    -moz-transform: rotate(45deg); /* FF3.5/3.6 */
    -o-transform: rotate(45deg); /* Opera 10.5 */
    -webkit-transform: rotate(45deg); /* Saf3.1+ */
    transform: rotate(45deg); /* Newer browsers */
  }
  .light {
    color: #7383a1;
    margin-top: 5px;
  }
  .form-checkbox {
    position: relative;
    padding-bottom: 10px;
    div {
      &:nth-child(1) {
        position: absolute;
        top: 2px;
        left: 0;
      }
      display: inline-block;
      &:nth-child(2) {
        color: #354052;
        font-weight: 600;
        margin-left: 20px;
      }
    }
  }
  a {
    color: #4a90e2;
    text-decoration: underline;
  }
}

li {
  color: #ffcc00;
}

li a {
  color: #4f5e76;
  font-size: 13px;
}
.doc-wrap {
  background: #fff;
  padding: 30px;
}
</style>
