<template>
  <div>
    <div class="wrapper"></div>
    <div class="holder">
      <div class="login-block">
        <div class="white"></div>
        <img class="logo" src="/static/i/logo.svg" alt="">
        <div class="content">
          <component
            v-for="(cmp, index) in steps"
            :key="index"
            :is="cmp.cmp"
            v-if="(index+1) === step"
            />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';

import First from './Steps/First';
import Second from './Steps/Second';
import Third from './Steps/Third';
import Fourth from './Steps/Fourth';

export default {
  data() {
    return {
      steps: [
        {
          cmp: First,
        },
        {
          cmp: Second,
        },
        {
          cmp: Third,
        },
        {
          cmp: Fourth,
        },
      ],
    };
  },
  computed: {
    ...mapGetters('main', ['step', 'isLead']),
  },
  components: {
    First,
    Second,
    Third,
    Fourth,
  },
  methods: {
    ...mapMutations('main', ['CLEAN_STATE']),
    ...mapActions('main', ['getLead']),
  },
  async mounted() {
    // clean if code rotten or empty
    // if (this.$route.params.code !== this.code) {
    //   console.log('code', this.$route.params.code);
    //   this.CLEAN_STATE();
    // }
    if ((this.step === 1 || this.step === 4 || this.step === '') && this.$route.params.code) {
      await this.getLead(this.$route.params.code);
      if (!this.isLead) {
        this.$router.push({ path: '/' });
      }
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: $dark-text;
}

.holder {
  padding: 70px 10px 20px 10px;
}

.login-block {
  background: $bg;
  max-width: 450px;
  margin: 0 auto;
  border-radius: $input-radius;
  position: relative;
  color: #505e77;
  font-size: 13px;
  padding: 80px 30px 10px 30px;
  .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
  .white {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    background: $bg;
    transform: rotate(45deg); /* Newer browsers */
  }
  .light {
    color: #7383a1;
    margin-top: 5px;
  }
  .form-checkbox {
    position: relative;
    padding-bottom: 10px;
    div {
      &.checkbox-holder {
        position: absolute;
        top: 1px;
        left: 0;
      }
      display: inline-block;
      &:nth-child(2) {
        color: #354052;
        font-weight: 600;
        margin-left: 25px;
      }
    }
  }
  a {
    color: #4a90e2;
    text-decoration: underline;
  }
}

.padd {
  margin-bottom: 20px;
}

.buttons {
  margin-bottom: 0px;
}

.resend {
  padding-top: 4px;
  cursor: pointer;
}

.reset {
  p {
    width: 55px;
    text-align: center;
    background: $gray;
    display: inline-block;
    padding: 3px 10px;
  }
}

.disable-sms {
  p {
    color: red;
  }

}

</style>
