<template>
  <div class="contener">
    <div v-html="txt"></div>
  </div>
</template>

<script>
export default {
  name: 'About',
  data() {
    return {
      txt: '',
    };
  },
  mounted() {
    this.$api.getAbout()
      .then((response) => {
        this.txt = response.text;
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style>
.contener {
  margin-left: 80px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

</style>
