<template>
  <div class="col-12 col-lg-4 col-xl-4"
       v-if="parseInt($store.state.user.isAccreditated, 10)
                            && $store.state.request.accreditationNum"
  >
    <div class="code">
      <p>Код для фотографирования</p>
      <div>{{$store.state.request.accreditationNum}}</div>
      <p>
        <button
          @click="printAccred()"
          class="button primary-button"
          type="button"
        >
          Распечатать
        </button>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Accreditation',
  methods: {
    printAccred() {
      window.location = `/doc/accreditation/${this.$route.params.code}`;
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/scss/functions.scss';
  .code {
    padding-bottom: 15px;
    margin-top: 40px;
    p {
      &:first-child {
        font-size: 17px;
      }
    }
    div {
      font-size: 22px;
      background: #FAFBFC;
      border: 1px solid #E7E9ED;
      letter-spacing: 3px;
      border-radius: $border-radius;
      padding: 10px 5px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
</style>
