<template>
    <div class="content-holder">
      <div>
        <RequestHeader name="Заполните поля" num="1"/>
          <form @submit.prevent="submit()">
            <div class="form-holder">
                  <div class="row">
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Сумма займа</label>
                              <input-wrap :error="validation.summ" :rouble="true">
                                  <cleave
                                    type="text"
                                    id="request-input-summ"
                                    v-model="summ"
                                    @blur="validate('summ')"
                                    ref="summ"
                                    :options="{
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand',
                                        numeralPositiveOnly: true,
                                        numeralDecimalScale: 0,
                                        delimiter: ' ',
                                      }"/>
                              </input-wrap>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                            <div class="months-mobile d-block d-lg-none d-xl-none">
                              <a href="#" @click.prevent="addToDatepicker(24)">24 месяца</a>
                              <a href="#" @click.prevent="addToDatepicker(36)">36 месяцев</a>
                              <a href="#" @click.prevent="addToDatepicker(60)">60 месяцев</a>
                            </div>
                              <label>Срок займа</label>
                              <input-wrap :error="validation.dateReturn">
                                <datepicker
                                    id="request-input-date-return"
                                    v-model="dateReturn"
                                    class="date"
                                    language="ru"
                                    format="dd.MM.yyyy"
                                    :monday-first="true"
                                    :disabled="disabledDates"
                                    @blur="validate('dateReturn')"
                                ></datepicker>
                              </input-wrap>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4
                       months d-none d-xl-block d-lg-block">
                          <div>
                              <a href="#" @click.prevent="addToDatepicker(24)">24 мес.</a>
                              <a href="#" @click.prevent="addToDatepicker(36)">36 мес.</a>
                              <a href="#" @click.prevent="addToDatepicker(60)">60 мес.</a>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Марка автомобиля</label>
                              <input-wrap :error="validation.autoBrandId" >
                                  <v-select
                                      id="request-input-auto-brand-id"
                                      v-model="autoBrandId"
                                      label="name"
                                      :options="this.autoBrands"
                                      class="select-dropdown">
                                      <template slot="no-options">
                                        Нет совпадений
                                      </template>
                                  </v-select>
                              </input-wrap>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Модель автомобиля</label>
                              <input-wrap :error="validation.autoModelId" >
                                <v-select
                                    id="request-input-auto-model-id"
                                    v-model="autoModelId"
                                    label="name"
                                    :options="autoModels">
                                    <template slot="no-options">
                                      Нет совпадений
                                    </template>
                                </v-select>
                              </input-wrap>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Год автомобиля</label>
                                <input-wrap :error="validation.autoYear">
                                    <v-select
                                        id="request-input-auto-year"
                                        v-model="autoYear"
                                        label="name"
                                        :options="autoYears">
                                        <template slot="no-options">
                                          Нет совпадений
                                        </template>
                                    </v-select>
                                </input-wrap>
                          </div>
                      </div>
                      <div class="input-block col-12 col-lg-8">
                              <label>Докредитование</label>
                            <input-wrap :error="validation.addCredit">
                              <v-select
                                  id="request-input-add-credit"
                                  v-model="addCredit"
                                  :options="addCredits">
                                  <template slot="no-options">
                                      Нет совпадений
                                  </template>
                              </v-select>
                          </input-wrap>
                      </div>
                </div>

              <div class="summary row">
                  <beat-loader
                    :loading="loadPayment"
                    color="#687796"
                    size="10px"
                    margin="0 20px"
                    class="load-payment" />
                  <div class="col-md-3 summary__item">
                      <span class="summary__label">Вы берете</span>
                      <strong class="summary__value">
                          {{summValue}} <span class="rub">q</span>
                      </strong>
                  </div>
                  <div class="col-md-6 summary__item">
                      <span class="summary__label">До, включительно</span>
                      <strong class="summary__value">{{dateReturnValue}}</strong>
                  </div>
                  <div class="col-md-3 summary__item">
                      <span class="summary__label">Возвращаете</span>
                      <strong class="summary__value">{{returnValue}}
                        <span class="rub">q</span>
                      </strong>
                  </div>
              </div>
              <div class="row buttons">
                  <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                      <button
                          class="button secondary-button"
                          :class="{'disabled': scheduleEarly.length < 1
                            && scheduleFull.length < 1 }"
                          to="/graph"
                          type="button"
                          @click="updateStore()"
                      >
                          График платежей
                      </button>
                  </div>
                  <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                      <button
                          class="button primary-button"
                          @click.prevent="submit()"
                          type="submit"
                      >
                          Далее
                      </button>
                  </div>
                </div>
              <div class="row error" v-if="error">
                <div class="col-12">
                  {{error}}
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
</template>

<script>
import debounce from 'debounce';
import { mapGetters } from 'vuex';
import moment from 'moment';
import BeatLoader from 'vue-spinner/src/BeatLoader';
import RequestHeader from '../RequestHeader';
import PayGraph from '../PayGraph';
import InputWrap from '../InputWrap';
import params from '../../params';
import ProductsFilter from '../../utils/Products';


const productsFilter = new ProductsFilter();


export default {
  name: 'Calculator',
  components: {
    BeatLoader,
    RequestHeader,
    PayGraph,
    InputWrap,
  },
  data() {
    return {
      /* дата для ЛКП */
      dateReturn: '',
      disabledDates: {
        to: new Date(),
        from: (() => {
          const d = new Date();
          d.setMonth(d.getMonth() + 4);
          d.setYear(d.getFullYear() + 3);
          return d;
        })(),
      },
      /* сумма займа */
      summPure: '',
      cp: '',
      error: '',
      summMin: -1,
      summMax: -1,
      /* остальные поля калькулятора */
      autoBrandId: '',
      autoBrands: [],
      autoModelId: '',
      autoModels: [],
      autoYear: '',
      autoYears: params.autoYears,
      /* докредитование */
      addCredit: {
        id: 0,
        label: 'Нет',
      },
      addCredits: params.addCredits,
      /* показ графика платежей */
      showGraph: false,
      loadPayment: false,
      toSend: false, // wtf?
      /* объект валидации */
      validation: {
        summ: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else if (parseInt(vue[e], 10) < vue.summMin || parseInt(vue[e], 10) > vue.summMax) {
              this.invalid = true;
              this.message = `Сумма должна быть от ${vue.summMin} до ${vue.summMax}`;
            } else if (parseInt(vue[e], 10) % 1000 > 0) {
              this.invalid = true;
              this.message = 'Сумма должна быть кратна 1000';
            } else if (typeof vue.summ !== 'string' && vue.summ.length > 0
                && typeof vue.dateReturn !== 'string' && vue.dateReturn.length > 0
                && vue.$store.state.request.creditProductId.length < 1) {
              this.invalid = true;
              this.message = 'Нет подходящего продукта';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        addCredit: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (Object.prototype.toString.call(vue[e]) !== '[object Object]') {
              this.message = 'Необходимо указать тип докредитования';
              this.invalid = true;
            } else {
              this.message = '';
              this.invalid = false;
            }
          },
        },
        dateReturn: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }

            const dateStart = vue.disabledDates.to;
            const dateEnd = vue.disabledDates.from;
            if (vue.dateReturn.valueOf() < dateStart.valueOf()
              || vue.dateReturn.valueOf() > dateEnd.valueOf()) {
              // eslint-disable-next-line
              vue.validation.dateReturn.invalid = true;
              // eslint-disable-next-line
              vue.validation.dateReturn.message = 'Некорректная дата';
            }
          },
        },
        autoBrandId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoModelId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoYear: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
      returnSumm: '',
      scheduleFull: [],
      scheduleEarly: [],
      totalAmountFull: '',
      totalAmountEarly: '',
    };
  },
  watch: {
    summ: debounce(
      function summ(e) {
        this.summ = e;
        this.validation.summ.invalid = false;
        this.$store.commit('CLEAN_REQUEST');
        // поставим ограничения для календаря
        if (typeof this.dateReturn === 'object') {
          this.validation.dateReturn.func(this, this.dateReturn);
        }

        this.calculate();
      },
      500,
    ),
    addCredit() {
      this.validation.addCredit.func(this, 'addCredit');
    },
    dateReturn(e) {
      this.validation.dateReturn.invalid = false;
      this.dateReturn = e;
      this.calculate();
    },
    returnSumm(e) {
      this.returnSumm = e.toString().replace(' ', '');
    },
    autoBrandId(e) {
      this.validate('autoBrandId');
      this.autoBrandId = e;
      if (e && e.id) {
        this.$api.infoAutoModels(e.id)
          .then((data) => {
            this.autoModels = data;
            this.autoModelId = '';
            if (Object.keys(this.calculator).length > 0) {
              this.autoModelId = this.calculator.autoModelId;
            }
          });
      }
    },
    autoModelId(e) {
      this.validate('autoModelId');
      this.autoModelId = e;
    },
    autoYear(e) {
      this.validate('autoYear');
      this.autoYear = e;
    },
  },
  computed: {
    ...mapGetters([
      'calculator',
    ]),
    summValue() {
      if (this.summ && this.dateReturn && this.returnSumm) {
        return this.$moneyFormat(this.summ);
      }
      return '- --- ---';
    },
    dateReturnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.dateReturn.toLocaleString('ru', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        });
      }
      return '-- -- ----';
    },
    returnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.$moneyFormat(this.returnSumm);
      }
      return '- --- ----';
    },
    summ: {
      get() {
        return this.summPure.toString().replace(/\s/g, '');
      },
      set(input) {
        this.summPure = input;
      },
    },
  },
  methods: {
    submit() {
      this.toSend = true;
      // функция валидации в миксине
      if (this.validate() && this.$store.state.request.creditProductId && !this.loadPayment) {
        this.$store.commit('UPDATE_REQUEST', {
          summ: this.summ,
          dateReturn: this.dateReturn,
          autoBrandId: this.autoBrandId,
          autoModelId: this.autoModelId,
          autoYear: this.autoYear.id,
          addCredit: this.addCredit,
        });
        this.$router.push({ path: '/request' });
      }
    },
    updateStore() {
      this.$store.commit('SET_CALCULATOR', {
        summ: this.summ,
        dateReturn: this.dateReturn,
        autoBrandId: this.autoBrandId,
        autoModelId: this.autoModelId,
        autoYear: this.autoYear,
        addCredit: this.addCredit,
      });
      this.$router.push({ path: '/graph' });
    },
    calculate() {
      // получим тут кредитный продукт
      return new Promise(() => {
        if (this.summ
          && this.dateReturn
          && parseInt(this.summ, 10) >= this.summMin
          && parseInt(this.summ, 10) <= this.summMax) {
          this.loadPayment = true;
          const self = this;
          self.error = '';
          self.$api.calculate({
            requestSum: self.summ,
            returnDate: `${(`0${self.dateReturn.getDate()}`).slice(-2)}.${(`0${self.dateReturn.getMonth() + 1}`).slice(-2)}.${self.dateReturn.getFullYear()}`,
          })
            .then((response) => {
              self.$store.commit('SET_GRAPH', response);
              self.returnSumm = response.early.totalAmount || 0;
              self.scheduleFull = response.full.schedule;
              self.scheduleEarly = response.early.schedule;
              self.totalAmountFull = response.full.totalAmount || 0;
              self.totalAmountEarly = response.early.totalAmount || 0;
              productsFilter.setGuid(response.product);
              this.$store.commit('SET_PRODUCT_ID', productsFilter.id);
              this.loadPayment = false;
            })
            .catch((e) => {
              if (e.response && e.response.data) {
                self.error = e.response.data;
              } else if (typeof e === 'string') {
                self.error = e;
              }
              this.loadPayment = false;
            });
        }
      });
    },
    addToDatepicker(monthCount) {
      const d = new Date();
      d.setMonth(d.getMonth() + monthCount);
      this.dateReturn = d;
    },
    graphOpen() {
      this.showGraph = true;
      this.$router.push({ path: '/', params: { graph: true } });
    },
  },
  created() {
    this.$store.commit('UPDATE_GRAPH');
    this.addToDatepicker(36);
  },
  mounted() {
    this.$api.infoCp()
      .then((data) => {
        this.cp = this.$to.camel(data);
        this.cp = this.cp.map((item) => {
          // eslint-disable-next-line
          item.loanPeriodMin = '0';
          return item;
        });
        productsFilter.setCp(this.cp);

        // запишем максимальную и минимальную суммы,
        // максимальную и минимальную дату для валидации продукта
        this.summMax = Math.max(...(this.cp.map(i => i.summMax)));
        this.summMin = Math.min(...(this.cp.map(i => i.summMin)));

        const dateTo = Math.max(...(this.cp.map(i => i.loanPeriodMax)));
        const dateFrom = Math.min(...(this.cp.map(i => i.loanPeriodMin)));
        // eslint-disable-next-line
        const dateStart = moment().add(1, 'days')._d;
        const dateEnd = new Date();
        dateStart.setHours(-3, 0);
        dateEnd.setHours(0, 0);

        // начало периода
        if (dateFrom !== undefined) {
          dateStart.setMonth(dateStart.getMonth() + +dateFrom);
          dateStart.setDate(dateStart.getDate());
        }
        // конец периода
        if (dateTo !== undefined) {
          dateEnd.setMonth(dateEnd.getMonth() + +dateTo);
          dateEnd.setDate(dateEnd.getDate() + 1);
        }

        this.disabledDates.to = dateStart;
        this.disabledDates.from = dateEnd;
      });

    this.$api.infoAutoBrands()
      .then((data) => {
        this.autoBrands = data;
      });
    this.$store.commit('CLEAN_REQUEST');
    if (Object.keys(this.calculator).length > 0) {
      this.summ = this.calculator.summ;
      this.$refs.summ.$refs.input.value = this.calculator.summ;
      this.dateReturn = this.calculator.dateReturn;
      this.autoBrandId = this.calculator.autoBrandId;
      this.autoYear = this.calculator.autoYear;
      this.addCredit = this.calculator.addCredit;
      this.autoModelId = this.calculator.autoModelId;
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    @import '../../assets/scss/calculator.scss';
    @import '../../assets/scss/summary.scss';
    .error {
      color: red;
      text-align: center;
      margin-bottom: 20px;
    }
    .load-payment {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      padding-top: 2.5rem;
      background-color: whitesmoke;
      z-index: 10;
    }
</style>
