<template>
  <div class="main">
    <h1>Клиенты</h1>
    <div class="row">
      <AnimatedMenu
        class="animated-menu"
        :menu="getMenu"
        allRoutesClass="col-md-3"
      />
    </div>
    <div class="row align-items-center">
      <div class="col-md-3 calendar-column">
        <div class="calendar-label">С</div>
        <div class="form-control">
          <datepicker
            v-model="dateFrom"
            language="ru"
            format="dd.MM.yyyy"
            :monday-first="true"
          />
        </div>
      </div>
      <div class=" line">
        <p>&mdash;</p>
      </div>
      <div class="col-md-3 calendar-column">
        <div class="calendar-label">По</div>
        <div class="form-control">
          <datepicker
            v-model="dateTo"
            language="ru"
            format="dd.MM.yyyy"
            :monday-first="true"
          />
        </div>
      </div>
      <div class="col-md-5 months">
        <a href="#" @click.prevent="addToDatePicker(1)">Месяц</a>
        <a href="#" @click.prevent="addToDatePicker(3)">Квартал</a>
        <a href="#" @click.prevent="addToDatePicker(12)">Год</a>
      </div>
    </div>
      <router-view
        :key="$route.path + 'clients_wrapper'"
      >

      </router-view>
  </div>
</template>

<script>
import moment from 'moment';
import AnimatedMenu from '../AnimatedMenu';

export default {
  data() {
    return {
      dateFrom: this.$route.params.dateFrom ? moment(this.$route.params.dateFrom, 'DD.MM.YYYY').valueOf() : moment().subtract(1, 'mounths').valueOf(),
      dateTo: this.$route.params.dateTo ? moment(this.$route.params.dateTo, 'DD.MM.YYYY').valueOf() : moment().valueOf(),
      menu: [
        {
          text: 'Заявки в работе',
          type: 'work',
        },
        {
          text: 'Активные договоры',
          type: 'active',
        },
        {
          text: 'Закрытые договоры',
          type: 'closed',
        },
        {
          text: 'Подвисшие заявки',
          type: 'wait',
        },
      ],
    };
  },
  computed: {
    getMenu() {
      const start = moment(this.dateFrom).format('DD.MM.YYYY');
      const end = moment(this.dateTo).format('DD.MM.YYYY');
      return this.menu.map((el) => {
        const element = el;
        element.link = `/listclients/${element.type}/${start}/${end}/${this.$route.params.page}`;
        return element;
      });
    },
  },
  watch: {
    dateFrom() {
      this.$router.push({
        path: this.buildLink(this.$route.params.type),
      });
    },
    dateTo() {
      this.$router.push({
        path: this.buildLink(this.$route.params.type),
      });
    },
  },
  components: {
    AnimatedMenu,
  },
  methods: {
    addToDatePicker(monthCount) { // клик на месяц/квартал/год
      const d = new Date(this.dateTo);
      d.setMonth(d.getMonth() - monthCount);
      this.dateFrom = d;
    },
    buildLink(type = 'work', page = 1) {
      return `/listclients/${type}/` +
        `${moment(this.dateFrom).format('DD.MM.YYYY')}/` +
        `${moment(this.dateTo).format('DD.MM.YYYY')}/${page}`;
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
  @import 'src/assets/scss/functions.scss';

  .main {
    h1 {
      padding-top: 20px;
    }
    .animated-menu {
      margin-top: 20px;
      margin-bottom: 25px;
    }
    .calendar-column {
      .calendar-label {
        color: #7F8FA4;
        margin-bottom: 2px;
      }
    }
    .months, .months-mobile {
      position: relative;
      margin-top: 20px;
      a {
        display: inline-block;
        margin-right: 10px;
        font-size: 13px;
        border-bottom: 1px dotted #4a90e2;
        color: #4a90e2;
      }
      a:hover {
        border-bottom: none;
      }
      div {
        position: absolute;
        bottom: 10px;
        left: 20px;
      }
    }
    margin-left: 80px;
    margin-right: 80px;
    @include media-breakpoint-down(xs) {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .line {
    position: relative;
    top: 15px;
  }

  @media (max-width: 921px) {
    .line {
      display: none;
    }
    .calendar-column{
      width: 50%;
    }
    .animated-menu {
      padding: 0 30px;
    }
    .months {
      margin-top: 30px;
    }

  }

  @include media-breakpoint-down(xs) {
    .hideTableCellXS {
      display: none;
    }
  }

</style>
