<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <clip-loader color="#FFCC00" v-show="waiting"></clip-loader>
        <list-component tableClass="table clients-table"
                        adaptive="block"
                        v-if="!errorMessage && requests.length">
          <template slot="insertTable">
          <thead>
          <tr>
            <th scope="col">Дата</th>
            <th scope="col">Заявка</th>
            <th scope="col" v-if="admin">Точка</th>
            <th scope="col">Заём</th>
            <th scope="col">Статус</th>
            <th scope="col" v-if="showCommissionCol">Комиссия</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="request in requests" :key="request.id">
            <td scope="col">
              {{request.date | formatDate}}
            </td>
            <td scope="col"
                class="client-name"
                :title="request.reqnum + request.fullname">
                <router-link
                  :to="`/request/${request.code}#start`"
                  v-if="!admin"
                  class="request-link">
                  {{request.reqnum}}
                </router-link>
                <span v-else>{{request.reqnum}}</span>
                {{request.fullname}}
            </td>
            <td scope="col"
                v-if="admin"
            >
              <div class="d-sm-none d-xs-block">Точка: </div>
              <div v-html="formatRequestPoint(request.point_name)"></div>
            </td>
            <td scope="col" class="money">
              <div class="d-sm-none d-xs-block">Заём: </div>
              <div>
                {{request.summoney}} ₽
              </div>
            </td>
            <td scope="col">
              <div class="d-sm-none d-xs-block">Статус: </div>
              <div v-bind:style="{ color: '#'+request.statusescolor}">
                {{request.statusesname}}
              </div>
            </td>
            <td scope="col" v-if="showCommissionCol">
              <div class="d-sm-none d-xs-block">Комиссия: </div>
              <div v-if="parseInt(request.is_null, 10)">
                <tooltip
                  description="Сумма комиссии будет рассчитана и выплачена после 17 числа месяца,
                следующего за отчетным"
                  class="tooltip-client">
                  <i class="cm-icon cm-icon_info-blue"></i>
                </tooltip>
              </div>
              <div v-if="!parseInt(request.is_null, 10)">
                <span v-if="parseInt(request.commission_cash_withdrawal, 10)">
                  {{parseInt(request.commission_cash_withdrawal, 10)}} руб.
                </span>
              </div>
            </td>
          </tr>
          </tbody>
          </template>
        </list-component>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <Pagination
          :pageCount="pageCount"
          :paginationPattern="getPaginationPattern"
          v-model="pagin"
          paginationRouteParam="page"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div v-if="errorMessage">
          <p>{{this.errorMessage}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import moment from 'moment';
import Tooltip from '@/components/Tooltip';
import ListComponent from '@/components/Global/ListComponent/ListComponent';
import AnimatedMenu from '../../components/AnimatedMenu';
import Pagination from '../Global/Pagination';

export default {
  name: 'Clients',
  data() {
    return {
      dateFrom: this.$route.params.dateFrom ? moment(this.$route.params.dateFrom, 'DD.MM.YYYY')
        .valueOf() : new Date((new Date()
      ).setMonth((new Date()
      ).getMonth() - 1)),
      dateTo: this.$route.params.dateTo ? moment(this.$route.params.dateTo, 'DD.MM.YYYY').valueOf() : new Date(),
      waiting: false,
      pageCount: null,
      admin: this.$route.meta.admin || false,
      pagin: +this.$route.params.page || 1, // текущая страница
      errorMessage: '',
      requests: [],
    };
  },
  components: {
    ClipLoader,
    ListComponent,
    Tooltip,
    AnimatedMenu,
    Pagination,
  },
  computed: {
    showCommissionCol() {
      return this.admin && (this.$route.params.type === 'active' || this.$route.params.type === 'closed');
    },
    getMenu() {
      const start = moment(this.dateFrom).format('DD.MM.YYYY');
      const end = moment(this.dateTo).format('DD.MM.YYYY');
      return this.menu.map((el) => {
        const element = el;
        element.link = `/listclients/${element.link}/${start}/${end}/1`;
        return element;
      });
    },
    getPaginationPattern() {
      const type = this.$route.params.type;
      return `/listclients/${type}/` +
          `${moment(this.dateFrom).format('DD.MM.YYYY')}/` +
          `${moment(this.dateTo).format('DD.MM.YYYY')}/pagination`;
    },
    statuses() { // получаем статусы из vuex
      return this.$store.state.statuses;
    },
  },
  watch: {
    pagin() {
      this.$forceUpdate();
    },
    statuses() {
      if (Object.keys(this.$store.state.statuses).length > 0) {
        this.getClients(this.$route.params.type);
      }
    },
  },
  methods: {
    getClients(type) {
      this.errorMessage = '';
      this.waiting = true;
      this.requests = [];
      this.$api[this.admin ? 'clientListAdmin' : 'clientList'](type,
        {
          pagin: this.pagin,
          dateFrom: (moment(this.dateFrom)
          ).format('DD.MM.YYYY'),
          dateTo: (moment(this.dateTo)
          ).format('DD.MM.YYYY'),
        })
        .then((data) => {
          this.waiting = false;
          if (data.requests.length !== 0) {
            this.requests = this.compileRequests(data.requests);
            // cчитаем всего страниц
          } else if (data['total count'] === 0) {
            this.errorMessage = 'По запросу заявки отсутствуют';
          }
          this.pageCount = Math.ceil(data['total count'] / data['count in page']);
        }).catch(() => {
          this.waiting = false;
        });
    },
    addToDatepicker(monthCount) { // клик на месяц/квартал/год
      const d = new Date(this.dateTo);
      d.setMonth(d.getMonth() - monthCount);
      this.dateFrom = d;
    },
    formatRequestPoint(point) {
      return point ? point.replace(/(№ \d*) /, '$1 - ') : '';
    },
    compileRequests(requests) { // формируем для вывода
      return requests.map(request => ({
        ...request,
        date: request.created_at,
        reqnum: `CM-${request.num}`,
        summoney: this.$moneyFormat(request.summ),
        fullname: `- ${this.$to.toUpper(request.client_last_name)}
        ${this.$to.toUpper(request.client_first_name, true)}`,
        statusesname: request.statuses_id ?
          this.$store.state.statuses[request.statuses_id].name : 'В работе',
        statusescolor: request.statuses_id ? this.$store.state.statuses[request.statuses_id].color : '',
      }));
    },
    buildLink(type = 'work', page = 1) {
      return `/listclients/${type}/` +
          `${moment(this.dateFrom).format('DD.MM.YYYY')}/` +
          `${moment(this.dateTo).format('DD.MM.YYYY')}/${page}`;
    },
  },
  mounted() {
    this.$store.commit('CLEAN_REQUEST');
    if (Object.keys(this.$store.state.statuses).length > 0 &&
      !this.$route.meta.spoof) {
      this.getClients(this.$route.params.type);
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">
@import 'src/assets/scss/functions.scss';

.v-spinner {
  margin-top: 15px;
}
.clients-table {
  tr {
    border-bottom: 1px solid #e9e9e9;
  }
  margin-top: 25px;
  td, th {
    padding: 13px 12px 14px;
    p {
      margin-bottom: 0;
    }
  }
  .request-link {
    color: #4a90e2;
  }
}
span.tooltip-client {
  position: relative;
  top: auto;
  right: auto;
}
@include media-breakpoint-up(sm) {
  .money {
    width: 100px;
  }
  .client-name {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include media-breakpoint-down(xs) {
  .hideTableCellXS {
    display: none;
  }
  .table-wrap {
    margin-left: -30px;
    margin-right: -30px;
    overflow-x: auto;
  }
}
</style>
<style lang="scss">
  span.tooltip-client.tooltip {
    .tooltip-popper {
      &:before {
        right: -4px
      }
      &:after {
        right: -4px
      }
    }
  }
</style>
