<template>
    <div>
      <component
        v-for="step in steps"
        :key="step.step"
        :is="step.cmp"
        :text="step.text"
        v-if="$store.state.request.step === step.step"
      />
      <popup v-if="stepFirstAgreeForce">
        <step-agree-first :inModal="true"
                          key="agree-modal"
                          :after-event-callback="onApproveEvent"
        />
      </popup>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import stepPosition from '../../utils/StepPosition';
import StepFullRequest from './StepFullRequest';
import StepAgreeFirst from './StepAgreeFirst';
import StepImagesDocs from './StepImagesDocs';
import StepImagesPhotos from './StepImagesPhotos';
import StepWaitForDecision from './StepWaitForDecision';
import StepFinishAfterApprove from './StepFinishAfterApprove';
import StepSuccess from './StepSuccess';
import StepFail from './../StepFail';
import StepCancel from './../StepCancel';
import StepClosed from './StepClosed';
import StepGiveMoney from './StepGiveMoney';
import Popup from '../Popup';

export default {
  name: 'Edit',
  components: {
    StepFullRequest,
    StepAgreeFirst,
    StepImagesDocs,
    StepImagesPhotos,
    StepWaitForDecision,
    StepFinishAfterApprove,
    StepSuccess,
    Popup,
    StepFail,
    StepCancel,
    StepClosed,
    StepGiveMoney,
  },
  computed: {
    ...mapGetters(['request']),
    stepFirstAgreeForce() {
      return this.request && this.request.reFirstPack;
    },
    requestCode() {
      return this.$route.params.code;
    },
  },
  methods: {
    onApproveEvent() {
      this.$store.commit('UPDATE_REQUEST', {
        reFirstPack: false,
      });
    },
  },
  mounted() {
    if (this.$route.params.code !== this.$store.state.request.code) {
      this.$store.dispatch('getRequest', { code: this.$route.params.code });
    }
  },
  watch: {
    // eslint-disable-next-line
    '$store.state.request.step'() {
      this.$nextTick(() => {
        const start = document.getElementById('start');
        if (start) {
          window.scrollTo(0, stepPosition());
        }
      });
    },
    requestCode: {
      handler() {
        if (this.$store.state.request.code !== this.requestCode) {
          this.$store.commit('CLEAN_REQUEST');
        }
      },
      immediate: true,
    },
  },
  data() {
    return {
      code: this.$route.params.code,
      steps: [
        {
          cmp: StepFullRequest,
          step: 2,
        },
        {
          cmp: StepImagesDocs,
          step: 3,
        },
        {
          cmp: StepAgreeFirst,
          step: 4,
        },
        {
          cmp: StepImagesPhotos,
          step: 5,
        },
        {
          cmp: StepWaitForDecision,
          step: 6,
        },
        {
          cmp: StepFinishAfterApprove,
          step: 7,
        },
        {
          cmp: StepSuccess,
          step: 8,
        },
        {
          cmp: StepFail,
          step: 10,
          text: 'Извините, клиенту было отказано в получении займа',
        },
        {
          cmp: StepCancel,
          step: 11,
          text: 'Извините, заявка на займ была аннулирована.',
        },
        {
          cmp: StepClosed,
          step: 12,
          text: 'Займ погашен.',
        },
        {
          cmp: StepGiveMoney,
          step: 13,
          text: 'Займ погашен.',
        },
      ],
    };
  },
};
</script>
