<template>
  <div>
    <div class="content-holder">
      <RequestHeader
        name="Фото авто и клиента"
        hide="1"
        :num="num"/>
      <div class="form-holder">
          <div class="row">
            <div class="col-12 col-lg-8 col-xl-8">
              <div class="uploader">
                <p>Фото клиента</p>
                <file-uploader
                  saveTo="foto_client"
                  :disabled="true"
                  :accept="['jpg', 'jpeg', 'png']"
                ></file-uploader>
              </div>
              <div class="uploader">
                <p>Фото автомобиля</p>
                <file-uploader
                  saveTo="foto_auto"
                  :disabled="true"
                  :accept="['jpg', 'jpeg', 'png']"
                ></file-uploader>
              </div>
            </div>
            <accreditation />
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import Accreditation from '@/components/Partner/Accreditation';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import FileUploader from '../FileUploader';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import Checkbox from '../Checkbox';

export default {
  name: 'StepImagesDocs',
  props: {
    num: null,
  },
  components: {
    Accreditation,
    ClipLoader,
    SuccessStep,
    RequestHeader,
    FileUploader,
    Checkbox,
  },
  data() {
    return {
      waiting: false,
      checkedPts: [],
      checkListPts: {
        11: {
          code: '11',
          name: 'Данные и фото ',
          text: '(стр. 2-3)',
          status: false,
        },
        12: {
          code: '12',
          name: 'Прописка ',
          text: '(стр. 5-12)',
          status: false,
        },
        13: {
          code: '13',
          name: 'Семейное положение ',
          text: '(стр. 14-15)',
          status: false,
        },
      },
    };
  },
  computed: {
    agentConfirm() {
      return this.checkedPts.length === 3;
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';

.headerSecond {
  margin-top: 10px;
  margin-bottom: 30px;
  .name {
    font-size: 24px;
    font-weight: 600;
  }
}

.code {
  padding-bottom: 15px;
  margin-top: 40px;
  p {
    &:first-child {
      font-size: 17px;
    }
  }
  div {
    font-size: 22px;
    background: #FAFBFC;
    border: 1px solid #E7E9ED;
    letter-spacing: 3px;
    border-radius: $border-radius;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 15px;
  }
}
.padd {
  margin-bottom: 20px;
}

</style>
