 <template>
    <div class="content-holder">
      <div>
        <RequestHeader name="Параметры займа" :num="num" hide="1" />
            <div class="form-holder">
                  <div class="row">
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Сумма займа</label>
                              <div class="form-control">
                                  <cleave
                                    type="text"
                                    id="request-input-summ-hided"
                                    v-model="summ"
                                    :options="{
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand',
                                        delimiter: ' ',
                                      }"
                                    disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Срок займа</label>
                              <div class="form-control">
                                <input
                                  type="text"
                                  id="request-input-date-return-hided"
                                  v-model="dateReturn"
                                  disabled="disabled"
                                />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-lg-4" v-if="!isClient">
                        <div>
                          <label>Докредитование</label>
                          <div class="form-control">
                            <input
                            type="text"
                            id="request-input-add-credit-hided"
                            v-model="addCredit"
                            disabled="disabled"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Марка автомобиля</label>
                              <div class="form-control">
                                <input
                                  type="text"
                                  id="request-input-auto-brand-id-hided"
                                  v-model="autoBrandId"
                                  disabled="disabled"
                                />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Модель автомобиля {{isClient}}</label>
                              <div class="form-control">
                                <input
                                  type="text"
                                  id="request-input-auto-model-id-hided"
                                  v-model="autoModelId"
                                  disabled="disabled"
                                />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Год автомобиля</label>
                              <div class="form-control">
                                <input
                                  type="text"
                                  id="request-input-auto-year-hided"
                                  v-model="autoYear"
                                  disabled="disabled"
                                />
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import RequestHeader from '../RequestHeader';
import params from '../../params';

export default {
  name: 'FoldedCalculator',
  components: {
    RequestHeader,
  },
  props: {
    num: null,
  },
  data() {
    return {
      summ: this.$store.state.request.summ,
      dateReturnPure: this.$store.state.request.dateReturn,
      autoBrandId: this.$store.state.request.autoBrandId.name,
      autoModelId: this.$store.state.request.autoModelId.name,
      autoYear: this.$store.state.request.autoYear,
    };
  },
  computed: {
    isClient() {
      const clientIndex = window.location.host.indexOf('client');
      return clientIndex > -1;
    },
    dateReturn() {
      return moment(this.dateReturnPure).format('DD.MM.YYYY');
    },
    addCredit() {
      let precreditValue = '';
      params.addCredits.forEach((element) => {
        if (element.value === this.$store.state.request.preCrediting) {
          precreditValue = element.label;
        }
      });
      return precreditValue;
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    @import '../../assets/scss/calculator.scss';
    @import '../../assets/scss/summary.scss';

    .form-holder {
      padding-bottom: 30px;
    }

</style>
