<template>
  <div>
    <SuccessStep
      v-if="
                (
                    step == 'preRequest' ||
                    step == 'fullRequest' ||
                    step == 'imagesDocs' ||
                    step == 'agreeFirst' ||
                    step == 'imagesPhotos' ||
                    step == 'waitForDecision' ||
                    step == 'finishAfterApprove' ||
                    step == 'success'
                ) &&
                this.$store.state.request.showFoldedStep !== 'calculator'
            "
      name="
                Параметры займа
            "
      :text="requestParams"
      show="calculator"
    />
    <FoldedCalculator
      v-if="
                (
                    step == 'preRequest' ||
                    step == 'fullRequest' ||
                    step == 'imagesDocs' ||
                    step == 'agreeFirst' ||
                    step == 'imagesPhotos' ||
                    step == 'waitForDecision' ||
                    step == 'finishAfterApprove' ||
                    step == 'success'
                ) &&
                this.$store.state.request.showFoldedStep === 'calculator'
            "
      num="1"
    />
    <SuccessStep
      v-if="
                (
                    step == 'fullRequest' ||
                    step == 'imagesDocs' ||
                    step == 'agreeFirst' ||
                    step == 'imagesPhotos' ||
                    step == 'waitForDecision' ||
                    step == 'finishAfterApprove' ||
                    step == 'success'
                ) &&
                this.$store.state.request.showFoldedStep !== 'preRequest'
            "
      name="
                Персональные данные
            "
      :text="`
                ${this.$store.state.request.clientLastName.toUpperCase()}
                ${this.$store.state.request.clientFirstName.toUpperCase()}${
                this.$store.state.request.clientPatronymic.toUpperCase() ?
                  ` ${this.$store.state.request.clientPatronymic.toUpperCase()},` :
                  ','} паспорт: серия
                ${this.$formatter(this.$store.state.request.clientPassportSerialNumber, 2)}
                № ${this.$formatter(this.$store.state.request.clientPassportNumber, 3)}
            `"
      show="preRequest"
    />
    <FoldedStepPreRequest
      v-if="
                (
                    step == 'preRequest' ||
                    step == 'fullRequest' ||
                    step == 'imagesDocs' ||
                    step == 'agreeFirst' ||
                    step == 'imagesPhotos' ||
                    step == 'waitForDecision' ||
                    step == 'finishAfterApprove' ||
                    step == 'success'
                ) &&
                this.$store.state.request.showFoldedStep === 'preRequest'
            "
      num="2"
    />
    <SuccessStep
      v-if="
                (step == 'imagesDocs' ||
                step == 'agreeFirst' ||
                step == 'imagesPhotos' ||
                step == 'waitForDecision' ||
                step == 'finishAfterApprove' ||
                step == 'success') &&
                this.$store.state.request.showFoldedStep !== 'fullRequest'
            "
      name="Информация о клиенте"
      show="fullRequest"
      text="Данные о занятости предоставлены"
    />
    <FoldedStepFullRequest
      v-if="(step == 'imagesDocs' ||
                step == 'agreeFirst' ||
                step == 'imagesPhotos' ||
                step == 'waitForDecision' ||
                step == 'finishAfterApprove' ||
                step == 'success') &&
                this.$store.state.request.showFoldedStep === 'fullRequest'"
      num="3"
    />

    <SuccessStep
      v-if="(
                step == 'agreeFirst' ||
                step == 'imagesPhotos' ||
                step == 'waitForDecision' ||
                step == 'finishAfterApprove' ||
                step == 'success') &&
                this.$store.state.request.showFoldedStep !== 'docsPhoto'
            "
      name="Документы клиента"
      show="docsPhoto"
      :text="docsPhotosText"
    />
    <FoldedStepDocsPhoto
      v-if="this.$store.state.request.showFoldedStep === 'docsPhoto'"
      num="4"
    />
    <SuccessStep
      v-if="
                (
                    step == 'imagesPhotos' ||
                    step == 'waitForDecision' ||
                    step == 'finishAfterApprove' ||
                    step == 'success'
                ) &&
                this.$store.state.request.showFoldedStep !== 'agreeFirst'
            "
      name="Документы, необходимые для одобрения заявки"
      text="Документы подписаны"
      show="agreeFirst"
    />
    <FoldedStepAgreeFirst
      v-if="
                (
                    step == 'imagesPhotos' ||
                    step == 'waitForDecision' ||
                    step == 'finishAfterApprove' ||
                    step == 'success'
                ) &&
                this.$store.state.request.showFoldedStep === 'agreeFirst'
            "
      num="5"
    />

    <SuccessStep
      v-if="(
                step == 'waitForDecision' ||
                step == 'finishAfterApprove' ||
                step == 'success') &&
                this.$store.state.request.showFoldedStep !== 'imagesDocs'
            "
      name="Фотографии авто и клиента"
      :text="carPhotosText"
      show="imagesDocs"
    />
    <FoldedStepImagesDocs
      v-if="(
                step == 'waitForDecision' ||
                step == 'finishAfterApprove' ||
                step == 'success') &&
                this.$store.state.request.showFoldedStep === 'imagesDocs'"
      num="6"
    />
    <SuccessStep
      v-if="
                step == 'success'
            "
      name="Подписание пакета индивидуальных условий"
      text="Документы подписаны"
    />

  </div>
</template>

<script>
import SuccessStep from '../SuccessStep';
import FoldedStepAgreeFirst from './FoldedStepAgreeFirst';
import FoldedStepPreRequest from './FoldedStepPreRequest';
import FoldedStepFullRequest from './FoldedStepFullRequest';
import FoldedStepImagesDocs from './FoldedStepImagesDocs';
import FoldedStepDocsPhoto from './FoldedStepDocsPhoto';
import FoldedCalculator from './FoldedCalculator';

export default {
  name: 'FoldedSteps',
  components: {
    SuccessStep,
    FoldedStepAgreeFirst,
    FoldedStepFullRequest,
    FoldedStepPreRequest,
    FoldedCalculator,
    FoldedStepImagesDocs,
    FoldedStepDocsPhoto,
  },
  data() {
    return {
      mode: this.$store.state.request.mode,
    };
  },
  computed: {
    requestParams() {
      let text = `${this.$store.state.request.autoBrandId.name}
      ${this.$store.state.request.autoModelId.name},
      ${this.$store.state.request.autoYear} г.`;
      if (this.$store.state.request.autoPrice) {
        text += `
        (${this.$moneyFormat(this.$store.state.request.autoPrice)} руб.)`;
      }
      // if (this.$store.state.request.clientMobilePhone) {
      //   text += `, телефон клиента: +7${this.$store.state.request.clientMobilePhone}`;
      // }
      return text;
    },
    docsPhotosText() {
      const length =
        this.$store.state.request.fotoPassport.length +
        this.$store.state.request.fotoSts.length +
        this.$store.state.request.fotoCard.length +
        this.$store.state.request.fotoPts.length;
      return `Загружено изображений: ${length}`;
    },
    carPhotosText() {
      return `Загружено изображений:
      ${this.$store.state.request.fotoAuto.length +
      this.$store.state.request.fotoClient.length}`;
    },
  },
  props: {
    step: '',
  },
};
</script>
