<template>
  <div class="content-holder">
    <RequestHeader name="Анкета" :num="num" hide="1" />
    <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"></clip-loader>
    <div class="form-holder">
      <div class="input-block row">
        <div class="col-12">
          <div>
            <label>
              Способ выдачи
              </label>
            <div class="form-control noborder">
              <ul class="radioList">
                <li
                  :key="method.id"
                  v-for="method in this.methodOfIssuanceIds"
                >
                  <label class="custom-radio">
                    <input
                      type="radio"
                      v-model="methodOfIssuanceId" disabled="disabled"
                      :value="method.id"
                    />
                    <span class="checkmark"></span>
                    <div>
                      {{method.name}}
                      <tooltip v-if="method.description" :description="method.description"/>
                    </div>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4" v-if="showCard">
          <div>
            <label>
              Номер карты
              </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-card-number"
                v-model="cardNumber" disabled="disabled"
                v-mask="'XXXX XXXX XXXX XXXX XXX'" v-once
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div v-if="showCard && showCardHolderInfo">
            <label>
              Держатель карты
              </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-card-holder"
                v-model="cardHolder" disabled="disabled"
              />
            </div>
          </div>
          <span class="approved" v-if="showCard && !showCardHolderInfo">Карта подтверждена</span>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4" v-if="showCard && showCardHolderInfo">
          <div>
            <label>&nbsp;</label>
            <div class="text imholder">
              <div class="form-control noborder">
                <checkbox
                  :value="1"
                  disabled="disabled"
                  :checked="true"
                  required>
                  Являюсь держателем карты
                </checkbox>
              </div>
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4"  v-if="showBank">
          <div>
            <label>
              БИК банка
              </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-bank-bik"
                v-model="bankBik" disabled="disabled"
                v-mask="'#########'"
                v-once
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4" v-if="showBank">
          <div>
            <label>
              Номер счета
              </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-checking-account"
                v-model="checkingAccount" disabled="disabled"
                v-mask="'####################'"
                v-once
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-block col-12">
          <div>
            <label>
              Адрес фактического проживания
            </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-place-of-stay"
                v-model="placeOfStay"
                disabled="disabled"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>
              Домашний телефон
            </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-home-phone"
                v-model="clientHomePhonePure" disabled="disabled"
                v-mask="'(###) ###-##-##'" v-once

              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-8">
          <div>
            <label>
              Электронная почта
            </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-email"
                v-model="clientEmail" disabled="disabled"

              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>Суммарный доход руб./мес. </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-total-monthly-income"
                v-model="clientTotalMonthlyIncome" disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>Платежи по кредитам в мес. </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-total-monthly-outcome"
                v-model="clientTotalMonthlyOutcome" disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>Занятость </label>
            <div class="form-control">
              <input
                id="request-input-client-employment-id"
                label="name"
                v-model="clientEmploymentName"
                disabled="disabled"
              />
            </div>
          </div>
        </div>
      </div>
      <template v-if="showWorkInfo">
        <div class="row switch-block">
          <div class="col-12">
            <toggle-button :sync="true" v-model="showWorkInfo" color="#FFCC00" disabled="disabled"/>
            <div class="text">Наличие постоянной работы</div>
          </div>
        </div>
        <div class="row">
        <div class="input-block col-12">
          <div>
            <label>
              Название организации
              <i :class="{'hide': !this.haveWork}">*</i></label>
            <div class="form-control">
              <input
                type="text"
                id="request-client-workplace-name"
                v-model="clientWorkplaceName" disabled="disabled"

              />
            </div>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>
              Адрес места работы
              <i :class="{'hide': !this.haveWork}">*</i></label>
            <div class="form-control">
              <input
                type="text"
                id="request-client-workplace-address"
                v-model="clientWorkplaceAddress" disabled="disabled"

              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>
              Стаж на этом месте работы
              <i :class="{'hide': !this.haveWork}">*</i></label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-workplace-experience"
                v-model="clientWorkplaceExperience" disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>
              Единицы измерения стажа
              <i :class="{'hide': !this.haveWork}">*</i></label>
              <div class="form-control">
                <input
                  id="request-input-client-workplace-period-id"
                  v-model="clientWorkplacePeriodName" disabled="disabled"
                />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>
              Телефон по месту работы
              <i :class="{'hide': !this.haveWork}">*</i></label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-workplace-phone"
                v-model="clientWorkplacePhonePure" disabled="disabled"
                v-mask="'(###) ###-##-##'"
                v-once
              />
            </div>
          </div>
        </div>
      </div>
      </template>
      <!--<div class="row switch-block">-->
      <!--<div class="col-12">-->
      <!--<toggle-button v-model="haveGuarantor" color="#FFCC00" disabled="disabled"/>-->
      <!--<div class="text">Может предоставить сведения о контактном лице</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>ФИО контактного лица </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-guarantor-name"
                v-model="clientGuarantorName" disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>Кем приходится? </label>
            <div class="form-control">
              <input
                type="text"
                id="request-input-client-guarantor-relation-name"
                v-model="clientGuarantorRelationName" disabled="disabled"
              />
            </div>
          </div>
        </div>
        <div class="input-block col-12 col-md-6 col-lg-4">
          <div>
            <label>Телефон контактного лица </label>
            <input-wrap class="seven">
              <input
                type="text"
                id="request-input-client-guarantor-phone"
                v-model="clientGuarantorPhonePure" disabled="disabled"
                v-mask="'(###) ###-##-##'" v-once
              />
            </input-wrap>
          </div>
        </div>
        <accreditation class="col-12 col-lg-12 col-xl-12" />
      </div>
    </div>
  </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import Tooltip from '@/components/Tooltip';
import Accreditation from '@/components/Partner/Accreditation';
import consts from '@/consts';
import RequestHeader from '../RequestHeader';
import InputWrap from '../InputWrap';
import Cleave from '../Cleave';
import Checkbox from '../Checkbox';

export default {
  data() {
    return {
      cardNumber: this.$store.state.request.cardNumber,
      cardHolder: this.$store.state.request.cardHolder,
      imHolder: this.$store.state.request.imHolder,
      bankBik: this.$store.state.request.bankBik,
      checkingAccount: this.$store.state.request.checkingAccount,
      disableClassWork: false,
      disableClassGuarantor: false,
      methodOfIssuanceId: this.$store.state.request.methodOfIssuanceId,
      clientHomePhonePure: this.$store.state.request.clientHomePhone,
      clientEmail: this.$store.state.request.clientEmail,
      clientTotalMonthlyIncome: this.$store.state.request.clientTotalMonthlyIncome,
      clientTotalMonthlyOutcome: this.$store.state.request.clientTotalMonthlyOutcome,
      clientEmploymentId: this.$store.state.request.clientEmploymentId,
      clientWorkplaceName: this.$store.state.request.clientWorkplaceName,
      clientWorkplaceAddress: this.$store.state.request.clientWorkplaceAddress,
      clientWorkplaceExperience: this.$store.state.request.clientWorkplaceExperience,
      clientWorkplacePhonePure: this.$store.state.request.clientWorkplacePhone,
      clientGuarantorName: this.$store.state.request.clientGuarantorName,
      clientGuarantorPhonePure: this.$store.state.request.clientGuarantorPhone,
      commentPartner: this.$store.state.request.commentPartner,
      placeOfStay: this.$store.state.request.placeOfStay,
      waiting: false,
      haveWork: false,
      workplacePeriods: [],
      methodOfIssuanceIds: [],
      employments: [],
      guarantorRelations: [],
    };
  },
  props: {
    num: null,
  },
  computed: {
    showCardHolderInfo() {
      const methodWalletOne = this.methodOfIssuanceIds
        .filter(item => +item.guid === consts.issueMethodW1Guid)[0];

      if (methodWalletOne && methodWalletOne.id && consts.issueMethodW1Guid) {
        return methodWalletOne.id !== this.methodOfIssuanceId;
      }

      return true;
    },
    showCard() {
      return !!this.$store.state.request.cardNumber;
    },
    showBank() {
      return !!this.$store.state.request.bankBik;
    },
    clientWorkplacePeriodName() {
      const id = this.$store.state.request.clientWorkplacePeriodId;
      if (id && this.workplacePeriods.length) {
        return this.workplacePeriods.find(el => id === el.id).name;
      }
      return '';
    },
    clientEmploymentName() {
      const id = this.$store.state.request.clientEmploymentId;
      if (id && this.employments.length) {
        return this.employments.find(el => id === el.id).name;
      }
      return '';
    },
    showWorkInfo() {
      return !!(this.clientWorkplaceName && this.clientWorkplaceAddress &&
      this.clientWorkplaceExperience && this.clientWorkplacePhonePure);
    },
    clientGuarantorRelationName() {
      const id = this.$store.state.request.clientGuarantorRelationId;
      if (id && this.guarantorRelations.length) {
        return this.guarantorRelations.find(el => id === el.id).name;
      }
      return '';
    },
  },
  mounted() {
    this.$api.infoEmployments()
      .then((data) => {
        this.employments = this.$to.camel(data);
      });
    this.$api.infoWorkplacePeriods()
      .then((data) => {
        this.workplacePeriods = this.$to.camel(data);
      });
    this.$api.infoPeopleRelations()
      .then((data) => {
        this.guarantorRelations = this.$to.camel(data);
      });
    this.$api.infoMethodsOfIssuance()
      .then((data) => {
        this.methodOfIssuanceIds = data;
      });
  },
  components: {
    Accreditation,
    RequestHeader,
    ClipLoader,
    Tooltip,
    InputWrap,
    Cleave,
    Checkbox,
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/fullrequest.scss';
@import '../../assets/scss/wrapper.scss';

.radioList {
  padding: 0 0 0 0;
  margin: 0;

  li {
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
    position: relative;
    input {
      position: absolute;
      top: 5px;
      left: 1px;
      width: auto;

    }
    div {
      position: relative;
      display: inline-block;
      margin-left: 25px;
      span {
        font-style: italic;
      }
    }
  }
}
.noborder {
  border: 0;
}
label{
  color: #354052;
}
label, .text {
  i {
    color: red;
    font-style: normal;
    &.hide {
      display: none;
    }
  }
}

.seven:before {
  top: 8px;
}
.imholder {
  margin: 10px 0 0 5px;
}

.padd {
  margin: 20px 0;
}
.form-holder {
  padding-bottom: 30px;
}
.approved {
  padding-top: 30px;
  color: #5cc74c;
  display: inline-block;
}
</style>
