<template>
    <div>
        <div class="content-holder">
            <RequestHeader name="Персональные данные" :num="num" hide="1" />
              <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"></clip-loader>
              <div class="form-holder">
                  <div class="row">
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Фамилия</label>
                                <div class="form-control">
                                    <input
                                        type="text"
                                        id="request-input-client-last-name-hided"
                                        v-model="clientLastName"
                                        disabled="disabled"
                                    />
                                </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Имя</label>
                              <div class="form-control">
                                  <input
                                      type="text"
                                      id="request-input-client-first-name-hided"
                                      v-model="clientFirstName"
                                      disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Отчество</label>
                              <div class="form-control">
                                  <input
                                      type="text"
                                      id="request-input-client-patronymic-hided"
                                      v-model="clientPatronymic"
                                      disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Серия паспорта</label>
                              <div class="form-control">
                                  <input
                                      type="text"
                                      id="request-input-client-passport-serial-number-hided"
                                      v-model="clientPassportSerialNumber"
                                      v-mask="'## ##'"
                                      disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Номер паспорта</label>
                              <div class="form-control">
                                  <input
                                      type="text"
                                      id="request-input-client-passport-number-hided"
                                      v-model="clientPassportNumber"
                                      v-mask="'### ###'"
                                      disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12 col-md-6 col-lg-4">
                          <div>
                              <label>Дата рождения</label>
                              <div class="form-control">
                                <input
                                    id="request-input-client-birthday-hided"
                                    v-model="clientBirthdayPure"
                                    disabled="disabled"
                                />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12">
                          <div>
                              <label>Регион регистрации</label>
                              <div class="form-control">
                                  <input
                                      type="text"
                                      id="request-input-client-region-id-hided"
                                      v-model="clientRegionName"
                                      disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                      <div class="input-block col-12">
                          <div>
                              <label>Укажите любую дополнительную информацию,
                                  которую считаете необходимой в свободной форме</label>
                              <div class="form-control">
                                  <input
                                      type="text"
                                      id="request-input-comment-client-hided"
                                      v-model="commentClient"
                                      disabled="disabled"
                                  />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

        </div>
    </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import moment from 'moment';
import RequestHeader from '../RequestHeader';
import InputWrap from '../InputWrap';

export default {
  name: 'FoldedStepPreRequest',
  components: {
    ClipLoader,
    InputWrap,
    RequestHeader,
  },
  data() {
    return {
      clientFirstName: this.$store.state.request.clientFirstName,
      clientLastName: this.$store.state.request.clientLastName,
      clientPatronymic: this.$store.state.request.clientPatronymic,
      clientPassportNumber: this.$store.state.request.clientPassportNumber,
      clientPassportSerialNumber: this.$store.state.request.clientPassportSerialNumber,
      clientBirthday: this.$store.state.request.clientBirthday,
      regions: [],
      clientRegionId: this.$store.state.request.clientRegionId,
      clientRegionName: this.$store.state.request.clientRegionName,
      clientMobilePhonePure: this.$store.state.request.clientMobilePhone,
      commentClient: this.$store.state.request.commentClient,
      waiting: false,
    };
  },
  props: {
    num: null,
  },
  watch: {
    clientRegionId() {
      this.checkForRegionName();
    },
  },
  computed: {
    clientBirthdayPure() {
      return moment(this.clientBirthday).format('DD.MM.YYYY');
    },
    clientMobilePhone: {
      get() {
        if (this.clientMobilePhonePure !== undefined) {
          return this.clientMobilePhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientMobilePhonePure = input;
      },
    },
  },
  methods: {
    checkForRegionName() {
      if (!this.clientRegionName && this.clientRegionId && this.regions.length) {
        this.clientRegionName = this.regions.find(el => +el.id === +this.clientRegionId).name;
      }
    },
    loadRegions() {
      if (this.$store.state.regions.length) {
        this.regions = this.$store.state.regions;
        this.checkForRegionName();
        return;
      }
      this.$api.infoRegions()
        .then((data) => {
          this.regions = this.$to.camel(data);
          this.$store.commit('UPDATE_REGIONS', this.$to.camel(data));
          this.checkForRegionName();
        });
    },
  },
  mounted() {
    this.loadRegions();
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';
.buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-holder {
    padding-bottom: 30px;
}
</style>
