<template>
  <div class="content-holder">
    <RequestHeader name="Фото документов" :num="num" hide="1"/>
    <div class="form-holder">
        <div class="row">
          <div class="col-12 col-lg-8 col-xl-8">
            <div class="uploader">
              <p>Паспорт</p>
              <file-uploader
                saveTo="foto_passport"
                :disabled="true"
                :accept="['jpg', 'jpeg', 'png']"
              ></file-uploader>
            </div>
            <div class="uploader">
              <p>Свидетельство о регистрации (СТС), <span>с обеих сторон</span></p>
              <file-uploader
                :disabled="true"
                saveTo="foto_sts"
                :accept="['jpg', 'jpeg', 'png']"
              ></file-uploader>
            </div>
            <div class="uploader" v-if="$store.state.request.fotoPts.length">
              <p>ПТС</p>
              <file-uploader
                saveTo="foto_pts"
                :disabled="true"
                :accept="['jpg', 'jpeg', 'png']"
              ></file-uploader>
            </div>
            <div class="uploader" v-if="$store.state.request.fotoCard.length">
              <p>Банковская карта, <span>с лицевой стороны</span></p>
              <file-uploader
                saveTo="foto_card"
                :accept="['jpg', 'jpeg', 'png']"
              ></file-uploader>
            </div>
          </div>
          <accreditation/>
        </div>
    </div>
  </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import Accreditation from '@/components/Partner/Accreditation';
import RequestHeader from '../RequestHeader';
import FileUploader from '../FileUploader';

export default {
  props: {
    num: null,
  },
  components: {
    Accreditation,
    ClipLoader,
    RequestHeader,
    FileUploader,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.code {
  padding-bottom: 15px;
  margin-top: 40px;
  p {
    &:first-child {
      font-size: 17px;
    }
  }
  div {
    font-size: 22px;
    background: #FAFBFC;
    border: 1px solid #E7E9ED;
    letter-spacing: 3px;
    border-radius: $border-radius;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 15px;
  }
}

</style>
