<template>
    <div>
        <div class="content-holder">
            <RequestHeader
              name="Документы, необходимые для рассмотрения заявки"
              :num="num"
              hide="1"
            />
            <div class="form-holder">
                <div class="row">
                    <div class="col-12 documents">
                        <div
                            :key="document.code"
                            class="document"
                            v-for="document in this.$store.state.request.docPack1"
                        >
                            <p class="name">
                                <span>{{document.name}}</span>
                                <a :href="document.url" class="image"></a>
                            </p>
                            <div class="text">
                                {{document.description}}
                            </div>
                        </div>
                        <clip-loader
                            v-if="!this.$store.state.request.docPack1.length"
                            color="#FFCC00"
                        ></clip-loader>
                    </div>
                </div>
                <div class="row buttons" v-if="this.$store.state.request.docPack1.length">
                    <div class="col-12">
                        <button class="button secondary-button" @click.prevent="printDocuments()">
                            Распечатать документы
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RequestHeader from '../RequestHeader';
import Checkbox from '../Checkbox';

export default {
  name: 'FoldedStepAgreeFirst',
  components: {
    RequestHeader,
    Checkbox,
  },
  props: {
    num: null,
  },
  methods: {
    printDocuments() {
      window.location = `/doc/zip/1/${this.$route.params.code}`;
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
.documents {
    text-align: center;
    margin-bottom: 30px;
}
</style>
