<template>
  <div class="content-holder">
    <div class="main">
      <div class="row">
        <div class="col-sm-12">
          <h1>История</h1>
        </div>
      </div>

      <div v-if="!errorMessage">
        <div class="row">
          <div class="col-sm-12">
            <div v-for="request in requests" :key="request.id">
              <div class="dateUpdate">{{request.updated_at}}</div>
              <div class="requestBody" @click.prevent="toRequestPage(request.code)" >
                <div class="clientName">{{$to.toUpper(request.client_first_name)}}
                  {{$to.toUpper(request.client_last_name)}},
                  {{request.summ | moneyFormat}} руб.
                </div>
                <div class="requestName">
                  <div class="requestLink"
                       v-if="request.statuses_id!=='' && statuses[request.statuses_id]">
                    CM-{{request.num}} -
                  {{statuses[request.statuses_id].name}}</div>
                  <div class="requestLink" v-if="request.statuses_id===''">CM-{{request.num}} -
                    В работе</div>
                </div>
                <div class="bar"  v-if="request.statuses_id!=='' && statuses[request.statuses_id]">
                  <progress-bar :max="100" :value="statuses[request.statuses_id].progress"
                                :color="'#'+statuses[request.statuses_id].color"/>
                </div>
                <div class="bar"  v-if="request.statuses_id===''">
                  <progress-bar :max="100" :value="0"
                                :color="'#000000'"/>
                </div>
                <div class="messageBlockBg">
                  <div v-for="item in request.messages" :key="item.message_id">
                    <div v-if="item.message">
                      <div class="messageBlock">
                        <div class="messageBlockStr">
                          <span class="menu__icon icon">
                            <img data-v-4c635e70="" src="/static/i/info.svg" class="icon__img">
                          </span>
                          <div class="messageBlockStrText">
                            {{item.message_created_at}} - {{item.message}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <Pagination
              :pageCount="pageCount"
              paginationPattern="/history/pagination"
              v-model="pagin"
              paginationRouteParam="page"
            />
          </div>
        </div>
      </div>
      <div v-if="errorMessage">
        <p>{{this.errorMessage}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import ProgressBar from '../ProgressBar';
import Pagination from '../Global/Pagination';

export default {
  name: 'History',
  components: {
    ProgressBar,
    Pagination,
  },
  data() {
    return {
      pageCount: 1, // всего стр
      pagin: 1, // текущая стр
      requests: [], // ответ от сервака
      errorMessage: '',
      val: 0,
    };
  },
  computed: {
    statuses() { // получаем статусы из vuex
      return this.$store.state.statuses;
    },
    page() {
      return this.$route.params.page;
    },
  },
  watch: {
    statuses() {
      if (this.$store.state.statuses) {
        // как получили статусы - херачим запрос
        this.getHistory();
      }
    },
    page(v) {
      this.pagin = v;
      this.getHistory();
    },
  },
  methods: {
    getHistory() {
      this.errorMessage = '';
      if (this.$api.history) {
        this.$api.history({
          pagin: this.pagin,
        }).then((data) => {
          if (data.requests.length !== 0) {
            this.$set(this, 'requests', data.requests);
            // cчитаем всего страниц
            this.pageCount = Math.ceil(data['total count'] / data['count in page']);
          } else if (data['total count'] === 0) {
            this.errorMessage = 'История отсуствует';
          } else {
            this.$router.push({
              path: '/404',
            });
          }
        });
      }
    },
    toRequestPage(code) {
      this.$router.push({
        path: `/request/${code}#start`,
      });
    },
  },
  mounted() {
    this.$store.commit('CLEAN_REQUEST');
    // читаем пагинацию
    this.getHistory();
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import 'src/assets/scss/functions.scss';
.main {
  margin-left: 80px;
  margin-right: 80px;
  @include media-breakpoint-only(xs) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

h1 {
  padding-top: 20px;
  margin-bottom: 0px;
}

.pagin {
  margin: 0 auto;
  margin-top: 15px;
}

.pagination > li {
  display: inline;
}

.paginBack {
  margin-right: 35px;
  color: #4a90e2;
}

.paginForward {
  margin-left: 35px;
  color: #4a90e2;
}

.paginLink {
  margin-right: 8px;
  margin-left: 8px;

}

.paginLinkDots a {
  color: #7f8fa4;
}

.paginLink a {
  color: #4a90e2;
}

.paginLink.active {
  font-size: 16px;
}

.clientName {
  color: #7f8fa4;
  font-size: 13px;
  margin-right: 20px;
  margin-left: 20px;
}

.dateUpdate {
  padding-top: 15px;
  color: #7383a1;
  font-size: 12px;
}

.requestBody {
  border-radius: 5px;
  padding-top: 15px;
  border: 1px solid #e7e9ed;
  background-color: #ffffff;
  cursor: pointer;
}
.requestName {
  font-size: 13px;
  color: #354052;
  padding-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 10px;
}

.bar {
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.messageBlock {
  margin-top: 10px;
  border-top: #e8eaee 1px solid;

  padding-top: 5px;
  padding-bottom: 5px;
}

.messageBlockStr {
  font-size: 12px;
  color: #354052;
  margin-left: 20px;
  margin-right: 20px;
}

.messageBlockBg {
  background-color: #fafbfc;
}

.messageBlockStrText {
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
}
</style>
