<template>
  <div class="contener">
    <div v-html="txt"></div>
  </div>
</template>

<script>
export default {
  name: 'Income',
  data() {
    return {
      txt: '',
    };
  },
  mounted() {
    this.$api.getIncome()
      .then((response) => {
        this.txt = response.text;
      }).catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.contener {
  margin-left: 80px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

</style>
