<template>
  <div class="contener">
    <h1>Менеджеры</h1>
  </div>
</template>

<script>
export default {
  name: 'PMpage',

  mounted() {
    this.$api.getIncome()
      .then((response) => {
        console.log(response);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.contener {
  margin-left: 80px;
}

h1 {
  padding-top: 20px;
}

</style>
