<template>
    <div>
        <FoldedSteps step="whatFirst" />
        <div class="content-holder">
            <RequestHeader
                name="Выберите дальнейшее действие:"
                text="Вы сможете загрузить фото автомобиля позднее,
                 если продолжите заполнять анкету"
                num="?"
            />
            <div class="form-holder">
                <div class="row buttons">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <button class="button primary-button" @click.prevent="select('photos')">
                            Загрузить фотографии автомобиля
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                        <button class="button primary-button" @click.prevent="select('full')">
                            Продолжить заполнение анкеты клиента
                        </button>
                    </div>
                    <!--<div class="col-12 remember">-->
                        <!--<input type="checkbox" /> Запомнить выбор-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';

export default {
  name: 'SelectWhatFirst',
  components: {
    SuccessStep,
    RequestHeader,
    FoldedSteps,
  },
  methods: {
    select(type) {
      this.$api.updateRequest(this.$route.params.code, {
        mode: type,
      }).then((data) => {
        if (data.updateRequest === true) {
          this.$store.commit('UPDATE_REQUEST', { mode: type });
        }
      });
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
.buttons {
    padding-bottom: 30px;
}
.remember {
    input {
        margin-right: 10px;
    }
}
</style>
