<template>
    <div :class="{'agree-first-modal': inModal}">
        <FoldedSteps step="agreeFirst" v-if="!inModal" />
        <div class="content-holder">
            <RequestHeader
              name="Документы, необходимые для рассмотрения заявки"
              text="Распечатайте и подпишите документы, необходимые для одобрения заявки"
              num="5"/>
            <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"/>
            <div class="form-holder">
                <div class="row">
                    <div class="col-12 documents">
                        <div
                            :key="document.code"
                            class="document"
                            v-for="document in this.$store.state.request.docPack1"
                        >
                            <p class="name">
                                <span>{{document.name}}</span>
                                <a :href="document.url" class="image"></a>
                            </p>
                            <div class="text">
                                <checkbox
                                  :id="document.code + Math.random()"
                                  :name="document.code"
                                  :value="document.code"
                                  v-model="checkedFirstDocuments"
                                  :checked="false">
                                      {{document.description}}
                                  </checkbox>
                            </div>
                        </div>
                        <clip-loader
                            v-if="!this.docPack1Length"
                            color="#FFCC00"
                        ></clip-loader>
                    </div>
                </div>
                <div class="row buttons" v-if="this.docPack1Length">
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <button
                          class="button secondary-button"
                          type="button"
                          @click.prevent="printDocuments()">
                            Распечатать документы
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                        <button
                          class="button"
                          :class="{
                              'primary-button': allDocumentsChecked,
                              'disabled-button': !allDocumentsChecked || waiting
                              }"
                          @click.prevent="submit()">
                          <span>
                            Подтвердить подписание
                          </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';
import Checkbox from '../Checkbox';

export default {
  name: 'StepAgreeFirst',
  components: {
    RequestHeader,
    FoldedSteps,
    Checkbox,
    ClipLoader,
  },
  props: ['inModal', 'afterEventCallback'],
  data() {
    return {
      checkedFirstDocuments: [],
      allDocumentsChecked: false,
      waiting: false,
      // submitClass: {
      //   button: true,
      //   'disabled-button': true,
      // },
    };
  },
  computed: {
    ...mapGetters(['docPack1Length']),
  },
  watch: {
    checkedFirstDocuments(e) {
      if (e.length === this.docPack1Length) {
        this.allDocumentsChecked = true;
        // this.submitClass = {
        //   button: true,
        //   'primary-button': true,
        // };
      } else {
        this.allDocumentsChecked = false;
        // this.submitClass = {
        //   button: true,
        //   'disabled-button': true,
        // };
      }
    },
  },
  mounted() {
    const code = {};
    code.data = this.$route.params.code;
    this.$store.dispatch('hasFirstPack', code);
  },
  methods: {
    printDocuments() {
      window.location = `/doc/zip/1/${this.$route.params.code}`;
    },
    submit() {
      if (this.allDocumentsChecked) {
        this.waiting = true;
        this.$api.insertEvents(
          this.$route.params.code,
          101,
          this.inModal && { reFirstPack: true },
        ).then((data) => {
          this.waiting = false;
          if (data.success === 1) {
            if (this.afterEventCallback) {
              this.afterEventCallback();
            } else {
              this.$store.commit('UPDATE_REQUEST', { step: 5 });
            }
          }
        });
      } else {
        console.log('oops sorry but not signed first document...');
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';
.documents {
    text-align: center;
    margin-bottom: 30px;
}
</style>

<style lang="scss">
  .agree-first-modal {
    .content-holder{
      background-color: transparent;
      border-bottom: 0;
      .circle{
        display: none;
      }
      .form-holder {
        margin-left: 0;
      }
      .header {
        .text {
          margin-left: 0;
        }
        .form-holder, .holder {
          margin-left: 0;
          padding-left: 15px;
        }
      }
    }
  }
</style>
