<template>
    <div>
        <FoldedSteps step="imagesDocs" />
        <div class="content-holder">
            <RequestHeader
                name="Фото документов"
                num="4"/>
            <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting" />
            <div class="form-holder">
              <form @submit.prevent="submit()">
                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-8">
                          <div class="uploader">
                            <p>Паспорт</p>
                            <input-wrap :error="validation.foto_passport">
                              <file-uploader
                                saveTo="foto_passport"
                                :accept="['jpg', 'jpeg', 'png']"
                                @change="validate('foto_passport')"
                              ></file-uploader>
                            </input-wrap>
                          </div>
                          <div class="wide">
                            <input-wrap :noborder="true" :error="validation.checkedPts">
                            <div
                              class="col-12"
                              v-for="document in this.checkListPts"
                              :key="document.code"
                            >
                              <div>
                                <div class="checkbox">
                                  <checkbox
                                    :id="document.code"
                                    :name="document.code"
                                    :value="document.code"
                                    v-model="checkedPts"
                                    :checked='false'>
                                  <span>{{document.name}} <span>{{document.text}}</span></span>
                                  </checkbox>
                                </div>
                              </div>
                            </div>
                            </input-wrap>
                          </div>
                        <div class="uploader">
                            <p>ПТС, <span>с обеих сторон</span></p>
                          <input-wrap :error="validation.foto_pts">
                            <file-uploader
                                saveTo="foto_pts"
                                :accept="['jpg', 'jpeg', 'png']"
                                @change="validate('foto_pts')"
                            ></file-uploader>
                          </input-wrap>
                        </div>

                      <div class="uploader">
                          <p>СТС, <span>с обеих сторон</span></p>
                          <input-wrap :error="validation.foto_sts">
                            <file-uploader
                              saveTo="foto_sts"
                              :accept="['jpg', 'jpeg', 'png']"
                              @change="validate('foto_sts')"
                            ></file-uploader>
                          </input-wrap>
                        </div>

                        <div class="uploader" v-if="this.$store.state.request.cardNumber &&
                                                    this.$store.state.request.cardHolder">
                          <p>Банковская карта, <span>с лицевой стороны</span></p>
                          <input-wrap :error="validation.foto_card">
                            <file-uploader
                              saveTo="foto_card"
                              :accept="['jpg', 'jpeg', 'png']"
                            ></file-uploader>
                          </input-wrap>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="headerSecond col-12">
                    <div class="name">Вы также можете прикрепить дополнительные фотографии</div>
                    <div class="description">
                      Это можно сделать позже, после подписания 1 пакета документов
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-lg-8 col-xl-8">
                    <div class="uploader">
                      <p>Фото клиента</p>
                      <file-uploader
                      saveTo="foto_client"
                      :accept="['jpg', 'jpeg', 'png']"
                      ></file-uploader>
                    </div>
                    <div class="uploader">
                      <p>Фото автомобиля</p>
                      <file-uploader
                      saveTo="foto_auto"
                      :accept="['jpg', 'jpeg', 'png']"
                      ></file-uploader>
                    </div>
                  </div>
                  <accreditation />
                </div>
                <div class="row padd" v-if="!this.$store.state.request.preApproved">
                  <div class="col-3">
                    <clip-loader
                    color="#FFCC00"
                    ></clip-loader>
                  </div>
                  <div class="col-9">
                    <p>Дождитесь предварительного одобрения заявки</p>
                  </div>
                </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button
                            class="button primary-button"
                            :class="{ 'disabled-button': disabled || waiting}"
                            @click.prevent="submit()">
                              <span>Продолжить</span>
                          </button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Accreditation from '@/components/Partner/Accreditation';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import InputWrap from '../../components/InputWrap';
import FileUploader from '../FileUploader';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';
import Checkbox from '../Checkbox';

export default {
  name: 'StepImagesDocs',
  components: {
    ClipLoader,
    InputWrap,
    Accreditation,
    SuccessStep,
    RequestHeader,
    FileUploader,
    FoldedSteps,
    Checkbox,
  },
  data() {
    return {
      waiting: false,
      checkedPts: [],
      checkListPts: {
        11: {
          code: '11',
          name: 'Данные и фото ',
          text: '(стр. 2-3)',
          status: false,
        },
        12: {
          code: '12',
          name: 'Прописка ',
          text: '(стр. 5-12)',
          status: false,
        },
        13: {
          code: '13',
          name: 'Семейное положение ',
          text: '(стр. 14-15)',
          status: false,
        },
      },
      validation: {
        checkedPts: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (Object.keys(vue.checkListPts).length !== Object.keys(vue[e]).length) {
              this.message = 'Необходимо подтвердить наличие всех страниц';
              this.invalid = true;
            } else {
              this.message = '';
              this.invalid = false;
            }
          },
        },
        foto_passport: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_pts: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_sts: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_card: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.$store.state.request.cardNumber &&
                vue.$store.state.request.cardHolder &&
              (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length)) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  computed: {
    disabled() {
      return !!this.isLoading || !this.$store.state.request.preApproved;
    },
    ...mapGetters(['isLoading']),
  },
  methods: {
    submit() {
      if (this.validate() && !this.disabled && !this.waiting) {
        this.waiting = true;
        this.$api.insertEvents(this.$route.params.code, 711).then((data) => {
          if (data.success === 1) {
            this.$api.insertEvents(this.$route.params.code, 713).then((dataSecond) => {
              if (dataSecond.success === 1) {
                this.$store.commit('UPDATE_REQUEST', { step: 4 });
                this.waiting = false;
              }
            }).catch(() => {
              this.waiting = false;
            });
          } else {
            this.waiting = false;
          }
        }).catch(() => {
          this.waiting = false;
        });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';

.uploader {
  margin-top: 20px;
}
.headerSecond {
  margin-top: 10px;
  margin-bottom: 30px;
  .name {
    font-size: 24px;
    font-weight: 600;
  }
}
.padd {
  margin-bottom: 20px;
}

</style>
