<template>
    <div>
        <FoldedSteps step="imagesPhotos" />
        <div class="content-holder">
            <RequestHeader
                    name="Фотографирование"
                    num="6"/>
            <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting" />
            <div class="form-holder">
              <form @sibmit.prevent="submit()">
                  <div class="row">
                      <div class="col-12 col-lg-8 col-xl-8">
                          <div class="uploader">
                              <p>Фото клиента</p>
                              <input-wrap :error="validation.foto_client">
                                <file-uploader
                                  saveTo="foto_client"
                                  :accept="['jpg', 'jpeg', 'png']"
                                  @change="validate('foto_client')"
                                ></file-uploader>
                              </input-wrap>
                          </div>
                          <div class="uploader">
                              <p>Фото автомобиля</p>
                            <input-wrap :error="validation.foto_auto">
                            <file-uploader
                                saveTo="foto_auto"
                                @change="validate('foto_auto')"
                                :accept="['jpg', 'jpeg', 'png']"
                              ></file-uploader>
                            </input-wrap>
                          </div>
                      </div>
                      <accreditation />
                  </div>
                  <div class="row buttons">
                      <div class="col-12">
                          <button
                            class="button primary-button"
                            :class="{ 'disabled-button': waiting, 'disabled-button': disabled }"
                            @click.prevent="submit()">
                              <span>Продолжить</span>
                          </button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
import InputWrap from '@/components/InputWrap';
import { mapGetters } from 'vuex';
import Accreditation from '@/components/Partner/Accreditation';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import FileUploader from '../FileUploader';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';

export default {
  name: 'StepImagesPhotos',
  components: {
    Accreditation,
    InputWrap,
    ClipLoader,
    SuccessStep,
    RequestHeader,
    FoldedSteps,
    FileUploader,
  },
  data() {
    return {
      waiting: false,
      validation: {
        foto_client: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_auto: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  computed: {
    disabled() {
      if (
        this.isLoading
      ) {
        return true;
      }
      return false;
    },
    ...mapGetters(['isLoading']),
  },
  methods: {
    submit() {
      // если кнопка отключена, не делаем ничего
      if (this.validate() && !this.disabled && !this.waiting) {
        this.waiting = true;
        this.$api.insertEvents(this.$route.params.code, 712).then((dataEvent) => {
          if (dataEvent.success === 1) {
            this.waiting = false;
            this.$store.commit('UPDATE_REQUEST', { step: 6 });
          } else {
            this.waiting = false;
          }
        }).catch(() => {
          this.waiting = false;
        });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.code {
    padding-bottom: 15px;
    margin-top: 40px;
    p {
        &:first-child {
            font-size: 17px;
        }
    }
    div {
        font-size: 22px;
        background: #FAFBFC;
        border: 1px solid #E7E9ED;
        letter-spacing: 3px;
        border-radius: $border-radius;
        padding: 10px 5px;
        text-align: center;
        margin-bottom: 15px;
    }
}
</style>
