<template>
    <div>
        <FoldedSteps step="finishAfterApprove" />
        <div :class="{ 'no-border': blockPassword }" class="content-holder">
            <RequestHeader
                name="Документы для получения займа"
                text="Распечатайте и подпишите документы, необходимые для получения займа"
                num="7"/>
            <div class="form-holder">
              <form @submit.prevent="submit()">
                  <div class="row">
                      <div class="col-12 documents">
                          <div
                            :key="document.code"
                            class="document"
                            v-for="document in this.$store.state.request.docPack2">
                              <p class="name">
                                  <span>{{document.name}}</span>
                                  <a :href="document.url" class="image"></a>
                              </p>
                              <div class="text">
                                  <checkbox
                                      :id="document.code"
                                      :name="document.code"
                                      :value="document.code"
                                      v-model="checkedDocuments"
                                      :checked="false"
                                      required>
                                        {{document.description}}
                                      </checkbox>
                              </div>
                          </div>
                          <clip-loader
                                  v-if="!this.$store.state.request.docPack2.length"
                                  color="#FFCC00"
                          ></clip-loader>
                      </div>
                  </div>
                  <div
                    v-if="!this.blockPassword && this.$store.state.request.docPack2.length"
                    class="row buttons"
                  >
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                          <button
                            class="button secondary-button"
                            @click.prevent="printDocuments()">Распечатать документы</button>
                      </div>
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                          <button
                          :class="{ 'disabled-button': !submitClass,
                                    'primary-button': submitClass }"
                          class="button" @click="submit()">
                              Подтвердить подписание
                          </button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
        <div v-if="this.blockPassword" class="block-password">
          <div :class="{ 'no-border': blockPassword }" class="content-holder">
          <clip-loader color="#FFCC00" v-show="waiting" class="absolute-spinner"/>
                <div class="row">
                    <div class="col-12">
                        <h2>Уважаемый партнер!</h2>
                        <p>
                            Напоминаем, о Вашей полной финансовой
                            ответственности за возможные убытки
                            Компании, в случае отсутствия каких-либо документов в Заемном деле,
                            в том числе наличия каких-либо неподписанных документов.
                        </p>
                        <p>
                            Просим еще раз убедиться в наличии полного
                            комплекта документов по заявке,
                            проверить корректность и фактическое подписание всех договоров.
                        </p>
                        <p>
                            В случае если необходимо изменить какую-либо
                            информацию по заявке, распечатать
                            и подписать недостающие документы нажмите кнопку «ОТМЕНА».
                        </p>
                        <p>
                            Если вся информация указана корректно
                            и комплектность документов проверена,
                            то введите свой пароль от Личного кабинета Партнера и нажмите кнопку
                            «ЗАВЕРШИТЬ».
                        </p>
                    </div>
                </div>
                <div class="row buttons" v-if="!showSms">
                  <div class="input-block col-12 col-md-6 col-lg-4 col-xl-4">
                      <form @submit.prevent="finish()">
                          <input-wrap :error="validation.password">
                                  <input
                                    type="password"
                                    id="calc-block-password"
                                    v-model="password"
                                    placeholder="Ваш пароль"
                                    @blur="validate('password')"
                                    class="input-passwort-custom no-transform"
                                />
                        </input-wrap>
                      </form>
                  </div>
                  <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                      <button class="button primary-button" @click.prevent="finish()">
                          Подтвердить
                      </button>
                  </div>
                  <div class="error-message col-12" v-if="finishError">
                    {{finishError}}
                  </div>
                </div>
                <div class="row buttons" v-else>
                  <div class="input-block col-12 col-md-6 col-lg-4 col-xl-4">
                      <form @submit.prevent="verifySms()">
                    <input-wrap :error="validation.sms">
                              <input
                                id="calc-block-sms"
                                v-model="sms"
                                placeholder="Введите код из смс отправленный клиенту"
                                @blur="validate('sms')"
                                class="input-passwort-custom"
                            />
                    </input-wrap>
                      </form>
                  </div>
                  <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                      <button class="button primary-button" @click.prevent="verifySms()">
                          Подтвердить
                      </button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';
import Checkbox from '../Checkbox';
import InputWrap from '../InputWrap';

export default {
  name: 'StepFinishAfterApprove',
  components: {
    ClipLoader,
    SuccessStep,
    RequestHeader,
    FoldedSteps,
    Checkbox,
    InputWrap,
  },
  computed: {
    disablePassword() {
      return this.waiting ||
        this.checkedDocuments.length !== this.$store.state.request.docPack2.length;
    },
    isConn() {
      return this.$store.state.socket.isConnected;
    },
    submitClass() {
      return this.checkedDocuments.length === this.$store.state.request.docPack2.length;
    },
  },
  data() {
    return {
      verified: true,
      finishError: '',
      checkedDocuments: [],
      waiting: false,
      showSms: false,
      blockPassword: false,
      sms: '',
      password: '',
      validation: {
        password: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        sms: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  mounted() {
    const code = {};
    code.data = this.$route.params.code;
    this.$store.dispatch('hasSecondPack', code);
  },
  methods: {
    printDocuments() {
      window.location = `/doc/zip/2/${this.$route.params.code}`;
    },
    submit() {
      if (this.submitClass) {
        this.blockPassword = true;
      } else {
        console.log('oops sorry but not signed second document...', this.checkedDocuments);
      }
    },
    verifySms() {
      if (this.validate('sms') && !this.waiting) {
        this.waiting = true;
        this.$api.verifySms(this.sms, this.$route.params.code).then((data) => {
          if (data.verified === true) {
            this.$api.insertEvents(this.$route.params.code, 102).then((secondEvent) => {
              if (secondEvent.success === 1) {
                this.waiting = false;
                this.$store.commit('UPDATE_REQUEST', { step: 8 });
              }
            });
            this.waiting = false;
            this.$store.commit('UPDATE_REQUEST', { step: 8 });
          } else {
            this.validation.sms.invalid = true;
            this.validation.sms.message = 'Неверный код';
            this.waiting = false;
          }
        });
      }
    },
    finish() {
      if (this.validate('password') && !this.waiting) {
        this.waiting = true;
        this.finishError = '';
        this.$api.verify(this.password, this.$route.params.code).then((data) => {
          if (data.verified === true) {
            this.waiting = false;
            this.showSms = true;
            // this.$store.commit('UPDATE_REQUEST', { step: 8 });
          } else {
            this.validation.password.invalid = true;
            this.validation.password.message = 'Неверный пароль';
            this.waiting = false;
          }
        }).catch((e) => {
          this.finishError = e.message;
          this.waiting = false;
        });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    @import '../../assets/scss/wrapper.scss';
    h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .input-passwort-custom {
        padding: 12px 0.75rem;
    }
    .documents {
        text-align: center;
        margin-bottom: 10px;
    }
    .alert {
        border: 1px solid red;
    }
    .block-password {
        border-top: 3px dashed #CED0DA;
        padding: 30px 0 20px 80px;
        background: $bg;
        border-bottom: 1px solid $gray;
        input[type=password]{
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    .no-border {
        border-bottom: 0
    }
    .buttons {
        margin-top: 20px;
    }
    .error-message {
      color: red;
      text-align: center;
    }
    @include media-breakpoint-down(lg) {
        .block-password {
            padding-left: 0px;
            .form-control {
                margin-bottom: 20px;
            }
        }
    }
</style>
