<template>
  <div class="content-holder">
    <div>
      <RequestHeader name="Введите данные" num=""/>
      <form @submit.prevent="submit()">
        <div class="form-holder">
          <div class="row">
            <div class="input-block col-12 col-md-6 col-lg-4">
              <div>
                <label>Сумма займа</label>
                <input-wrap :error="validation.summ" :rouble="true">
                  <cleave
                    type="text"
                    id="request-input-summ"
                    v-model="summ"
                    @blur="validateInputSumm"
                    :options="{
                                            numeral: true,
                                            numeralThousandsGroupStyle: 'thousand',
                                            delimiter: ' ',
                                        }"
                    ref="summ"
                  />
                </input-wrap>
              </div>
            </div>
            <div class="input-block col-12 col-md-6 col-lg-4">
              <div class="months-mobile d-block d-lg-none d-xl-none">
                <a href="#" @click.prevent="addToDatepicker(24)">24 месяца</a>
                <a href="#" @click.prevent="addToDatepicker(36)">36 месяцев</a>
                <a href="#" @click.prevent="addToDatepicker(60)">60 месяцев</a>
              </div>

              <label>Дата погашения</label>
              <input-wrap :error="validation.dateReturn">
                <datepicker
                  id="request-input-date-return"
                  v-model="dateReturn"
                  :disabled="disabledDates"
                  class="date"
                  language="ru"
                  format="dd.MM.yyyy"
                  :monday-first="true"
                ></datepicker>
              </input-wrap>
            </div>
            <div class="input-block col-12 col-md-6 col-lg-4
                       months d-none d-xl-block d-lg-block">
              <div>
                <a href="#" @click.prevent="addToDatepicker(24)">24 мес.</a>
                <a href="#" @click.prevent="addToDatepicker(36)">36 мес.</a>
                <a href="#" @click.prevent="addToDatepicker(60)">60 мес.</a>
              </div>
            </div>
          </div>
          <div class="summary row">
            <div class="col-md-3 summary__item">
              <span class="summary__label">Вы берете</span>
              <strong class="summary__value">
                {{summValue}} <span class="rub">q</span>
              </strong>
            </div>
            <div class="col-md-6 summary__item">
              <span class="summary__label">На срок</span>
              <strong class="summary__value">{{dateReturnValue}}</strong>
            </div>
            <div class="col-md-3 summary__item">
              <span class="summary__label">Ежемесячный платеж</span>
              <strong class="summary__value">{{returnValue}}
                <span class="rub">q</span>
              </strong>
            </div>
          </div>
          <div class="row buttons">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
              <button
                class="button secondary-button"
                :class="{ disabled: (dateReturnValue === '-- -- ----')}"
                @click.prevent="submit()"
                type="submit"
              >
                <!--:class="{'disabled-button': disableGraph}"-->
                График платежей
              </button>
            </div>
          </div>
          <div class="error-shedule" v-if="error">
            {{error}}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import debounce from 'debounce';
import moment from 'moment';
import { mapGetters } from 'vuex';
import RequestHeader from '../RequestHeader';
import PayGraph from './Graph';
import InputWrap from '../InputWrap';
import ProductsFilter from '../../utils/Products';


const productsFilter = new ProductsFilter();

export default {
  name: 'Calculator',
  components: {
    RequestHeader,
    PayGraph,
    InputWrap,
  },
  data() {
    return {
      /* дата для ЛКК */
      dateSelected: [
        false,
        true,
      ],
      error: '',
      disableGraph: true,
      disabledDates: {
        to: new Date(),
      },
      /* сумма займа */
      summPure: '',
      cp: '',
      summMin: -1,
      summMax: -1,
      /* остальные поля калькулятора */
      /* показ графика платежей */
      /* объект валидации */
      validation: {
        dateReturn: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        summ: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else if (+vue[e] < vue.summMin || +vue[e] > vue.summMax) {
              this.invalid = true;
              this.message = `Сумма должна быть от ${vue.summMin} до ${vue.summMax}`;
            } else if (parseInt(vue[e], 10) % 1000 > 0) {
              this.invalid = true;
              this.message = 'Сумма должна быть кратна 1000';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
      scheduleFull: [],
      scheduleEarly: [],
      totalAmountFull: '',
      totalAmountEarly: '',
    };
  },
  watch: {
    summPure(v) {
      this.$store.state.calculator.summ = v;
    },
    summ: debounce(
      function summ(e) {
        this.summ = e;
        this.validation.summ.invalid = false;
        this.calculate();
      },
      500,
    ),
    dateReturn(e) {
      this.dateReturn = e;
      this.calculate();
    },
    returnSumm(e) {
      this.returnSumm = e.toString().replace(' ', '');
    },
  },
  computed: {
    ...mapGetters([
      'calculator',
    ]),
    returnSumm: {
      set(v) {
        this.$store.state.graph.annuity = v;
      },
      get() {
        return this.$store.state.graph.annuity;
      },
    },
    summValue() {
      if (this.summ && this.dateReturn && this.returnSumm) {
        return this.$moneyFormat(this.summ);
      }
      return '- --- ---';
    },
    dateReturn: {
      get() {
        return this.$store.state.calculator.dateReturn;
      },
      set(v) {
        this.$store.state.calculator.dateReturn = v;
      },
    },
    dateReturnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.dateReturn.toLocaleString('ru', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        });
      }
      return '-- -- ----';
    },
    returnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.$moneyFormat(this.returnSumm);
      }
      return '- --- ----';
    },
    summ: {
      get() {
        return this.$store.state.calculator.summ.toString().replace(/\s/g, '');
      },
      set(input) {
        this.summPure = input;
      },
    },
  },
  methods: {
    submit() {
      if (this.validate() && !this.disableGraph) {
        this.updateStore();
        this.$router.push('/graph');
      }
    },
    updateStore() {
      this.$store.commit('SET_CALCULATOR', {
        summ: this.summ,
        dateReturn: this.dateReturn,
      });
      this.$router.push({ path: '/graph' });
    },
    validateInputSumm() {
      this.validation.summ.func(this, 'summ');
    },
    calculate() {
      return new Promise(() => {
        if (this.summ
          && this.dateReturn && this.validate()) {
          const self = this;
          self.$api.calculate({
            requestSum: +self.summ,
            returnDate: `${(`0${self.dateReturn.getDate()}`
            ).slice(-2)}.${(`0${self.dateReturn.getMonth() + 1}`
            ).slice(-2)}.${self.dateReturn.getFullYear()}`,
          })
            .then((response) => {
              self.disableGraph = false;
              self.error = '';
              self.$store.commit('SET_GRAPH', response);
              self.returnSumm = response.annuity || 0;
              self.scheduleFull = response.full.schedule;
              self.scheduleEarly = response.early.schedule;
              self.totalAmountFull = response.full.totalAmount || 0;
              self.totalAmountEarly = response.early.totalAmount || 0;
            })
            .catch((e) => {
              self.disableGraph = true;
              self.error = e;
            });
        }
      });
    },
    addToDatepicker(monthCount) {
      const d = new Date();
      d.setMonth(d.getMonth() + monthCount);
      this.dateReturn = d;
    },
  },
  mounted() {
    this.$api.infoCp()
      .then((data) => {
        this.cp = this.$to.camel(data);
        this.cp = this.cp.map((item) => {
          // eslint-disable-next-line
          item.loanPeriodMin = '0';
          return item;
        });
        productsFilter.setCp(this.cp);

        // запишем максимальную и минимальную суммы,
        // максимальную и минимальную дату для валидации продукта

        this.summMax = Math.max(...(this.cp.map(i => i.summMax)));
        this.summMin = Math.min(...(this.cp.map(i => i.summMin)));

        const dateTo = Math.max(...(this.cp.map(i => i.loanPeriodMax)));
        const dateFrom = Math.min(...(this.cp.map(i => i.loanPeriodMin)));
        // eslint-disable-next-line
        const dateStart = moment().add(1, 'days')._d;
        const dateEnd = new Date();
        dateStart.setHours(-3, 0);
        dateEnd.setHours(0, 0);

        // начало периода
        if (dateFrom !== undefined) {
          dateStart.setMonth(dateStart.getMonth() + +dateFrom);
          dateStart.setDate(dateStart.getDate());
        }
        // конец периода
        if (dateTo !== undefined) {
          dateEnd.setMonth(dateEnd.getMonth() + +dateTo);
          dateEnd.setDate(dateEnd.getDate() + 1);
        }

        this.disabledDates.to = dateStart;
        this.disabledDates.from = dateEnd;
      });
    if (!this.summ) {
      this.addToDatepicker(36);
    }
    if (this.summ && this.returnSumm) {
      this.disableGraph = false;
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/calculator.scss';
@import '../../assets/scss/summary.scss';

.button-group {
  border-radius: $input-radius;
  background-color: none;
  overflow: hidden;
  border: $input-border-width solid $input-border-color;
  .button {
    padding: 6px 0 7px 0;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
  }
  .active {
    background: $yellow;
    cursor: default;
  }
}
.error-shedule {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
.kp-select {
  .dropdown-menu > .highlight > a {
    background: inherit;
    color: #333333;
  }
  .dropdown-menu {
    a {
      padding: 0;
      div {
         padding: 3px 20px;
      }
    }
  }
  .highlight{
    &:not(.active) {
      .kp-select-option {
        div:not(.disabled) {
          background: #5897fb;
        }
      }
    }
    a {
      div:not(.disabled) {
        background: #5897fb;
        color: #fff;
      }
    }
  }
  .active {
    color: #333;
    background: rgba(50,50,50,.1);
  }
  .kp-select-option {
    &.disabled {
      opacity: .6;
    }
  }
}
</style>
