<template>
  <div class="content-holder">
    <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"></clip-loader>
    <RequestHeader name="Заявка" num=" "/>
    <form @submit.prevent="submit()">
      <div class="form-holder">
        <div class="row">
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Фамилия</label>
              <input-wrap :error="validation.clientLastName">
                <input
                  type="text"
                  id="request-input-client-last-name"
                  v-model="clientLastName"
                  @blur="validate('clientLastName')"
                />
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Имя <i>*</i></label>
              <input-wrap :error="validation.clientFirstName">
                <input
                  type="text"
                  id="request-input-client-first-name"
                  v-model="clientFirstName"
                  @blur="validate('clientFirstName')"
                />
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Отчество</label>
              <input-wrap :error="validation.clientPatronymic">
                <input
                  type="text"
                  id="request-input-client-patronymic"
                  v-model="clientPatronymic"
                  @blur="validate('clientPatronymic')"
                />
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Мобильный телефон <i>*</i></label>
              <input-wrap :error="validation.clientMobilePhone">
                <input
                  type="text"
                  id="request-input-client-mobile-phone"
                  v-model="clientMobilePhonePure"
                  v-mask="'+7 (###) ###-##-##'"
                  @blur="validate('clientMobilePhone')"
                />
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-8">
            <div>
              <label>Регион регистрации</label>
              <div class="form-control">
                <v-select
                  id="request-input-client-region-id"
                  label="name"
                  v-model="clientRegionId"
                  :options="regions">
                  <template slot="no-options">
                    Нет совпадений
                  </template>
                </v-select>
              </div>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Сумма займа</label>
              <input-wrap :error="validation.summ" :rouble="true">
                <cleave
                  type="text"
                  id="request-input-summ"
                  v-model="summ"
                  @blur="validateInputSumm"
                  ref="summ"
                  :options="{
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand',
                                        numeralPositiveOnly: true,
                                        numeralDecimalScale: 0,
                                        delimiter: ' ',
                                      }"/>
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Марка автомобиля</label>
              <div class="form-control">
                <v-select
                  id="request-input-auto-brand-id"
                  v-model="autoBrandId"
                  label="name"
                  :options="autoBrands"
                  class="select-dropdown"
                ></v-select>
              </div>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Модель автомобиля</label>
              <div class="form-control">
                <v-select
                  id="request-input-auto-model-id"
                  v-model="autoModelId"
                  label="name"
                  :options="autoModels"
                ></v-select>
              </div>
            </div>
          </div>

          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Серия паспорта</label>
              <input-wrap :error="validation.clientPassportSerialNumber">
                <input
                  type="text"
                  id="request-input-client-passport-serial-number"
                  v-model="clientPassportSerialNumber"
                  v-mask="'## ##'"
                  @blur="validate('clientPassportSerialNumber')"
                />
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Номер паспорта</label>
              <input-wrap :error="validation.clientPassportNumber">
                <input
                  type="text"
                  id="request-input-client-passport-number"
                  v-model="clientPassportNumber"
                  v-mask="'### ###'"
                  @blur="validate('clientPassportNumber')"
                />
              </input-wrap>
            </div>
          </div>
          <div class="input-block col-12 col-md-6 col-lg-4">
            <div>
              <label>Дата рождения</label>
              <div class="form-control">
                <datepicker
                  id="request-input-client-birthday"
                  v-model="clientBirthday"
                  :disabled="disabledDates"
                  :open-date="disabledDates.from"
                  class="date"
                  ref="date"
                  language="ru"
                  format="dd.MM.yyyy"
                  :monday-first="true"
                  @blur="validate('clientBirthday')"
                >
                </datepicker>
              </div>
            </div>
          </div>

          <div class="input-block col-12">
            <div>
              <label>Укажите любую дополнительную информацию,
                которую считаете необходимой в свободной форме</label>
              <div class="form-control">
                <input
                  type="text"
                  id="request-input-comment-client"
                  v-model="commentClient"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row buttons">
          <div class="col-12">
            <button
              class="button primary-button"
              :class="{ 'disabled-button': waiting }"
              @click.prevent="submit()">
              <span>Далее</span>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div :class="error ? 'error' : 'success'" v-if="error || success">
              {{error ? error : success}}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</template>

<script>

import moment from 'moment';
import { clearPhone, isCellular } from '@/utils/ClearPhone';
import RequestHeader from '../RequestHeader';
import InputWrap from '../InputWrap';
import ProductsFilter from '../../utils/Products';

const productsFilter = new ProductsFilter();
const orderModel = {
  clientBirthday: '',
  clientLastName: '',
  clientFirstName: '',
  autoBrandId: '',
  summ: '',
  summPure: '',
  autoModelId: '',
  clientPatronymic: '',
  autoModels: [],
  clientPassportSerialNumber: '',
  clientPassportNumber: '',
  clientMobilePhonePure: '',
  commentClient: '',
  clientRegionId: '',
};

export default{
  data() {
    return {
      error: '',
      success: '',
      summPure: '',
      cp: {},
      regions: [],
      autoBrands: [],
      autoModels: [],
      clientLastName: '',
      clientFirstName: '',
      autoBrandId: '',
      autoModelId: '',
      clientPatronymic: '',
      clientPassportSerialNumber: '',
      clientPassportNumber: '',
      clientBirthday: '',
      clientMobilePhonePure: '',
      commentClient: '',
      clientRegionId: '',
      summMin: -1,
      summMax: -1,
      waiting: false,
      disabledDates: {
        // eslint-disable-next-line
        to: null, from: null,
      },
      validation: {
        clientLastName: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if (typeof vue[e] === 'string' && vue[e].length > 1 && !vue.$validateLastName(vue[e])) {
              this.invalid = true;
              this.message = 'Разрешены только русские символы';
            }
          },
        },
        clientFirstName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateLastName(vue[e])) {
                this.invalid = true;
                this.message = 'Разрешены только русские символы';
              }
            }
          },
        },
        clientPassportSerialNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if ((vue[e].length > 0 && /[A-z]/g.test(vue[e])) || (vue[e].length > 0 && vue[e].length !== 5)) {
              this.invalid = true;
              this.message = 'Некорректное значение';
            }
          },
        },
        clientPassportNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if ((vue[e].length > 0 && /[A-z]/g.test(vue[e])) || (vue[e].length > 0 && vue[e].length !== 7)) {
              this.invalid = true;
              this.message = 'Некорректное значение';
            }
          },
        },
        clientPatronymic: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if (typeof vue[e] === 'string' && vue[e].length > 1 && !vue.$validateLastName(vue[e])) {
              this.invalid = true;
              this.message = 'Разрешены только русские символы';
            }
          },
        },
        clientMobilePhone: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && vue[e].length !== 10) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
              if (typeof vue[e] === 'string' && !isCellular(clearPhone(vue[e]))) {
                this.invalid = true;
                this.message = 'Введите номер мобильного телефона';
              }
            }
          },
        },
        summ: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (parseInt(vue[e], 10) < vue.summMin || parseInt(vue[e], 10) > vue.summMax) {
              this.invalid = true;
              this.message = `Сумма должна быть от ${vue.summMin} до ${vue.summMax}`;
            } else if (parseInt(vue[e], 10) % 1000 > 0) {
              this.invalid = true;
              this.message = 'Сумма должна быть кратна 1000';
            } else if (typeof vue.summ !== 'string' && vue.summ.length > 0
              && typeof vue.dateReturn !== 'string' && vue.dateReturn.length > 0
              && vue.$store.state.request.creditProductId.length < 1) {
              this.invalid = true;
              this.message = 'Нет подходящего продукта';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  components: {
    RequestHeader,
    InputWrap,
  },
  watch: {
    autoBrandId(e) {
      this.validate('autoBrandId');
      this.autoBrandId = e;
      if (e && e.id) {
        this.$api.infoAutoModels(e.id)
          .then((data) => {
            this.autoModels = data;
            this.autoModelId = '';
          });
      }
    },
  },
  computed: {
    summ: {
      get() {
        return this.summPure.toString().replace(/\s/g, '');
      },
      set(input) {
        this.summPure = input;
      },
    },
    clientMobilePhone: {
      get() {
        if (this.clientMobilePhonePure !== undefined) {
          return this.clientMobilePhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientMobilePhonePure = input;
      },
    },
  },
  methods: {
    validateInputSumm() {
      this.validation.summ.func(this, 'summ');
    },
    cleanOrder() {
      Object.keys(orderModel).forEach((el) => {
        this[el] = orderModel[el];
      });

      // todo исправить костыли
      this.$refs.summ.$el.value = '';
      this.$refs.date.tempInput = '';
    },
    disableDates() {
      const ageMin = 21;
      const ageMax = 68;

      // eslint-disable-next-line
      this.disabledDates.to = moment().subtract(ageMax, 'years')._d;
      // eslint-disable-next-line
      this.disabledDates.from = moment().subtract(ageMin, 'years')._d;
    },
    submit() {
      this.error = '';
      if (this.validate()) {
        this.waiting = true;
        this.$api.createLead({
          clientLastName: this.clientLastName,
          clientFirstName: this.clientFirstName,
          autoBrandId: this.autoBrandId && this.autoBrandId.id,
          autoModelId: this.autoModelId && this.autoModelId.id,
          clientPatronymic: this.clientPatronymic,
          clientPassportSerialNumber: this.clientPassportSerialNumber,
          clientPassportNumber: this.clientPassportNumber,
          clientBirthday: this.clientBirthday,
          clientMobilePhonePure: this.clientMobilePhonePure,
          clientMobilePhone: this.clientMobilePhone,
          commentClient: this.commentClient,
          clientRegionId: this.clientRegionId && this.clientRegionId.id,
          summ: this.summPure,
        }).then((data) => {
          if (data.success) {
            this.waiting = false;
            this.success = 'Заявка успешно создана';
            this.cleanOrder();
          }
        }).catch((e) => {
          this.error = e.message;
          this.waiting = false;
        });
      }
    },
  },
  mounted() {
    this.disableDates();
    this.$api.infoCp()
      .then((data) => {
        this.cp = this.$to.camel(data);
        this.cp = this.cp.map((item) => {
          // eslint-disable-next-line
          item.loanPeriodMin = '0';
          return item;
        });
        productsFilter.setCp(this.cp);

        // запишем максимальную и минимальную суммы,
        // максимальную и минимальную дату для валидации продукта

        this.summMax = Math.max(...(this.cp.map(i => i.summMax)));
        this.summMin = Math.min(...(this.cp.map(i => i.summMin)));

        const dateTo = Math.max(...(this.cp.map(i => i.loanPeriodMax)));
        const dateFrom = Math.min(...(this.cp.map(i => i.loanPeriodMin)));
        // eslint-disable-next-line
        const dateStart = moment().add(1, 'days')._d;
        const dateEnd = new Date();
        dateStart.setHours(-3, 0);
        dateEnd.setHours(0, 0);

        // начало периода
        if (dateFrom !== undefined) {
          dateStart.setMonth(dateStart.getMonth() + +dateFrom);
          dateStart.setDate(dateStart.getDate());
        }
        // конец периода
        if (dateTo !== undefined) {
          dateEnd.setMonth(dateEnd.getMonth() + +dateTo);
          dateEnd.setDate(dateEnd.getDate() + 1);
        }
      });

    this.$api.infoAutoBrands()
      .then((data) => {
        this.autoBrands = data;
      });
    this.$api.infoRegions()
      .then((data) => {
        this.regions = this.$to.camel(data);
      });
  },
};
</script>

<style lang="scss">
  @import '../../assets/scss/functions.scss';
  @import '../../assets/scss/wrapper.scss';
  .error {
    color: red;
    text-align: center;
  }
  .success {
    color: green;
    text-align: center;
  }
  label i {
    color: red;
    font-style: normal;
  }
</style>
