<!--eslint-disable-->
<template>
  <div class="offer-instructions content-holder">
    <h1>
      Информационные сообщения о стоимости услуг
    </h1>
    <h4>Информационные сообщения об установлении стоимости услуг</h4>
    <table class="table">
      <thead>
      <tr>
        <th width="170px">Дата добавления</th>
        <th>Условия вознаграждения ФЛ</th>
        <th>Условия вознаграждения ИП\ЮЛ</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>15.08.2018</td>
        <td>
          <p>
            С 15 августа 2018г. за выполненные обязательства* по Договору стоимость услуг Исполнителя составляет:
          <ul>
          <li>при сумме микрозайма до 200 000 (двухсот тысяч) рублей вознаграждение Исполнителя составляет 1% (один
            процент) от суммы договора микрозайма, заключенного в Отчетном периоде;</li>
          <li>при сумме микрозайма от 201 000 (двухсот одной тысячи) рублей вознаграждение Исполнителя составляет 1,5 %
            (одна целая пять десятых процента) от суммы договора микрозайма, заключенного в Отчетном периоде.</li>
          </ul>
          При выданных микрозаймах в количестве 3 (трех) штук и более за Отчетный период, за каждый выданный микрозайм
          Заказчик выплачивает Исполнителю дополнительное вознаграждение:
          <ul>
            <li>
              вознаграждение Исполнителя составляет 500 (пятьсот) рублей за каждый выданный микрозайм на сумму менее (или
              ровно) 200 000 (двести тысяч) рублей;
            </li>
            <li>
              вознаграждение Исполнителя составляет 1000 (одна тысяча) рублей за каждый выданный микрозайм на сумму от
              201 000 (двухсот одной тысячи) рублей.
            </li>
          </ul>
          <b>* Оплата производится Заказчиком только за Заявления-Анкеты, по которым состоялась выдача Микрозайма Клиенту с
          учетом выполнения условий, указанных в п. 2.3 Договора, при этом по Микрозайму не произошло досрочного
            погашения в течение 20 (двадцати) календарных дней с момента его выдачи.</b>
          </p>
        </td>
        <td>
          <p>
            С 15 августа 2018г.  за выполненные обязательства* по Договору стоимость услуг Исполнителя составляет:
            <ul>
              <li>2% (два процента) от суммы договора микрозайма, заключенного в Отчетном периоде.</li>
            </ul>
            При выданных микрозаймах в количестве 3 (трех) штук и более за Отчетный период, за каждый выданный микрозайм Заказчик выплачивает Исполнителю дополнительное вознаграждение:
            <ul>
              <li>вознаграждение Исполнителя составляет 500 (пятьсот) рублей за каждый выданный микрозайм на сумму менее (или ровно) 200 000 (двести тысяч) рублей;</li>
              <li>вознаграждение Исполнителя составляет 1000 (одна тысяча) рублей за каждый выданный микрозайм на сумму от 201 000 (двухсот одной тысячи) рублей.</li>
            </ul>
              +
              <br/>
            <b>
            * Оплата производится Заказчиком только за Заявления-Анкеты, по которым состоялась выдача Микрозайма Клиенту с учетом выполнения условий,
            указанных в п. 2.3 Договора, при этом по Микрозайму не произошло досрочного погашения в течение 20 (двадцати) календарных дней с момента его выдачи.
            </b>
          </p>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<style lang="scss" scoped>
  p {
      font-weight: 100;
    b {
      font-weight: bold;
    }
  }
</style>
