<template>
  <div class="statuses content-holder">
    <div class="row">
      <div class="col-md-12">
        <h1>Статус по переданным лидам</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-middle-content">
          <thead>
          <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Мобильный телефон</th>
            <th>Номер паспорта</th>
            <th>Серийный номер паспорта</th>
            <th>Сумма займа</th>
            <th>Дата рождения</th>
            <th>Дата создания</th>
            <!--<th>Активен</th>-->
            <!--<th></th>-->
          </tr>
          </thead>
          <tbody>
          <tr v-for="lead in leads" :key="lead.id">
            <td>
              {{lead.clientFirstName}}
            </td>
            <td>
              {{lead.clientLastName}}
            </td>
            <td>
              {{lead.clientPatronymic}}
            </td>
            <td>
              {{lead.clientMobilePhone}}
            </td>
            <td>
              {{lead.clientPassportNumber}}
            </td>
            <td>
              {{lead.clientSerialNumber}}
            </td>
            <td>
              {{lead.summ}}
            </td>
            <td>
              {{lead.clientBirthday}}
            </td>
            <td>
              {{new Date(lead.createdAt).toLocaleDateString()}}
              {{new Date(lead.createdAt).toLocaleTimeString()}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <pagination :pageCount="leadsPages"
                    v-if="leadsPages && leadsPages > 1"
                    pagination-pattern="/status/pagination"
                    pagination-route-param="page"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Pagination from '../Global/Pagination';
import { LEADS } from '../../store/panel/action_types';


export default {
  data() {
    return {};
  },
  computed: {
    ...mapGetters(['leads', 'leadsPages']),
    page() {
      return this.$route.params.page;
    },
  },
  watch: {
    page() {
      this.loadUsers();
    },
  },
  components: {
    Pagination,
  },
  methods: {
    loadUsers() {
      const params = {
        page: this.page,
      };
      this.$store.dispatch(LEADS, params);
    },
  },
  mounted() {
    this.loadUsers();
  },
};
</script>

<style scoped lang="scss">
.button {
  margin-bottom: 0;
  padding: 6px 0;
  &.btn-danger {
    background-color: red;
    border-color: red;
    color: white;
  }
}

table {
  tr {
    th, td {
      &:not(:first-of-type) {
        text-align: center;
      }
      &:last-of-type{
        text-align: right;
      }
    }
  }
}

</style>
