<template xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
  <div class="auth">
    <div class="row">
      <div class="col-md-12">
        <h1>Авторизация за пользователя</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form @submit.prevent="submit()">
          <div class="row align-items-end">
            <div class="col-md-4">
              <label>Логин</label>
              <input-wrap :error="validation.username">
                <div class="input-button-group">
                  <input :error="validation.username"
                         type="text"
                         v-model="username"
                         @blur="validate('username')"
                  />
                  <button type="button"
                          :class="{'disabled-button': !link}"
                          class="primary-button icon-button print-control-links"
                          v-clipboard:copy="link"
                  >
                    <img src="/static/i/copy.svg" width="20px"/>
                  </button>
                  <button type="button"
                          :class="{'disabled-button': !link}"
                          class="primary-button icon-button print-control-links"
                          @click="redirect()"
                  >
                    <img src="/static/i/next.svg" width="20px"/>
                  </button>
                </div>
              </input-wrap>
            </div>
            <div class="col-md-2">
              <button @click.prevent="submit()"
                      class="button primary-button">
                Получить ссылку
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 error" v-if="linkError">
              {{linkError}}
            </div>
            <div class="col-md-4 success" v-if="link">
              Ссылка успешно сгенерирована и активна в течение 5 минут.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import InputWrap from '@/components/InputWrap';
import { mapGetters } from 'vuex';
import { CREATE_LINK } from '../../store/panel/action_types';

export default {
  data() {
    return {
      username: '',
      linkSuccess: '',
      time: null,
      validation: {
        username: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  components: {
    InputWrap,
  },
  computed: {
    ...mapGetters(['link', 'linkError']),
  },
  methods: {
    redirect() {
      window.location = this.link;
    },
    submit() {
      if (this.validate()) {
        const req = {
          username: this.username,
        };
        this.$store.dispatch(CREATE_LINK, req);
      }
    },
  },
};
</script>

<style lang="scss">
@import '../../assets/scss/functions.scss';

.auth {
  .form-control {
    margin-bottom: 20px;
    .input-button-group {
      display: flex;
      .print-control-links {
        cursor: pointer;
        border: 0 !important;
        &:active {
          opacity: .8;
        }
        &:not(:first-of-type) {
          border-left: 1px solid #ced4da !important;
        }
        &.disabled-button {
          padding: 1px 7px 2px !important;
        }
      }
    }
  }
  .button {
    padding: 4px 0;
  }
  .error{
    text-align: center;
    margin-top: 20px;
    color: red;
  }
  .success{
    text-align: center;
    margin-top: 20px;
    color: green;
  }
}
@include media-breakpoint-down(sm) {
  .auth {
    padding-top: 80px;
  }
}
</style>
