<template>
  <div class="create-user row">
    <div class="col">
      <clip-loader color="#FFCC00" v-if="loading" class="absolute-spinner"/>
      <form @submit.prevent="submit()">
        <div class="row">
          <div class="col-sm col-12">
            <input-wrap :error="validation.username">
              <input
                type="text"
                class="no-transform"
                placeholder="Логин"
                v-model="username"
                @blur="validate('username')"
              />
            </input-wrap>
          </div>
          <div class="col-sm col-12">
            <input-wrap :error="validation.firstName">
              <input
                type="text"
                class="no-transform"
                placeholder="Имя"
                v-model="firstName"
                @blur="validate('firstName')"
              />
            </input-wrap>
          </div>
          <div class="col-sm col-12">
            <input-wrap :error="validation.lastName">
              <input
                type="text"
                class="no-transform"
                placeholder="Фамилия"
                v-model="lastName"
                @blur="validate('lastName')"
              />
            </input-wrap>
          </div>
          <div class="col-sm col-12">
            <input-wrap :error="validation.patronymic">
              <input
              type="text"
              class="no-transform"
              placeholder="Отчество"
              v-model="patronymic"
              @blur="validate('patronymic')"
              />
            </input-wrap>
          </div>
          <div class="col-sm col-12">
            <input-wrap :error="validation.password">
              <input
                type="password"
                class="no-transform"
                placeholder="Пароль"
                v-model="password"
                @blur="validate('password')"
              />
            </input-wrap>
          </div>
          <div class="col-sm col-12">
            <input-wrap :error="validation.role">
              <v-select
                label="name"
                placeholder="Роль"
                class="no-transform"
                v-model="role"
                :options="filteredGroups">
                <template slot="no-options">
                  Нет совпадений
                </template>

              </v-select>
            </input-wrap>
          </div>
          <div class="col">
            <button @click.prevent="submit()" class="button primary-button">Создать</button>
          </div>
        </div>
      </form>
        <div :class="userError ? 'errors': 'success'" v-if="userError || user">
          {{userError || `Пользователь с ID ${user} успешно создан.`}}
        </div>
    </div>
  </div>
</template>

<script>
import InputWrap from '@/components/InputWrap';
import consts from '@/consts';
import { GROUPS, CREATE_USER } from '@/store/panel/action_types';
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      username: '',
      firstName: '',
      lastName: '',
      patronymic: '',
      password: '',
      role: '',
      validation: {
        username: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateLogin(vue[e])) {
                this.invalid = true;
                this.message = 'Накорректный логин.';
              }
            }
          },
        },
        firstName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        patronymic: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if (String(vue[e]).length > 0 && !vue.$validateLastName(vue[e])) {
              this.invalid = true;
              this.message = 'Разрешены только русские символы';
            }
          },
        },
        lastName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        password: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Необходимо ввести пароль';
            } else {
              this.invalid = false;
              this.message = '';
              if (vue[e].search(/^\S*(?=\S{6,})(?=\S*[a-zа-я])(?=\S*[A-ZА-Я])(?=\S*[\d])\S*$/) === -1) {
                this.invalid = true;
                this.message = `Пароль должен содержать минимум одну заглавную,
                одну строчную буквы, одну цифру и быть длинной не меннее 6 символов`;
              }
            }
          },
        },
        role: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  computed: {
    filteredGroups() {
      // eslint-disable-next-line
      return this.groups.filter((el) => {
        if (this.user_info.role === consts.adminRoleIdentifier ||
          el.identifier === consts.leadAgentRoleIdentifier) {
          return el;
        }
      });
    },
    ...mapGetters(['groups', 'userError', 'loading', 'user', 'user_info']),
  },
  watch: {
    user() {
      const fields = [
        'username',
        'firstName',
        'lastName',
        'patronymic',
        'password',
        'role',
      ];
      // eslint-disable-next-line
      fields.forEach(el => this[el] = '');
    },
  },
  methods: {
    submit() {
      if (this.validate() && !this.loading) {
        const req = {
          username: this.username,
          firstName: this.firstName,
          secondName: this.patronymic,
          lastName: this.lastName,
          password: this.password,
          role: this.role.identifier,
        };
        this.$store.dispatch(CREATE_USER, req);
      }
    },
  },
  mounted() {
    this.$store.dispatch(GROUPS);
  },
  components: {
    InputWrap,
  },
};
</script>

<style scoped lang="scss">
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';

form > .row > div {
  margin-top: 10px;
}
.create-user {
  margin-top: 20px;
  margin-bottom: 10px;
  .button{
    margin-bottom: 0;
    padding: 4px 0;
  }
  .errors {
    color: red;
    margin-top: 20px;
    text-align: center;
  }
  .success {
    color: green;
    margin-top: 20px;
    text-align: center;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity 0.25s ease-out;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
</style>
