<template>
  <div class="docs">
    <div class="row">
      <div class="col-md-12">
        <h1>Документы</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form @submit.prevent="submit()">
          <div class="row align-items-end">
            <div class="col-12">
              <label>Выбор существующего документа</label>
              <input-wrap :error="validation.doc">
                <v-select
                  id="choose-doc-id"
                  v-model="doc"
                  label="label"
                  ref="select"
                  :options="[newDoc, ...documents]">
                  <template slot="no-options">
                    Нет совпадений
                  </template>
                </v-select>
              </input-wrap>
            </div>
          </div>
          <div class="row editor-row">
            <div class="col-md-12">
              <editor v-model="editorHtml"/>
            </div>
          </div>
          <div class="row editor-debug align-items-end">
            <div class="col-md-4">
              <div>
                <label>Название документа <sup>(рус)</sup></label>
                <input-wrap :error="validation.label">
                  <input
                    type="text"
                    id="create-doc-label"
                    class="no-transform"
                    v-model="label"
                    @blur="validate('label')"
                  />
                </input-wrap>
              </div>
            </div>
            <div class="col-md-4">
              <div>
                <label>Код документа <sup>(англ)</sup></label>
                <input-wrap :error="validation.code">
                  <input
                    type="text"
                    id="create-doc-code"
                    class="no-transform"
                    :disabled="!!doc.code"
                    v-model="code"
                    @blur="validate('code')"
                  />
                </input-wrap>
              </div>
            </div>

            <div class="col-md-4">
              <button class="button primary-button" type="button" @click="submit()">
                {{doc ? 'Обновить' : 'Сохранить'}}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import InputWrap from '@/components/InputWrap';
import { mapGetters } from 'vuex';
import Editor from '../Editor';
import { CREATE_DOC, LOAD_DOCS } from '../../store/panel/action_types';


const startDoc = {
  html: '',
  label: 'Новый документ',
};

export default {
  data() {
    return {
      doc: startDoc,
      label: '',
      code: '',
      editorHtml: '',
      newDoc: startDoc,
      editor: null,
      wrapper: null,
      validation: {
        doc: {
          invalid: false,
          message: '',
          func() {
          },
        },
        label: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateRu(vue[e].toLowerCase())) {
                this.invalid = true;
                this.message = 'Допустимо вводить только русские символы';
              }
              if (vue[e] === 'Новый документ') {
                this.invalid = true;
                this.message = 'Необходимо ввести имя документа';
              }
            }
          },
        },
        code: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateEng(vue[e])) {
                this.invalid = true;
                this.message = 'Допустимо вводить только английские символы';
              }
            }
          },
        },
      },
    };
  },
  components: {
    InputWrap,
    Editor,
  },
  computed: {
    ...mapGetters(['link', 'linkError', 'documents']),
  },
  watch: {
    doc(v) {
      if (v) {
        this.editorHtml = v.html;
        this.label = startDoc.label === v.label ? '' : v.label;
        this.code = v.code;
      }
    },
  },
  methods: {
    loadDocs() {
      this.$store.dispatch(LOAD_DOCS);
    },
    submit() {
      if (this.validate()) {
        const req = {
          code: this.code.toLowerCase(),
          label: this.$to.firstUpper(this.label),
          html: this.editorHtml,
        };
        this.$store.dispatch(CREATE_DOC, req);
      }
    },
  },
  mounted() {
    this.loadDocs();
  },
};
</script>

<style lang="scss">
  @import '../../assets/scss/functions.scss';


  .editor-table__control{
    margin-top: 1rem;
  }
  .docs {
    .button {
      margin-bottom: 0;
      padding: 4px 0;
      &.disabled-button {
        padding: 6px 0 !important;
      }
    }
  }
</style>
