<template>
  <div class="users">
    <list-component
    title="Список заявок"
    :listModel="listModel"
    :action="{
          name: LEADS,
          params: actionParams,
        }"
    listProperty="leads"
    :getters="['leads']"
    :actionParams="actionParams"
    >
      <template>
        <button slot-scope="clientMobilePhone" modelKey="clientMobilePhone"></button>
        <div slot-scope="statusSms" modelKey="statusSms"></div>
      </template>
    </list-component>
    <pagination :pageCount="leadsPageCount"
                pagination-pattern="/orders/pagination"
                pagination-route-param="page"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Pagination from '../Global/Pagination';
import ListComponent from '../Global/ListComponent/ListComponent';
import { LEADS, SMS_STATUS } from '../../store/panel/action_types';

export default {
  data() {
    return {
      listModel: [
        { name: 'ID', key: 'id' },
        { name: 'Код', key: 'code' },
        { name: 'Дата создания', key: 'createdAt' },
        { name: 'Сумма', key: 'summ' },
        { name: 'ФИО', key: ['clientFirstName', 'clientLastName', 'clientPatronymic'] },
        { name: 'Телефон', key: 'clientMobilePhone' },
        {
          name: 'Статус по СМС',
          events: {
            click: this.showSmsInfo,
          },
          render(model, row) {
            if (row.smsStatus) {
              return row.smsStatus;
            }
            if (row.smsId) {
              return `<button class="button primary-button show-sms-info ${row.loading ? 'disabled-button' : ''}">Проверить</button>`;
            }
            return 'В заявке нет идентификатора SMS';
          },
        },
      ],
      LEADS,
    };
  },
  computed: {
    actionParams() {
      return {
        page: this.$route.params.page,
      };
    },
    ...mapGetters(['leads', 'leadsPageCount']),
  },
  methods: {
    showSmsInfo(model, row) {
      if (!row.loading && row.smsId) {
        const res = {
          id: row.smsId,
          row,
        };
        this.$store.dispatch(SMS_STATUS, res);
      }
    },
  },
  components: {
    ListComponent,
    Pagination,
  },
};
</script>

<style  lang="scss">
button.show-sms-info {
  margin-bottom: 0;
  padding: 6px 0;
  border: 0;
  &.btn-danger {
    background-color: red;
    border-color: red;
    color: white;
  }
  &.disabled-button {
    padding: 6px 0 !important;
  }
}

</style>
