<template>
  <div class="users">
    <list-component
      title="Пользователи"
      :listModel="listModel"
      :action="{
        name: USERS,
        params: actionParams,
      }"
      listProperty="users"
      :getters="['users']"
      :actionParams="actionParams"
    >
      <create-user slot="beforeListSlot"/>
      <pagination
        slot="afterListSlot"
        :pageCount="usersPages"
        pagination-pattern="/users/pagination"
        pagination-route-param="page" />
    </list-component>
    <popup v-if="showEditUser" @close="showEditUser = false">
      <edit-user/>
    </popup>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Popup from '../Popup';
import EditUser from '../../components/Global/EditUser/EditUser.component';
import CreateUser from './CreateUser';
import { GROUPS, USERS } from '../../store/panel/action_types';
import Pagination from '../Global/Pagination';
import ListComponent from '../Global/ListComponent/ListComponent';

export default {
  data() {
    return {
      showEditUser: false,
      listModel:
      [
        {
          name: 'ID',
          filter: 'string',
          key: 'id',
        },
        {
          name: 'Логин',
          filter: 'string',
          key: 'username',
        },
        {
          name: 'Имя',
          filter: 'string',
          key: 'firstName',
        },
        {
          name: 'Фамилия',
          filter: 'string',
          key: 'lastName',
        },
        {
          name: 'Роль',
          key: 'role',
          // filter: {
          //   type: 'select',
          //   label: 'name',
          //   valueProp: 'id',
          //   getter: 'groups',
          //   operator: 'eq',
          //   sortProp: 'id',
          // },
          render: (model, row) => {
            if (this.groups) {
              const group = this.groups.find(el => el.identifier === row.role);
              return group ? group.name : row.role;
            }
            return row.role;
          },
          disableFilter: true,
        },
        {
          name: 'Email',
          filter: 'string',
          key: 'email',
        },
        {
          name: 'Активный',
          type: 'status',
          key: 'active',
          filter: {
            type: 'boolean',
            operator: 'eq',
          },
        },
        {
          name: 'Статус по СМС',
          events: {
            click: this.showUserInfo,
          },
          render() {
            return '<button class="button primary-button">Редактировать</button>';
          },
        },
      ],
      USERS,
    };
  },
  computed: {
    ...mapGetters(['users', 'usersPages', 'user_info', 'groups']),
    actionParams() {
      return {
        page: this.$route.params.page,
      };
    },
  },
  methods: {
    showUserInfo(model, row) {
      this.$store.dispatch('editUser/setUser', row);
      this.showEditUser = true;
    },
  },
  mounted() {
    this.$store.dispatch(GROUPS);
  },
  components: {
    Pagination,
    CreateUser,
    ListComponent,
    EditUser,
    Popup,
  },
};
</script>

<style scoped lang="scss">
.button {
  margin-bottom: 0;
  padding: 6px 0;
  &.btn-danger {
    background-color: red;
    border-color: red;
    color: white;
  }
}

</style>
