<template>
  <div id="app">
    <router-view :key="this.$route.path" />
  </div>
</template>

<script>

export default {
  name: 'AppAgent',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './assets/scss/functions.scss';
</style>
