<template>
  <wrapper>
    <router-view :key="this.$route.path" />
  </wrapper>
</template>

<script>

import Wrapper from './components/Wrapper';

export default {
  name: 'AppAdmin',
  components: {
    Wrapper,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>

</style>
