<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'AppLogin',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './assets/scss/functions.scss';
</style>
