<template>
  <wrapper-lead>
    <router-view />
  </wrapper-lead>
</template>

<script>
// eslint-disable-next-line
import WrapperLead from './components/Lead/Wrapper';

export default {
  name: 'AppPartner',
  components: {
    WrapperLead,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>

</style>
