<template>
  <div id="app">
    <wrapper>
      <router-view />
    </wrapper>
  </div>
</template>

<script>

import Wrapper from './components/Manager/Wrapper';

export default {
  name: 'AppManager',
  components: {
    Wrapper,
  },
};
</script>
