<template>
  <wrapper>
    <router-view />
  </wrapper>
</template>

<script>

import Wrapper from './components/Wrapper';

export default {
  name: 'AppPartner',
  components: {
    Wrapper,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>

</style>
