<template>
  <div id="app" @contextmenu="handler($event)" class="not-select">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'AppPrint',
  methods: {
    handler(e) {
      e.preventDefault();
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './assets/scss/functions.scss';

</style>
<style>
.not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}
</style>
