<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'AppRegister',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './assets/scss/functions.scss';
</style>
<style>
 html, body {
   background-color: #354052;
 }
</style>
