<template>
  <div id="app">
    <div v-if="!closed">
      <div class="container">
        <div class="row mt">
          <div class="col-9">
            <h1>Новый вопрос по заявке</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <vermess-new></vermess-new>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <h1>Сервис недоступен.</h1>
    </div>
  </div>
</template>
<script>
import VermessNew from './components/VermessNew';
import Popup from './components/Popup';

export default {
  name: 'AppService',
  data() {
    return {
      closed: false,
    };
  },
  components: {
    VermessNew,
    Popup,
  },
  methods: {
    vermessClose() {
      this.$store.commit('VERMESS_CLOSE');
    },
    showVermessNew() {
      this.$store.commit('VERMESS_NEW_OPEN');
    },
    vermessNewClose() {
      this.$store.commit('VERMESS_NEW_CLOSE');
    },
  },
  mounted() {
    this.$api.getClosed()
      .then(({ data: { closed } }) => {
        this.closed = closed;
      })
      .catch((err) => {
        console.error(err);
      });
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import './assets/scss/functions.scss';
.mt {
  margin-top:20px;
}
h1 {
  text-align: center;
}
</style>
