<template>
  <div class="container">
    <h1>404</h1>
    <span>Такой страницы не существует</span>
  </div>
</template>

<script>
export default {
  name: 'PageNotFound',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.container {
  padding-top: 30px;
}
</style>
