<template>
<div>
 <div class="content" v-if="step === 3">
          <form @submit.prevent="submitThird()">
            <div class="form-holder">
              <div class="row" v-if="recommendSumm">
                <div class="col-12">
                  Рекомендуемая сумма платежа: {{recommendSumm | moneyFormat}} руб.
                </div>
              </div>
               <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>Выберите способ оплаты</label>
                            <input-wrap :error="validation.payMethodsId" >
                              <v-select
                                  id="pay-input-pay-methods-id"
                                  v-model="payMethodsId"
                                  label="name"
                                  :options="payMethods"
                                  class="select-dropdown"
                                  @blur="validate('payMethodsId')"
                              ></v-select>
                            </input-wrap>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>Сумма</label>
                            <input-wrap :error="validation.summ" :rouble="true">
                                  <input
                                    type="text"
                                    id="request-input-summ"
                                    v-model="summ"
                                  />
                              </input-wrap>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="summToPay">
                  <div class="col-12">
                    <div>Итоговая сумма к оплате с комиссией:</div>
                    <div><b>{{summToPay | moneyFormat}} руб.</b></div>
                  </div>
                </div>

                <div class="row" v-if="comPercent && comFixed">
                  <div class="col-12">Комиссия - {{comPercent}}%,
                      но не менее {{comFixed | moneyFormat}} руб.</div>
                </div>
                <div class="row" v-if="validation.oferta.invalid">
                  <div class="col-12 error-message">
                    Примите условия оферты
                  </div>
                </div>
                <div class="row" v-if="params.file_oferta">
                  <div class="col-12 checkbox-wrap">
                      <checkbox
                              value='checked'
                              v-model="oferta"
                              :checked="false">
                        Согласен с <a :href="params.file_oferta" about="_blank">условиями оферты</a>
                      </checkbox>
                  </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-12">
                    <button class="button primary-button"
                     @click.prevent="submitThird()" :class="{disabled: waiting}">
                      <span v-if="!this.waiting">Отправить</span>
                      <clip-loader
                        v-if="this.waiting"
                        color="#ffffff"
                        size="14px"
                        >
                      </clip-loader>
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div class="content form" v-if="step === 4">
           <clip-loader
            color="#FFCC00"
            size="40px"
            >
          </clip-loader>
          <div v-html="form" v-show="false" ></div>
        </div>
        <div class="content" v-if="step === 5">
          <form @submit.prevent="submitLast()">
            <div class="form-holder">
                <div class="row">
                  <div class="col-12">
                    Платеж принят.
                  </div>
                </div>
                <div class="row" v-if="error">
                  <div class="col-12 error-message">
                    Ошибка.
                  </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-12">
                    <button class="button primary-button"
                     @click.prevent="submitLast()" :class="{disabled: waiting}">
                        Вернуться
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div class="content" v-if="step === 6">
          <form @submit.prevent="submitLast()">
            <div class="form-holder">
                <div class="row">
                  <div class="col-12">
                    Произошла ошибка.
                  </div>
                </div>
                <div class="row" v-if="error">
                  <div class="col-12 error-message">
                    Ошибка.
                  </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-12">
                    <button class="button primary-button"
                     @click.prevent="submitLast()" :class="{disabled: waiting}">
                        Вернуться
                    </button>
                </div>
            </div>
          </form>
        </div>
</div>
</template>
<script src="./PayWalletOne.script.js"></script>
<style lang="scss" rel="stylesheet/scss" src="./PayWalletOne.style.scss" scope></style>
