<template>
  <div class="login-block">
    <div class="white"></div>
    <img class="logo" src="/static/i/logo.svg" alt="">
    <div class="content">
      <div v-if="images && isVisible" class="imgcontener">
        <img class="imgdoc"
             v-for="(image, index) in images"
             :src="image.filePath"
             :alt="image.fileName"
             :key="index"/>
        <!-- todo заменить потом index на id-->
      </div>
      <div v-if="!isVisible">
        <p>Время вышло</p>
      </div>
      <div v-if="!images">
        <p>Вы просто перегрузили страницу, через 1 секунду произойдет редирект</p>
      </div>

    </div>
  </div>
</template>

<script>

export default {
  name: 'PrintImage',
  data() {
    return {
      images: '',
      isVisible: true,
    };
  },
  methods: {
    timer() {
      // time с server sec
      let serverTime = 0;
      if (!this.$store.state.requests.data[0].printLinkExpired) {
        setTimeout(() => {
          this.$router.push({
            path: `/${this.$route.params.code}`,
          });
        }, 1 * 1000);
      } else {
        serverTime = this.$store.state.requests.data[0].printLinkExpired;
      }
      // time с brouser sec
      const bTime = Math.floor((new Date()
      ).getTime() / 1000);
      // время жизни img sec
      const lifeTime = 300;
      if (((serverTime + lifeTime
      ) - bTime
      ) >= 0) {
        setTimeout(() => {
          this.isVisible = false;
        }, ((serverTime + lifeTime
        ) - bTime
        ) * 1000);
      } else {
        this.isVisible = false;
      }
    },
  },
  mounted() {
    if (this.$store.state.requests.data) {
      this.images = this.$store.state.requests.data;
      this.timer();
    } else {
      setTimeout(() => {
        this.$router.push({
          path: `/${this.$route.params.code}`,
        });
      }, 1 * 1000);
    }
  },
};
</script>
<style lang="scss" rel="stylesheet/scss">
html, body {
  background: #273142 !important;
}

#app {
  padding: 0 10px !important;
}
</style>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.form-holder {
  margin-left: 0;
}

.login-block {
  position: relative;
  background: $bg;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
  top: 70px;
  border-radius: $input-radius;
  position: relative;
  color: #505e77;
  font-size: 13px;
  padding: 80px 30px 10px 30px;
  .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
  .white {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    background: $bg;
    -ms-transform: rotate(45deg); /* IE9 */
    -moz-transform: rotate(45deg); /* FF3.5/3.6 */
    -o-transform: rotate(45deg); /* Opera 10.5 */
    -webkit-transform: rotate(45deg); /* Saf3.1+ */
    transform: rotate(45deg); /* Newer browsers */
  }
  .light {
    color: #7383a1;
    margin-top: 5px;
  }
  .form-checkbox {
    position: relative;
    padding-bottom: 10px;
    div {
      &:nth-child(1) {
        position: absolute;
        top: 2px;
        left: 0;
      }
      display: inline-block;
      &:nth-child(2) {
        color: #354052;
        font-weight: 600;
        margin-left: 20px;
      }
    }
  }
  a {
    color: #4a90e2;
    text-decoration: underline;
  }
}

.padd {
  margin-bottom: 20px;
}

.buttons {
  margin-bottom: 0px;
  font-weight: 600;
}

.imgdoc {
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  width: 650px;
  max-width: 100%;
}

.footer {
  background: #f8fafc;
  box-shadow: 0 -1px 0 0 #e7e9ed;
  margin: 0px -30px -15px -30px;
  padding: 15px 30px 15px 30px;
  border-radius: 0 0 $input-radius $input-radius;
  text-align: center;
  a {
    font-weight: 600;
    color: #7f8fa4;
    line-height: 19px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media print {
  .imgdoc {
    display: block;
    page-break-before: always;
    width: 103%;
    height: 100%;
    vertical-align: middle;
    margin: 0 auto;
  }
  .footer, .logo, .white {
    display: none
  }
  .login-block {
    top: 0px;
    padding: 0;
    margin: 0 auto;
  }
  @page {
    margin: 0;
    padding: 0;
    border: 0;
  }
  * {
    margin: 0;
    padding: 0;
    border: 0;
  }
  .imgcontener {
    padding: 0;
    margin: 0;

  }
}
</style>
