<template>
    <div class="content-holder">
        <div>
            <RequestHeader name="Проверьте данные" num="1"/>
            <form @submit.prevent="submit()">
              <div class="form-holder">
                    <div class="row">
                        <div class="input-block col-12 col-md-6">
                            <div>
                                <label>Сумма займа</label>
                                <input-wrap :error="validation.summ" :rouble="true">
                                    <cleave
                                        type="text"
                                        id="request-input-summ"
                                        v-model="summ"
                                        @blur="validateInputSumm"
                                        :options="{
                                            numeral: true,
                                            numeralThousandsGroupStyle: 'thousand',
                                            numeralPositiveOnly: true,
                                            numeralDecimalScale: 0,
                                            delimiter: ' ',
                                        }"
                                        ref="summ"
                                    />
                                </input-wrap>
                            </div>
                        </div>
                        <div class="input-block col-12 col-md-6">
                            <div>
                                <label>Срок займа</label>
                                <div class="button-group">
                                    <div
                                        class="button"
                                        :class="{ 'active': dateSelected[0] }"
                                        @click="selectDate(24)"
                                    >
                                        24 месяца
                                    </div>
                                    <div
                                        class="button"
                                        :class="{ 'active': dateSelected[1] }"
                                        @click="selectDate(36)"
                                    >
                                        36 месяцев
                                    </div>
                                    <div
                                        class="button"
                                        :class="{ 'active': dateSelected[2] }"
                                        @click="selectDate(60)"
                                    >
                                        60 месяцев
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-block col-12 col-md-6 col-lg-4">
                            <div>
                                <label>Марка автомобиля</label>
                                <input-wrap :error="validation.autoBrandId" >
                                    <v-select
                                        id="request-input-auto-brand-id"
                                        v-model="autoBrandId"
                                        label="name"
                                        :options="this.autoBrands"
                                        class="select-dropdown"
                                    ></v-select>
                                </input-wrap>
                            </div>
                        </div>
                        <div class="input-block col-12 col-md-6 col-lg-4">
                            <div>
                                <label>Модель автомобиля</label>
                                <input-wrap :error="validation.autoModelId" >
                                    <v-select
                                        id="request-input-auto-model-id"
                                        v-model="autoModelId"
                                        label="name"
                                        :options="autoModels"
                                    ></v-select>
                                </input-wrap>
                            </div>
                        </div>
                        <div class="input-block col-12 col-md-6 col-lg-4">
                            <div>
                                <label>Год автомобиля</label>
                              <input-wrap :error="validation.autoYear">
                                    <v-select
                                        id="request-input-auto-year"
                                        v-model="autoYear"
                                        label="name"
                                        :options="this.autoYears"
                                    ></v-select>
                              </input-wrap>
                            </div>
                        </div>
                    </div>
                  <div class="summary row">
                    <beat-loader
                      :loading="loadPayment"
                      color="#687796"
                      size="10px"
                      margin="0 20px"
                      class="load-payment" />

                    <div class="col-md-3 summary__item">
                          <span class="summary__label">Вы берете</span>
                          <strong class="summary__value">
                              {{summValue}} <span class="rub">q</span>
                          </strong>
                      </div>
                      <div class="col-md-6 summary__item">
                          <span class="summary__label">На срок</span>
                          <strong class="summary__value">{{dateReturnValue}}</strong>
                      </div>
                      <div class="col-md-3 summary__item">
                          <span class="summary__label">Ежемесячный платеж</span>
                          <strong class="summary__value">{{returnValue}}
                              <span class="rub">q</span>
                          </strong>
                      </div>
                  </div>
                  <div class="row buttons">
                      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                          <button
                                  class="button secondary-button"
                                  :class="{'disabled': scheduleEarly.length < 1
                                    && scheduleFull.length < 1 }"
                                  @click.prevent="updateStore()"
                                  type="button"
                          >
                              График платежей
                          </button>
                      </div>
                      <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                          <button
                                  class="button primary-button"
                                  @click.prevent="submit()"
                                  type="submit"
                          >
                              Далее
                          </button>
                      </div>
                  </div>
                  <div class="row error" v-if="error">
                    <div class="col-12">
                      {{error}}
                    </div>
                  </div>
              </div>
            </form>
        </div>
    </div>
</template>

<script>
import debounce from 'debounce';
import { mapGetters } from 'vuex';
import BeatLoader from 'vue-spinner/src/BeatLoader';
import RequestHeader from '../RequestHeader';
import PayGraph from '../PayGraph';
import InputWrap from '../InputWrap';
import params from '../../params';
import ProductsFilter from '../../utils/Products';

const productsFilter = new ProductsFilter();

export default {
  name: 'Calculator',
  components: {
    RequestHeader,
    PayGraph,
    InputWrap,
    BeatLoader,
  },
  data() {
    return {
      /* дата для ЛКК */
      dateSelected: [ // todo переписать на один флаг
        false,
        true,
        false,
      ],
      dateReturn: '',
      /* сумма займа */
      summPure: '',
      returnSumm: '',
      cp: '',
      summMin: -1,
      summMax: -1,
      /* остальные поля калькулятора */
      autoBrandId: '',
      autoBrands: [],
      autoModelId: '',
      autoModels: [],
      autoYear: '',
      autoYears: params.autoYears,
      /* показ графика платежей */
      showGraph: false,
      loadPayment: false,
      /* объект валидации */
      validation: {
        summ: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else if (parseInt(vue[e], 10) < vue.summMin || parseInt(vue[e], 10) > vue.summMax) {
              this.invalid = true;
              this.message = `Сумма должна быть от ${vue.summMin} до ${vue.summMax}`;
            } else if (parseInt(vue[e], 10) % 1000 > 0) {
              this.invalid = true;
              this.message = 'Сумма должна быть кратна 1000';
            } else if (typeof vue.summ !== 'string' && vue.summ.length > 0
                && vue.$store.state.request.creditProductId.length < 1) {
              this.invalid = true;
              this.message = 'Нет подходящего продукта';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoBrandId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoModelId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        autoYear: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
      scheduleFull: [],
      scheduleEarly: [],
      totalAmountFull: '',
      error: '',
      totalAmountEarly: '',
    };
  },
  watch: {
    summ: debounce(
      function summ(e) {
        this.$store.commit('CLEAN_REQUEST');
        this.summ = e;
        this.validation.summ.invalid = false;
        this.calculate();
      },
      500,
    ),

    dateReturn(e) {
      this.dateReturn = e;
      this.calculate();
    },
    returnSumm(e) {
      this.returnSumm = e.toString().replace(' ', '');
    },
    autoBrandId(e) {
      this.validate('autoBrandId');
      this.autoBrandId = e;
      if (Object.keys(this.calculator).length > 0) {
        this.autoModelId = this.calculator.autoModelId;
      } else {
        this.autoModelId = '';
      }
      if (e && e.id) {
        this.$api.infoAutoModels(e.id)
          .then((res) => {
            this.autoModels = res;
          });
      }
    },
    autoModelId(e) {
      this.validate('autoModelId');
      this.autoModelId = e;
    },
    autoYear(e) {
      this.validate('autoYear');
      this.autoYear = e;
    },
  },
  computed: {
    ...mapGetters([
      'calculator',
    ]),
    summValue() {
      if (this.summ && this.dateReturn && this.returnSumm) {
        return this.$moneyFormat(this.summ);
      }
      return '- --- ---';
    },
    dateReturnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.dateReturn.toLocaleString('ru', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        });
      }
      return '-- -- ----';
    },
    returnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.$moneyFormat(this.returnSumm);
      }
      return '- --- ----';
    },
    summ: {
      get() {
        return this.summPure.toString().replace(/\s/g, '');
      },
      set(input) {
        this.summPure = input;
      },
    },
  },
  methods: {
    submit() {
      if (this.validate() && this.$store.state.request.creditProductId && !this.loadPayment) {
        this.$store.commit('UPDATE_REQUEST', {
          summ: this.summ,
          dateReturn: this.dateReturn,
          autoBrandId: this.autoBrandId,
          autoModelId: this.autoModelId,
          autoYear: this.autoYear.id,
        });
        this.$emit('submit', 2);
      }
    },
    validateInputSumm() {
      this.validation.summ.func(this, 'summ');
    },
    calculate() {
      return new Promise(() => {
        if (this.summ
          && this.dateReturn
          && parseInt(this.summ, 10) >= this.summMin
          && parseInt(this.summ, 10) <= this.summMax) {
          const self = this;
          this.loadPayment = true;
          self.error = '';
          self.$api.calculate({
            requestSum: self.summ,
            returnDate: `${(`0${self.dateReturn.getDate()}`).slice(-2)}.${(`0${self.dateReturn.getMonth() + 1}`).slice(-2)}.${self.dateReturn.getFullYear()}`,
          })
            .then((response) => {
              self.$store.commit('SET_GRAPH', response);
              self.returnSumm = response.annuity || 0;
              self.scheduleFull = response.full.schedule;
              self.scheduleEarly = response.early.schedule;
              self.totalAmountFull = response.full.totalAmount || 0;
              self.totalAmountEarly = response.early.totalAmount || 0;
              productsFilter.setGuid(response.product);
              this.loadPayment = false;
              this.$store.commit('SET_PRODUCT_ID', productsFilter.id);
            })
            .catch((e) => {
              if (e.response && e.response.data) {
                self.error = e.response.data;
              } else if (typeof e === 'string') {
                self.error = e;
              }
              this.loadPayment = false;
            });
        }
      });
    },
    addToDatepicker(monthCount) {
      const d = new Date();
      d.setMonth(d.getMonth() + monthCount);
      this.dateReturn = d;
    },
    selectDate(e) {
      if (e === 24) {
        this.dateSelected = [
          true,
          false,
          false,
        ];
      } else if (e === 36) {
        this.dateSelected = [
          false,
          true,
          false,
        ];
      } else if (e === 60) {
        this.dateSelected = [
          false,
          false,
          true,
        ];
      }
      this.addToDatepicker(e);
    },
    updateStore() {
      this.$store.commit('SET_CALCULATOR', {
        summ: this.summ,
        dateReturn: this.dateReturn,
        autoBrandId: this.autoBrandId,
        autoModelId: this.autoModelId,
        autoYear: this.autoYear,
        autoPrice: this.autoPrice,
        addCredit: this.addCredit,
        dateSelected: this.dateSelected,
      });
      this.$router.push({ path: '/graph', query: { back: '/request' } });
    },
  },
  created() {
    if (this.calculator && this.calculator.dateSelected) {
      this.selectDate(this.calculator.dateSelected[1] ? 36 : 24);
    } else {
      this.selectDate(36);
    }
  },
  mounted() {
    this.$api.infoCp()
      .then((data) => {
        this.cp = this.$to.camel(data);
        this.cp = this.cp.map((item) => {
          // eslint-disable-next-line
          item.loanPeriodMin = '0';
          return item;
        });
        productsFilter.setCp(this.cp);

        // запишем максимальную и минимальную суммы
        this.summMax = Math.max(...(this.cp.map(i => i.summMax)));
        this.summMin = Math.min(...(this.cp.map(i => i.summMin)));
      });
    this.$api.infoAutoBrands()
      .then((data) => {
        this.autoBrands = data;
      });
    this.$store.commit('CLEAN_REQUEST');
    if (Object.keys(this.calculator).length > 0) {
      this.summ = this.calculator.summ;
      this.$refs.summ.$refs.input.value = this.calculator.summ;
      this.dateReturn = this.calculator.dateReturn;
      this.autoBrandId = this.calculator.autoBrandId;
      this.autoModelId = this.calculator.autoModelId;
      this.autoYear = this.calculator.autoYear;
      this.autoPrice = this.calculator.autoPrice;
      this.addCredit = this.calculator.addCredit;
      this.selectDate(this.calculator.dateSelected[1] ? 36 : 24);
    } else {
      this.$api.leadClient()
        .then((data) => {
          this.$store.commit('UPDATE_LEAD', this.$to.camel(data));
          this.selectDate(parseInt(this.$store.state.lead.months || 36, 10));
          this.$refs.summ.$refs.input.value = this.$store.state.lead.summ;
          if (this.$store.state.lead.autoBrandId) {
            this.autoBrandId = this.$store.state.lead.autoBrandId;
          }
          this.autoYear = this.$store.state.lead.autoYear;
          if (this.$store.state.lead.autoBrandId && this.$store.state.lead.autoBrandId.id) {
            this.$api.infoAutoModels(this.$store.state.lead.autoBrandId.id)
              .then((res) => {
                this.autoModels = res;
                this.autoModelId = this.$store.state.lead.autoModelId;
              });
          }
        })
        .catch(() => {});
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    @import '../../assets/scss/calculator.scss';
    @import '../../assets/scss/summary.scss';

    .button-group {
        border-radius: $input-radius;
        background-color: none;
        overflow: hidden;
        display: flex;
        border: $input-border-width solid $input-border-color;
        .button {
            padding: 6px 0 7px 0;
            flex: 1;
            text-align: center;
            cursor: pointer;
        }
        .active {
            background: $yellow;
            cursor: default;
        }
    }
    .error {
      color: red;
      text-align: center;
      margin-bottom: 20px;
    }
    .load-payment {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      padding-top: 2.5rem;
      background-color: whitesmoke;
      z-index: 10;
    }

</style>
