<template>
    <div>
        <wrapper :notifyParams="{
          hideHistory: true
        }">
            <Calculator v-if="this.step === 1" @submit="submitStep" />
            <StepPreRequest v-if="this.step === 2" @submit="submitStep" />
        </wrapper>
    </div>
</template>

<script>
import Calculator from './Calculator';
import stepPosition from '../../utils/StepPosition';
import StepPreRequest from './StepPreRequest';
import Wrapper from '../Wrapper';

export default {
  components: {
    Calculator,
    StepPreRequest,
    Wrapper,
  },
  name: 'Create',
  data() {
    return {
      step: 1,
    };
  },
  watch: {
    step(e) {
      this.step = e;
      this.$nextTick(() => {
        const start = document.getElementById('start');
        if (start) {
          window.scrollTo(0, stepPosition());
        }
      });
    },
  },
  methods: {
    submitStep(payload) {
      this.step = payload;
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">
@import '../../assets/scss/functions.scss';
</style>
