<template>
    <div>
        <wrapper :notifyParams="{
          hideHistory: true
        }">
          <component
            v-for="step in steps"
            :key="step.step"
            :is="step.cmp"
            :text="step.text"
            v-if="$store.state.request.step === step.step"
          />
        </wrapper>
    </div>
</template>

<script>
import stepPosition from '../../utils/StepPosition';
import StepImagesDocs from './StepImagesDocs';
import StepFullRequest from './StepFullRequest';
import StepWaitForDecision from './StepWaitForDecision';
import StepApproved from './StepApproved';
import Wrapper from '../Wrapper';
import StepFail from './../StepFail';
import StepCancel from './../StepCancel';
import StepMoney from './../StepMoney';
import StepMovedToPartner from './StepMovedToPartner';

export default {
  name: 'Edit',
  mounted() {
    if (this.$route.params.code !== this.$store.state.request.code) {
      this.$store.dispatch('getRequest', { code: this.$route.params.code });
    }
  },
  watch: {
    // eslint-disable-next-line
    '$store.state.request.step'() {
      this.$nextTick(() => {
        const start = document.getElementById('start');
        if (start) {
          window.scrollTo(0, stepPosition());
        }
      });
    },
    requestCode: {
      handler() {
        if (this.$store.state.request.code !== this.requestCode) {
          this.$store.commit('CLEAN_REQUEST');
        }
      },
      immediate: true,
    },
  },
  computed: {
    requestCode() {
      return this.$route.params.code;
    },
  },
  data() {
    return {
      steps: [
        {
          cmp: StepFullRequest,
          step: 2,
        },
        {
          cmp: StepImagesDocs,
          step: 3,
        },
        {
          cmp: StepWaitForDecision,
          step: 4,
        },
        {
          cmp: StepApproved,
          step: 5,
        },
        {
          cmp: StepMoney,
          step: 6,
          text: 'Поздравляем, в ближайшее время вы можете получить займ, выбранным ранее способом.',
        },
        {
          cmp: StepFail,
          step: 10,
          text: 'Извините, клиенту было отказано в получении займа',
        },
        {
          cmp: StepCancel,
          step: 11,
          text: 'Извините, заявка на займ была аннулирована.',
        },
        {
          cmp: StepMovedToPartner,
          step: 12,
          text: 'Заявка передана партнеру.',
        },
      ],
    };
  },
  components: {
    StepImagesDocs,
    StepFullRequest,
    StepWaitForDecision,
    StepApproved,
    Wrapper,
    StepFail,
    StepCancel,
    StepMoney,
  },
  // mounted() {
  //   this.$store.dispatch('getRequest', this.$route.params.code);
  // },
};
</script>

<style lang="scss" rel="stylesheet/scss">
@import '../../assets/scss/functions.scss';
</style>
