<template>
    <div>
        <SuccessStep
            v-if="
                (step == 'preRequest' ||
                step == 'fullRequest' ||
                step == 'imagesDocs' ||
                step == 'waitForDecision' ||
                step == 'stepApproved') &&
                this.$store.state.request.showFoldedStep !== 'calculator'
            "
            show="calculator"
            name="
                Параметры займа
            "
            :text="requestParams"
        />
        <FoldedCalculator
          v-if="(
                      step == 'stepApproved' ||
                      step == 'preRequest' ||
                      step == 'fullRequest' ||
                      step == 'imagesDocs' ||
                      step == 'agreeFirst' ||
                      step == 'imagesPhotos' ||
                      step == 'waitForDecision' ||
                      step == 'finishAfterApprove' ||
                      step == 'success'
                  ) &&
                  this.$store.state.request.showFoldedStep === 'calculator'
              "
          num="1"
        />
        <SuccessStep
            v-if="
                (step == 'fullRequest' ||
                step == 'imagesDocs' ||
                step == 'waitForDecision' ||
                step == 'stepApproved') &&
                this.$store.state.request.showFoldedStep !== 'preRequest'
            "
            show="preRequest"
            name="
                Персональные данные
            "
            :text="`
                ${this.$store.state.request.clientLastName.toUpperCase()}
                ${this.$store.state.request.clientFirstName.toUpperCase()}${
                this.$store.state.request.clientPatronymic.toUpperCase() ?
                  ` ${this.$store.state.request.clientPatronymic.toUpperCase()},` :
                  ','}
                паспорт: серия
                ${this.$formatter(this.$store.state.request.clientPassportSerialNumber, 2)}
                № ${this.$formatter(this.$store.state.request.clientPassportNumber, 3)}
            `"
        />
        <FoldedStepPreRequest
          v-if="
                  (
                      step == 'preRequest' ||
                      step == 'fullRequest' ||
                      step == 'imagesDocs' ||
                      step == 'stepApproved' ||
                      step == 'agreeFirst' ||
                      step == 'imagesPhotos' ||
                      step == 'waitForDecision' ||
                      step == 'finishAfterApprove' ||
                      step == 'success'
                  ) &&
                  this.$store.state.request.showFoldedStep === 'preRequest'
              "
          num="2"
        />
        <SuccessStep
            v-if="(
                step == 'imagesDocs' ||
                step == 'waitForDecision' ||
                step == 'stepApproved') &&
                this.$store.state.request.showFoldedStep !== 'fullRequest'
            "
            show="fullRequest"
            name="Информация о клиенте"
            text="Данные о занятости предоставлены"
        />
        <FoldedStepFullRequest
          v-if="this.$store.state.request.showFoldedStep === 'fullRequest'"
          num="3"
        />
        <SuccessStep
            v-if="
                (step == 'waitForDecision' ||
                step == 'stepApproved') &&
                this.$store.state.request.showFoldedStep !== 'docsPhoto'
            "
            name="Фото документов"
            :text="photosText"
            show="docsPhoto"
        />
        <FoldedStepDocsPhoto
          v-if="this.$store.state.request.showFoldedStep === 'docsPhoto'"
          num="4"
        />
    </div>
</template>

<script>
import SuccessStep from '../SuccessStep';
import FoldedCalculator from '../Partner/FoldedCalculator';
import FoldedStepPreRequest from '../Partner/FoldedStepPreRequest';
import FoldedStepFullRequest from '../Partner/FoldedStepFullRequest';
import FoldedStepDocsPhoto from '../Partner/FoldedStepDocsPhoto';

export default {
  name: 'FoldedSteps',
  components: {
    SuccessStep,
    FoldedCalculator,
    FoldedStepPreRequest,
    FoldedStepFullRequest,
    FoldedStepDocsPhoto,
  },
  computed: {
    requestParams() {
      let text = `${this.$store.state.request.autoBrandId.name}
      ${this.$store.state.request.autoModelId.name},
      ${this.$store.state.request.autoYear} г.`;
      if (this.$store.state.request.autoPrice > 0) {
        text += `
        (${this.$moneyFormat(this.$store.state.request.autoPrice)} руб.)`;
      }
      return text;
    },
    photosText() {
      const length =
      this.$store.state.request.fotoPts.length +
      this.$store.state.request.fotoPassport.length +
      this.$store.state.request.fotoSts.length +
      this.$store.state.request.fotoCard.length;
      return `Загружено изображений: ${length}`;
    },
  },
  props: {
    step: '',
  },
  mounted() {
    this.$store.commit('UPDATE_REQUEST', {
      showFoldedStep: '',
    });
  },
};
</script>
