<template>
  <div>
    <wrapper>
      <graph :contraction="true"></graph>
    </wrapper>
  </div>
</template>
<script>
import Graph from '../Graph';
import Wrapper from '../Wrapper';

export default {
  components: {
    Graph,
    Wrapper,
  },
};
</script>
