<template>  <!-- todo перенести в общий компонент когда стандартизируем ответ от сервера -->
  <wrap :notifyParams="{
          hideHistory: true
        }">
  <div class="graph">
    <button class="graph-close" @click="close()"></button>
    <h2 class="graph__header graph-header">График платежей</h2>
    <div v-if="chart">
      <p class="graph-notice">Вы можете погасить свой заем без
         дополнительной комиссии в любое удобное время.
         Даже через день после получения денег.Тем не менее,
         мы даем Вам возможность пользоваться нашими деньгами в
         течение всего выбранного Вами периода.</p>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Дата оплаты</th>
          <th scope="col" class="d-none d-sm-table-cell">Сумма платежа</th>
          <th scope="col" class="d-none d-sm-table-cell">Основной долг</th>
          <th scope="col" class="d-none d-sm-table-cell">Процент</th>
          <th scope="col">Сумма задолженности</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, i) in chart.chart" :key="item.percent">
          <th scope="row">{{i+1}}</th>
          <td>{{item.date | formatDate}}</td>
          <td class="d-none d-sm-table-cell">
            {{item.summ | moneyFormat}}
            <span class="rub">q</span>
          </td>
          <td class="d-none d-sm-table-cell">
          <span class="table__gray">
            {{item.summ-item.percents | moneyFormat}}
            <span class="rub">q</span>
          </span>
          </td>
          <td class="d-none d-sm-table-cell">
          <span class="table__gray">
            {{item.percents | moneyFormat}}
            <span class="rub">q</span>
          </span>
          </td>
          <td>{{item.amount | moneyFormat}}<span class="rub">q</span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div v-else>
      <p class="graph-notice">
        По данному запросу платежей не найдено
      </p>
    </div>
  </div>
  </wrap>
</template>

<script>
import Wrap from '@/components/Wrapper';

export default {
  data() {
    return {
      back: this.$route.query.back || '/',
    };
  },
  components: {
    Wrap,
  },
  computed: {
    chart() {
      const argeementsObj = this.$store.state.agreements;
      let allAgreements = [];
      Object.keys(argeementsObj).forEach((el) => {
        if (argeementsObj[el].length) {
          allAgreements = [...allAgreements, ...argeementsObj[el]];
        }
      });
      return allAgreements.find(el => el.number === this.$route.params.code);
    },
  },
  methods: {
    close() {
      this.$router.push(this.back);
    },
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/calculator.scss';
@import '../../assets/scss/summary.scss';
.graph {
  margin: 0 40px;
  .graph-notice{
    margin-top: auto;
  }
}
.amount {
  margin-bottom: 40px;
}
</style>
