<template>
    <div>
        <wrapper :notifyParams="{
          hideHistory: true
        }">
            <div class="content-holder-full">
                <RequestList />
                <Agreements />
            </div>
        </wrapper>
    </div>
</template>

<script>
import Wrapper from '../Wrapper';
import Agreements from './Agreements/Agreements';
import RequestList from './RequestList';

export default {
  name: 'Index',
  components: { Wrapper, Agreements, RequestList },
  mounted() {
    this.$store.commit('CLEAN_REQUEST');
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.content-holder-full {
    padding: 30px;
}
@include media-breakpoint-down(sm) {
    .content-holder-full {
        margin-top: 30px;
    }
}
</style>
