<template>
    <div>
        <h1 v-if="this.$store.state.requests.length">Ваши заявки</h1>
        <div class="row">
            <div class="request col-12"
                 :key="request.code"
                 v-for="request in this.$store.state.requests">
                <div class="request-holder">
                    <div class="request-name">
                        <router-link
                          :to="'/request/'+request.code">
                          Заявка на займ СМ-{{request.num}}
                        </router-link>
                    </div>
                    <div class="request-params">
                        {{request.autoBrandName}}
                        {{request.autoModelName}},
                        ({{money(request.summ)}} руб.)
                    </div>
                 </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-12">
                <button
                    class="button primary-button"
                    @click.prevent="newRequest()"
                    type="submit"
                >
                    Оформить заявку
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'RequestList',
  mounted() {
    this.$api.requests()
      .then((data) => {
        this.$store.state.requests = this.$to.camel(data);
      });
  },
  methods: {
    newRequest() {
      this.$router.push({ path: '/request' });
    },
    money(e) {
      return this.$moneyFormat(e);
    },
    client(e) {
      return `${e.clientLastName} ${e.clientFirstName} ${e.clientPatronymic}`;
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';

    .request {
        margin-bottom: 30px;

        .request-holder {
            padding: 10px;
            border-radius: $input-radius;
            background: #F5F6FA;
        }

        .request-name {
            a {
                color: $dark-text;
                font-weight: 700;
            }
        }
        .request-params {
            color: $blue;
        }
        .request-client {
            color: $dark-text;
            font-weight: 700;
        }
        .request-phone {
            background: url(/static/i/phone.svg) top 4px left 0 no-repeat;
            padding: 0 0 0 20px;
            a {
                color: $link;
                text-decoration: none;
            }
        }
    }
    .content-holder {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1 {
        margin-bottom: 20px;
    }

</style>
