<template>
    <div>
        <FoldedSteps step="fullRequest" />
        <div class="content-holder">
            <RequestHeader
                name="Анкета"
                text="Заполните все нижеперечисленные поля"
                num="3"/>
            <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting" />
            <div class="form-holder">
              <form @submit.prevent="submit()">
                <div class="input-block row">
                    <div class="col-12">
                        <div>
                            <label>
                              Способ выдачи
                              <i>*</i></label>
                            <input-wrap :noborder="true" :error="validation.methodOfIssuanceId">
                                <ul class="radioList">
                                    <li
                                        :key="method.id"
                                        v-for="method in this.methodOfIssuanceIds"
                                    >
                                      <label class="custom-radio">
                                        <input
                                        type="radio"
                                        v-model="methodOfIssuanceId"
                                        :value="method"
                                        />
                                        <span class="checkmark"></span>
                                        <div>
                                            {{method.name}}
                                          <template v-if="method.description">
                                            <tooltip v-if="+method.id !== consts.issuanceBankCardId"
                                                     :description="method.description"/>
                                            <span v-else>
                                              <br/> {{method.description}}
                                            </span>
                                          </template>
                                        </div>
                                      </label>
                                    </li>
                                </ul>
                            </input-wrap>
                        </div>
                    </div>
                  <div class="col-md-12">
                    <card-approve v-if="showApproveCard"
                                  :redirect="true"
                                  class="card-approve-block"
                                  description="Для проверки с карты будет
                                  списан и возвращен 1 руб."
                    />
                  </div>
                  <div class="input-block col-12 col-md-6 col-lg-4" v-if="showCard">
                        <div>
                            <label>
                              Номер карты
                              <i>*</i></label>
                            <input-wrap :error="validation.cardNumber">
                                <input
                                    type="text"
                                    id="request-input-card-number"
                                    v-model="cardNumber"
                                    v-mask="'#### #### #### XXXX XXX'"
                                    @blur="validateCardNumber"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4" v-if="showCard">
                        <div>
                            <label>
                              Держатель карты
                              <i>*</i></label>
                            <input-wrap :error="validation.cardHolder">
                                <input
                                    type="text"
                                    id="request-input-card-holder"
                                    v-model="cardHolder"
                                    @blur="validate('cardHolder')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4" v-if="showCard">
                        <div>
                            <label>&nbsp;</label>
                            <div class="text imholder">
                                <input-wrap :noborder="true" :error="validation.imHolder">
                                <checkbox
                                    :value="1"
                                    v-model="imHolder"
                                    :checked="false"
                                    required>
                                    Являюсь держателем карты
                                </checkbox>
                                </input-wrap>
                            </div>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4"  v-if="showBank">
                        <div>
                            <label>
                              БИК банка
                              <i>*</i></label>
                            <input-wrap :error="validation.bankBik">
                                <input
                                    type="text"
                                    id="request-input-bank-bik"
                                    v-model="bankBik"
                                    v-mask="'#########'"
                                    @blur="validate('bankBik')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4" v-if="showBank">
                        <div>
                            <label>
                              Номер счета
                              <i>*</i></label>
                            <input-wrap :error="validation.checkingAccount">
                                <input
                                    type="text"
                                    id="request-input-checking-account"
                                    v-model="checkingAccount"
                                    v-mask="'####################'"
                                    @blur="validate('checkingAccount')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="input-block col-12">
                    <div>
                      <label>
                        Адрес фактического проживания <i>*</i>
                      </label>
                      <input-wrap :error="validation.placeOfStay">
                        <input
                          type="text"
                          id="request-input-client-place-of-stay"
                          v-model="placeOfStay"
                          :disabled="disableAllFields"
                          @blur="validate('placeOfStay')"
                        />
                      </input-wrap>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>
                              Домашний телефон
                            </label>
                            <input-wrap :error="validation.clientHomePhone" class="seven">
                                <input
                                    type="text"
                                    id="request-input-client-home-phone"
                                    v-model="clientHomePhonePure"
                                    :disabled="disableAllFields"
                                    v-mask="'(###) ###-##-##'"
                                    @blur="validate('clientHomePhone')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-8">
                        <div>
                            <label>
                              Электронная почта
                            </label>
                            <input-wrap :error="validation.clientEmail">
                                <input
                                    type="text"
                                    id="request-input-client-email"
                                    :disabled="disableAllFields"
                                    v-model="clientEmail"
                                    @blur="validate('clientEmail')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Суммарный доход руб./мес. <i>*</i></label>
                            <input-wrap :error="validation.clientTotalMonthlyIncome">
                                <cleave
                                    type="text"
                                    id="request-input-client-total-monthly-income"
                                    :disabled="disableAllFields"
                                    v-model="clientTotalMonthlyIncome"
                                    :options="{
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand',
                                        numeralPositiveOnly: true,
                                        numeralDecimalScale: 0,
                                        delimiter: ' ',
                                    }"
                                    @blur="validateClientTotalMonthlyIncome"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-8">
                        <div>
                            <label>Занятость <i>*</i></label>
                            <input-wrap :error="validation.clientEmploymentId">
                                <v-select
                                    id="request-input-client-employment-id"
                                    label="name"
                                    v-model="clientEmploymentId"
                                    :options="employments"
                                >
                                  <template slot="no-options">
                                    Нет совпадений
                                  </template>
                                </v-select>
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Платежи по кредитам в мес. <i>*</i></label>
                            <input-wrap :error="validation.clientTotalMonthlyOutcome">
                                <cleave
                                    type="text"
                                    id="request-input-client-total-monthly-outcome"
                                    :disabled="disableAllFields"
                                    v-model="clientTotalMonthlyOutcome"
                                    :options="{
                                        numeral: true,
                                        numeralThousandsGroupStyle: 'thousand',
                                        numeralPositiveOnly: true,
                                        numeralDecimalScale: 0,
                                        delimiter: ' ',
                                    }"
                                    @blur = "validateClientTotalMonthlyOutcome"
                                />
                            </input-wrap>
                        </div>
                    </div>
                </div>
                <div class="row switch-block">
                    <div class="col-12">
                        <toggle-button :sync="true"
                                       :disabled="disableAllFields"
                                       v-model="haveWork"
                                       color="#FFCC00"/>
                        <div class="text">Наличие постоянной работы</div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>
                              Название организации
                              <i :class="{'hide': !this.haveWork}">*</i></label>
                            <input-wrap :error="validation.clientWorkplaceName">
                                <input
                                    type="text"
                                    id="request-client-workplace-name"
                                    v-model="clientWorkplaceName"
                                    :disabled="disableClassWork || disableAllFields"
                                    @blur="validate('clientWorkplaceName')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12">
                        <div>
                            <label>
                              Адрес места работы
                              <i :class="{'hide': !this.haveWork}">*</i></label>
                            <input-wrap :error="validation.clientWorkplaceAddress">
                                <input
                                    type="text"
                                    id="request-client-workplace-address"
                                    v-model="clientWorkplaceAddress"
                                    :disabled="disableClassWork || disableAllFields"
                                    @blur="validate('clientWorkplaceAddress')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>
                              Стаж на этом месте работы
                              <i :class="{'hide': !this.haveWork}">*</i></label>
                            <input-wrap :error="validation.clientWorkplaceExperience">
                                <input
                                    type="text"
                                    id="request-input-client-workplace-experience"
                                    v-model="clientWorkplaceExperience"
                                    :disabled="disableClassWork || disableAllFields"
                                    v-mask="'###'"
                                    @blur="validateClientWorkplaceExperience"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>
                              Единицы измерения стажа
                              <i :class="{'hide': !this.haveWork}">*</i></label>
                            <input-wrap :error="validation.clientWorkplacePeriodId">
                                <v-select
                                    id="request-input-client-workplace-period-id"
                                    label="name"
                                    v-model="clientWorkplacePeriodId"
                                    :options="workplacePeriods"
                                    :disabled="disableClassWork || disableAllFields"
                                >
                                    <template slot="no-options">
                                      Нет совпадений
                                    </template>
                                </v-select>
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>
                              Телефон по месту работы
                              <i :class="{'hide': !this.haveWork}">*</i></label>
                            <input-wrap :error="validation.clientWorkplacePhone" class="seven">
                                <input
                                    type="text"
                                    id="request-input-client-workplace-phone"
                                    v-model="clientWorkplacePhonePure"
                                    :disabled="disableClassWork || disableAllFields"
                                    v-mask="'(###) ###-##-##'"
                                    @blur="validate('clientWorkplacePhone')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                </div>
                <!--<div class="row switch-block">-->
                    <!--<div class="col-12">-->
                        <!--<toggle-button v-model="haveGuarantor" color="#FFCC00"/>-->
                        <!--<div class="text">Может предоставить сведения о контактном лице</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row">
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>ФИО контактного лица <i>*</i></label>
                            <input-wrap :error="validation.clientGuarantorName">
                                <input
                                    type="text"
                                    id="request-input-client-guarantor-name"
                                    v-model="clientGuarantorName"
                                    :disabled="disableClassGuarantor || disableAllFields"
                                    @blur="validate('clientGuarantorName')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Кем приходится? <i>*</i></label>
                            <input-wrap :error="validation.clientGuarantorRelationId">
                                <v-select
                                    id="request-input-client-guarantor-relation-id"
                                    label="name"
                                    v-model="clientGuarantorRelationId"
                                    :options="guarantorRelations"
                                    :disabled="disableClassGuarantor || disableAllFields"
                                >
                                    <template slot="no-options">
                                      Нет совпадений
                                    </template>
                                </v-select>
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Телефон контактного лица <i>*</i></label>
                            <input-wrap :error="validation.clientGuarantorPhone" class="seven">
                                <input
                                    type="text"
                                    id="request-input-client-guarantor-phone"
                                    v-model="clientGuarantorPhonePure"
                                    v-mask="'(###) ###-##-##'"
                                    :disabled="disableClassGuarantor || disableAllFields"
                                    @blur="validate('clientGuarantorPhone')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                </div>
                <div class="row padd" v-if="!this.$store.state.request.preApproved">
                  <div class="col-3">
                      <clip-loader
                      color="#FFCC00"
                      ></clip-loader>
                  </div>
                  <div class="col-9">
                      <p>Дождитесь предварительного одобрения заявки</p>
                  </div>
                </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button
                            class="button primary-button"
                            :class="{ 'disabled-button': waiting, 'disabled-button': disabled }"
                            @click.prevent="submit()">
                              <span>Далее</span>
                        </button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</template>

<script>

import luhn from 'luhn-alg';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import CardApprove from '@/components/Global/CardApprove/CardApprove';
import Tooltip from '@/components/Tooltip';
import { mapGetters } from 'vuex';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';
import InputWrap from '../InputWrap';
import FileUploader from '../FileUploader';
import Checkbox from '../Checkbox';
import CardNumber from '../CardNumber';
import consts from '../../consts';
import Card from '../Card';

export default {
  name: 'StepFullRequest',
  components: {
    Card,
    FileUploader,
    SuccessStep,
    Tooltip,
    RequestHeader,
    FoldedSteps,
    InputWrap,
    Checkbox,
    CardNumber,
    CardApprove,
    ClipLoader,
  },
  data() {
    return {
      submitClass: {
        button: true,
        'primary-button': true,
      },
      cardNumber: this.$store.state.request.cardNumber,
      cardHolder: this.$store.state.request.cardHolder,
      imHolder: this.$store.state.request.imHolder,
      bankBik: this.$store.state.request.bankBik,
      checkingAccount: this.$store.state.request.checkingAccount,
      disableClassWork: false,
      disableClassGuarantor: false,
      methodOfIssuanceId: this.$store.state.request.methodOfIssuanceId,
      methodOfIssuanceIds: [],
      clientHomePhonePure: this.$store.state.request.clientHomePhone,
      clientEmail: this.$store.state.request.clientEmail,
      clientTotalMonthlyIncome: this.$store.state.request.clientTotalMonthlyIncome,
      clientTotalMonthlyOutcome: this.$store.state.request.clientTotalMonthlyOutcome,
      clientEmploymentId: this.$store.state.request.clientEmploymentId,
      clientWorkplaceName: this.$store.state.request.clientWorkplaceName,
      clientWorkplaceAddress: this.$store.state.request.clientWorkplaceAddress,
      clientWorkplaceExperience: this.$store.state.request.clientWorkplaceExperience,
      clientWorkplacePeriodId: this.$store.state.request.clientWorkplacePeriodId,
      clientWorkplacePhonePure: this.$store.state.request.clientWorkplacePhone,
      clientGuarantorName: this.$store.state.request.clientGuarantorName,
      placeOfStay: this.$store.state.request.placeOfStay,
      clientGuarantorRelationId: this.$store.state.request.clientGuarantorRelationId,
      clientGuarantorPhonePure: this.$store.state.request.clientGuarantorPhone,
      commentPartner: this.$store.state.request.commentPartner,
      employments: [],
      workplacePeriods: [],
      guarantorRelations: [],
      waiting: false,
      showCard: false,
      showBank: false,
      showApproveCard: false,
      approveCardLoading: false,
      cardApprovedStatusId: null,
      cardApprovedStatus: null,
      validation: {
        cardNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.showCard) {
              if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else if (!vue.$validateCardNumber(vue[e])) {
                this.invalid = true;
                this.message = 'Неверный номер банковской карты';
              } else {
                this.invalid = false;
                this.message = '';
              }
            }
          },
        },
        cardHolder: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.showCard) {
              if ((vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) && vue.showCard) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
                if (!vue.$validateCardHolderName(vue[e])) {
                  this.invalid = true;
                  this.message = 'Некорректное значение';
                }
              }
            }
          },
        },
        placeOfStay: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || !vue[e]) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        imHolder: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] !== true && vue.showCard) {
              this.invalid = true;
              this.message = 'Вы должны быть держателем карты';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        bankBik: {
          invalid: false,
          message: '',
          func(vue, e) {
            if ((vue[e] === null || (typeof vue[e] === 'string' && vue[e].length !== 9)) && vue.showBank) {
              this.invalid = true;
              this.message = vue[e].length !== 9
                ? 'БИК должен быть длинной 9 символов'
                : 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        checkingAccount: {
          invalid: false,
          message: '',
          func(vue, e) {
            if ((vue[e] === null || (typeof vue[e] === 'string' && vue[e].length !== 20)) && vue.showBank) {
              this.invalid = true;
              this.message = vue[e].length !== 20 ?
                'Номер счета должен быть длинной 20 символов' :
                'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        methodOfIssuanceId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || !vue[e]) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        clientHomePhone: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if (typeof vue[e] === 'string' && vue[e].length > 0 && vue[e].length !== 10) {
              this.invalid = true;
              this.message = 'Некорректное значение';
            }
          },
        },
        clientEmail: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            const reg = /\S+@\S+\.\S+/;
            if (typeof vue[e] === 'string' && vue[e].length > 0 && !reg.test(vue[e])) {
              this.invalid = true;
              this.message = 'Неверный e-mail';
            }
          },
        },
        clientTotalMonthlyIncome: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && (vue[e].length > 10 || +vue[e].replace(/ /g, '') > 1000000)) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
            }
          },
        },
        clientTotalMonthlyOutcome: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && (vue[e].length > 10 || +vue[e].replace(/ /g, '') > 1000000)) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
            }
          },
        },
        clientEmploymentId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        clientWorkplaceName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveWork === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
              }
            }
          },
        },
        clientWorkplaceAddress: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveWork === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
                if (!vue.$validateRuAddress(vue[e])) {
                  this.invalid = true;
                  this.message = 'Разрешены только русские символы';
                }
              }
            }
          },
        },
        clientWorkplaceExperience: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveWork === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
                if (typeof vue[e] === 'string' && vue[e].length > 10) {
                  this.invalid = true;
                  this.message = 'Некорректное значение';
                }
              }
            }
          },
        },
        clientWorkplacePeriodId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveWork === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
              }
            }
          },
        },
        clientWorkplacePhone: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveWork === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
                if (typeof vue[e] === 'string' && vue[e].length !== 10) {
                  this.invalid = true;
                  this.message = 'Некорректное значение';
                }
              }
            }
          },
        },
        clientGuarantorName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveGuarantor === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
                if (!vue.$validateRu(vue[e])) {
                  this.invalid = true;
                  this.message = 'Разрешены только русские символы';
                }
              }
            }
          },
        },
        clientGuarantorPhone: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveGuarantor === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
                if (typeof vue[e] === 'string' && vue[e].length !== 10) {
                  this.invalid = true;
                  this.message = 'Некорректное значение';
                }
              }
            }
          },
        },
        clientGuarantorRelationId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.haveGuarantor === true) {
              if (typeof vue[e] === 'string' && vue[e].length < 1) {
                this.invalid = true;
                this.message = 'Поле должно быть заполнено';
              } else {
                this.invalid = false;
                this.message = '';
              }
            }
          },
        },
      },
      consts,
    };
  },
  computed: {
    ...mapGetters(['approvedCardState']),
    clientHomePhone: {
      get() {
        if (this.clientHomePhonePure !== undefined) {
          return this.clientHomePhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientHomePhonePure = input;
      },
    },
    clientWorkplacePhone: {
      get() {
        if (this.clientWorkplacePhonePure !== undefined) {
          return this.clientWorkplacePhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientWorkplacePhonePure = input;
      },
    },
    clientGuarantorPhone: {
      get() {
        if (this.clientGuarantorPhonePure !== undefined) {
          return this.clientGuarantorPhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientGuarantorPhonePure = input;
      },
    },
    haveWork: {
      get() {
        if (
          this.$store.state.request.haveWork === true ||
          this.$store.state.request.haveWork === ''
        ) {
          return true;
        }
        return false;
      },
      set(value) {
        this.disableWork(value);
        this.updateInputText({ key: 'haveWork', value });
      },
    },
    haveGuarantor: {
      get() {
        if (
          this.$store.state.request.haveGuarantor === true ||
          this.$store.state.request.haveGuarantor === ''
        ) {
          return true;
        }
        return false;
      },
      set(value) {
        this.disableGuarantor(value);
        this.updateInputText({ key: 'haveGuarantor', value });
      },
    },
    disabled() {
      if (!this.$store.state.request.preApproved) {
        return true;
      }
      return false;
    },
    disableAllFields() {
      return this.approvedCardState.event !== consts.cardApprovedStatusSuccess
        && this.showApproveCard;
    },
  },
  watch: {
    methodOfIssuanceId(value) {
      this.checkShow(value.guid);
      this.updateInputText({ key: 'methodOfIssuanceId', value: value.id });
    },
    cardNumber(value) {
      this.updateInputText({ key: 'cardNumber', value });
    },
    cardHolder(value) {
      this.updateInputText({ key: 'cardHolder', value });
    },
    bankBik(value) {
      this.updateInputText({ key: 'bankBik', value });
    },
    placeOfStay(value) {
      this.updateInputText({ key: 'placeOfStay', value });
    },
    checkingAccount(value) {
      this.updateInputText({ key: 'checkingAccount', value });
    },
    clientHomePhone(value) {
      this.updateInputText({ key: 'clientHomePhone', value });
    },
    clientEmail(value) {
      this.updateInputText({ key: 'clientEmail', value });
    },
    clientTotalMonthlyIncome(value) {
      this.updateInputText({ key: 'clientTotalMonthlyIncome', value });
    },
    clientTotalMonthlyOutcome(value) {
      this.updateInputText({ key: 'clientTotalMonthlyOutcome', value });
    },
    clientEmploymentId(value) {
      this.validation.clientEmploymentId.func(this, 'clientEmploymentId');
      this.updateInputText({ key: 'clientEmploymentId', value });
      if (value.name === consts.unemployedName || value.name === consts.pensionerName) {
        this.haveWork = false;
      } else {
        this.haveWork = true;
      }
    },
    clientWorkplaceName(value) {
      this.updateInputText({ key: 'clientWorkplaceName', value });
    },
    clientWorkplaceAddress(value) {
      this.updateInputText({ key: 'clientWorkplaceAddress', value });
    },
    clientWorkplacePeriodId(value) {
      this.validation.clientWorkplacePeriodId.func(this, 'clientWorkplacePeriodId');
      this.updateInputText({ key: 'clientWorkplacePeriodId', value });
    },
    clientWorkplaceExperience(value) {
      this.updateInputText({ key: 'clientWorkplaceExperience', value });
    },
    clientWorkplacePhone(value) {
      this.updateInputText({ key: 'clientWorkplacePhone', value });
    },
    clientGuarantorName(value) {
      this.updateInputText({ key: 'clientGuarantorName', value });
    },
    clientGuarantorRelationId(value) {
      this.validation.clientGuarantorRelationId.func(this, 'clientGuarantorRelationId');
      this.updateInputText({ key: 'clientGuarantorRelationId', value });
    },
    clientGuarantorPhone(value) {
      this.updateInputText({ key: 'clientGuarantorPhone', value });
    },
  },
  methods: {
    validCard(value) {
      // accept only digits, dashes or spaces
      return luhn(value);
    },
    checkShow(value) {
      const resetViewChange = ['bankBik', 'cardNumber', 'cardHolder', 'imHolder', 'checkingAccount'];
      resetViewChange.forEach((el) => {
        this[el] = '';
      });
      if (Number(value) === consts.issueMethodCardGuid) { // карта
        this.showCard = true;
        this.showBank = false;
        this.showApproveCard = false;
      } else if (Number(value) === consts.issueMethodCardGuid) { // банковский счет
        this.showCard = false;
        this.showApproveCard = false;
        this.showBank = true;
      } else if (Number(value) === consts.issueMethodW1Guid) { // w1 платеж
        this.showCard = false;
        this.showBank = false;
        this.showApproveCard = true;
      } else {
        this.showCard = false;
        this.showBank = false;
        this.showApproveCard = false;
      }
      if (Number(value)) {
        this.validation.methodOfIssuanceId.invalid = false;
      }
      Object.keys(this.validation).forEach((el) => {
        const element = this.validation[el];
        element.invalid = false;
      });
    },
    validateCardNumber() {
      this.validation.cardNumber.func(this, 'cardNumber');
    },
    validateClientTotalMonthlyIncome() {
      this.validation.clientTotalMonthlyIncome.func(this, 'clientTotalMonthlyIncome');
    },
    validateClientTotalMonthlyOutcome() {
      this.validation.clientTotalMonthlyOutcome.func(this, 'clientTotalMonthlyOutcome');
    },
    validateClientWorkplaceExperience() {
      this.validation.clientWorkplaceExperience.func(this, 'clientWorkplaceExperience');
    },
    disableWork(e) {
      if (e === true || e === '') {
        this.disableClassWork = false;
      } else if (e === false) {
        this.validation.clientWorkplaceName.invalid = false;
        this.validation.clientWorkplaceAddress.invalid = false;
        this.validation.clientWorkplaceExperience.invalid = false;
        this.validation.clientWorkplacePeriodId.invalid = false;
        this.validation.clientWorkplacePhone.invalid = false;
        this.disableClassWork = true;
      }
    },
    disableGuarantor(e) {
      if (e === true || e === '') {
        this.disableClassGuarantor = false;
      } else if (e === false) {
        this.validation.clientGuarantorName.invalid = false;
        this.validation.clientGuarantorRelationId.invalid = false;
        this.validation.clientGuarantorPhone.invalid = false;
        this.disableClassGuarantor = true;
      }
    },
    updateInputText({ key, value }) {
      this.$store.commit('UPDATE_INPUT_TEXT', {
        key,
        value,
      });
    },
    submit() {
      if (this.disabled) {
        return;
      }
      if (this.validate() && !this.waiting) {
        this.waiting = true;
        this.$api.updateRequest(
          this.$route.params.code,
          {
            cardNumber:
              (this.$store.state.request.cardNumber ||
              this.$store.state.request.cardNumber.length < 0) ?
                this.$store.state.request.cardNumber.replace(/\s/g, '') :
                (this.approvedCardState.card_number || ''),
            cardHolder: this.$store.state.request.cardHolder,
            bankBik: this.$store.state.request.bankBik.replace(/\s/g, ''),
            checkingAccount: this.$store.state.request.checkingAccount.replace(/\s/g, ''),
            clientHomePhone: this.$store.state.request.clientHomePhone,
            clientEmail: this.$store.state.request.clientEmail,
            clientTotalMonthlyIncome: this.$store.state.request.clientTotalMonthlyIncome.replace(/\s/g, ''),
            clientTotalMonthlyOutcome: this.$store.state.request.clientTotalMonthlyOutcome.replace(/\s/g, ''),
            clientEmploymentId: this.$store.state.request.clientEmploymentId.id,
            clientWorkplaceName: this.$store.state.request.clientWorkplaceName,
            clientWorkplaceAddress: this.$store.state.request.clientWorkplaceAddress,
            clientWorkplaceExperience: this.$store.state.request.clientWorkplaceExperience,
            clientWorkplacePeriodId: this.$store.state.request.clientWorkplacePeriodId.id,
            clientWorkplacePhone: this.$store.state.request.clientWorkplacePhone,
            clientGuarantorName: this.$store.state.request.clientGuarantorName,
            placeOfStay: this.$store.state.request.placeOfStay,
            clientGuarantorRelationId: this.$store.state.request.clientGuarantorRelationId.id,
            clientGuarantorPhone: this.$store.state.request.clientGuarantorPhone,
            methodOfIssuanceId: this.methodOfIssuanceId.id,
          },
        ).then((data) => {
          if (data.updateRequest === true) {
            this.$api.insertEvents(this.$route.params.code, 702).then((dataEvent) => {
              this.waiting = false;
              if (dataEvent.success === 1) {
                this.$store.dispatch('getRequest', { code: this.$route.params.code });
                this.$store.commit('UPDATE_REQUEST', { step: 3 });
              }
            });
          }
        })
          .catch(() => {
            this.waiting = false;
          });
      }
    },
  },
  mounted() {
    this.clientWorkplacePeriodId = {
      id: 1, // хардкод [[исправить перед релизом]]
      name: 'Год',
    };
    this.$api.infoMethodsOfIssuance()
      .then((data) => {
        this.methodOfIssuanceIds = data;
        const savedMethodOfIssuanceId = this.$store.state.request.methodOfIssuanceId;
        if (savedMethodOfIssuanceId) {
          this.methodOfIssuanceId = data.find(el => el.id === savedMethodOfIssuanceId);
        }
      });
    this.disableWork(this.$store.state.request.haveWork);
    this.disableGuarantor(this.$store.state.request.haveGuarantor);

    this.$api.infoEmployments()
      .then((data) => {
        this.employments = this.$to.camel(data);
      });
    this.$api.infoWorkplacePeriods()
      .then((data) => {
        this.workplacePeriods = this.$to.camel(data);
      });
    this.$api.infoPeopleRelations()
      .then((data) => {
        this.guarantorRelations = this.$to.camel(data);
      });
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/fullrequest.scss';
@import '../../assets/scss/wrapper.scss';

.card-approve-block {
  margin-top: 20px;
}
.radioList {
    padding: 0 0 0 0;
    margin: 0;

    li {
        margin: 0 0 15px 0;
        padding: 0;
        list-style: none;
        position: relative;
        input {
            position: absolute;
            top: 5px;
            left: 1px;
            width: auto;

        }
        div {
            position: relative;
            display: inline-block;
            margin-left: 25px;
            span {
                font-style: italic;
            }
        }
    }
}
label{
   color: #354052;
}
label, .text {
    i {
        color: red;
        font-style: normal;
        &.hide {
            display: none;
        }
    }
}

.imholder {
    margin: 10px 0 0 5px;
}

.padd {
    margin: 20px 0;
}

</style>
