<template>
    <div>
        <FoldedSteps step="imagesDocs" />
        <div class="content-holder">
            <RequestHeader
                name="Фото документов"
                num="4"/>
            <div class="form-holder">
              <form @submit.prevent="submit()">
                <div class="row">
                  <div class="col-12 col-lg-8 col-xl-8">
                    <div class="uploader">
                      <p>Паспорт</p>
                      <input-wrap :error="validation.foto_passport">
                        <file-uploader
                          saveTo="foto_passport"
                          :accept="['jpg', 'jpeg', 'png']"
                          @change="validate('foto_passport')"
                        ></file-uploader>
                      </input-wrap>
                    </div>
                    <div class="wide">
                      <input-wrap :noborder="true" :error="validation.checkedPts">
                      <div
                        class="col-12"
                        v-for="document in this.checkListPts"
                        :key="document.code"
                      >
                        <div class="">
                          <div class="checkbox">
                            <checkbox
                              :id="document.code"
                              :name="document.code"
                              :value="document.code"
                              v-model="checkedPts"
                              :checked='false'>
                                <span>{{document.name}} <span>{{document.text}}</span></span>
                            </checkbox>
                          </div>
                        </div>
                      </div>
                      </input-wrap>
                    </div>
                        <div class="uploader">
                          <p>Свидетельство о регистрации (СТС), <span>с обеих сторон</span></p>
                          <input-wrap :error="validation.foto_sts">
                            <file-uploader
                                    saveTo="foto_sts"
                                    :accept="['jpg', 'jpeg', 'png']"
                                    @change="validate('foto_sts')"
                            ></file-uploader>
                          </input-wrap>
                        </div>
                        <div class="uploader">
                            <p>ПТС, <span>не обязательно</span></p>
                            <file-uploader
                              saveTo="foto_pts"
                              :accept="['jpg', 'jpeg', 'png']"
                            ></file-uploader>
                        </div>
                        <div class="uploader" v-if="this.$store.state.request.cardNumber &&
                                                  this.$store.state.request.cardHolder">
                          <p>Банковская карта, <span>с лицевой стороны</span></p>
                          <input-wrap :error="validation.foto_card">
                            <file-uploader
                              saveTo="foto_card"
                              :accept="['jpg', 'jpeg', 'png']"
                              @change="validate('foto_card')"
                            ></file-uploader>
                          </input-wrap>
                        </div>
                  </div>
                </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button
                            class="button primary-button"
                            :class="{ 'disabled-button': disabled  }"
                            @click.prevent="submit()"
                            type="submit"
                        >
                            Далее
                        </button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</template>

<script>
import InputWrap from '@/components/InputWrap';
import FileUploader from '../FileUploader';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import FoldedSteps from './FoldedSteps';
import Checkbox from '../Checkbox';

export default {
  name: 'StepImagesDocs',
  components: {
    InputWrap,
    Checkbox,
    SuccessStep,
    RequestHeader,
    FileUploader,
    FoldedSteps,
  },
  data() {
    return {
      checkedPts: [],
      waiting: false,
      submitClass: {
        button: true,
        'disabled-button': true,
      },
      checkListPts: {
        11: {
          code: '11',
          name: 'Данные и фото ',
          text: '(стр. 2-3)',
          status: false,
        },
        12: {
          code: '12',
          name: 'Прописка ',
          text: '(стр. 5-12)',
          status: false,
        },
        13: {
          code: '13',
          name: 'Семейное положение ',
          text: '(стр. 14-15)',
          status: false,
        },
      },
      validation: {
        checkedPts: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (Object.keys(vue.checkListPts).length !== Object.keys(vue[e]).length) {
              this.message = 'Необходимо подтвердить наличие всех страниц';
              this.invalid = true;
            } else {
              this.message = '';
              this.invalid = false;
            }
          },
        },
        foto_passport: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_sts: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_card: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue.$store.state.request.cardNumber &&
                vue.$store.state.request.cardHolder &&
              (!vue.$store.state.request[vue.$to.camel(e)] ||
                !vue.$store.state.request[vue.$to.camel(e)].length)) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  computed: {
    disabled() {
      if (
        this.waiting
      ) {
        return true;
      }
      return false;
    },
    agentConfirm() {
      return this.checkedPts.length === 3;
    },
  },
  methods: {
    submit() {
      // если кнопка отключена, не делаем ничего
      if (!this.disabled && this.validate()) {
        this.waiting = true;
        this.$api.insertEvents(this.$route.params.code, 711).then((data) => {
          this.waiting = false;
          if (data.success === 1) {
            this.$store.commit('UPDATE_REQUEST', { step: 4 });
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
  @import '../../assets/scss/functions.scss';

  .wide {
    width: 100%;
    .check-action{
      .name {
        span {
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .uploader {
    margin-top: 20px;
  }
</style>
