<template>
    <div>
        <FoldedSteps step="waitForDecision" />
        <div class="content-holder">
            <div>
                <div class="holder alone">
                    <h1>Ваши документы приняты</h1>
                </div>
            </div>
            <div class="form-holder">
                <div class="row">
                    <div class="col-12 bar">
                        <ProgressBar value="70" />
                    </div>
                    <div class="col-12 text">
                        <p>Решение по заявке будет направлено в личный кабинет.</p>
                        <p>Спасибо за выбор нашей компании.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import ProgressBar from '../ProgressBar';
import FoldedSteps from './FoldedSteps';

export default {
  name: 'StepWaitForDecision',
  components: {
    SuccessStep,
    RequestHeader,
    ProgressBar,
    FoldedSteps,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    @import '../../assets/scss/waitfordecision.scss';
</style>
