<template>
    <div>
        <FoldedSteps step="stepApproved" />
        <div class="content-holder">
            <div class="form-holder">
                <div class="row">
                    <img class="success" src="/static/i/hands.svg"/>
                </div>
                <div class="row">
                    <div class="col-12 text">
                        Вам одобрен займ!<br />
                        Ожидайте звонка сотрудника CarMoney для дальнейших действий.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FoldedSteps from './FoldedSteps';

export default {
  name: 'StepApproved',
  components: {
    FoldedSteps,
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    .row {
        text-align: center;
    }
    .success {
        width: 247px;
        margin: 30px auto;
    }
    .text {
        font-size: 17px;
        font-weight: 600;
        padding: 0 20px 40px 20px;
    }
</style>
