<template>
    <div>
        <FoldedSteps step="preRequest" />
        <div class="content-holder">
          <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"></clip-loader>
          <RequestHeader name="Проверьте данные" num="2"/>
            <div class="form-holder">
              <form @submit.prevent="submit()">
                <div class="row">
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Фамилия</label>
                            <input-wrap :error="validation.clientLastName">
                                <input
                                        type="text"
                                        id="request-input-client-last-name"
                                        v-model="clientLastName"
                                        @blur="validate('clientLastName')"
                                        :disabled="true"

                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Имя</label>
                            <input-wrap :error="validation.clientFirstName">
                                <input
                                        type="text"
                                        id="request-input-client-first-name"
                                        v-model="clientFirstName"
                                        @blur="validate('clientFirstName')"
                                        :disabled="true"

                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Отчество</label>
                            <input-wrap :error="validation.clientPatronymic">
                                <input
                                        type="text"
                                        id="request-input-client-patronymic"
                                        v-model="clientPatronymic"
                                        @blur="validate('clientPatronymic')"
                                        :disabled="true"

                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Мобильный телефон</label>
                            <input-wrap :error="validation.clientMobilePhone" class="seven">
                                <input
                                type="text"
                                id="request-input-client-mobile-phone"
                                v-model="clientMobilePhonePure"
                                v-mask="'(###) ###-##-##'"
                                @blur="validate('clientMobilePhone')"
                                :disabled="true"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Серия паспорта</label>
                            <input-wrap :error="validation.clientPassportSerialNumber">
                                <input
                                        type="text"
                                        id="request-input-client-passport-serial-number"
                                        v-model="clientPassportSerialNumber"
                                        v-mask="'## ##'"
                                        @blur="validate('clientPassportSerialNumber')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Номер паспорта</label>
                            <input-wrap :error="validation.clientPassportNumber">
                                <input
                                        type="text"
                                        id="request-input-client-passport-number"
                                        v-model="clientPassportNumber"
                                        v-mask="'### ###'"
                                        @blur="validate('clientPassportNumber')"
                                />
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-4">
                        <div>
                            <label>Дата рождения</label>
                            <input-wrap :error="validation.clientBirthday">
                                <datepicker
                                        id="request-input-client-birthday"
                                        v-model="clientBirthday"
                                        :disabled="disabledDates"
                                        :open-date="disabledDates.from"
                                        class="date"
                                        language="ru"
                                        format="dd.MM.yyyy"
                                        :monday-first="true"
                                        @blur="validate('clientBirthday')"
                                >
                                </datepicker>
                            </input-wrap>
                        </div>
                    </div>
                    <div class="input-block col-12 col-md-6 col-lg-8">
                        <div>
                            <label>Регион регистрации</label>
                            <input-wrap :error="validation.clientRegionId">
                                <v-select
                                        id="request-input-client-region-id"
                                        label="name"
                                        v-model="clientRegionId"
                                        :options="regions">
                                    <template slot="no-options">
                                      Нет совпадений
                                    </template>
                                </v-select>
                            </input-wrap>
                        </div>
                    </div>
                </div>
                  <div class="row error" v-if="submitError">
                      <div class="col-12">
                          {{submitError}}
                      </div>
                  </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button
                          class="button primary-button"
                          @click.prevent="submit()"
                          :class="{ 'disabled-button': waiting }"
                          type="submit">
                            Далее
                        </button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>
</template>

<script>
/* eslint-disable no-nested-ternary */

import moment from 'moment';
import { mapGetters } from 'vuex';
import { getAges } from '@/utils/validate';
import { clearPhone, isCellular } from '@/utils/ClearPhone';
import RequestHeader from '../RequestHeader';
import SuccessStep from '../SuccessStep';
import FoldedSteps from './FoldedSteps';
import InputWrap from '../InputWrap';

export default {
  name: 'StepPreRequest',
  components: {
    RequestHeader,
    SuccessStep,
    FoldedSteps,
    InputWrap,
  },
  data() {
    return {
      clientFirstName: this.$store.state.request.clientFirstName,
      clientLastName: this.$store.state.request.clientLastName,
      clientPatronymic: this.$store.state.request.clientPatronymic,
      clientPassportNumber: this.$store.state.request.clientPassportNumber,
      clientPassportSerialNumber: this.$store.state.request.clientPassportSerialNumber,
      clientBirthday: this.$store.state.request.clientBirthday,
      regions: [],
      disabledDates: {
        // eslint-disable-next-line
        to: null, from: null,
      },
      clientRegionId: this.$store.state.request.clientRegionId,
      clientMobilePhonePure: this.$store.state.request.clientMobilePhone,
      waiting: false,
      validation: {
        clientLastName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateLastName(vue[e])) {
                this.invalid = true;
                this.message = 'Разрешены только русские символы';
              }
            }
          },
        },
        clientFirstName: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (!vue.$validateLastName(vue[e])) {
                this.invalid = true;
                this.message = 'Разрешены только русские символы';
              }
            }
          },
        },
        clientPatronymic: {
          invalid: false,
          message: '',
          func(vue, e) {
            this.invalid = false;
            this.message = '';
            if (String(vue[e]).length > 0 && !vue.$validateLastName(vue[e])) {
              this.invalid = true;
              this.message = 'Разрешены только русские символы';
            }
          },
        },
        clientPassportNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            if ((typeof vue[e] === 'string' && vue[e].length < 1) || /[A-z]/g.test(vue[e])) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && vue[e].length !== 7) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
            }
          },
        },
        clientPassportSerialNumber: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if ((typeof vue[e] === 'string' && vue[e].length !== 5) || /[A-z]/g.test(vue[e])) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
            }
          },
        },
        clientMobilePhone: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              if (typeof vue[e] === 'string' && vue[e].length !== 10) {
                this.invalid = true;
                this.message = 'Некорректное значение';
              }
              if (typeof vue[e] === 'string' && !isCellular(clearPhone(vue[e]))) {
                this.invalid = true;
                this.message = 'Введите номер мобильного телефона';
              }
            }
          },
        },
        clientBirthday: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
              const choosedDate = new Date(vue[e]);
              const dateStart = new Date();
              const dateEnd = new Date();
              dateStart.setYear(dateStart.getFullYear() - vue.getAges('age_max') - 1);
              dateEnd.setYear(dateEnd.getFullYear() - vue.getAges('age_min'));
              if (dateStart.valueOf() > choosedDate.valueOf()
                || dateEnd.valueOf() < choosedDate.valueOf()) {
                this.invalid = true;
                this.message = `Неправильная дата рождения.
                 Необходим возраст от ${vue.getAges('age_min')} до ${vue.getAges('age_max')}`;
              }
            }
          },
        },
        clientRegionId: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (vue[e] === null || (typeof vue[e] === 'string' && vue[e].length < 1)) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
      submitError: null,
    };
  },
  computed: {
    ...mapGetters(['user', 'productInfo', 'lead']),
    clientMobilePhone: {
      get() {
        if (this.clientMobilePhonePure !== undefined) {
          return this.clientMobilePhonePure.replace(/\D/g, '').replace(/^7/, '');
        }
        return '';
      },
      set(input) {
        this.clientMobilePhonePure = input;
      },
    },
  },
  watch: {
    clientFirstName(value) {
      this.updateInputText({ key: 'clientFirstName', value });
    },
    clientLastName(value) {
      this.updateInputText({ key: 'clientLastName', value });
    },
    clientPatronymic(value) {
      this.updateInputText({ key: 'clientPatronymic', value });
    },
    clientPassportNumber(value) {
      this.updateInputText({ key: 'clientPassportNumber', value });
    },
    clientPassportSerialNumber(value) {
      this.updateInputText({ key: 'clientPassportSerialNumber', value });
    },
    clientBirthday(value) {
      this.updateInputText({ key: 'clientBirthday', value });
    },
    clientMobilePhone(value) {
      this.updateInputText({ key: 'clientMobilePhone', value });
    },
    clientRegionId(value) {
      this.validation.clientRegionId.func(this, 'clientRegionId');
      this.updateInputText({ key: 'clientRegionId', value });
    },
  },
  methods: {
    updateInputText({ key, value }) {
      this.$store.commit('UPDATE_INPUT_TEXT', {
        key,
        value,
      });
    },
    submit() {
      if (this.validate() && !this.waiting) {
        this.waiting = true;
        this.$api.createRequest({
          summ: this.$store.state.request.summ,
          dateReturn: this.$store.state.request.dateReturn,
          autoBrandId: this.$store.state.request.autoBrandId.id,
          autoModelId: this.$store.state.request.autoModelId.id,
          autoYear: this.$store.state.request.autoYear,
          autoPrice: this.$store.state.request.autoPrice,
          creditProductId: this.$store.state.request.creditProductId,
          clientFirstName: this.$store.state.request.clientFirstName,
          clientLastName: this.$store.state.request.clientLastName,
          clientPatronymic: this.$store.state.request.clientPatronymic,
          clientPassportNumber: this.$store.state.request.clientPassportNumber.replace(' ', ''),
          clientPassportSerialNumber: this.$store.state.request.clientPassportSerialNumber.replace(' ', ''),
          clientBirthday: this.$store.state.request.clientBirthday,
          clientRegionId: this.$store.state.request.clientRegionId.id,
          clientMobilePhone: this.$store.state.request.clientMobilePhone,
          requestSource: 'client',
        }).then((data) => {
          this.$api.insertEvents(data.code, 701).then((dataEvent) => {
            if (dataEvent.success === 1) {
              this.$store.commit('UPDATE_REQUEST', { step: 2 });
              this.$router.push({
                path: `/request/${data.code}`,
              });
            }
          });
        })
          .catch((data) => {
            this.submitError = data.message;
            this.waiting = false;
          });
      }
      // TODO: we will need to handle errors from web-service
    },
    getAges,
    disableDates() {
      const ageMin = this.getAges('age_min');
      const ageMax = this.getAges('age_max') + 1;
      // eslint-disable-next-line
      this.disabledDates.to = moment().subtract(ageMax, 'years')._d;
      // eslint-disable-next-line
      this.disabledDates.from = moment().subtract(ageMin, 'years')._d;
    },
  },
  created() {
    if (this.$store.state.user.firstName) {
      this.clientFirstName = this.$store.state.user.firstName;
    }
    if (this.$store.state.user.lastName) {
      this.clientLastName = this.$store.state.user.lastName;
    }
    if (this.$store.state.user.secondName) {
      this.clientPatronymic = this.$store.state.user.secondName;
    }
    if (this.$store.state.lead.clientPassportSerialNumber) {
      this.clientPassportSerialNumber = this.$store.state.lead.clientPassportSerialNumber;
    }
    if (this.$store.state.lead.clientPassportNumber) {
      this.clientPassportNumber = this.$store.state.lead.clientPassportNumber;
    }
    this.clientMobilePhone = this.$store.state.lead.clientMobilePhone || this.$store.state.user.username || '';
    if (this.$store.state.lead.clientBirthday) {
      this.clientBirthday = this.$store.state.lead.clientBirthday;
    }
    if (this.$store.state.lead.clientRegionId) {
      this.clientRegionId = this.$store.state.lead.clientRegionId;
    }
    this.disableDates();
  },
  mounted() {
    this.$api.infoRegions()
      .then((data) => {
        this.regions = this.$to.camel(data);
      });
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
.buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}
.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

</style>
