<template>
    <div class="pay-block" :class="{ error:error }">
        <div class="white"></div>
        <img class="logo" src="/static/i/logo.svg" alt="">
        <div class="content" v-if="step === 1">
          <form @submit.prevent="submitFirst()">
            <div class="form-holder">
              <div class="row">
                  <div class="col-12">
                    При осуществлении оплаты банковской картой,
                    системой «CloudPayments» взимается сервисный
                    сбор в размере 2% от суммы перевода (окончательный размер
                    комиссии определяется банком выпустившим карту).
                  </div>
                </div>
                <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>Фамилия</label>
                            <div class="form-control"
                                 :class="[(error || validation.lastName.invalid) ? 'error' : '']">
                                <input
                                    type="text"
                                    id="pay-input-pay"
                                    v-model="lastName"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="input-block col-12">
                        <div>
                            <label>Номер договора</label>
                            <div class="form-control"
                                 :class="[(error || validation.contract.invalid) ? 'error' : '']">
                                <input
                                    type="text"
                                    id="pay-input-contract"
                                    v-model="contract"
                                    @blur="validate('contract')"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    После нажатия на кнопку «отправить» будет направлен СМС-код на телефон,
                    указанный в договоре займа.
                  </div>
                </div>
                <div class="row" v-if="error ">
                  <div class="col-12 error-message">
                    {{
                      errorMessage ||
                      'Фамилия или номер договора указаны неверно. Введите&nbsp;корректные данные.'
                    }}
                  </div>
                </div>
                <div class="row" v-if="validation.lastName.invalid ">
                  <div class="col-12 error-message">
                    {{ errorMessage || 'Введите корректную фамилию.' }}
                  </div>
                </div>
                <div class="row" v-if="validation.contract.invalid">
                  <div class="col-12 error-message">
                    {{
                      errorMessage ||
                      validation.contract.message ||
                     'Введите корректный номер договора.'
                    }}
                  </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-12">
                    <button class="button primary-button"
                     @click.prevent="submitFirst()" :class="{disabled: waiting}">
                    <span v-if="!this.waiting">Отправить</span>
                      <clip-loader
                        v-if="this.waiting"
                        color="#ffffff"
                        size="14px"
                        >
                      </clip-loader>
                    </button>
                </div>
            </div>
            <div class="row">
              <div class="col-12">
                Для оплаты платежа по займу без комиссии
                Вы можете воспользоваться системой денежных переводов
                <a href="https://www.contact-sys.com/where">Contact</a>.
              </div>
            </div>
          </form>
        </div>
        <div class="content" v-if="step === 2">
          <form @submit.prevent="submitSecond()">
            <div class="form-holder">
                <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>Код</label>
                            <div class="form-control" :class="{ error:error }">
                                <input
                                    type="text"
                                    id="pay-input-pay"
                                    v-model="code"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <b>Введите код из SMS сообщения.</b>
                    <div v-if="phone.length > 0">
                      Сообщение отправленно на номер: {{phone}}
                    </div>
                  </div>
                </div>
                <div class="row" v-if="error">
                  <div class="col-12 error-message">
                    {{errorMessage || 'Произошла ошибка.'}}
                  </div>
                </div>
            </div>
            <div class="row buttons">
                <div class="col-12">
                    <button class="button primary-button"
                     @click.prevent="submitSecond()" :class="{disabled: waiting}">
                        <span v-if="!this.waiting">Отправить</span>
                      <clip-loader
                        v-if="this.waiting"
                        color="#ffffff"
                        size="14px"
                        >
                      </clip-loader>
                    </button>
                </div>
            </div>
          </form>
        </div>
        <div v-if="step >= 3">
          <pay-cloud v-if="params.code === 'CloudPayments'"/>
          <pay-wallet-one v-if="params.code === 'WalletOne'"/>
        </div>
        <div class="footer">
            <a href="#"></a>
        </div>
    </div>
</template>
<script src="./Pay.script.js"></script>
<style lang="scss" rel="stylesheet/scss" src="./Pay.style.scss" scope></style>
