@import '../../../assets/scss/functions.scss';
.form-holder {
  margin-left: 0;
}
.pay-block {
  position: relative;
  background: $bg;
  max-width: 450px;
  padding: 20px;
  margin: 0 auto;
  top: 70px;
  border-radius: $input-radius;
  position: relative;
  color: #505E77;
  font-size: 13px;
  padding: 80px 30px 10px 30px;
  .logo {
      position: absolute;
      top: -50px;
      left: 50%;
      margin-left: -50px;
      width: 100px;
      height: 100px;
  }
  .white {
      position: absolute;
      top: -35px;
      left: 50%;
      margin-left: -35px;
      width: 70px;
      height: 70px;
      background: $bg;
      -ms-transform:rotate(45deg); /* IE9 */
      -moz-transform: rotate(45deg);  /* FF3.5/3.6 */
      -o-transform: rotate(45deg);  /* Opera 10.5 */
      -webkit-transform: rotate(45deg);  /* Saf3.1+ */
      transform: rotate(45deg);  /* Newer browsers */
  }
  .light {
      color: #7383A1;
      margin-top: 5px;
  }
  .form-checkbox {
      position: relative;
      padding-bottom: 10px;
      div {
          &:nth-child(1) {
              position: absolute;
              top: 2px;
              left: 0;
          }
          display: inline-block;
          &:nth-child(2){
              color: #354052;
              font-weight: 600;
              margin-left: 20px;
          }
      }
  }
  a {
      color: #4A90E2;
      text-decoration: underline;
  }
}
.padd {
    margin-bottom: 20px;
}
.buttons {
    margin-bottom: 0px;
    font-weight: 600;
}
.footer {
  background: #F8FAFC;
  box-shadow: 0 -1px 0 0 #E7E9ED;
  margin: 0px -30px -15px -30px;
  padding: 15px 30px 15px 30px;
  border-radius: 0 0 $input-radius $input-radius;
  text-align: center;
  a {
    font-weight: 600;
    color: #7F8FA4;
    line-height: 19px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.form-control.error {
  border-color: red;
}
.error-message {
  color: red;
  font-weight: 600;
}
.button.primary-button {
  font-weight: 600;
}

