.months {
  position: relative;
  div {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
}
.months-mobile {
  display: inline-block;
  position: absolute;
  top: -2px;
  right: 15px;
}
.months, .months-mobile {
  white-space: pre;
  a {
    display: inline-block;
    font-size: 12px;
    border-bottom: 1px dotted $link;
    color: $link;
    cursor: pointer;
    text-decoration: none;
    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }
  a:hover {
    border-bottom: none;
  }
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
@include media-breakpoint-down(sm) {
  .months {
    padding-top: 30px;
  }
}
.graph {
  position: relative;
}
.graph__header {
  padding-top: 20px;
}
.graph-header {
  font-weight: 600;
  font-size: 24px;
  color: #273142;
}
.graph-close {
  background: url(/static/i/cross.svg) no-repeat;
  position: absolute;
  right: 0px;
  top: 20px;
  height: 24px;
  width: 24px;
  border: 0;
  cursor: pointer;
}
.graph-notice {
  margin-top: -20px;
  font-weight: 600;
  font-size: 13px;
  color: #505E77;
  line-height: 20px;
}
.table {

}
.table__gray {
  color: #7F8FA4;
}
