.switch-block {
  padding: 5px 0 10px 0;
  label, .text {
    color: $dark-text;
    display: inline-block;
    width: auto;
    margin-right: 15px;
  }
  label {
    position: absolute;
    top: 0;
  }
  .text {
    padding-left: 70px;
  }
}
.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}