@import 'variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import './fonts.scss';
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss';

html, body {
  min-width: 320px;
  height: 100%;
  background: #fafbfc;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: $dark-text;
}

button:focus {
  outline: none;
}

p {
  margin-bottom: 15px;
}
.status-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  &__green {
    background-color: green;
  }
  &__red {
    background-color: red;
  }
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
.cm-icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-position: center center;
  background-size: contain;
  &_info-blue {
    background-image: url(/static/i/info-blue.svg);
    cursor: help;
  }
}
// input.form-control[type="text"],
// input.form-control[type="select"] {
//   width: 100%;
//   padding: 11px;
//   border: 1px solid $gray;
//   border-radius: $input-radius;
//   color: $dark-text;
// }
.rub {
  font-family: 'ALSRubl', 'ALS Rubl';
}

.form-control {
  display: block;
  width: 100%;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }
  input:not(.no-transform) {
    text-transform: uppercase;
  }
  .no-transform {
    input {
      text-transform: none;
    }
  }
  input {
    width: 100%;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
    line-height: $input-line-height;
    color: $input-color;
    border: none;
    // @include box-shadow($input-box-shadow);
    // @include transition($input-transition);

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @if $enable-rounded {
      // Manually use the if/else instead of the mixin to account for iOS override
      border-radius: $input-border-radius;
    } @else {
      // Otherwise undo the iOS default
      border-radius: 0;
    }
    // Customize the `:focus` state to imitate native WebKit styles.
    // @include form-control-focus();

    // Placeholder
    &::placeholder {
      color: $input-placeholder-color;
      // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: 1;
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg;
      // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
      opacity: 1;
    }
  }

  // add rouble icon
  &.rouble {
    position: relative;
    input {
      padding-right: 20px;
    }
    &:after {
      font-family: ALSRubl, "ALS Rubl";
      font-size: 15px;
      color: #7383a1;
      line-height: 19px;
      content: 'q';
      position: absolute;
      display: block;
      top: 8px;
      right: 10px;
      height: 18px;
      width: 10px;
    }
  }

  &.date {
    position: relative;
    &:after {
      font-size: 15px;
      color: #7383a1;
      line-height: 19px;
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      right: 10px;
      height: 18px;
      width: 20px;
      background: url(/static/i/date-icon.svg) no-repeat;
      pointer-events: none;
    }
  }

}

label {
  width: 100%;
  font-size: 13px;
  color: $light-text;
  margin-bottom: 5px;
  display: block;
}
@include media-breakpoint-up(sm) {
  label {
    font-size: 13px;
  }
}
/* Customize the label (the container) */
.custom-radio {
  display: block;
  position: relative;
  user-select: none;

  /* Hide the browser's default radio button */
  input {
    position: absolute;
    opacity: 0;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 18px;
    width: 18px;
    /* Checkbox Copy 3: */
    background-image: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
    border: 1px solid #CED0DA;
    border-radius: 100px;
  }

  .checkmark:hover {
    /* Checkbox Copy 2: */
    background-image: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
    border: 1px solid #7F8FA4;
  }
  /* On mouse-over, add a grey background color */
  //&:hover input ~ .checkmark {
  //  background-color: #ccc;
  //}

  /* When the radio button is checked, add a blue background */
  input:checked ~ .checkmark {
    background-color: #F2F4F8;
    border-color: #CED0DA;
  }
  input:disabled ~ .checkmark {
    opacity: .5;
    &:hover {
      background-image: linear-gradient(0deg, #F2F4F8 0%, #FEFFFF 100%);
      border: 1px solid #CED0DA;
    }
  }
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .checkmark:after {
    top: 0;
    left: 0;
    width: 12px;
    bottom: 0;
    height: 12px;
    border-radius: 50%;
    right: 0;
    margin: auto;
    background-color: #FFCC00;
  }

  input {
    &:disabled {
      opacity: 0;
    }
  }

}

button.button {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  padding: 10px 0;
  border-radius: $input-radius;
  background-color: none;
  cursor: pointer;
}

.primary-button {
  border: 3px solid $yellow;
  background-color: $yellow;
  color: $dark-text;
  &:hover:not(.primary-button) {
    background-color: $yellow-hover;
    border: 3px solid $yellow-hover;
  }
}

.danger-button {
  border: 3px solid $red;
  background-color: $red;
  color: white;
  &:hover:not(.primary-button) {
    background-color: $red-hover;
    border: 3px solid $red-hover;
  }
}

.primary-gray-button {
  border: 3px solid $gray-button;
  background-color: $gray-button;
  color: $dark-text;
  &:hover:not(.primary-button) {
    background-color: $gray-button;
    border: 3px solid $gray-button;
  }
}

.secondary-button {
  border: 3px solid $yellow;
  background: $bg;
  color: $dark-text;
  &:hover {
    background-color: $yellow-hover;
    border: 3px solid $yellow-hover;
  }
  &.disabled,
  &.disabled:hover {
    border-color: #ced0da;
    pointer-events: none;
    color: #ced0da;
    background: #ffffff;
  }
}

.disabled-button {
  border: 1px solid #ced0da;
  background: #e9eaf0;
  color: $blue;
  cursor: default !important;
  padding: 12px 0 !important;
  pointer-events: none;
}

.input-block {
  margin-bottom: 15px;
}

.content-holder {
  background: $bg;
  padding: 0 30px;
  position: relative;
  border-bottom: 1px solid $gray;
}

.form-holder {
  margin-left: 80px;
  padding-bottom: 10px;
}

.form-row {
  overflow: hidden;
  border: 1px solid red;
  .input-block {
    float: left;
    width: 50%;
    &:first-child {
      div {
        margin-right: 25px;
      }
    }
  }
}

.v-select .open-indicator {
  bottom: 3px;
  right: 15px;
}

.v-select .open-indicator:before {
  border-width: 2px 2px 0 0;
  border-color: $blue;
}

.v-select .open-indicator, .v-select .open-indicator:before {
  width: 8px;
}

.v-select .open-indicator:before {
  height: 8px;
}

.v-select .dropdown-toggle .clear {
  font-size: 23px;
  bottom: 13px;
  display: none;
  span {
    font-size: 17px;
    color: $blue;
  }
}

.v-select .dropdown-toggle {
  border: 1px solid $gray;
  border-radius: $input-radius;
  width: 100%;
}

.form-control .v-select .dropdown-toggle {
  border: none;
}

.v-select input[type=search], .v-select input[type=search]:focus {
  padding: $input-padding-y $input-padding-x;
  color: $dark-text;
}

.v-select .selected-tag {
  padding: 0;
  margin: ($input-padding-y - 0.2) $input-padding-x 0 11px;
}

.v-select.single .selected-tag {
  position: absolute;
}

.v-select.disabled .dropdown-toggle input {
  background-color: $input-disabled-bg;
}

.v-select.disabled .dropdown-toggle .open-indicator {
  background-color: $input-disabled-bg;
}

span.circle {
  float: left;
  height: 50px;
  width: 50px;
  color: $dark-text;
  background: #f5f6fa;
  display: inline-block;
  border-radius: 150px;
  position: relative;
  border: 2px solid $gray;
  em {
    font-size: 16px;
    font-style: normal;
    position: absolute;
    top: 10px;
    width: 25px;
    left: 11px;
    font-weight: 600;
    text-align: center;
  }
}

.uploader {
  margin-bottom: 25px;
  p {
    font-size: 18px;
    font-weight: 600;
    span {
      color: $light-text;
    }
  }
}

.qr {
  text-align: center;
  margin-bottom: 70px;
  padding-top: 40px;
  canvas {
    width: 120px;
    height: 120px;
  }
}

.check-action {
  margin-bottom: 15px;
  position: relative;
  .checkbox {
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0;
  }
  .name {
    display: inline-block;
    color: $light-text;
    font-size: 18px;
    line-height: 24px;
    margin-left: 25px;
    span {
      color: $dark-text;
    }
    em {
      font-style: normal;
      &.active {
      }
    }
  }
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 5px 0px 5px 4px;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, .3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, .5);
  // margin: 0px;
  // height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, .5);
  // margin: 0px;
  // height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(0, 0, 0, .5);
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  &.table-middle-content {
    th,
    td {
      vertical-align: middle;
    }
  }
  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-bottom: $table-border-width solid $table-border-color;

  }
  td {
    font-weight: 600;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 15px;
  }
  thead th {
    vertical-align: bottom;
    border-top: none;
    font-weight: 600;
    font-size: 14px;
    color: #505e77;
    line-height: 15px;
  }

  .table {
    background-color: $body-bg;
  }
}

div.document {
  margin-bottom: 15px;
  .name {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
  }
  .text {
    text-align: left;
    input {
      margin-right: 10px
    }
  }
  .image {
    margin-left: 5px;
    position: relative;
    top: 5px;
    background: url(/static/i/doc.svg) no-repeat;
    width: 20px;
    height: 22px;
    display: inline-block;
  }
}

@include media-breakpoint-down(md) {
  .check-action {
    display: block;
    position: relative;
    .checkbox {
      top: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .form-holder {
    margin-left: 0;
  }
}

@include media-breakpoint-down(xs) {
  .content-holder {
    padding: 0 15px;
  }
  span.circle {
    height: 39px;
    width: 39px;
    em {
      top: 5px;
      left: 6px;
    }
  }
  .check-action {
    .name {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

/* transitions */
.fade-enter-active {
  transition: 0s
}

.fade-enter /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
}

.fade-slide-enter-active {
  transition: .3s
}

.fade-slide-enter /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
  transform: translateY(-100px);
}

.fade-light-enter-active {
  transition: .3s;
}

.fade-light-enter /* .fade-leave-active до версии 2.1.8 */
{
  opacity: 0;
  transform: translateY(-10px);
}

.bell {
  display: block;
  margin-top: 13px;
  margin-right: 4px;
  width: 22px;
  height: 26px;
  display: inline-block;
  background: url(/static/i/bell.svg) no-repeat;
}

.badge {
  display: block;
  position: absolute;
  top: 18px;
  right: 20px;
  background: $yellow;
  display: inline-block;
  padding: 1px 7px;
  height: 20px;
  min-width: 20px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 12px;
  color: #354052;
}

.notify-control {
  display: block;
  position: absolute;
  top: -10px;
  right: 0;
  bottom: -10px;
  width: 76px;
  background: none;
  border: none;
  border-left: 1px #e8ecf0 solid;
  cursor: pointer;
  &.active {
    background: #5a677a;
    .bell {
      background: url(/static/i/bell-white.svg) no-repeat;
    }
  }
}

@include media-breakpoint-down(sm) {
  .bell {
    display: block;
    margin-top: 13px;
    margin-right: 4px;
    width: 22px;
    height: 26px;
    display: inline-block;
    background: url(/static/i/bell.svg) no-repeat;
  }
  .badge {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    background: $yellow;
    display: inline-block;
    padding: 1px 7px;
    height: 20px;
    min-width: 20px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 12px;
    color: #354052;
  }
}

input.styled-checkbox {
  display: none;
}

label.styled-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  // vertical-align: top;
  // margin-top: 3px;
  line-height: 1;
  min-height: 8px;
  width: auto;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(0deg, #f2f4f8 0%, #feffff 100%);
    border: 1px solid #ced0da;
    border-radius: 4px;
    height: 16px;
    width: 16px;
    left: 0;
  }
  &::after {
    transition: transform 1s;
    content: '';
    display: none;
    position: absolute;
    background: #ffcc00;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    border-radius: 2px;
    height: 10px;
    width: 10px;
    top: 3px;
    left: 3px;
  }
}

input.styled-checkbox:checked + label.styled-checkbox {
  position: relative;
  &::after {
    display: block;
  }
}

label.styled-checkbox:hover::before, label.styled-checkbox:focus::before {
  border: 1px solid #7f8fa4;
}
.seven {
  display: block;
  position: relative;
  .form-control input {
    padding-left: 30px;
  }
}

.seven:before {
  content: '+7';
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
}

