.summary {
  background: #f3f5f7;
  position: relative;
  border-radius: $input-radius;
  text-align: center;
  padding: 15px 5px;
  margin: 20px 0 30px 0;
  .summary__item {
    span.summary__label {
      display: block;
      color: $light-text;
      font-weight: 600;
    }
    strong.summary__value {
      font-size: 24px;
    }
  }
}
