$bg: #ffffff;
$green: #299817;
$bar: #38BA24;
$yellow: #FFCC00;
$yellow-hover: #fed638;
$red: #ff0000;
$red-hover: #ff342f;
$leftsidebar: #f5f5f5 ;
$rightsidebar: #5A677A;
$gray: #DFE3E9;
$dark-text: #354052;
$light-text: #7F8FA4;
$link: #4A90E2;
$blue: #7383A1;
$gray-button:#f2f4f6;
$input-radius: 4px;
$leftwidth: 67px;
$rightwidth: 344px;
$input-btn-padding-y: .475rem;
$photo-size: 104px;

$grid-breakpoints: (
  xs: 0,
  sm: 820px,
  md: 922px,
  lg: 1200px,
  xl: 1280px
);
$table-cell-padding: 13px 16px 14px;

