.alone {
  padding-left: 80px;
}
.content-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.bar {
  margin: 10px 0 10px 0;
}
.text {
  color: $light-text;
  font-size: 13px;
}
@include media-breakpoint-down(sm) {
  .alone {
    padding-left: 0;
  }
}
