.center-block {
  //margin-top: 40px;
  width: 100%;
}
.left-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #f5f5f5;
  height: 80px;
  border: 1px #E8ECF0 solid;
  box-shadow: 0 2px 15px 0 rgba(0,0,0, .14);
}
.logo {
  width: 56px;
  position: absolute;
  margin-left: 15px;
  margin-top: 14px;
}
.right-block {
  background: $rightsidebar;
}
.absolute-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@include media-breakpoint-down(xs) {
  .content-holder {
    padding: 0 15px;
  }
  .center-block {
    &_fixed{
      margin-top: 80px;
    }
  }
  .right-block {
    display: block;
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1001;
  }
}
@include media-breakpoint-up(sm) {
  .center-block {
    &_fixed{
      margin-top: 80px;
      padding-top: 80px;
    }
  }
  .right-block {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 0;
    width: $rightwidth;
    background: $rightsidebar;
  }
  .left-block {
    position: fixed;
    top: 0;
  }
  .card-wrap {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2000;
  }
}
@include media-breakpoint-down(sm) {
  .center-block:not(.center-block_fixed) {
      margin-top: 80px;
  }
}
@include media-breakpoint-only(md) {
  .right-block {
    z-index: 1001;
  }
  .center-block{
    padding-top: 80px;
  }
}
@include media-breakpoint-up(lg) {
  .center-block {
    padding-top: 0;
  }
  .left-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: $leftsidebar;
    height: 100%;
    z-index: 10000;
  }
  .logo {
    width: 56px;
    position: absolute;
    margin-left: 0;
    margin-top: 10px;
  }
}
@include media-breakpoint-up(lg) {
  .left-block {
    position: fixed;
    top: 0;
    bottom: 0;
    width: $leftwidth;
    /* Base: */
    background: $leftsidebar;
    border: 1px solid #dde2e5;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.14);
  }
  .center-block {
    position: relative;
    // width: auto;
    min-height: 1px;
    flex: auto;
    margin-left: $leftwidth;
    margin-right: $rightwidth;
  }
  .logo {
    position: initial;
    width: 58px;
    padding-top: 12px;
    padding-left: 7px;
  }

  $rightwidth: 344px;

  .right-block {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: $rightwidth;
    background: $rightsidebar;
  }
}

@include media-breakpoint-up(xl) {
  $leftwidth: 167px;
  $rightwidth: 344px;
  .left-block {
    width: $leftwidth;
  }
  .center-block {
    margin-left: $leftwidth;
    margin-right: $rightwidth;
  }
  .logo {
    position: initial;
    width: 106px;
    margin-top: 20px;
    margin-left: 25px;
  }
}
.marker {
  position: fixed;
  display: block;
  z-index: 9999;
  bottom: 10px;
  right: 10px;
}
@include media-breakpoint-down(md) {
  .notifications-toggle {
    display: none;
    &.show {
      display: block;
    }
  }
}
@media print {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .left-block,
  .right-block {
    display: none;
  }
}
