<template>
  <div class="content-holder">
    <div>
      <RequestHeader name="Введите данные" num=""/>
      <form @submit.prevent="submit()">
        <div class="form-holder">
          <div class="row">
            <div class="input-block col-12 col-md-6 col-lg-3">
              <div>
                <label>Сумма займа</label>
                <input-wrap :error="validation.summ" :rouble="true">
                  <cleave
                    type="text"
                    id="request-input-summ"
                    v-model="summ"
                    @blur="validate('summ')"
                    :options="{
                      numeral: true,
                      numeralThousandsGroupStyle: 'thousand',
                      numeralPositiveOnly: true,
                      delimiter: ' ',
                    }"
                    ref="summ"
                  />
                </input-wrap>
              </div>
            </div>
            <div class="input-block col-12 col-md-6 col-lg-3">
              <label>Дата погашения</label>
              <input-wrap :error="validation.dateReturn">
                <datepicker
                  id="request-input-date-return"
                  v-model="dateReturn"
                  :disabled="disabledDates"
                  class="date"
                  language="ru"
                  format="dd.MM.yyyy"
                  :monday-first="true"
                ></datepicker>
              </input-wrap>
            </div>
            <div class="input-block col-12 col-md-12 col-lg-6">
              <div>
                <label>Срок займа</label>
                <input-wrap :error="validation.product">
                  <v-select
                    id="request-select-kp"
                    ref="select"
                    class="kp-select"
                    v-model="product"
                    label="name"
                    :options="listProducts"
                    @blur = "validate('dateReturn')"
                  >
                    <template slot="option" slot-scope="option">
                      <div
                        class="kp-select-option"
                        :class="{'disabled': option.disabled}">
                        {{option.name}}
                      </div>
                    </template>
                  </v-select>
                </input-wrap>
              </div>
            </div>
          </div>
          <div class="summary row">
            <div class="col-md-3 summary__item">
              <span class="summary__label">Вы берете</span>
              <strong class="summary__value">
                {{summValue}} <span class="rub">q</span>
              </strong>
            </div>
            <div class="col-md-6 summary__item">
              <span class="summary__label">На срок</span>
              <strong class="summary__value">{{dateReturnValue}}</strong>
            </div>
            <div class="col-md-3 summary__item">
              <span class="summary__label">Ежемесячный платеж</span>
              <strong class="summary__value">{{returnValue}}
                <span class="rub">q</span>
              </strong>
            </div>
          </div>
          <div class="row buttons">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
              <button
                class="button secondary-button"
                @click.prevent="submit()"
                type="submit"
              >
                <!--:class="{'disabled-button': disableGraph}"-->
                График платежей
              </button>
            </div>
          </div>
          <div class="error-shedule" v-if="error">
            {{error}}
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import debounce from 'debounce';
import moment from 'moment';
import { mapGetters } from 'vuex';
import RequestHeader from '../RequestHeader';
import PayGraph from '../PayGraph';
import InputWrap from '../InputWrap';
import params from '../../params';
import products from './products';
import ProductsFilter from '../../utils/Products';

const productsFilter = new ProductsFilter();

export default {
  name: 'Calculator',
  components: {
    RequestHeader,
    PayGraph,
    InputWrap,
  },
  data() {
    return {
      /* дата для ЛКК */
      dateSelected: [
        false,
        true,
      ],
      error: '',
      disableGraph: true,
      disabledDates: {
        to: new Date(),
      },
      /* сумма займа */
      summPure: '',
      cp: '',
      summMin: 500000,
      summMax: 3000000,
      /* остальные поля калькулятора */
      products: params.products,
      /* показ графика платежей */
      /* объект валидации */
      validation: {
        dateReturn: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        summ: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else if (+vue[e] < vue.summMin || +vue[e] > vue.summMax) {
              this.invalid = true;
              this.message = `Сумма должна быть от ${vue.summMin} до ${vue.summMax}`;
            } else if (parseInt(vue[e], 10) % 1000 > 0) {
              this.invalid = true;
              this.message = 'Сумма должна быть кратна 1000';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        product: {
          invalid: false,
          message: '',
          func(vue, e) {
            const val = vue[e];
            if (!val) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
      scheduleFull: [],
      scheduleEarly: [],
      totalAmountFull: '',
      totalAmountEarly: '',
    };
  },
  watch: {
    summPure(v) {
      const replaced = v.replace('-', '');
      this.$store.state.calculator.summ = replaced;
    },
    summ: debounce(
      function summ(e) {
        this.summ = e;
        this.validation.summ.invalid = false;
        this.product = '';
        this.calculate();
      },
      500,
    ),
    dateReturn(e) {
      this.dateReturn = e;
      this.calculate();
    },
    returnSumm(e) {
      this.returnSumm = e.toString().replace(' ', '');
    },
  },
  computed: {
    ...mapGetters([
      'calculator',
    ]),
    product: {
      get() {
        return this.$store.state.calculator.product;
      },
      set(v) {
        this.$store.state.calculator.product = v;
        if (v) {
          // eslint-disable-next-line
          this.dateReturn = moment().add('months', v.months)._d;
        }
      },
    },
    returnSumm: {
      set(v) {
        this.$store.state.graph.annuity = v;
      },
      get() {
        return this.$store.state.graph.annuity;
      },
    },
    summValue() {
      if (this.summ && this.dateReturn && this.returnSumm) {
        return this.$moneyFormat(this.summ);
      }
      return '- --- ---';
    },
    dateReturn: {
      get() {
        return this.$store.state.calculator.dateReturn;
      },
      set(v) {
        this.$store.state.calculator.dateReturn = v;
      },
    },
    dateReturnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.dateReturn.toLocaleString('ru', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        });
      }
      return '-- -- ----';
    },
    returnValue() {
      if (this.dateReturn && this.summ && this.returnSumm) {
        return this.$moneyFormat(this.returnSumm);
      }
      return '- --- ----';
    },
    summ: {
      get() {
        return this.$store.state.calculator.summ.toString().replace(/\s/g, '');
      },
      set(input) {
        this.summPure = input;
      },
    },
    listProducts() {
      const productsList = products;
      const sum = +this.summ;
      const sumInvalid = this.validation.summ.invalid;
      if (!sum || sumInvalid) {
        productsList.map((e) => {
          e.disabled = true;
          return e;
        });
      } else {
        productsList.map((e) => {
          e.disabled = !(sum >= e.min && sum <= e.max
          );
          return e;
        });
      }
      return productsList;
    },
  },
  methods: {
    submit() {
      if (this.validate() && !this.disableGraph) {
        this.updateStore();
        this.$router.push('/graph');
      }
    },
    updateStore() {
      this.$store.commit('SET_CALCULATOR', {
        summ: this.summ,
        dateReturn: this.dateReturn,
        product: this.product,
      });
      this.$router.push({ path: '/graph' });
    },
    revriteSelect() {
      const select = this.$refs.select;

      // eslint-disable-next-line
      select.select = function (option) {
        if (option.disabled) {
          return;
        }
        if (this.isOptionSelected(option)) {
          this.deselect(option);
        } else {
          if (this.taggable && !this.optionExists(option)) {
            // eslint-disable-next-line
            option = this.createOption(option);
          }
          if (this.multiple && !this.mutableValue) {
            this.mutableValue = [option];
          } else if (this.multiple) {
            this.mutableValue.push(option);
          } else {
            this.mutableValue = option;
          }
        }
        this.onAfterSelect(option);
      }.bind(select);
    },
    calculate() {
      return new Promise(() => {
        if (this.summ
          && this.dateReturn && this.product) {
          const self = this;
          self.$api.calculate({
            amount: +self.summ,
            destination: 'S',
            credit_product_1c: self.product.id,
            date: `${(`0${self.dateReturn.getDate()}`
            ).slice(-2)}.${(`0${self.dateReturn.getMonth() + 1}`
            ).slice(-2)}.${self.dateReturn.getFullYear()}`,
          })
            .then((response) => {
              self.disableGraph = false;
              self.error = '';
              self.$store.commit('SET_GRAPH', response);
              self.returnSumm = response.annuity || 0;
              self.scheduleFull = response.full.schedule;
              self.scheduleEarly = response.early.schedule;
              self.totalAmountFull = response.full.totalAmount || 0;
              self.totalAmountEarly = response.early.totalAmount || 0;
              this.$store.commit('SET_PRODUCT_ID', productsFilter.id);
            })
            .catch((e) => {
              self.disableGraph = true;
              self.error = e;
            });
        }
      });
    },
    addToDatepicker(monthCount) {
      const d = new Date();
      d.setMonth(d.getMonth() + monthCount);
      if (!this.dateReturn) {
        this.dateReturn = d;
      }
    },
  },
  mounted() {
    if (!this.summ) {
      this.addToDatepicker(36);
      this.revriteSelect();
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/calculator.scss';
@import '../../assets/scss/summary.scss';

.button-group {
  border-radius: $input-radius;
  background-color: none;
  overflow: hidden;
  border: $input-border-width solid $input-border-color;
  .button {
    padding: 6px 0 7px 0;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
  }
  .active {
    background: $yellow;
    cursor: default;
  }
}
.error-shedule {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}
.kp-select {
  .dropdown-menu > .highlight > a {
    background: inherit;
    color: #333333;
  }
  .dropdown-menu {
    a {
      padding: 0;
      div {
         padding: 3px 20px;
      }
    }
  }
  .highlight{
    &:not(.active) {
      .kp-select-option {
        div:not(.disabled) {
          background: #5897fb;
        }
      }
    }
    a {
      div:not(.disabled) {
        background: #5897fb;
        color: #fff;
      }
    }
  }
  .active {
    color: #333;
    background: rgba(50,50,50,.1);
  }
  .kp-select-option {
    &.disabled {
      opacity: .6;
    }
  }
}
</style>
