<template>
  <div class="graph">
    <button class="graph-close" @click="close()"></button>
    <h2 class="graph__header graph-header">График платежей</h2>
    <div class="summary row">
      <div class="col-md-3 summary__item">
        <span class="summary__label">Вы берете</span>
        <strong class="summary__value">
          {{this.$store.state.calculator.summ}}
          <span class="rub">q</span>
        </strong>
      </div>
      <div class="col-md-6 summary__item">
        <span class="summary__label">До, включительно</span>
        <strong class="summary__value">
          {{this.$store.state.calculator.dateReturn | formatDate}}
        </strong>
      </div>
      <div class="col-md-3 summary__item">
        <span class="summary__label">Возвращаете</span>
        <strong class="summary__value">
          {{graph.early.totalAmount | moneyFormat}}
          <span class="rub">q</span>
        </strong>
      </div>
    </div>
    <div ref="printWrap">
      <div v-if="graph.full.schedule.length > 0 &&
      !contraction">
        <p class="graph-notice">Вы можете погасить свой заем без дополнительной
          комиссии в любое удобное время.
          Даже через день после получения денег. Тем не менее, мы даем Вам возможность
          пользоваться нашими деньгами в течение двух лет.</p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Дата оплаты</th>
            <th scope="col" class="d-none d-sm-table-cell">Сумма платежа</th>
            <th scope="col" class="d-none d-sm-table-cell">Основной долг</th>
            <th scope="col" class="d-none d-sm-table-cell">Процент</th>
            <th scope="col">Сумма задолженности</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, i) in graph.full.schedule" :key="item.percent">
            <th scope="row">{{i+1}}</th>
            <td>{{item.date | formatDate}}</td>
            <td class="d-none d-sm-table-cell">
              {{item.total | moneyFormat}}
              <span class="rub">q</span>
            </td>
            <td class="d-none d-sm-table-cell">
          <span class="table__gray">
            {{item.total-item.percent | moneyFormat}}
            <span class="rub">q</span>
          </span>
            </td>
            <td class="d-none d-sm-table-cell">
          <span class="table__gray">
            {{item.percent | moneyFormat}}
            <span class="rub">q</span>
          </span>
            </td>
            <td>
              {{item.rest | moneyFormat}}
              <span class="rub">q</span>
            </td>
          </tr>
          </tbody>
        </table>
        <p>
          Общая сумма выплат по окончании пользования средствами:
          {{graph.full.totalAmount | moneyFormat}}
          руб.
        </p>
      </div>
      <div v-if="graph.early.schedule.length > 0 &&
       graph.full.schedule.length !== graph.early.schedule.length">
        <p class="graph-notice">Вы можете погасить свой заем без дополнительной
          комиссии в любое удобное время.
          Даже через день после получения денег. Тем не менее, мы даем Вам возможность
          пользоваться нашими деньгами в течение двух лет.</p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Дата оплаты</th>
            <th scope="col" class="d-none d-sm-table-cell">Сумма платежа</th>
            <th scope="col" class="d-none d-sm-table-cell">Основной долг</th>
            <th scope="col" class="d-none d-sm-table-cell">Процент</th>
            <th scope="col">Сумма задолженности</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(item, i) in graph.early.schedule" :key="item.percent">
            <th scope="row">{{i+1}}</th>
            <td>{{item.date | formatDate}}</td>
            <td class="d-none d-sm-table-cell">
              {{item.total | moneyFormat}}
              <span class="rub">q</span>
            </td>
            <td class="d-none d-sm-table-cell">
            <span class="table__gray">
              {{item.total-item.percent | moneyFormat}}
              <span class="rub">q</span>
            </span>
            </td>
            <td class="d-none d-sm-table-cell">
            <span class="table__gray">
              {{item.percent | moneyFormat}}
              <span class="rub">q</span>
            </span>
            </td>
            <td>
              {{item.rest | moneyFormat}}
              <span class="rub">q</span>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="amount">
          Общая сумма выплат по окончании пользования средствами:
          {{graph.early.totalAmount | moneyFormat}}
          руб.
        </p>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <button class="button secondary-button" @click="close()">
          Назад
        </button>
      </div>
      <div class="col-12 col-md-6 col-lg-offset-4 offset-lg-4 col-xl-4">
        <button class="button secondary-button" @click="pdf()">
          Скачать PDF
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Graph',
  data() {
    return {
      backPath: '/',
    };
  },
  props: {
    contraction: {
      default: false,
    },
  },
  methods: {
    close() {
      this.$router.push({ path: this.backPath });
    },
    pdf() {
      this.$api.pdf({
        content: this.$refs.printWrap.innerHTML,
        title: 'PaymentGraph',
      });
    },
  },
  computed: {
    ...mapGetters([
      'graph',
    ]),
  },
  mounted() {
    this.backPath = this.$route.query.back || '/';
    if (Object.keys(this.graph).length < 1) {
      this.$router.push({ path: this.backPath });
    }
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scope>
  @import '../../assets/scss/functions.scss';
  @import '../../assets/scss/calculator.scss';
  @import '../../assets/scss/summary.scss';
  .graph {
    margin: 0 40px;
  }
  .amount {
    margin-bottom: 40px;
  }
</style>
