<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="center-block full-width">
          <slot></slot>
        </div>
        <div class="left-block">
        <router-link to="/"><img class="logo" src="/static/i/logo.svg" alt=""></router-link>
        <main-menu :hide-notify="true" :hide-support="true"></main-menu>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainMenu from '../MainMenu';
import Support from '../Support';

export default {
  name: 'Wrapper',
  components: {
    Support,
    MainMenu,
  },
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';

.danger {
  background: #d9534f;
  color: white;
  padding: 5px;
  text-align: center;
}
#app {
  .center-block {
    &.full-width {
      margin-right: 0;
    }
  }
}
.warning {
  display: block;
  background-color: #ffc107;
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,
    transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 1rem 1rem;
  color: white;
  padding: 5px;
  text-align: center;
}
</style>
