<template>
  <button @click="callback" class="button primary-button" :class="classList">{{text}}</button>
</template>

<script>
export default {
  name: 'Button',
  classList: '',
  props: {
    text: '',
    callback: {
      type: Function,
    },
  },
};
</script>
