<template>
  <div>
  <button type="button"
         id="switch"
         @click="changeState()"
         />
  <label for="switch" :class="getState">
    {{label[getState]}}
  </label>
  </div>
</template>
<script>
const states = {
  middle: 'middle-state',
  yes: 'true-state',
  no: 'false-state',
};
export default {
  name: 'CheckboxToggle',
  data() {
    return {
      state: states.middle,
    };
  },
  props: {
    label: {
      type: Object,
      default() {
        return {
          'middle-state': '',
          'true-state': 'Активные',
          'false-state': 'Не активные',
        };
      },
    },
  },
  computed: {
    getState() {
      switch (this.state) {
        case states.middle:
          return 'middle-state';
        case states.yes:
          return 'true-state';
        default:
          return 'false-state';
      }
    },
  },
  methods: {
    changeState() {
      switch (this.state) {
        case states.middle :
          this.state = states.yes;
          this.$emit('input', true);
          break;
        case states.yes :
          this.state = states.no;
          this.$emit('input', false);
          break;
        default:
          this.state = states.middle;
          this.$emit('input', undefined);
      }
    },
  },
};
</script>
<style lang="scss" scoped>
  @import '../../assets/scss/variables.scss';

  $width: 20%;
  $left: 2%;
  $top: 10%;
  button{
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    width: 100%;
    height: 35px;
    padding: 0 2rem;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    background: $rightsidebar;
    color: $dark-text;
    border-radius: 100px;
    position: relative;
    &:hover {
      &:after {
        opacity: 0.8;
      }
    }
  }

  label:after {
    content: '';
    position: absolute;
    top: $top;
    left: $left;
    width: $width;
    height: 100% - ($top * 2);
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  button:checked + label {
  }

  label {
    &.middle-state:after {
      left: calc(50% - #{$width / 2});
    }
    &.true-state {
      &:after {
        left: calc(100% - #{$width + $left});
      }
      justify-content: left;
      background: #FFCC00;
    }
    &.false-state {
      :after {
        left: $left;
      }
      justify-content: flex-end;
      background: $red;
    }
  }

  button:active:after {
    width: 30%;
  }

</style>
