<template>
  <div class="input-block">
      <div>
          <label>{{theLabel}}</label>
        <slot></slot>
      </div>
  </div>
</template>
<script>
export default {
  name: 'input-block',
  props: [
    'theLabel',
  ],
};
</script>

