<template>
  <div class="content-holder">
    <div class="paddInstr">
     <h1>Инструкции</h1>
      <Accordion :value="accordionValue"></Accordion>
    </div>
  </div>
</template>

<script>
import Accordion from '../Accordion';

export default {
  name: 'Instructions',
  components: {
    Accordion,
  },
  data() {
    return {
      accordionValue: '',
    };
  },
  mounted() {
    this.$store.commit('CLEAN_REQUEST');
    this.$api.getFaq()
      .then((responses) => {
        this.accordionValue = responses.sort((a, b) => a.sort - b.sort);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
<style lang="scss" rel="stylesheet/scss">

img.imgGroup {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 25px;
}

.paddInstr {
  padding: 30px 0;

  ul {
    padding-left: 15px;
  }

  li {
    color: #ffcc00;
  }

  li span {
    color: #4f5e76;
    font-size: 13px;
  }

}

Accordion {
  padding-top: 20px;
}

.demands {
  font-size: 18px;
  color: #354052;
}

.demandsLeft {
  float: left;
}

.demandsRight {
  float: right;
}

td {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.left {
  background-color: #4f5e76;
}

.left > p {
  color: #ffffff;
  font-size: 13px;
}

.right {
  background-color: #fafbfc;
}

.right > p {
  color: #4f5e76;
  font-size: 13px;
}

tr {
  border: 3px solid #fafbfc;
}

</style>
