<template>
  <div class="pagination" v-if="pageCount">
    <ul class="pagination-list pagination-sm no-margin pull-right">
      <li class="pagination-back" :class="{'disabled': isBackDisabled }">
        <router-link
          :to="isBackDisabled ? $route.path : buildLink($route.params.type, pageDec())">
          <span>&lt;</span> Назад
        </router-link>
      </li>
      <li v-if="showFirstPageIndex" class="pagination-link">
        <router-link
          :to="buildLink($route.params.type,1)">1
        </router-link>
      </li>
      <li v-if="showLessDots" class="pagination-dots">
        <router-link
          :to="buildLink($route.params.type, startPaginatorIndex - 1)">...
        </router-link>
      </li>
      <li v-for="n in pageRange" :key="n" :class="{active : n == pagin}" class="pagination-link">
        <router-link
          :to="buildLink($route.params.type, n)">{{n}}
        </router-link>
      </li>
      <li v-if="showMoreDots" class="pagination-dots">
        <router-link
          :to="buildLink($route.params.type, endPaginatorIndex + 1)">...
        </router-link>
      </li>
      <li v-if="showLastPageIndex" class="pagination-link">
        <router-link
          :to="buildLink($route.params.type, this.pageCount)">
          {{pageCount}}
        </router-link>
      </li>
      <li class="pagination-forward" :class="{'disabled': isNextDisabled }">
        <router-link
          :to="isNextDisabled ? $route.path : buildLink($route.params.type, pageInc())">
          Вперед
          <span>&gt;</span>
        </router-link>
      </li>
    </ul>
    <div class="pagination-navi-xs">
      <router-link
        tag="button"
        class="secondary-button button"
        :class="{'disabled-button': isBackDisabled}"
        :to="isBackDisabled ? $route.path : buildLink($route.params.type, pageDec())">
        Назад
      </router-link>
      <router-link
        tag="button"
        class="secondary-button button"
        :class="{'disabled-button': isNextDisabled}"
        :to="isNextDisabled ? $route.path : buildLink($route.params.type, pageInc())">
        Вперед
      </router-link>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';

export default {
  props: [
    'pageCount', // Сколько страниц
    'paginationPattern', // Шаблон урла /listclients/work/01.09.2017/19.06.2018/pagination
    'paginationRouteParam', // Параметр в роуте отвечающий за пагинацию
  ],
  data() {
    return {
      pagin: 1,
    };
  },
  watch: {
    pagin(val) {
      this.$emit('input', val);
    },
    route(v) {
      this.pagin = v;
    },
    pageCount(val) {
      const num = Number(val);
      // eslint-disable-next-line
      if (num === num && this.pagin > val && val > 0) {
        const link = this.paginationPattern.replace('pagination', 1);
        this.$router.push(link);
      }
    },
  },
  computed: {
    route() {
      return +this.$route.params[this.paginationRouteParam];
    },
    startPaginatorIndex() {
      let startIndex = (Math.floor(this.pagin / 10) * 10
      ) + 1;
      if (startIndex > this.pagin) {
        startIndex = (Math.floor((this.pagin - 1) / 10) * 10) + 1;
      }
      return startIndex;
    },
    endPaginatorIndex() {
      let endIndex = (Math.ceil(this.pagin / 10) * 10);
      if (endIndex > this.pageCount) {
        endIndex = this.pageCount;
      }
      return endIndex;
    },
    isNextDisabled() {
      return this.pageCount <= this.pagin;
    },
    isBackDisabled() {
      return this.pagin <= 1;
    },
    showFirstPageIndex() {
      if (this.pagin > 10) {
        return true;
      }
      return false;
    },
    showLastPageIndex() {
      if (this.pageCount > 10 && (this.endPaginatorIndex !== this.pageCount
      )) {
        return true;
      }
      return false;
    },
    showMoreDots() {
      if (this.pageCount > 11 && (this.endPaginatorIndex !== this.pageCount
      )) {
        return true;
      }
      return false;
    },
    showLessDots() {
      if (this.pagin > 10) {
        return true;
      }
      return false;
    },
    pageRange() {
      return _.range(this.startPaginatorIndex, (this.endPaginatorIndex + 1
      ));
    },
  },
  mounted() {
    this.initialMethod();
  },
  methods: {
    initialMethod() {
      const page = +this.$route.params[this.paginationRouteParam];
      // eslint-disable-next-line
      if (page !== page) {
        this.$router.push(this.paginationPattern.replace('pagination', 1));
      }
      this.pagin = page;
    },
    pageInc() {
      if (this.pagin === +this.pageCount) {
        return this.pageCount;
      }
      return +this.pagin + 1;
    },
    pageDec() {
      if (this.pagin === 1) {
        return 1;
      }
      return +this.pagin - 1;
    },
    buildLink(route, page) {
      const pattern = this.paginationPattern;
      return pattern.replace('pagination', page);
    },
  },
};
</script>

<style lang="scss" scoped>
@import 'src/assets/scss/functions.scss';

.pagination {
  margin: 0 auto;
  text-align: center;
  .pagination-navi-xs {
    display: flex;
    margin-top: 10px;
    @include media-breakpoint-up(sm) {
      display: none;
    }
    button {
      padding: 8px 0;

      &:first-of-type {
        margin-right: 2.5px;
      }
      &:last-of-type {
        margin-left: 2.5px;
      }
    }
  }
  .pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    li {
      display: inline;
      a {
        text-decoration: underline;
      }
    }
    .pagination-back {
      margin-right: 35px;
      a {
        color: #4a90e2;
      }
    }

    .pagination-forward {
      margin-left: 35px;
      a {
        color: #4a90e2;
      }

    }
    .pagination-back, .pagination-forward {
      display: inline-block;
      width: 50%;
      @include media-breakpoint-only(xs) {
        display: none;
      }
      span {
        font-size: 11px;
      }
      &.disabled {
        a {
          opacity: .6;
          cursor: default;
          text-decoration: none;
        }
      }
    }
    .pagination-link {
      margin-right: 8px;
      margin-left: 8px;
      a {
        color: #4a90e2;
      }
      .router-link-active {
        font-size: 16px;
        text-decoration: none;
        a {
          cursor: default;
        }
      }
    }
    .pagination-dots {
      a {
        text-decoration: none;
        color: #7f8fa4;
      }
    }

  }

}

</style>
