<template>
  <form @submit.prevent="() => {}">
    <p v-if="this.firstName">Здравствуйте, {{this.firstName}}!</p>
    <p>Зарегистрируйтесь и продолжите процесс оформления займа.</p>
    <div class="form-holder">
      <div class="row">
        <div class="input-block col-12">
          <div>
            <label>Логин</label>
            <input-wrap :error="$options.validation.login" class="seven">
              <input
                type="text"
                id="register-input-login"
                v-model="login"
                :disabled="isLead"
                v-mask="'(###) ###-##-##'"
                @blur="validate('login')"
              />
            </input-wrap>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>Придумайте пароль</label>
            <input-wrap :error="$options.validation.password">
              <input
                     type="password"
                     id="register-input-password"
                     v-model="password"
                     autocapitalize="none"
                     class="no-transform"
                     @blur="validate('password')"
              />
            </input-wrap>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>Повторите пароль</label>
            <input-wrap :error="$options.validation.passwordRepeat">
              <input
                type="password"
                id="register-input-password-repeat"
                autocapitalize="none"
                class="no-transform"
                v-model="passwordRepeat"
                @blur="validate('passwordRepeat')"
              />
            </input-wrap>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12">
        <button class="button primary-button" @click.prevent="submitFirst()">
          Продолжить
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import InputWrap from '@/components/InputWrap';
// import { clearPhone, isCellular } from '@/utils/ClearPhone';
import { phone, password } from '@/plugins/validate/groups';

export default {
  data() {
    return {
      login: '',
      disabled: false,
      password: '',
      passwordRepeat: '',
    };
  },
  components: {
    InputWrap,
  },
  computed: {
    ...mapGetters('main', ['mobilePhone', 'firstName', 'isLead']),
  },
  watch: {
    // login() {
    //   this.SET({ name: 'mobilePhone', value: this.login.replace(/\W/g, '') });
    // },
    mobilePhone(e) {
      this.login = e;
    },
  },
  validation: {
    login: {
      rules: [...phone],
    },
    password: {
      rules: [...password],
    },
    passwordRepeat: {
      rules: [...password,
        {
          rule: (rule, context, vm, name) => {
            if (vm[name] !== vm.password) {
              return true;
            }
            return false;
          },
          message: 'Пароли не совпадают',
        },
      ],
    },
  },
  methods: {
    ...mapMutations('main', ['SET', 'UPDATE']),
    submitFirst() {
      // this.validate();
      // console.log('submitFirst');

      if (this.validate()) {
        this.UPDATE({
          login: this.login,
          password: this.password,
          step: 2,
        });
      }
    },
  },
  mounted() {
    this.disabled = this.mobilePhone.length > 0;
    if (process.env.NODE_ENV !== 'production') {
      this.password = 'Qq123456';
      this.passwordRepeat = 'Qq123456';
    }
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../../assets/scss/functions.scss';

.form-holder {
  margin-left: 0;
  padding-bottom: 0;
}
.seven:before {
  top: 10px;
}
</style>
