<template>
  <div class="content" >
    <p>Здравствуйте, {{this.firstName}}!<br>
      Вы уже являетесь нашим клиентом, авторизуйтесь в
      личном кабинете для продолжения оформления займа:</p>
    <div class="row buttons">
      <div class="col-12">
        <button class="button primary-button" @click.prevent="goToLogin()">
          Перейти к авторизации
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import config from '@/config';

export default {
  methods: {
    goToLogin() {
      window.location = `//login.${config.domain}`;
    },
  },
  computed: {
    ...mapGetters('main', ['firstName']),
  },
};
</script>
