<template>
  <form @submit.prevent="submitSecond()">
    <div class="form-holder">
      <div class="row">
        <div class="input-block col-12">
          <div>
            <label>Фамилия</label>
            <input-wrap :error="$options.validation.lastName">
              <input
                type="text"
                id="register-input-lastName"
                v-model="lastName"
                @blur="validate('lastName')"
              />
            </input-wrap>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>Имя</label>
            <input-wrap :error="$options.validation.firstName">
              <input
                type="text"
                id="register-input-firstName"
                v-model="firstName"
                @blur="validate('firstName')"
              />
            </input-wrap>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>Отчество</label>
            <input-wrap :error="$options.validation.patronymic">
              <input
                type="text"
                id="register-input-patronymic"
                v-model="patronymic"
                @blur="validate('patronymic')"
              />
            </input-wrap>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>Мобильный телефон</label>
            <input-wrap class="seven">
              <input
                type="text"
                id="register-input-phone"
                v-model="login"
                v-mask="'(###) ###-##-##'"
                disabled
              />
            </input-wrap>
            <div class="light">На указанный номер ожидайте СМС от
              <strong>Carmoney</strong> с кодом подтверждения
            </div>
          </div>
        </div>
        <div class="input-block col-12">
          <div class="form-checkbox">
            <div class="checkbox-holder">
              <checkbox
                id="register-checkbox-signature-one"
                name="register-checkbox-signature-one"
                value="true"
                v-model="signature"
                required></checkbox>
            </div>
            <div>
              <a href="/documents" target="_blank">Я принимаю условия передачи информации</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12">
        <button
          :class="signature ? 'primary-button' : 'disabled-button'"
          class="button"
          @click.prevent="submitSecond()"
          type="submit">
          <clip-loader
            v-if="waiting"
            color="#FFFFFF"
            size="14px"
          >
          </clip-loader>
          <span v-else>Далее</span>
        </button>
      </div>
    </div>
  </form>
</template>
<script>
import { mapGetters, mapMutations } from 'vuex';
import { lastName, firstName, patronymic } from '@/plugins/validate/groups';
import InputWrap from '@/components/InputWrap';
import Checkbox from '../../Checkbox';

export default {
  data() {
    return {
      signature: false,
      login: '',
      lastName: this.leadLastName || '',
      firstName: this.leadFirstName || '',
      patronymic: this.leadPatronymic || '',
      waiting: false,
    };
  },
  components: {
    Checkbox,
    InputWrap,
  },
  computed: {
    ...mapGetters('main', {
      leadLastName: 'lastName',
      leadFirstName: 'firstName',
      leadPatronymic: 'patronymic',
      clientMobilePhone: 'mobilePhone',
    }),
  },
  methods: {
    ...mapMutations('main', ['UPDATE', 'UPDATE_LEAD']),
    submitSecond() {
      if (this.validate() && this.signature === true) {
        this.waiting = true;
        // записать все в store
        this.UPDATE_LEAD({
          clientFirstName: this.firstName,
          clientLastName: this.lastName,
          clientPatronymic: this.patronymic,
          clientMobilePhone: this.login,
        });
        this.UPDATE({
          step: 3,
        });
      }
    },
  },
  mounted() {
    // set lastName, firstName, patronymic, login from lead
    this.lastName = this.leadLastName;
    this.firstName = this.leadFirstName;
    this.patronymic = this.leadPatronymic;
    this.login = this.clientMobilePhone;
  },
  validation: {
    lastName: {
      rules: [...lastName],
    },
    firstName: {
      rules: [...firstName],
    },
    patronymic: {
      rules: [...patronymic],
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../../assets/scss/functions.scss';

.form-holder {
  margin-left: 0;
  padding-bottom: 0;
}

.form-checkbox {
  position: relative;
  padding-bottom: 10px;
  div {
    &.checkbox-holder {
      position: absolute;
      top: 1px;
      left: 0;
    }
    display: inline-block;
    &:nth-child(2) {
      color: #354052;
      font-weight: 600;
      margin-left: 25px;
    }
  }
}
.seven:before {
  top: 9px;
}

</style>
