<template>
  <form @submit.prevent="submitThird()">
    <div class="form-holder">
      <div class="row">
        <div class="input-block col-12">
          <div>
            <label>Введите код из СМС</label>
            <input-wrap :error="$options.validation.smsCode">
              <input
                     type="text"
                     id="register-input-sms-code"
                     v-model="smsCode"
                     @blur="validate('smsCode')"
                     v-mask="'####'"
              />
            </input-wrap>
          </div>
          <div class="light">Код отправлен на +7 {{this.mobilePhone}}</div>
        </div>
      </div>
    </div>
    <div class="form-holder padd">
      <div class="row">
        <div class="col-8 resend">
          <span @click="resendCode()" :class="{'disabled' : !timeOut}">Отправить код повторно</span>
        </div>
        <div class="col-4 reset" :class="disableSms">
          <p>
            {{`0${min}`}}
            :
            {{sec > 9 ? sec : `0${sec}`}}
          </p>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12">
        <button class="button"
                :class="waiting ? 'disabled-button' : 'primary-button'"
                @click.prevent="submitThird()">
          <clip-loader
            v-if="waiting"
            color="#FFFFFF"
            size="14px"
          />
          <span v-else>Далее</span>
        </button>
      </div>
    </div>
    <div class="error" v-if="error">
      {{error}}
    </div>
  </form>
</template>

<script>
import Cookies from 'js-cookie';
import { mapGetters, mapActions } from 'vuex';
import config from '@/config';
import InputWrap from '@/components/InputWrap';
import { smsCode } from '@/plugins/validate/groups';

const time = {
  min: 4,
  sec: 59,
};

export default {
  data() {
    return {
      error: '',
      timer: null,
      disableSms: true,
      waiting: false,
      smsCode: '',
    };
  },
  components: {
    InputWrap,
  },
  computed: {
    ...mapGetters('main', ['mobilePhone', 'timerMin', 'timerSec']),
    timeOut() {
      return this.min === 0 && this.sec === 0;
    },
    min: {
      get() {
        return this.timerMin;
      },
      set(v) {
        this.$store.commit('main/UPDATE_TIMER', { min: v });
      },
    },
    sec: {
      get() {
        return this.timerSec;
      },
      set(v) {
        this.$store.commit('main/UPDATE_TIMER', { sec: v });
      },
    },
  },
  methods: {
    ...mapActions('main', ['sendCode', 'checkCode']),
    submitThird() {
      if (this.validate()) {
        this.waiting = true;
        this.checkCode(this.smsCode)
          .then((data) => {
            this.waiting = false;
            Cookies.set('code', data.code, { domain: `.${config.domain}`, expires: 30 });
            window.location = `//client.${config.domain}/request`;
          }).catch((e) => {
            this.waiting = false;
            this.error = e.message;
          });
      }
    },
    resendCode(force) {
      this.error = '';
      if (this.timeOut || force) {
        this.sendCode()
          .then(() => {
            this.reloadTimer();
          }).catch((e) => {
            if (e.response && e.response.data && e.response.data.message) {
              this.error = e.response.data.message;
            } else {
              this.error = e.message;
            }
            this.reloadTimer();
          });
      }
    },
    reloadTimer() {
      this.min = time.min;
      this.sec = time.sec;
      this.setTimer();
    },
    setTimer(cont) {
      this.timer = setInterval(() => {
        const min = cont ? this.timerMin : this.min;
        const sec = cont ? this.timerSec : this.sec;
        if (sec === 0) {
          if (min > 0) {
            this.min -= 1;
            this.sec = time.sec;
          } else {
            clearInterval(this.timer);
            this.timer = null;
          }
        } else {
          this.sec -= 1;
        }
      }, 1000);
    },
  },
  mounted() {
    if (this.timerMin === 0 && this.timerSec === 0 && true) {
      this.resendCode(true);
    } else {
      this.setTimer(true);
    }
  },
  validation: {
    smsCode: {
      rules: [...smsCode],
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../../assets/scss/functions.scss';

.form-holder {
  margin-left: 0;
  padding-bottom: 0;
}

.light {
  margin-top: 5px;
}
.resend{
  span {
    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
.reset {
  text-align: right;
}
.error {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}
</style>
