@import 'src/assets/scss/functions.scss';
$width: 300px;
.rtl {
  direction: rtl;
}
.vdp-datepicker {
    position: relative;
    text-align: left;
    * {
        box-sizing: border-box;
    }
}
.vdp-datepicker__calendar {
    position: absolute;
    z-index: 1010;
    background: white;
    width: $width;
    border: 1px solid #ccc;
}
.vdp-datepicker__calendar {
    header {
        display: block;
        line-height: 40px;
        span {
            display: inline-block;
            text-align: center;
            width: 71%;
            float: left;
        }
        .prev, .next {
            width: 14%;
            float: left;
            text-indent: -10000px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                border: 6px solid transparent;
            }
        }
        .prev {
            &:after {
                border-right: 10px solid #000;
                margin-left: -5px;
            }
            &.disabled:after {
                border-right: 10px solid #ddd;
            }
        }
        .next {
            &:after {
                border-left: 10px solid #000;
                margin-left: 5px;
            }
            &.disabled:after {
                border-left: 10px solid #ddd;
            }
        }
        .prev:not(.disabled),
        .next:not(.disabled),
        .up:not(.disabled) {
            cursor: pointer;
            &:hover {
                background: #eee;
            }
        }
    }
}
.vdp-datepicker__calendar {
    .disabled {
        color: #ddd;
        cursor: default;
    }
}
.vdp-datepicker__calendar {
    .flex-rtl {
        display: flex;
        width: inherit;
        flex-wrap: wrap;
    }
}
.vdp-datepicker__calendar {
    .cell {
        display: inline-block;
        padding: 0 5px;
        width: 14%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid transparent;
        &:not(.blank):not(.disabled).day,
        &:not(.blank):not(.disabled).month,
        &:not(.blank):not(.disabled).year {
            cursor: pointer;
            &:hover {
                border: 1px solid $yellow;
            }
        }
        &.selected {
            background: $yellow;
            &:hover {
                background: $yellow;
            }
            &.highlighted {
                background: $yellow;
            }
        }
        &.highlighted {
            background: #cae5ed;
        }
        &.grey {
            color: #888;

            &:hover {
                background: inherit;
            }

        }
        &.day-header {
            font-size: 75%;
            white-space: no-wrap;
            cursor: inherit;
            &:hover {
                background: inherit;
            }
          }
        }
     }
.vdp-datepicker__calendar {
    .month,
    .year {
        width: 33.333%;
      }
}

.vdp-datepicker__clear-button,
.vdp-datepicker__calendar-button {
    cursor: pointer;
    font-style: normal;
    &.disabled {
      color: #999;
      cursor: default;
    }
}
