<template>
    <div>
        <clip-loader
            v-if="!this.$store.state.agreements.active.length &&
            !this.$store.state.agreements.noActive"
            color="#FFCC00"
        ></clip-loader>
        <h1
          v-if="activeAgreements.length
          && !this.$store.state.agreements.noActive"
        >
          Текущие активные займы
        </h1>
      <Agreement v-for="agreement in activeAgreements"
                 :agreement="agreement"
                 :key="agreement.number"/>
      <div class="separator" v-if="activeAgreements.length && closedAgreements.length"></div>
      <h1
        v-if="closedAgreements.length
          && !this.$store.state.agreements.noActive"
      >
        Закрытые займы
      </h1>
      <Agreement v-for="agreement in closedAgreements"
                 :agreement="agreement"
                 :key="agreement.number"/>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Agreement from './Agreement';

export default {
  name: 'Agreements',
  components: { Agreement },
  computed: {
    ...mapGetters([
      'activeAgreements',
      'closedAgreements',
    ]),
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../../assets/scss/functions';
@import '../../../assets/scss/summary';
h1 {
    margin-bottom: 20px;
    padding: 0;
}
.separator {
  height: 1px;
  background-color: #e9ecf0;
  margin: 25px 0;
}

</style>
