<template>
  <div
    class="block">

    <div class="header">Договор №{{agreement.number}} от {{agreement.date}}</div>

    <div class="summary row">
      <template v-if="agreement.currentDate">

        <div class="col-md-3 summary__item">
          <span class="summary__label">Очередной платеж</span>
          <strong class="summary__value">
            {{$moneyFormat(agreement.currentSumm)}} <span class="rub">q</span>
          </strong>
        </div>

        <div class="col-md-6 summary__item">
          <span class="summary__label">Оплатить до</span>
          <strong class="summary__value">{{agreement.currentDate}}</strong>
        </div>

        <div class="col-md-3 summary__item">
          <span class="summary__label">Сумма займа к возврату</span>
          <strong class="summary__value">
            {{$moneyFormat(agreement.remainSumm)}} <span class="rub">q</span>
          </strong>
        </div>

      </template>
      <template v-else>
        <div class="col-md-3 summary__item">
          <span class="summary__label">Сумма договора</span>
          <strong class="summary__value">
            {{$moneyFormat(agreement.summ)}} <span class="rub">q</span>
          </strong>
        </div>
        <div class="col-md-4 offset-md-5 summary__item">
          <span class="summary__label">Дата закрытия</span>
          <strong class="summary__value">
            {{agreement.closeDate}}
          </strong>
        </div>
      </template>
    </div>

    <div class="row buttons" v-if="agreement.currentDate">
      <div class="col-12 col-md-6">
        <router-link
          :to="`/graph/${agreement.number}`"
          tag="button"
          class="button secondary-button"
        >
          График платежей
        </router-link>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props: [
    'agreement',
  ],
};
</script>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../../assets/scss/functions';
@import '../../../assets/scss/summary';
h1 {
  margin-bottom: 20px;
  padding: 0;
}
.header {
  font-size: 24px;
  font-weight: 600;
}
</style>

