<template>
  <div class="lead-info">
    <h1>Заявка</h1>
    <div class="order-search row">
      <clip-loader color="#FFCC00" v-if="loading" class="absolute-spinner"/>
      <form @submit.prevent="submit()" class="col-md-12">
        <div class="row">
          <div class="col">
            <input-wrap :error="validation.num">
              <input
                type="text"
                class="no-transform"
                placeholder="Номер завки"
                v-model="num"
                @blur="validate('num')"
              />
            </input-wrap>
          </div>
          <div class="col">
            <input-wrap :error="validation.guid">
              <input
                type="text"
                class="no-transform"
                placeholder="GUID заявки"
                v-model="guid"
                @blur="validate('guid')"
              />
            </input-wrap>
          </div>
          <div class="col">
            <input-wrap :error="validation.numC">
              <input
                type="text"
                class="no-transform"
                placeholder="Номер 1С"
                v-model="numC"
                @blur="validate('numC')"
              />
            </input-wrap>
          </div>
          <div class="col-md-2">
            <button @click.prevent="submit()" class="button primary-button">Найти</button>
          </div>
        </div>
      </form>
      <div class="error col-md-12" v-if="error">
        {{error}}
      </div>
      <div class="vw-separator"></div>
      <div class="col-md-12">
        <request-view v-if="request"
                      :request="request"
                      @updateRequest="resendRequest"
                      :events="events"
                      :files="files"
                      @sendEvent="sendEvent"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import RequestView from '@/components/Panel/Request/Request';
import InputWrap from '@/components/InputWrap';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import urlParams from '../../../utils/urlParams';
import { SEARCH_REQUEST, FILE_BY_REQUEST, SEND_REQUEST_EVENT } from '../../../store/panel/action_types';

const allFieldsError = 'Необходимо заполнить хотя бы 1 поле';
const noDataReturn = 'Заявка не найдена';

function numCValidate(vue, e) {
  this.invalid = false;
  this.message = '';
  if (vue[e] && (String(vue[e]).length !== 14 && isNaN(Number(vue[e])))) {
    this.invalid = true;
    this.message = 'Необходимо указать номер 1C заявки';
  }
}
function numValidate(vue, e) {
  this.invalid = false;
  this.message = '';
  if (vue[e] && (String(vue[e]).length !== 6 && isNaN(Number(vue[e])))) {
    this.invalid = true;
    this.message = 'Необходимо указать номер заявки';
  }
}
function guidValidate(vue, e) {
  console.log(this);
  this.invalid = false;
  this.message = '';
  if (vue[e] && String(vue[e]).length !== 36) {
    this.invalid = true;
    this.message = 'Необходимо указать GUID заявки';
  }
}

export default {
  components: {
    ClipLoader,
    InputWrap,
    RequestView,
  },
  data() {
    return {
      num: null,
      guid: null,
      numC: null,
      loading: false,
      error: '',
      request: null,
      events: null,
      files: null,
      validation: {
        num: {
          invalid: false,
          message: '',
          func: numValidate,
        },
        guid: {
          invalid: false,
          message: '',
          func: guidValidate,
        },
        numC: {
          invalid: false,
          message: '',
          func: numCValidate,
        },
      },
    };
  },
  mounted() {
    const query = this.$route.query;
    if (Object.keys(query).length) {
      this.resendRequest(query);
      this.guid = query.guid || '';
      this.numC = query.num_1c || '';
      this.num = query.num || '';
    }
  },
  computed: {
    validAllFields() {
      const fields = [this.num, this.guid, this.numC];
      return fields.find(el => el);
    },
  },
  methods: {
    ...mapActions([SEARCH_REQUEST, FILE_BY_REQUEST]),
    ...mapActions([SEND_REQUEST_EVENT]),
    async sendEvent(req) {
      const eventIndex = this.events.findIndex(event => event.id === req.event_id);
      this.$set(this.events[eventIndex], 'loading', true);
      await this[SEND_REQUEST_EVENT](req);
      this.resendRequest();
    },
    async resendRequest(data) {
      this.loading = true;
      const requestData = data || {
        num: this.request.num,
      };
      try {
        const { request, events } = await this[SEARCH_REQUEST](requestData);
        if (request) {
          this.request = request;
          this.events = events;
          try {
            const files = await this[FILE_BY_REQUEST]({ id: request.id });
            this.files = files;
          } catch (e) {
            this.files = null;
            this.loading = false;
          }
        }
      } catch (e) {
        console.log(e);
      } finally {
        this.loading = false;
      }
    },
    async submit() {
      this.error = '';
      if (this.validate()) {
        this.loading = true;
        this.request = null;
        if (this.validAllFields) {
          const req = {
            num: this.num,
            guid: this.guid,
            num_1c: this.numC,
          };
          const clearReq = { ...req };
          Object.keys(clearReq).forEach((el) => {
            if (!clearReq[el]) delete clearReq[el];
          });
          this.$router.push(urlParams('', clearReq));
          try {
            const { request, events } = await this[SEARCH_REQUEST](req);
            if (request) {
              this.request = request;
              this.events = events;
              try {
                const files = await this[FILE_BY_REQUEST]({ id: request.id });
                this.files = files;
              } catch (e) {
                this.files = null;
                this.loading = false;
              }
            }
          } catch (e) {
            this.error = noDataReturn;
            this.loading = false;
          }
        } else {
          this.error = allFieldsError;
        }
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped >
  @import '../../../assets/scss/functions.scss';
  @import '../../../assets/scss/wrapper.scss';

  .lead-info{
    .button{
      margin-bottom: 0;
      padding: 4px 0;
    }
  }
  .error {
    text-align: center;
    color: red;
    margin-top: 15px;
  }
</style>
