<template>
  <div class="row image-row">
    <clip-loader class="absolute-spinner" v-if="loading"></clip-loader>
    <div class="col-sm-4">
      <img :src="file.path"
           class="img-fluid"
           :ref="`image-photo-${file.id}`"
           @load="imageLoad(...arguments, file.id)"
      />
    </div>
    <div class="col-sm-8">
      <table class="table">
        <tr>
          <th>Свойство</th>
          <th>Значение</th>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{file.name}}</td>
        </tr>
        <tr>
          <td>Тип фотографии</td>
          <td>{{file.group}}</td>
        </tr>
        <tr>
          <td>Размер (высота/ширина)</td>
          <td>{{file.height}}/{{file.width}}</td>
        </tr>
        <tr v-if="images[file.id]">
          <td :style="{color: sizeColor(file)}">Реальный размер (высота/ширина)</td>
          <td :style="{color: sizeColor(file)}">
            {{images[file.id].naturalHeight}}/
            {{images[file.id].naturalWidth}}
          </td>
        </tr>
        <tr v-if="images[file.id]">
          <td>MIME Тип</td>
          <td>
            {{file.type}}
          </td>
        </tr>
      </table>
      <div class="error" v-if="deleteError">
        {{deleteError}}
      </div>
      <div class="text-right">
        <button @click.stop="deleteFile()"
                class="button danger-button"
                :class="{'disabled-button': isDisabled || !access}"
        >{{isDisabled ? 'Файл удален': 'Удалить'}}</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import ClipLoader from 'vue-spinner/src/ClipLoader';
import { DELETE_FILE } from '../../../store/panel/action_types';

export default {
  components: { ClipLoader },
  data() {
    return {
      images: {},
      loading: false,
      deleteError: '',
      isDisabled: false,
    };
  },
  methods: {
    ...mapActions([DELETE_FILE]),
    async deleteFile() {
      this.loading = true;
      this.deleteError = '';
      const req = {
        code: this.file.code,
      };
      try {
        await this.DELETE_FILE(req);
        this.isDisabled = true;
      } catch (e) {
        this.deleteError = e;
      }
      this.loading = false;
    },
    imageLoad(el, id) {
      this.$set(this.images, `${id}`, el.target);
    },
    sizeColor(el) {
      return +el.height !== this.images[el.id].naturalHeight ||
        +el.width !== this.images[el.id].naturalWidth ? 'red' : false;
    },
  },
  props: ['file', 'access'],
};
</script>

<style lang="scss" scoped>
  @import '../../../assets/scss/functions.scss';
  @import '../../../assets/scss/wrapper.scss';

  .table {
    th {
      padding-top: 0;
    }
  }
  .button {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
    padding-left: 3rem !important; // глобально прописан !important для disabled
    padding-right: 3rem !important;
  }
  .text-right {
    text-align: right;
  }
  .error {
    text-align: center;
    color: red;
  }
  .image-row {
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 25px;
    h4 {
      white-space: pre;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .img-fluid {
    max-width: 100%;
  }

</style>
