<template>
  <div class="request-info">
    <div class="row">
      <div class="col-md-10">
        <div class="request-head">
          <h2 class="title">
            Заявка СМ-{{request.num}}
            <img class="refresh"
                 @click="$emit('updateRequest')"
                 src="/static/i/refresh.svg" />
          </h2>
          <span :style="{
          color: `#${request.lastStatus ? request.lastStatus.color : 'aaaaaa'}`
          }"><b>{{request.lastStatus ? request.lastStatus.name : 'Нет статуса'}}</b></span>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-6 prop-el"
               v-for="prop in propsList"
               :key="prop.key"
               v-if="convertPropFromObject(prop.key, request)">
            <span class="title">{{prop.name}}</span>
            <span class="val">{{convertPropFromObject(prop.key, request)}}</span>
          </div>
        </div>
        <div class="row photo-events-row">
          <div class="col-md-12">
            <h2>События</h2>
            <table class="table event-list">
              <thead>
                <tr>
                  <th>Имя</th>
                  <th>Код</th>
                  <th>История отправленных событий</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="event in events" :key="event.id">
                <td>{{event.name}}</td>
                <td>{{event.code}}</td>
                <td>
                  <div v-if="event.list && event.list.length">
                    <ul>
                      <li v-for="historyEvent in event.list" :key="historyEvent.id">
                        <span :style="{
                          color: historyEvent.status_code === 'error' ? 'red': 'inherit'
                        }">
                          {{historyEvent.status}}:
                        </span>
                        {{new Date(historyEvent.created_at).toLocaleString()}}
                        <tooltip class="tooltip-error"
                                 :description="historyEvent.error"
                                 v-if="historyEvent.error"
                        >
                          <img src="/static/i/error.svg" />
                        </tooltip>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <button class="primary-button button"
                          @click.prevent="resendEvent(event)"
                          :class="{'disabled-button' : !event.access}"
                          >
                    <clip-loader v-if="event.loading"></clip-loader>
                    <template v-else>
                      <span>
                        Переотправить
                      </span>
                    </template>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 images" v-if="files">
            <template v-if="files.data.client && files.data.client.length">
              <h2>Фото авто и клиента</h2>
              <image-template v-for="file in files.data.client"
                              :access="files.access"
                              :key="`${file.id}_client`" :file="file" />
            </template>
            <template v-if="files.data.doc && files.data.doc.length">
              <h3>Фото документов</h3>
              <image-template v-for="file in files.data.doc"
                              :access="files.access"
                              :key="`${file.id}_doc`" :file="file" />
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import imageTemplate from '@/components/Panel/Request/RequestImageTemplate';
import tooltip from '@/components/Tooltip';
import { convertPropFromObject } from '../../../utils/ObjectValueHelper';

export default {
  data() {
    return {
      images: {},
      propsList: [
        { name: 'ID', key: 'id' },
        { name: 'Номер', key: 'num' },
        { name: 'Номер в 1С', key: 'num1c' },
        { name: 'GUID', key: 'guid' },
        { name: 'Дата создания', key: 'createdAt' },
        { name: 'Дата обновления', key: 'updatedAt' },
        { name: 'ФИО', key: 'clientFirstName,clientPatronymic,clientLastName' },
        { name: 'Телефон', key: 'clientMobilePhone' },
        { name: 'Имя точки', key: 'pointName' },
        { name: 'Подписант', key: 'partnerUsername' },
        { name: 'Подписант ФИО', key: 'partnerFirstName,partnerPatronymic,partnerLastName' },
        { name: 'Клиент', key: 'customerUsername' },
        { name: 'Клиент ФИО', key: 'customerFirstName,customerPatronymic,customerLastName' },
        { name: 'Где создана', key: 'originName1c' },
        { name: 'ПЭП', key: 'isPep' },
      ],
    };
  },
  components: {
    ClipLoader,
    imageTemplate,
    tooltip,
  },
  methods: {
    convertPropFromObject,
    resendEvent(event) {
      if (!event.loading) {
        const req = {
          request_id: this.request.id,
          event_id: event.id,
        };
        this.$emit('sendEvent', req);
      }
    },
  },
  props: ['request', 'files', 'events'],
};
</script>

<style lang="scss" scoped>
  @import '../../../assets/scss/functions.scss';
  @import '../../../assets/scss/wrapper.scss';

  .photo-events-row {
    margin-top: 50px;
  }
  h2.title {
    margin-bottom: 5px;
  }
  .images {
    p {
      font-weight: bold;
      margin-top: 50px;
    }
  }
  h2 {
    margin: 25px 0;
  }
  .event-list {
    .tooltip-error {
      position: relative;
    }
    button {
      float: right;
    }
    >tbody>tr {
      th, td {
        width: 65px;
      }
    }
  }
  .event-list .table {
    background-color: transparent;
    tr {
      th{
        padding-top: 0;
      }
    }
  }
  ul {
    padding-left: 0;
    li {
      list-style: none;
    }
  }
  .primary-button {
    margin-bottom: 0;
    padding: 0.5rem 1.5rem !important
  }
  .refresh {
    cursor: pointer;
  }
  .request-info {
    .request-head {
      margin-bottom: 45px;
      font-size: 22px;
      align-items: center;
      >h4, span {
        margin: 0;
      }
      span {
        font-size: 14px;
      }
    }
    .prop-el {
      margin-bottom: 15px;
      justify-content: space-between;
      align-items: center;
      display: flex;
      padding-right: 30px;
      .title {
        font-weight: 900;
        font-size: 16px;
      }
    }
  }
</style>
