<template>
<div>
  <div class="content" v-if="step === 3">
    <form @submit.prevent="submitThird()">
      <div class="form-holder">
        <div class="row" v-if="recommendSumm">
          <div class="col-12">
            Рекомендуемая сумма платежа: {{recommendSumm | moneyFormat}} руб.
          </div>
        </div>
          <div class="row">
              <div class="input-block col-12">
                  <div>
                      <label>Сумма погашения задолженности</label>
                      <input-wrap :error="summError" :rouble="true">
                        <input
                          type="text"
                          id="request-input-summ"
                          v-model="summ"
                          v-summ
                          @blur="validate('summ')"
                        />
                      </input-wrap>
                  </div>
              </div>
          </div>
          <div class="row" >
            <div class="col-12">
              <div>Комиссия:
                <span>{{comPercent}}%</span>
              </div>
            </div>
          </div>
          <div class="row" v-if="summToPay">
            <div class="col-12">
              <div>Итоговая сумма к оплате с комиссией:</div>
              <div><b>{{summToPay | moneyFormat}} руб.</b></div>
            </div>
          </div>
          <div class="row" v-if="error || validation.summ.invalid">
            <div class="col-12 error-message">
              Введите корректную сумму платежа.
            </div>
          </div>
      </div>
      <div class="row buttons">
          <div class="col-12">
              <button class="button primary-button"
                @click.prevent="submitThird()" :class="{disabled: waiting}">
                <span v-if="!this.waiting">Отправить</span>
                <clip-loader
                  v-if="this.waiting"
                  color="#ffffff"
                  size="14px"
                  >
                </clip-loader>
              </button>
          </div>
      </div>
    </form>
  </div>
  <div class="content" v-if="step === 4">
  </div>
  <div class="content" v-if="step === 5">
    <form @submit.prevent="submitLast()">
      <div class="form-holder">
          <div class="row">
            <div class="col-12">
              Платеж принят.
            </div>
          </div>
          <div class="row" v-if="error">
            <div class="col-12 error-message">
              Ошибка.
            </div>
          </div>
      </div>
      <div class="row buttons">
          <div class="col-12">
              <button class="button primary-button"
                @click.prevent="submitLast()" :class="{disabled: waiting}">
                  Вернуться
              </button>
          </div>
      </div>
    </form>
  </div>
  <div class="content" v-if="step === 6">
    <form @submit.prevent="submitLast()">
      <div class="form-holder">
          <div class="row">
            <div class="col-12">
              Произошла ошибка.
            </div>
          </div>
          <div class="row" v-if="error">
            <div class="col-12 error-message">
              Ошибка.
            </div>
          </div>
      </div>
      <div class="row buttons">
          <div class="col-12">
              <button class="button primary-button"
                @click.prevent="submitLast()" :class="{disabled: waiting}">
                  Вернуться
              </button>
          </div>
      </div>
    </form>
  </div>
</div>
</template>
<script src="./PayCloud.script.js"></script>
<style lang="scss" rel="stylesheet/scss" src="./PayCloud.style.scss" scope></style>
