<template>
  <div class="datetime-picker">
    <datepicker class="date" ref="picker" v-bind="datepickerOptions" v-model="date"
    />
                <!--@blur="blurEmit()"-->
    <div class="time">
      <input v-mask="'##'"
             placeholder="00"
             class="time-input time-hour"
             v-model="hour"
             ref="hour"
             @blur="blurEmit()"
             title="Часы" />
      <div class="separator">
        {{separator || ':'}}
      </div>
      <input placeholder="00"
             v-mask="'##'"
             @blur="blurEmit()"
             class="time-input time-sec"
             v-model="min"
             ref="min"
             title="Минуты" />
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import vSelect from 'vue-select';
import Datepicker from '@/components/Global/Datepicker';

export default {
  components: {
    Datepicker,
    vSelect,
  },
  mounted() {
    window.d = this;
    if (this.startTime) this.setTime(...this.startTime.split(':'));
  },
  methods: {
    setTime(h, m) {
      this.hour = h;
      this.min = m;
    },
    validateTime() {
      if (this.hour > 23 || this.hour < 0) {
        this.hour = '00';
      } else if (this.min > 59 || this.min < 0) {
        this.min = '00';
      }
    },
    blurEmit() {
      if (this.date && this.hour) {
        this.validateTime();
        const momentDate = moment(this.date);
        const date = moment(`${momentDate.format('YYYY-MM-DD')}T${this.hour}:${this.min || '00'}:00.000Z`);
        // eslint-disable-next-line
        this.$emit('input', date._i);
        return this.$emit('blur');
      }
      this.$emit('input', this.date);
      return this.$emit('blur');
    },
  },
  props: ['datepickerOptions', 'startTime', 'separator'],
  watch: {
    date(val) {
      this.$emit('input', val);
      this.$refs.hour.focus();
    },
  },
  data() {
    return {
      date: '',
      min: '',
      hour: '',
    };
  },
};
</script>

<style lang="scss" scoped>
  @import '../../../assets/scss/functions.scss';

  .datetime-picker{
    display: flex;
    .date{
      flex: 1;
    }
    .time {
      border-left: 1px solid #ced4da;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .separator {
        color: #ced4da;
        width: 10px;
        text-align: center;
      }
      .time-input {
        width: 45px;
        text-align: center;
        &::placeholder {
          color: #ced4da;
        }
      }
    }
  }
</style>
