<template>
  <div class="photos-info">
    <div class="photos-block photos-block_deleted">
      <div class="block-heading">Срок хранения фотографий истек, фотографии удалены</div>
      <div class="photos-list photos-list_deleted">
        <div class="photos-list-image-wrapper photos-list-image-wrapper_deleted"
             v-for="(el, i) in deletedPhotos" :key="i" v-if="el.deletedAt">
          <div :style="{
            backgroundImage: `url(data:image/png;base64,${el.path})`,
          }" class="image"></div>
        </div>
      </div>
    </div>
    <div class="photos-block photos-block_other"
         v-if="otherPhotos.length || deletedPhotos.find(el => !el.deletedAt)">
      <div class="block-heading">{{ otherPhotosText || 'Срок хранения других фотографий'}}</div>
      <div class="photos-list photos-list_other">
        <div v-for="(el, i) in filtredPhotos(deletedPhotos)"
             :key="`${i}_info`"
             class="photos-list-image-wrapper photos-list-image-wrapper_other">
          <div :style="{
            backgroundImage: `url(${encodeURI(el.url)})`,
          }" class="image"></div>
          <div class="progress-bar">
            <div
              class="progress-bar_state"
              :style="{
                width: `${progressWidth(el.remainingTimeSec)}%`,
                backgroundColor: `${processColor(progressWidth(el.remainingTimeSec))}`,
              }"></div>
          </div>
          <div class="photos-list-info">
            {{getTime(el.remainingTimeSec)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import moment from 'moment';
import declOfNumber, { hourArr, minArr } from '../../../utils/declOfNum';

const hoursGlobal = 12;
export default {
  props: {
    deletedPhotos: {
      type: Array,
      default() {
        return [];
      },
    },
    otherPhotos: {
      type: Array,
      default() {
        return [];
      },
    },
    otherPhotosText: '',
  },
  methods: {
    filtredPhotos(p) {
      return p.filter(e => !e.deletedAt).sort((a, b) => a.remainingTimeSec > b.remainingTimeSec);
    },
    processColor(percent) {
      if (percent >= 50) {
        return 'green';
      } else if (percent > 25) {
        return '#FFCC00';
      }
      return 'red';
    },
    progressWidth(sec) {
      const future = moment().add(sec, 's');
      const min = future.diff(moment(), 'm');
      const percent = 100 / ((hoursGlobal * 60) / min);
      return percent;
    },
    getTime(sec) {
      const future = moment().add(sec, 's');
      const hours = future.diff(moment(), 'H');
      const min = (future.diff(moment(), 'm') % 60).toFixed(0);
      return hours ? `${hours} ${declOfNumber(hours, hourArr)} ${min} ${declOfNumber(min, minArr)}` :
        `${min} ${declOfNumber(min, minArr)}`;
    },
  },
};
</script>

<style lang="scss" scoped>
  $size: 117.5px;
  .photos-block:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .photos-list {
    display: inline-block;
    padding: 10px 10px 0 0;
    font-size: 0;
    border: 1px solid #DFE3E9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }

  .photos-list-image-wrapper {
    display: inline-block;
    border-radius: 2px;
    width: $size;
    overflow: hidden;
    margin: 0 0 15px 10px;
    &_deleted {
      background-image: url(/static/img/backgroundLinesFilter.png);
      background-size: cover;
    }
    &_other {
      .image {
        margin-bottom: 10px;
      }
    }
    .image {
      height: $size;
      background-color: #e8ecf029;
      border-radius: 2px;
      background-position: center center;
      background-size: cover;
      position: relative;
      z-index: -1;
    }
    .photos-list-info {
      font-size: 11px;
      color: #505E77;
      text-align: center;
    }
  }

  .block-heading {
    color: #273142;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 12px;
  }

  .progress-bar {
    height: 5px;
    width: 100%;
    background-color: #DFE4EE;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 5px;
    .progress-bar_state {
      width: 50px;
      height: 100%;
    }
  }
</style>
