<template>
  <div>
    <wrapper>
      <doc-view/>
    </wrapper>
  </div>
</template>

<script>
import DocView from '@/components/DocView';
import Wrapper from '../Wrapper';

export default {
  components: {
    Wrapper,
    DocView,
  },
};
</script>
