<template>
  <div>
    <wrapper :notifyParams="{
          hideHistory: true
        }">
      <document-list/>
    </wrapper>
  </div>
</template>

<script>
import DocumentList from '@/components/DocumentList';
import Wrapper from '../Wrapper';

export default {
  components: {
    Wrapper,
    DocumentList,
  },
};
</script>
