<template>
    <div>
        <wrapper :notifyParams="{
          hideHistory: true
        }">
          <component
            v-for="step in steps"
            :key="Array.isArray(step.step) ? step.step[0] : step.step"
            :is="step.cmp"
            :text="step.text"
            v-if="$store.state.request.step === step.step ||
(Array.isArray(step.step) ? step.step.includes($store.state.request.step) : false)"
          />
        </wrapper>
    </div>
</template>

<script>
import StepPrintDocs from './StepPrintDocs';
import StepImagesPhotos from './StepImagesPhotos';
import StepIdentity from './StepIdentity';
import StepFinalCheck from './StepFinalCheck';
import StepSuccess from './StepSuccess';
import Wrapper from '../Wrapper';
import StepFail from './../StepFail';
import StepCancel from './../StepCancel';

export default {
  name: 'Edit',
  components: {
    StepPrintDocs,
    StepImagesPhotos,
    StepIdentity,
    StepFinalCheck,
    StepSuccess,
    Wrapper,
    StepFail,
    StepCancel,
  },
  mounted() {
    if (this.$route.params.code !== this.$store.state.request.code) {
      this.$store.dispatch('getRequest', { code: this.$route.params.code });
    }
  },
  data() {
    return {
      steps: [
        {
          cmp: StepPrintDocs,
          step: 2,
        },
        {
          cmp: StepIdentity,
          step: 3,
        },
        {
          cmp: StepImagesPhotos,
          step: 4,
        },
        {
          cmp: StepFinalCheck,
          step: 5,
        },
        {
          cmp: StepSuccess,
          step: 6,
        },
        {
          cmp: StepFail,
          step: 10,
          text: 'Извините, клиенту было отказано в получении займа',
        },
        {
          cmp: StepCancel,
          step: [11, 12],
          text: 'Извините, заявка на займ была аннулирована.',
        },
      ],
      code: this.$route.params.code,
    };
  },
};
</script>

<style lang="scss" rel="stylesheet/scss">
@import '../../assets/scss/functions.scss';
</style>
