<template>
    <div>
        <wrapper :notifyParams="{
          hideHistory: true
        }">
            <RequestList />
        </wrapper>
    </div>
</template>

<script>
import Wrapper from '../Wrapper';
import RequestList from './RequestList';

export default {
  name: 'Index',
  components: {
    Wrapper,
    RequestList,
  },
};
</script>
