<template>
  <div>
    <wrapper>
      <insructions/>
    </wrapper>
  </div>
</template>

<script>
import Insructions from '@/components/Global/Instructions';
import Wrapper from '../Wrapper';

export default {
  components: {
    Wrapper,
    Insructions,
  },
};
</script>
