<template>
    <div class="content-holder">
        <div class="requests" v-if="Object.keys(this.$store.state.requests.active).length">
            <h1>Встречи</h1>
            <div class="row">
                <div class="request linked col-12 col-md-6"
                    :key="request.code"
                     v-for="request in this.$store.state.requests.active"
                     @click="requestLink(request.code)"
                >
                    <div class="request-holder">
                        <div class="request-name">
                            <router-link :to="'/request/'+request.code">
                                СМ-{{request.num}}
                            </router-link>
                        </div>
                        <div class="request-params">
                            {{request.autoBrandId.name}}
                            {{request.autoModelId.name}},
                            {{money(request.summ)}} руб.
                        </div>
                        <div class="request-client">{{client(request)}}</div>
                        <div class="request-phone">
                            <a :href='"tel:"+request.clientMobilePhone'>
                              +7{{request.clientMobilePhone}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="requests" v-if="Object.keys(this.$store.state.requests.closed).length">
            <h1>Закрытые заявки</h1>
            <div class="row">
                <div class="request col-12 col-md-6"
                     :key="request.code" v-for="request in this.$store.state.requests.closed">
                    <div class="request-holder">
                        <div class="request-name">СМ-{{request.num}}</div>
                        <div class="request-params">
                            {{request.autoBrandId.name}}
                            {{request.autoModelId.name}},
                            {{money(request.summ)}} руб.
                        </div>
                        <div class="request-client">{{client(request)}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'RequestList',
  mounted() {
    this.$api.requests()
      .then((data) => {
        this.$store.state.requests.active = this.$to.camel(data.active);
        this.$store.state.requests.closed = this.$to.camel(data.closed);
      });
  },
  methods: {
    requestLink(code) {
      this.$router.push(`/request/${code}`);
    },
    money(e) {
      return this.$moneyFormat(e);
    },
    client(e) {
      return `${e.clientLastName} ${e.clientFirstName} ${e.clientPatronymic}`;
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';

    .request {
        margin-bottom: 30px;

        &.linked {
            cursor: pointer;
        }

        .request-holder {
            padding: 10px;
            border-radius: $input-radius;
            border: 1px solid $gray;
            background: #F5F6FA;
        }

        .request-name {
            a {
                color: $dark-text;
                font-weight: 700;
            }
        }
        .request-params {
            color: $blue;
        }
        .request-client {
            color: $dark-text;
            font-weight: 700;
        }
        .request-phone {
            background: url(/static/i/phone.svg) top 4px left 0 no-repeat;
            padding: 0 0 0 20px;
            a {
                color: $link;
                text-decoration: none;
            }
        }
    }
    .content-holder {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1 {
        margin-bottom: 20px;
    }

</style>
