<template>
    <div class="content-holder">
        <div :class="{ 'no-border': blockPassword }" class="content-holder">
        <RequestHeader
            name="Документы на проверке"
            text="Ожидайте решения, список документов для подписания"
            num="4"/>
        <div class="form-holder">
            <div class="row documents">
                <div
                    :key="document.code"
                    class="document col-12"
                    v-for="document in docPack2"
                >
                    <div>
                        <p class="name">
                            <span>{{document.name}}</span>
                        </p>
                        <div class="text">
                            <checkbox
                              :id="document.code"
                              :name="document.code"
                              :value="document.code"
                              v-model="checkedDocuments"
                              :checked="false">{{document.description}}</checkbox>
                        </div>
                    </div>
                </div>
            </div>
            <template v-if="!$store.state.request.canSignature">
              <div class="row">
                <div class="col-md-12 wait-signature">
                  Ожидание одобрения заявки
                </div>
                <div class="col-md-12">
                  <clip-loader color="#FFCC00"></clip-loader>
                </div>
              </div>
            </template>
            <template v-else>
              <div
                class="row buttons"
                v-if=" !this.blockPassword && this.$store.state.request.docPack2.length">
                  <div class="col-12">
                      <button
                        class="button"
                        :class="{ 'disabled-button': !submitClass,
                                  'primary-button': submitClass }"
                        @click.prevent="submit()">
                        <span>
                          Заявка одобрена, подтвердите подписание
                        </span>
                      </button>
                  </div>
              </div>
            </template>
        </div>
      </div>
      <div v-if="this.blockPassword" class="block-password">
        <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"></clip-loader>

        <div :class="{ 'no-border': blockPassword }" class="content-holder">
                <div class="row">
                    <div class="col-12">
                        <h2>Уважаемый менеджер!</h2>
                        <p>
                            Напоминаем, о Вашей полной финансовой
                            ответственности за возможные убытки
                            Компании, в случае отсутствия каких-либо документов в Заемном деле,
                            в том числе наличия каких-либо неподписанных документов.
                        </p>
                        <p>
                            Просим еще раз убедиться в наличии полного
                            комплекта документов по заявке,
                            проверить корректность и фактическое подписание всех договоров.
                        </p>
                        <p>
                            В случае если необходимо изменить какую-либо
                            информацию по заявке, распечатать
                            и подписать недостающие документы нажмите кнопку «ОТМЕНА».
                        </p>
                        <p>
                            Если вся информация указана корректно
                            и комплектность документов проверена,
                            то введите свой пароль от Личного кабинета Партнера и нажмите кнопку
                            «ЗАВЕРШИТЬ».
                        </p>
                    </div>
                </div>
              <div class="row buttons" v-if="!showSms">
                <div class="input-block col-12 col-md-6 col-lg-4 col-xl-4">
                  <form @submit.prevent="finish()">
                    <input-wrap :error="validation.password">
                      <input
                        type="password"
                        id="calc-block-password"
                        v-model="password"
                        placeholder="Ваш пароль"
                        @blur="validate('password')"
                        class="input-passwort-custom no-transform"
                      />
                    </input-wrap>
                  </form>
                </div>
                <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                  <button class="button primary-button" @click.prevent="finish()">
                    Подтвердить
                  </button>
                </div>
              </div>
              <div class="row buttons" v-else>
                <div class="input-block col-12 col-md-6 col-lg-4 col-xl-4">
                  <form @submit.prevent="verifySms()">
                    <input-wrap :error="validation.sms">
                      <input
                        id="calc-block-sms"
                        v-model="sms"
                        placeholder="Введите код из смс отправленный клиенту"
                        @blur="validate('sms')"
                        class="input-passwort-custom"
                      />
                    </input-wrap>
                  </form>
                </div>
                <div class="col-12 col-md-6 col-lg-8 col-xl-8">
                  <button class="button primary-button" @click.prevent="verifySms()">
                    Подтвердить
                  </button>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import SuccessStep from '../SuccessStep';
import RequestHeader from '../RequestHeader';
import Checkbox from '../Checkbox';
import InputWrap from '../InputWrap';

export default {
  name: 'StepFinalCheck',
  components: {
    ClipLoader,
    SuccessStep,
    RequestHeader,
    Checkbox,
    InputWrap,
  },
  data() {
    return {
      verified: true,
      checkedDocuments: [],
      sms: '',
      showSms: false,
      waiting: false,
      blockPassword: false,
      password: '',
      validation: {
        password: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        sms: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Поле должно быть заполнено';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },

      },
    };
  },
  computed: {
    disablePassword() {
      return this.waiting ||
        this.checkedDocuments.length !== this.$store.state.request.docPack2.length;
    },
    isConn() {
      return this.$store.state.socket.isConnected;
    },
    submitClass() {
      return this.checkedDocuments.length === this.$store.state.request.docPack2.length;
    },
    docPack2() {
      const docs = {};
      // eslint-disable-next-line
      Object.keys(this.$store.state.request.docPack2).map((objectKey) => {
        const newDoc = this.$store.state.request.docPack2[objectKey];
        newDoc.description = newDoc.description.replace('Распечатан', 'Подписан');
        docs[objectKey] = newDoc;
        return objectKey;
      });
      return docs;
    },
  },
  methods: {
    submit() {
      if (this.submitClass) {
        this.blockPassword = true;
      } else {
        console.log('oops sorry but not signed second document...', this.checkedDocuments);
      }
    },
    verifySms() {
      if (this.validate('sms') && !this.waiting) {
        this.waiting = true;
        this.$api.verifySms(this.sms, this.$route.params.code).then((data) => {
          if (data.verified === true) {
            this.$api.insertEvents(this.$route.params.code, 804).then((firstEvent) => {
              if (firstEvent.success === 1) {
                this.$api.insertEvents(this.$route.params.code, 102).then((secondEvent) => {
                  if (secondEvent.success === 1) {
                    this.waiting = false;
                    this.$store.commit('UPDATE_REQUEST', { step: 6 });
                  }
                });
              }
            });
          } else {
            this.validation.sms.invalid = true;
            this.validation.sms.message = 'Неверный код';
            this.waiting = false;
          }
        });
      }
    },
    finish() {
      if (this.validate('password') && !this.waiting) {
        this.waiting = true;
        this.$api.verify(this.password, this.$route.params.code).then((data) => {
          if (data.verified === true) {
            this.showSms = true;
            // eslint-disable-next-line
                    this.waiting = false;
          } else {
            this.validation.password.invalid = true;
            this.validation.password.message = 'Неверный пароль';
            this.waiting = false;
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    @import '../../assets/scss/wrapper.scss';
    .content-holder {
        padding-bottom: 30px;
    }
    .wait-signature {
      text-align: center;
      font-size: 14px;
      margin-bottom: 15px;
    }
    .comment-holder {
        margin-bottom: 20px;
    }
    .input-passwort-custom {
      padding: 12px 0.75rem;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin-bottom: 0;
    }
    .comment {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: $light-text;
    }
    .print-docs {
        margin-bottom: 30px;
    }
    .input-button {
        div {
            margin-top: 26px;
            button {
                padding: 4px 0 5px 0;
            }
        }
    }
    .print-control-links {
        a {
            color: $link;
            text-decoration: underline;
            &:first-child {
                margin-right: 20px;
            }
        }
    }
       h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .documents {
        text-align: center;
        margin-bottom: 10px;
    }
    .alert {
        border: 1px solid red;
    }
    .block-password {
        border-top: 3px dashed #CED0DA;
        padding: 30px 0 20px 80px;
        background: $bg;
        border-bottom: 1px solid $gray;
        input[type=password]{
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    .no-border {
        border-bottom: 0
    }
    .buttons {
        margin-top: 20px;
    }
    @include media-breakpoint-down(lg) {
        .block-password {
            padding-left: 0px;
            .form-control {
                margin-bottom: 20px;
            }
        }
    }
</style>
