<template>
    <div>
        <div class="content-holder">
            <div class="form-holder">
                <div class="row">
                    <img class="success" src="/static/i/finger.svg"/>
                </div>
                <div class="row">
                    <div class="col-12 text">
                        Займ оформлен!<br />
                        Передайте клиенту его экземпляры документов.<br />
                        Денежные средства будут переведены клиенту
                        в ближайшее время.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'StepSuccess',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    .row {
        text-align: center;
    }
    .success {
        width: 247px;
        margin: 30px auto;
    }
    .text {
        font-size: 17px;
        font-weight: 600;
        padding: 0 20px 40px 20px;
    }
</style>
