<template>
    <div>
        <clip-loader color="#FFCC00" class="absolute-spinner" v-show="waiting"></clip-loader>
        <div class="content-holder">
          <RequestHeader
                name="Фотографирование документов и автомобиля"
                num="3"/>
            <div class="form-holder">
                <div class="row">
                    <div class="col-12 col-lg-8 col-xl-8">
                        <div class="uploader">
                            <p>Фото клиента</p>
                            <input-wrap :error="validation.foto_client">
                              <file-uploader
                                    saveTo="foto_client"
                                    :accept="['jpg', 'jpeg', 'png']"
                                    @change="validate('foto_client')"
                                ></file-uploader>
                            </input-wrap>
                        </div>
                    </div>
                    <div class="wide">
                      <input-wrap :error="validation.checkedClient" :noborder="true">
                        <div
                        :key="document.code"
                        class="col-12"
                        v-for="document in this.checkListClient"
                        >
                            <div>
                                <div class="checkbox">
                                    <checkbox
                                      :id="document.code"
                                      :name="document.code"
                                      :value="document.code"
                                      v-model="checkedClient"
                                      :checked='false'>
                                      <span>{{document.name}}</span>
                                      <em v-if="document.text" :class="{active: document.status}">
                                          , {{document.text}}
                                      </em>
                                    </checkbox>
                                </div>
                            </div>
                        </div>
                      </input-wrap>
                    </div>
                    <div class="col-12 col-lg-8 col-xl-8">
                        <div class="uploader">
                            <p>Фото автомобиля, <span>по списку</span></p>
                            <input-wrap :error="validation.foto_auto">
                              <file-uploader
                              saveTo="foto_auto"
                              :accept="['jpg', 'jpeg', 'png']"
                              @change="validate('foto_auto')"
                              ></file-uploader>
                            </input-wrap>
                        </div>
                    </div>
                    <div class="wide">
                      <input-wrap :noborder="true" :error="validation.checked">
                        <div
                        :key="document.code"
                        class="col-12"
                        v-for="document in this.checkList"
                        >
                            <div class="">
                                <div class="checkbox">
                                    <checkbox
                                      :id="document.code"
                                      :name="document.code"
                                      :value="document.code"
                                      v-model="checked"
                                      :checked='false'>
                                      <span>{{document.name}}</span>
                                      <em v-if="document.text" :class="{active: document.status}">
                                          , {{document.text}}
                                      </em>
                                    </checkbox>
                                </div>
                            </div>
                        </div>
                      </input-wrap>
                </div>
                </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button class="button primary-button"
                          @click="submit()">
                            Продолжить
                        </button>
                    </div>
                </div>
            </div>
        </div>
      <popup @close="showDeletedModal=false" v-if="showDeletedModal">
        <photos-info
          :deleted-photos="deletedPhotos"
          :other-photos="otherPhotos"
        />
        <div class="text-center">
          <button class="button primary-button popup-success-button"
                  type="button"
                  @click="showDeletedModal = false">
            ОК
          </button>
        </div>
      </popup>
    </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import InputWrap from '@/components/InputWrap';
import RequestHeader from '../RequestHeader';
import To from '../../utils/To';
import Popup from '../Popup';
import PhotosInfo from '../Global/PhotosInfo/PhotosInfo';
import FileUploader from '../FileUploader';
import Checkbox from '../Checkbox';

export default {
  name: 'StepImagesPhotos',
  components: {
    InputWrap,
    RequestHeader,
    FileUploader,
    Popup,
    PhotosInfo,
    Checkbox,
    ClipLoader,
  },
  data() {
    return {
      submitClass: {
        button: true,
        'disabled-button': true,
      },
      checkedPts: [],
      checkedClient: [],
      checked: [],
      deletedPhotos: [],
      otherPhotos: [],
      showDeletedModal: false,
      allChecked: false,
      waiting: false,
      checkListPts: {
        11: {
          code: '11',
          name: 'ПТС с двух сторон',
          text: 'без обрезания углов',
          status: false,
        },
      },
      checkListClient: {
        21: {
          code: '21',
          name: 'Фото клиента в анфас',
          text: 'крупным планом, с паспортом в развороте',
          status: false,
        },
      },
      checkList: {
        1: {
          code: '1',
          name: 'Обзорные фото авто',
          text: 'с 4-х углов с захватом гос. номера',
          status: false,
        },
        2: {
          code: '2',
          name: 'Фото приборной панели при заведенном двигателе',
          text: 'должен быть виден пробег',
          status: false,
        },
        3: {
          code: '3',
          name: 'Фото VIN на кузове/раме',
          text: 'под капотом или в ином представленном месте',
          status: false,
        },
        4: {
          code: '4',
          name: 'Фото VIN под лобовым стеклом',
          text: 'при его отсутствии - фотография места, где он должен находиться',
          status: false,
        },
        6: {
          code: '6',
          name: 'Фото VIN с маркировочной таблички',
          text: '',
          status: false,
        },
        7: {
          code: '7',
          name: 'Фото сотрудника',
          text: 'на фоне авто с гос. номером',
          status: false,
        },
      },
      validation: {
        foto_client: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        foto_auto: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (!vue.$store.state.request[vue.$to.camel(e)] ||
              !vue.$store.state.request[vue.$to.camel(e)].length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        checkedClient: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (Object.keys(vue.checkListClient).length !== Object.keys(vue[e]).length) {
              this.invalid = true;
              this.message = 'Необходимо загрузить фотографию';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
        checked: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (Object.keys(vue.checkList).length !== Object.keys(vue[e]).length) {
              this.message = 'Необходимо подтвердить наличие всех фотографий';
              this.invalid = true;
            } else {
              this.message = '';
              this.invalid = false;
            }
          },
        },
      },
    };
  },
  methods: {
    submit() {
      if (this.validate()) {
        this.waiting = true;
        const code = this.$route.params.code;
        this.$api.checkPhotosDate(code).then((res) => {
          if (Object.keys(res).length) {
            this.waiting = false;
            this.$store.dispatch('getRequest', { code });
            this.deletedPhotos = [...To.camel(Object.values(res))];
            this.checkedClient = [];
            this.checked = [];
            this.showDeletedModal = true;
          } else {
            this.$api.insertEvents(this.$route.params.code, 803).then((dataEvent) => {
              if (dataEvent.success === 1) {
                this.$api.insertEvents(this.$route.params.code, 712).then((dataEventPhotos) => {
                  if (dataEventPhotos.success === 1) {
                    this.$store.commit('UPDATE_REQUEST', { step: 5 });
                    this.waiting = false;
                  }
                });
              }
            }).catch(() => {
              this.waiting = false;
            });
          }
        }).catch(() => { this.waiting = false; });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';
@import '../../assets/scss/wrapper.scss';
  .wide {
      width: 100%;
  }
  .popup-success-button {
    width: 200px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .text-center {
    text-align: center;
  }
  .wide {
    padding-bottom: 20px;
  }
</style>
