<template>
    <div>
        <!-- <div class="content-holder">
            <RequestHeader name="Дополнительные данные по заявке" num="4"/>
            <div class="form-holder">
                <div class="row">
                    <div class="input-block col-12">
                        <div>
                            <label>Комментарий</label>
                            <div class="form-control">
                                <input
                                        type="text"
                                        id="request-input-comment-client"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button
                          class="button primary-button"
                          :class="{ 'disabled-button': waiting }"
                          @click.prevent="submit()">
                          <span>
                            Продолжить
                          </span>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</template>

<script>
// import RequestHeader from '../RequestHeader';

// export default {
//   name: 'StepAdditionalInfo',
//   components: {
//     RequestHeader,
//   },
//   data() {
//     return {
//       waiting: false,
//     };
//   },
//   watch: {
//   },
//   methods: {
//     submit() {
//       this.waiting = true;
//       this.$api.insertEvents(this.$route.params.code, 804).then((dataEvent) => {
//         this.waiting = false;
//         if (dataEvent.success === 1) {
//           this.$store.commit('UPDATE_REQUEST', { step: 6 });
//         }
//       })
//         .catch(() => {
//           this.waiting = false;
//         });
//     },
//   },
// };
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
</style>
