<template>
    <div>
        <div class="content-holder">
            <RequestHeader name="Идентификация" num="2"/>
            <div class="form-holder">
                <div class="row form-block">
                    <div class="heading col-12">
                        Визуальная проверка документов на предмет
                        отсутствия признаков подделки проведена:
                    </div>
                    <div
                        :key="document.code"
                        class="col-12"
                        v-for="document in this.checkListDocs"
                    >
                        <div>
                            <div class="checkbox">
                                <checkbox
                                :id="document.code"
                                :name="document.code"
                                :value="document.code"
                                v-model="checkedDocs"
                                :checked="false">
                                  <span>{{document.name}}</span>
                                  <em v-if="document.text" :class="{active: document.status}">,
                                      {{document.text}}</em>
                                </checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-block">
                    <div class="heading col-12">
                        Идентифицируйте клиента:
                    </div>
                    <div
                    :key="document.code"
                    class="col-12"
                    v-for="document in this.checkList"
                    >
                        <div>
                            <div class="checkbox">
                                <checkbox
                                  :id="document.code"
                                  :name="document.code"
                                  :value="document.code"
                                  v-model="checked"
                                  :checked="false">
                                  <span>{{document.name}}</span>
                                  <em v-if="document.text" :class="{active: document.status}">,
                                      {{document.text}}</em>
                                </checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row buttons">
                    <div class="col-12">
                        <button class="button"
                          :class="{
                          'primary-button': allChecked,
                          'disabled-button': !allChecked,
                          }" @click="submit()">
                            Продолжить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RequestHeader from '../RequestHeader';
import Checkbox from '../Checkbox';

export default {
  name: 'StepIdentity',
  components: {
    RequestHeader,
    Checkbox,
  },
  data() {
    return {
      allChecked: false,
      waiting: false,
      checked: [],
      checkedDocs: [],
      checkListDocs: {
        1: {
          code: '1',
          name: 'Паспорт',
          text: '',
          status: false,
        },
        2: {
          code: '2',
          name: 'ПТС',
          text: '',
          status: false,
        },
        3: {
          code: '3',
          name: 'СТС',
          text: '',
          status: false,
        },
      },
      checkList: {
        11: {
          code: '11',
          name: 'Идентификация клиента по паспорту проведена',
          text: '',
          status: false,
        },
        12: {
          code: '12',
          name: 'Сверка паспортных данных в договоре микрозайма проведена',
          text: '',
          status: false,
        },
      },
    };
  },
  watch: {
    checked(e) {
      this.changeColors(e);
      this.check();
    },
    checkedDocs(e) {
      this.changeColorsDocs(e);
      this.check();
    },
  },
  methods: {
    check() {
      if (
        (this.checkedDocs.length + this.checked.length) ===
        (Object.keys(this.checkList).length + Object.keys(this.checkListDocs).length)
      ) {
        this.allChecked = true;
      } else {
        this.allChecked = false;
      }
    },
    changeColors(e) {
      const newList = Object.assign({}, this.checkList);
      Object.keys(newList).forEach((key) => {
        newList[key].status = false;
      });
      e.forEach((item) => {
        newList[item].status = true;
      });
      this.checkList = newList;
    },
    changeColorsDocs(e) {
      const newList = Object.assign({}, this.checkListDocs);
      Object.keys(newList).forEach((key) => {
        newList[key].status = false;
      });
      e.forEach((item) => {
        newList[item].status = true;
      });
      this.checkListDocs = newList;
    },
    submit() {
      if (this.allChecked) {
        this.waiting = true;
        this.$api.insertEvents(this.$route.params.code, 802).then((dataEvent) => {
          this.waiting = false;
          if (dataEvent.success === 1) {
            this.$store.commit('UPDATE_REQUEST', { step: 4 });
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../assets/scss/functions.scss';

.heading {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}
.form-block {
  padding-bottom: 20px ;
}
</style>
