<template xmlns:v-clipboard="http://www.w3.org/1999/xhtml">
    <div class="content-holder">
        <RequestHeader
            name="Печать документов"
            text="Сгенерируйте ссылку для печати и распечатайте документы"
            num="1"/>
        <div class="form-holder">
            <div class="print-docs" v-if="this.$store.state.request.docPack2.length">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div>
                            <label>Ссылка для печати документов</label>
                            <div class="form-control">
                                <input
                                    type="text"
                                    id="request-print-link"
                                    v-model="printLink"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 input-button">
                        <div>
                            <button
                                    class="button primary-button"
                                    @click="createLink()"
                            >
                                Создать ссылку
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 print-control-links">
                        <a v-clipboard:copy="printLink"
                           v-clipboard:success="onCopy"
                           v-clipboard:error="onError"
                        >Скопировать ссылку</a>
                        <!--<a href="#">Отправить на почту</a>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button
                        class="button secondary-button print-docs-button"
                        @click="printDocuments()">Распечатать документы</button>
                    </div>
                </div>
            </div>
            <div class="checklist">
                <div class="comment-holder">
                    <h1>Проверка комплектности документов после печати</h1>
                    <div class="comment">Распечатайте и проверьте полноту комплекта</div>
                </div>
                <div class="row documents">
                    <div
                            :key="document.code"
                            class="document col-12 col-md-6"
                            v-for="document in docPack2"
                    >
                        <p class="name">
                            <span>{{document.name}}</span>
                        </p>
                        <p class="text">
                            <checkbox
                            :id="document.code"
                            :name="document.code"
                            :value="document.code"
                            v-model="checkedDocuments"
                            :checked="false">{{document.description}}</checkbox>
                        </p>
                    </div>
                </div>
                <clip-loader
                    v-if="!this.$store.state.request.docPack2.length"
                    color="#FFCC00"
                ></clip-loader>
                <div class="row buttons" v-if="this.$store.state.request.docPack2.length">
                    <div class="col-12">
                        <button class="button"
                          :class="{
                          'primary-button': allChecked,
                          'disabled-button': !allChecked,
                          }" @click="submit()">
                            Продолжить
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import _ from 'lodash';
import RequestHeader from '../RequestHeader';
import Checkbox from '../Checkbox';
import config from '../../config';

export default {
  name: 'StepPrintDocs',
  components: {
    RequestHeader,
    Checkbox,
  },
  data() {
    return {
      checkedDocuments: [],
      allChecked: false,
      waiting: false,
    };
  },
  computed: {
    printLink() {
      return (this.$store.state.request.printLink) ? `http://print.${config.domain}/${this.$store.state.request.printLink}` : '';
      // TODO вытаскивать домен из конфига
    },
    docPack2() {
      const docs = {};
      // eslint-disable-next-line
      Object.keys(this.$store.state.request.docPack2).map((objectKey) => {
        const newDoc = this.$store.state.request.docPack2[objectKey];
        newDoc.description = newDoc.description.replace('Подписан', 'Распечатан');
        docs[objectKey] = newDoc;
        return newDoc;
      });
      return docs;
    },
  },
  watch: {
    checkedDocuments(e) {
      if (e.length === this.$store.state.request.docPack2.length) {
        this.allChecked = true;
      } else {
        this.allChecked = false;
      }
    },
  },
  mounted() {
    const code = {};
    code.data = this.$route.params.code;
    this.$store.dispatch('hasSecondPack', code);
  },
  methods: {
    onCopy(e) {
      console.log(`You just copied: ${e.text}`);
    },
    onError(e) {
      console.log(`Failed to copy texts :${e}`);
    },
    printDocuments() {
      window.location = `/doc/zip/2/${this.$route.params.code}`;
    },
    randomString(len = 5) {
      function* gen() {
        const possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'.split('');
        yield* possible[_.random(0, possible.length - 1)];
      }
      return Array.from(new Array(len)).map(() => gen().next().value).join('');
    },
    createLink() {
      const randomString = this.randomString(8);
      // TODO [burovyuri]: сделать проверку уникальности кода
      this.$api.updateRequest(
        this.$route.params.code,
        {
          printLink: randomString,
        },
      ).then((data) => {
        if (data.updateRequest === true) {
          // this.$api.insertEvents(this.$route.params.code, 702).then((dataEvent) => {
          this.$store.commit('UPDATE_REQUEST', { printLink: randomString });
          // });
        }
      });
    },
    submit() {
      if (this.allChecked) {
        this.waiting = true;
        this.$api.insertEvents(this.$route.params.code, 801).then((data) => {
          this.waiting = false;
          if (data.success === 1) {
            this.$store.commit('UPDATE_REQUEST', { step: 3 });
          }
        })
          .catch(() => {
            this.waiting = false;
          });
      } else {
        console.log('oops sorry but not signed first document...');
      }
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
    @import '../../assets/scss/functions.scss';
    #request-print-link {
        text-transform: none;
    }
    .content-holder {
        padding-bottom: 30px;
    }
    .comment-holder {
        margin-bottom: 20px;
    }
    a {
        cursor: pointer;
    }
    h1 {
        font-size: 24px;
        font-weight: 600;
        padding: 0;
        margin-bottom: 0;
    }
    .comment {
        display: block;
        font-size: 13px;
        font-weight: 400;
        color: $light-text;
    }
    .print-docs {
        margin-bottom: 30px;
    }
    .input-button {
        div {
            margin-top: 26px;
            button {
               padding: 4px 0 5px 0;
            }
        }
    }
    .print-docs-button{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .print-control-links {
        a {
            color: $link;
            text-decoration: underline;
            &:first-child {
                margin-right: 20px;
            }
        }
    }
</style>
