<template>
  <div>
    <wrapper :notifyParams="{
          hideHistory: true
        }">
      <verification-list></verification-list>
    </wrapper>
  </div>
</template>
<script>
import Wrapper from '../Wrapper';
import VerificationList from '../VerificationList';

export default {
  components: {
    Wrapper,
    VerificationList,
  },
};
</script>
