<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'AppPay',
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
@import '../assets/scss/functions.scss';
</style>
<style lang="scss" rel="stylesheet/scss">
    html, body {
        background: #273142!important;
    }
    #app {
        padding: 0 10px!important;
    }
</style>
