<template>
  <form @submit.prevent="checkLogin()">
    <div class="form-holder">
      <div class="row">
        <div class="input-block col-12">
          <div>
            <label>Введите телефон для восстановления пароля</label>
            <div class="form-control"
                 @blur="validate(login)">
                  <input-wrap :error="validation.login">
                    <input
                      type="text"
                      id="forget-password-phone"
                      autocapitalize="none"
                      class="no-transform"
                      v-model="login"
                    />
                  </input-wrap>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12">
        <button class="button primary-button"
                @click.prevent="checkLogin()"
                :class="{'disabled-button': waiting}">
          <span v-if="!waiting">Восстановить пароль</span>
          <clip-loader
            v-if="this.waiting"
            color="#FFCC00"
            size="14px"
          >
          </clip-loader>
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader';
import InputWrap from '@/components/InputWrap';
import { mapMutations } from 'vuex';
import { isPhone, clearPhone, isCellular } from '@/utils/ClearPhone';

export default {
  components: { ClipLoader, InputWrap },
  data() {
    return {
      login: '',
      waiting: false,
      validation: {
        login: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Необходимо ввести логин';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  methods: {
    ...mapMutations(['UPDATE_LOST']),
    doInvalid(text = 'Неверный телефон') {
      this.validation.login.invalid = true;
      this.validation.login.message = text;
      this.waiting = false;
    },
    checkLogin() {
      if (this.login && isPhone(this.login) && !isCellular(clearPhone(this.login))) {
        this.doInvalid('Введите номер мобильного телефона');
        return;
      }
      if (this.validate() && !this.waiting) {
        this.waiting = true;
        this.$api.checkLogin(
          this.$to.phonePure(this.login),
        ).then((data) => {
          if (data.exist === true) {
            this.$emit('nextStep');
            this.UPDATE_LOST({ login: this.login });
          } else if (data.exist === false) {
            this.doInvalid();
          }
        }).catch(() => {
          this.doInvalid();
        });
      }
    },
  },
};
</script>
