<template>
  <form>
    <div class="form-holder">
      <div class="row">
        <div class="col-12">
          <p>Пароль успешно изменен.</p>
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12">
        <button class="button primary-button" @click.prevent="toAuth()">
          Перейти к авторизации
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  methods: {
    ...mapMutations(['UPDATE_LOST']),
    toAuth() {
      this.$store.dispatch('CLEAN_LOST');
      this.$router.push('/');
    },
  },
};
</script>
