<template>
  <div class="login-block">
    <div class="white"></div>
    <img class="logo" src="/static/i/logo.svg" alt="">
    <div class="content">
      <component
        v-for="(element, index, key) in steps"
        :is="element.cmp"
        :key="key"
        v-if="(index+1) === step"
        @nextStep="step++"
      />
    </div>
  </div>
</template>

<script>
import First from '@/components/Login/LostPassword/First';
import Second from '@/components/Login/LostPassword/Second';
import Third from '@/components/Login/LostPassword/Third';
import Fourth from '@/components/Login/LostPassword/Fourth';
import { mapMutations } from 'vuex';

export default {
  name: 'LostPassword',
  data() {
    return {
      steps: [
        {
          cmp: First,
        },
        {
          cmp: Second,
        },
        {
          cmp: Third,
        },
        {
          cmp: Fourth,
        },
      ],
    };
  },
  computed: {
    step: {
      get() {
        return this.$store.state.lost.step;
      },
      set(v) {
        this.UPDATE_LOST({ step: v });
      },
    },
  },
  methods: {
    ...mapMutations(['UPDATE_LOST']),
  },
};
</script>
<style lang="scss" rel="stylesheet/scss">
html, body {
  background: #273142!important;
}
#app {
  padding: 0 10px!important;
}
form{
  .form-holder {
    margin-left: 0;
  }
}

</style>
<style lang="scss" rel="stylesheet/scss" scoped>
@import '../../../assets/scss/functions';

.login-block {
  position: relative;
  background: $bg;
  max-width: 450px;
  margin: 0 auto;
  top: 70px;
  border-radius: $input-radius;
  color: #505e77;
  font-size: 13px;
  padding: 80px 30px 10px 30px;
  .logo {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
  }
  .white {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 70px;
    background: $bg;
    -ms-transform: rotate(45deg); /* IE9 */
    -moz-transform: rotate(45deg); /* FF3.5/3.6 */
    -o-transform: rotate(45deg); /* Opera 10.5 */
    -webkit-transform: rotate(45deg); /* Saf3.1+ */
    transform: rotate(45deg); /* Newer browsers */
  }
  .light {
    color: #7383a1;
    margin-top: 5px;
  }

}

</style>
