<template>
  <form @submit.prevent="submitThird()" class="lost-password__second-step">
    <div class="form-holder">
      <div class="row">
        <div class="col-7">
          <label>Введите код из СМС</label>
        </div>
        <div class="col-5">
        </div>
      </div>
      <div class="row">
        <div class="input-block col-7">
          <div>
            <div class="form-control">
              <!-- <input-wrap :error="validation.smsCode"> -->
                <input
                  type="text"

                  id="register-input-sms-code"
                  @blur="validate('smsCode')"
                  v-model="smsCode"
                  v-mask="'####'"
                />
              <!-- </input-wrap> -->

            </div>

          </div>

        </div>
        <div class="col-5">
          <div class="light">Код отправлен на <b>{{this.login | phone}}</b></div>
        </div>
      </div>
      <div class="row">
        <div class="col err-message">
          <div v-if="validation.smsCode.invalid">
            {{validation.smsCode.message}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-holder padd">
      <div class="row">
        <div class="col-12 resend">
          <Timer
            :date="moment().seconds(300)"
          />
        </div>
      </div>
    </div>
    <div class="row buttons">
      <div class="col-12">
        <button class="button primary-button"
                @click.prevent="submitThird()"
                :class="{ 'disabled-button' : smsCode.length < 4 }">
          <span v-if="!waiting">Далее</span>
          <clip-loader
            v-if="this.waiting"
            color="#FFFFFF"
            size="14px"
          >
          </clip-loader>
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import moment from 'moment';
import InputWrap from '@/components/InputWrap';
import Timer from '@/components/Timer';
import { mapMutations } from 'vuex';
import { clearPhone, isPhone } from '@/utils/ClearPhone';

export default {
  components: { InputWrap, Timer },
  data() {
    return {
      smsCode: '',
      time: '05:00',
      timeOut: false,
      waiting: false,
      validation: {
        smsCode: {
          invalid: false,
          message: '',
          func(vue, e) {
            if (typeof vue[e] === 'string' && vue[e].length < 1) {
              this.invalid = true;
              this.message = 'Необходимо ввести код';
            } else {
              this.invalid = false;
              this.message = '';
            }
          },
        },
      },
    };
  },
  computed: {
    login: {
      get() {
        return this.$store.state.lost.login;
      },
    },

  },
  methods: {
    ...mapMutations(['UPDATE_LOST']),
    doInvalid(text = 'Неверный код') {
      this.waiting = false;
      this.validation.smsCode.invalid = true;
      this.validation.smsCode.message = text;
    },
    afterSend() {
      this.waiting = false;
      this.$refs.timer.init(true);
      this.timeOut = false;
    },
    resendCode() {
      if (this.timeOut && !this.waiting) {
        this.waiting = true;
        this.$api.checkLogin(
          this.$to.phonePure(this.login),
        ).then(() => {
          this.afterSend();
        }).catch(() => {
          this.afterSend();
        });
      }
    },
    moment() {
      // eslint-disable-next-line
      return moment(...arguments);
    },
    submitThird() {
      if (this.validate('smsCode') && !this.waiting) {
        this.waiting = true;
        this.$api.checkSms({
          login: this.$to.phonePure(this.login),
          code: this.smsCode,
        }).then((data) => {
          if (data.exist === true) {
            this.UPDATE_LOST({ smsCode: this.smsCode });
            this.$emit('nextStep');
          } else {
            this.doInvalid();
          }
        }).catch(() => {
          this.doInvalid();
        });
      }
    },
  },
  filters: {
    phone(str) {
      if (isPhone(str)) {
        const res = clearPhone(str).match(/(\d{3})(\d{3})(\d{2})(\d{2})/);
        res.splice(0, 1);
        return `+7 ${res.splice(0, 1)} ${res.join('-')}`;
      }
      return str;
    },
  },
};
</script>

<style scoped lang="scss">
@import '../../../assets/scss/functions';

.lost-password__second-step {
  .padd {
    .row {
      align-items: center;
      .resend {
        span {
          cursor: pointer;
          &.disabled {
            opacity: 0.6;
            cursor: not-allowed;
          }
        }
      }
      .reset {
        text-align: right;
        > p {
          text-align: right;
          width: 55px;
          margin-bottom: 0;
          background: $gray;
          display: inline-block;
          padding: 3px 10px;
        }
      }
    }
  }
}
.err-message {
  color: #E55567;
}
b {
  display: inline-block;
}
</style>
