<template>
  <form @submit.prevent="changePassword()">
    <div class="form-holder">
      <div class="row">
        <div class="input-block col-12">
          <div>
            <label>Придумайте пароль</label>
            <input-wrap :error="$options.validation.password">
              <input :class="{error:$options.validation.password}"
                     type="password"
                     class="no-transform"
                     id="register-input-password"
                     v-model="password"
                     @blur="validate('password')"
              />
            </input-wrap>
          </div>
        </div>
        <div class="input-block col-12">
          <div>
            <label>Повторите пароль</label>
            <input-wrap :error="$options.validation.passwordRepeat">
              <input
                type="password"
                class="no-transform"
                id="register-input-password-repeat"
                v-model="passwordRepeat"
                @blur="validate('passwordRepeat')"
              />
            </input-wrap>
          </div>
        </div>
      </div>
      <div class="row buttons">
        <div class="col-12">
          <button class="button primary-button"
                  @click.prevent="changePassword()"
                  :class="{disabled: waiting}">
            <clip-loader
              v-if="waiting"
              color="#FFFFFF"
              size="14px"
            />
            <span v-else>Изменить пароль</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import InputWrap from '@/components/InputWrap';
import { password } from '@/plugins/validate/groups';

export default {
  components: { InputWrap },
  data() {
    return {
      password: '',
      passwordRepeat: '',
      waiting: false,
    };
  },
  computed: {
    login: {
      get() {
        return this.$store.state.lost.login;
      },
    },
    smsCode: {
      get() {
        return this.$store.state.lost.smsCode;
      },
    },
  },
  methods: {
    changePassword() {
      if (this.validate() && !this.waiting) {
        this.waiting = true;
        this.$api.checkSms({
          login: this.$to.phonePure(this.login),
          code: this.smsCode,
          password: this.password,
        }).then((data) => {
          this.waiting = false;
          if (data.success === true) {
            this.$emit('nextStep');
          }
        }).catch(() => {
          this.waiting = false;
        });
      }
    },
  },
  validation: {
    password: {
      rules: [...password],
    },
    passwordRepeat: {
      rules: [...password,
        {
          rule: (rule, context, vm, name) => {
            if (vm[name] !== vm.password) {
              return true;
            }
            return false;
          },
          message: 'Пароли не совпадают',
        },
      ],
    },
  },
};
</script>
